[2017-12-21 14:20] xvaara opened #2 "Find the interesting forks and invite them to contribute"
For example:

https://github.com/niebert/json-editor @niebert

https://github.com/mehmetb/json-editor @mehmetb

https://github.com/dmstr-forks/jdorn-json-editor @dmstr-forks @Kanabanarama

https://github.com/Syzygy24/y-jsoneditor @Syzygy24

https://github.com/AppWorkshop/json-editor @laurenthuron

https://github.com/TJKoury/json-editor/tree/dev @TJKoury

[2017-12-29 07:59] heathdutton opened #3 "jshint error"
Appears to be a missing closing bracket:
[code]

[2017-12-29 08:23] heathdutton commented on #3
Note, even after fixing that, there's a number of BC breaks in the master branch. I didn't realize how much change was there to be Grunted.

[2017-12-29 08:24] heathdutton commented on #3
After correcting the bracket, I notice that there are a ton of uncompiled changes and some BC breaks.

[2018-01-03 20:08] jstnlef opened #4 "Should I treat this as the primary fork?"
I'm looking to write an Angular4/5 wrapper for this project and was wondering if I should use this as the starting point or the original jdorn one?

[2018-01-05 00:44] loganvolkers opened #5 "Official-ify this fork"
There's a few things to do to make this fork more official.

- [x] Release a new version on NPM (Using semver plz)
- [x] Setup a `.github` folder [tool](https://github.com/rhysd/dot-github)
- [x] Comment on individual issues and PRs and request people move their issues to the new repo
- [x] Talk to @jdorn if he ever returns from the dead
- [x] Setup protected branches
- [ ] Submit an application t

[2018-01-05 00:45] loganvolkers commented on #5
I have reserved the `json-editor` organization namespace on NPM: https://www.npmjs.com/org/json-editor/

[2018-01-05 00:48] loganvolkers commented on #4
The original project is not accepting pull requests and hasn't had contributions in awhile.

We are trying to contact the original author to officially move the project: https://github.com/jdorn/json-editor/issues/800

In the meantime, I would suggest that you build off this fork, but we have yet to publish to NPM (see #5)

[2018-01-05 02:49] jstnlef commented on #4
Sounds good. Thanks

[2018-01-18 21:50] submitteddenied commented on #5
Hi Logan, thanks for taking the initiative with this project! Have you reached out to @jdorn using the contact details on his website? If not I'm happy to shoot him an email, which might be a more reliable way to reach him than via github mentions :)

[2018-01-23 01:37] matthewslaney commented on #5
I would suggest as well that if there is no reply from @jdorn then the demo page in the readme should be replicated on a different server and an acknowledgement/link to the homepage of his site. This will both preserve the great demo page if his site goes down, and it will prevent superfluous traffic to the demo page on his site.

[2018-01-23 06:15] jdorn commented on #5
Hi everyone. Thanks for taking initiative on json-editor and keeping it alive in my absence.  Maintaining the project became too time consuming and overwhelming and I had to take a break.  I'm happy to support this fork as the official version going forward.  What can I do to help the transition?

[2018-01-23 07:27] schmunk42 commented on #5
@jdorn Great to hear from you!

Also sorry for not chiming in earlier from my side. I am very happy to see this project gaining some traction again. Thanks to @xvaara and @loganvolkers for taking care of setting up the fork.

Just some background information from our side... We're using `json-editor` heavily in our [PHP app templates](https://github.com/dmstr/phd5-app). I don't code that much with

[2018-01-23 07:45] schmunk42 commented on #4
@danielo515 We merged over a dozen PRs from the original repo, please see https://github.com/json-editor/json-editor/commits/master - but it's time to create a real `CHANGELOG.md` now 😄

[2018-01-23 17:41] loganvolkers commented on #5
@jdorn I think the least effort, highest impact thing you can do is to provide access to the project assets to this project's owners:

- [ ] Grants access to original github repo
- [ ] Grant access to NPM package
- [ ] Grant access to bower package
- [ ] Grant access to website (noticed it's your personal website so a redirect may be more appropriate?)

That will let us migrate the project to this

[2018-01-24 19:14] almirus opened #7 "Uncaught Error: element should be an instance of Element"
hi!
`$.ajax({
        url: "/get/form",
    }).done(function (result) {
        var editor = new JSONEditor($("#form"),{ },result.schema
        )
    });`
got error Uncaught Error: element should be an instance of Element

url /get/form return

`{"schema":{"type":"object","id":"urn:jsonschema:document:domain:Application","properties":{"id":{"type":"integer"},"clientFirstName":{"type":"string","ti

[2018-01-26 15:37] #7 closed

[2018-01-27 09:21] almirus opened #8 "Need to ignore $ref begining "URN""
if(schema.$ref && typeof schema.$ref !== "object" && schema.$ref.substr(0,1) !== "#" && **schema.$ref.substr(0,3) !== "urn"** && !this.refs[schema.$ref]) { refs[schema.$ref] = true; }

[2018-02-09 05:26] Dvlnst opened #9 "Theme Bootstrap 4"
Is Bootstrap 4 theme allowed? It's not working for me. I get: **ERROR Unknown theme bootstrap 4**. I don't have problems with other themes.

Thank you for the awesome work.

[2018-02-09 06:07] danielo515 commented on #5
I think one of the main points should be the NPM support. Everybody uses npm nowadays, and not being able to install this library through it is a deal breaker.

What about the CDNs ? They are an important way of distribution and nobody is talking about them

[2018-02-09 06:10] danielo515 opened #10 "Allow descriptions and placeholders on fields"
Hello

Surely having a human readable title for each field is a good thing, however there are times when it is not enough. Having a small text that describes the field or the form section is very useful and sometimes is mandatory.
Placeholders play an essential role too.

[2018-02-09 11:36] schmunk42 commented on #10
Related from JSON Schema: http://json-schema.org/draft-07/json-schema-validation.html#rfc.section.10.1

[2018-02-09 11:52] danielo515 commented on #10
Hello @schmunk42 , thanks for pointing it out.
Does that mean that you are open to implement it ??

[2018-02-09 17:15] schmunk42 commented on #10
I would also like to hear some other opinions ... but in general it looks useful.

I think I won't be able to do it, but PRs are generally welcome.

[2018-02-19 14:19] eduo commented on #5
Not a bad idea also to edit the main page so it doesn't link to the original pages and downloads. It's easy to wind up back there by mistake by following the links in the main readme.

Other than that, I was very happy to see this project getting jdorn's official blessing.

[2018-02-19 23:28] eduo opened #13 "Proper way to make nested dropdowns"
Hi.

Is there a clear guideline to making nested dropdowns? I see several comments across multiple forks but nothing clear.

Perhaps a simple example? Something that can select between category 1 and category 2 and then from subcategories 1-1, 1-2 and 1-3 or subcategories 2-1, 2-2 or 2-3?

I'm not sure if it's supposed to be oneOf or Enumsources + watch.

[2018-02-20 11:02] eduo commented on #10
To be clear I understand: is the proposal to use the "examples" property (I imagine picking the first entry in the array)?

The other properties (title, description, default) are already in use.

[2018-02-20 12:23] eduo commented on #10
"properties": {
		"campaignVendor": {
			"type": "string",
			"id": "/properties/campaignVendor",
			"title": "Vendor",
			"default": "763",
			"format": "text",
			"description": "INFO: Vendor para el que se hará la campaña."
		}
}
![screenshot 2018-02-20 13 23 26](https://user-images.githubusercontent.com/154630/36423711-426ee3fc-1641-11e8-8e4c-dd08735c362b.png)

[2018-02-20 12:36] danielo515 commented on #10
Many thanks for the example.
How did you noticed that you can use it that way? There is not a single line of documentation about it

[2018-02-20 12:42] eduo commented on #10
No, there isn't :)

It's in the spec so I tried it. I later saw that the JSON2Schema tool creates placeholder fields for it as well:

https://github.com/jdorn/json-editor/wiki/JSON2Schema

For the above it would show [this](https://niebert.github.io/json-editor/plugins/json2schema.html?jsoninput=%7B%0D%0A%09%22campaignVendor%22%3A%22763%22%0D%0A%7D):

![screenshot 2018-02-20 13 39 50](https://user

[2018-02-20 13:02] eduo commented on #10
I was looking around at how to integrate placeholders and a non-schema option would be to replicate the "startval" parameter of the constructor loading the placeholders in the same way default values can be loaded today.

[2018-02-20 15:38] danielo515 commented on #10
Hello again @eduo,

Thank you very much for sharing your findings.
I'll try them tonight.
The tool you are using looks very promising too. I didn't heard about it neither, thanks for that too.
Now the only thing missing are placeholders and a easier way to style the form.

Regards.

[2018-02-20 22:26] eduo opened #14 "Validation edge scenarios"
Hi

I may be missing something, but I can't find this in the documentation.

I can't find any option that will trigger a validation error if at least one option in a select (checkbox or multi-select list) is not chosen, or how to trigger an error when a required number field is empty (minLength helps with strings, but for numbers validation doesn't seem to persist).

Are there docs that explain sp

[2018-02-22 15:19] heathdutton commented on #3
Closing this, PR incoming.

[2018-02-22 15:19] #3 closed

[2018-02-22 17:32] eduo commented on #10
Sadly, I can't tackle this as a PR at all right now, but I hacked an ugly way to add placeholders in my local copy until either somebody can do it better or I have the time. This is a 5-minute hack written from an iPhone since this was a hard requirement and the deadline was upon us:

At the end of the main postBuild, right after "this.onWatchedFieldChange()":

`if(typeof this.input != 'undefined'

[2018-02-27 11:03] schmunk42 opened #16 "fix tests"
Tests on travis are currently failing, ie. https://travis-ci.org/json-editor/json-editor/builds/337365783

[2018-03-01 17:08] schmunk42 commented on #16
@json-editor/maintainers I've pushed https://github.com/json-editor/json-editor/commit/b63fe416ebbfcbb50b94c0f7b72437eabb4b4d98 on `feature/testing`.

Those tests work locally - with Docker, since they require Selenium - but I won't be able to create a `npm` setup on my machine.

Actually it should be possible to find a solution for local testing without Docker (merely adjusting some hostnames), b

[2018-03-05 09:40] nikolay-turpitko opened #19 "Cannot build master branch"
Hi guys,
Thank you for supporting this project.
I'm trying to build master branch from your fork and have an issue.

    src/editors/object.js
     713 |  },
             ^ Expected an identifier and instead saw ','.

Apparently, curved bracket get lost somewhere during one of the huge recent merges, could you please check? I've just added one right at this line and it's built. But I'm not sure if

[2018-03-05 09:51] nikolay-turpitko commented on #19
Obviously, some part of the code also lost with the curved bracket, 'cause my code (client of the lib), stopped to work when I updated lib from manual build.

[2018-03-05 10:22] schmunk42 commented on #19
Yepp, we noticed that also, please see https://github.com/json-editor/json-editor/commit/b63fe416ebbfcbb50b94c0f7b72437eabb4b4d98#diff-9ecab8c8676df653092228b56dd73dc1

Could you try building from [`feature/testing`](https://github.com/json-editor/json-editor/tree/feature/testing) to verify it's working.

[2018-03-05 10:41] schmunk42 opened #20 "State of branches "docs" and "v1.0.0""
@loganvolkers What's the state of the branches "docs" and "v1.0.0"?

Could I merge them into master, along with updated testing from https://github.com/json-editor/json-editor/tree/feature/testing

I also think it would be good to remove `dist` from `master`/`develop` since it requires running `grunt` all the time.

Let me know if there are any objections from your side.

[2018-03-05 12:20] nikolay-turpitko commented on #19
@schmunk42 Yes, I was able to build "feature/testing" without errors.

[2018-03-05 12:20] #19 closed

[2018-03-06 14:14] schmunk42 commented on #5
I did some work on https://github.com/json-editor/json-editor/tree/develop - including fixed testing.

For publishing it on npm we'd need a release process which builds the dist files, see also https://github.com/json-editor/json-editor/pull/17#issuecomment-370784379

Test & build has **not** to be done with Docker, for sure - feedback about this is very welcome.

[2018-03-06 20:46] roypardi opened #22 "Status and version number?"
Hi – nice to see this project getting some attention.

I'm confused about the version numbers: the jdorn most recent version is 7.28 - same as the version in the dist folder here. Was this an oversight or am I looking at the wrong branch (or something)?

[2018-03-07 00:54] schmunk42 commented on #22
Latest version of jdorn is 0.7.28, btw.

I had some issues with PRs and builds in the dist folder, see also https://github.com/json-editor/json-editor/pull/17#issuecomment-370784379

I'd suggest to remove it and only add it for releases.

You might give `develop` a try, but you need to run `npm run build` to create the files in `dist`.

[2018-03-07 13:57] pmadril commented on #19
Hi,
This fix is wrong. Return statement must be after the curved bracket, before the last bracket closing the function, so it also returns the result of:
var result = this._super();

[2018-03-07 14:10] schmunk42 commented on #19
@pmadril Could you link the line and commit in question?

[2018-03-07 15:36] pmadril commented on #19
Hi, I hope this helps:
 [https://github.com/pmadril/json-editor/commit/6e77ac3465f7bbeeec83cf36d662d42c6d8049fc](Fix missing bracket )

[2018-03-07 15:40] pmadril commented on #19
Sorry,
[Fix missing bracket](https://github.com/pmadril/json-editor/commit/6e77ac3465f7bbeeec83cf36d662d42c6d8049fc)

[2018-03-07 17:52] denics commented on #5
👍

[2018-03-07 18:01] denics opened #24 "Release of a new "release""
Hi guys, thanks for bringing this to live!
I tried to build this code but without luck. is it possible to have a new working min release?

[2018-03-07 19:16] schmunk42 commented on #5
@loganvolkers We'd be ready to start with some `alpha` releases, but we would need access to the npm organization (CC: @marc7000) see also https://github.com/json-editor/json-editor/issues/24

@jdorn There are people going to the old repo, ie. https://github.com/jdorn/json-editor/issues/524 - if we make the final transition, I'd suggest to add a note to the original repo and set it to read-only

@

[2018-03-07 20:38] danielo515 commented on #5
Why do you need control of the organization? It will be enough to unpublish the original package or ask the npm support team to transition that package to another user

[2018-03-07 21:14] schmunk42 commented on #5
I do not need to control the org, but I need the right to publish releases. Also I am not experienced considering npm, but @marc7000 and I are working on that.

I won't do that, the current package can stay under its namespace, that won't break anything.

[2018-03-07 21:38] loganvolkers commented on #20
Sure, I was just trying to separate the previous version (`7.2.8`) from current work, but in reality it looks like all development is happening on the master branch.

There is still some work to be done on those branches, but they definitely aren't in a bad start.

That's fine with me.

Go for it!

[2018-03-07 21:39] loganvolkers commented on #4
Closing this issue. See #5 for progress on making this fork official.

[2018-03-07 21:39] #4 closed

[2018-03-07 21:43] loganvolkers commented on #2
I have invited @Syzygy24, the other repos don't have issues or necessarily other ways of contacting the authors.

Closing this issue, but feel free to do your own outreach campaigns :)

[2018-03-07 21:43] #2 closed

[2018-03-07 21:49] loganvolkers commented on #22
We should probably provide some docs in the readme or elsewhere to indicate the state of the various github repositories and npm packages.

Personally I'd like to see this fork release a new version in the `1.0.0` range once it's ready.

[2018-03-07 21:49] loganvolkers commented on #24
Hey @denics, a new release is being worked on, see this tracking issue: #5

[2018-03-07 21:49] #24 closed

[2018-03-07 21:54] loganvolkers commented on #5
@schmunk42 send me the NPM usernames of people who should have access to the NPM org and I can add them.

I suggest we use `np` (https://github.com/sindresorhus/np) to do our releases to NPM, I've found it greatly simplifies the deployment and ensures good quality releases.

[2018-03-07 21:57] denics commented on #24
Thanks guys, you are doing a great job

[2018-03-07 22:01] loganvolkers opened #25 "UMD default export"
This library is currently exported using:
[code]

This makes it incompatible with build systems like Webpack and Rollup.

Instead the library should be exported as a UMD module, so that it can be properly released to NPM.

Note: UMD modules should mostly maintain backwards compatibility with export a global object on the window, but it may break some things. Because of this, if we include this cha

[2018-03-07 22:20] schmunk42 commented on #20
Thank you for your feedback, I am happy to see we're moving forward :smile:

[2018-03-07 22:20] #20 closed

[2018-03-08 07:58] danielo515 commented on #5
I think the first step towards am automatic publishing life-cycle and chsngelog generation is to adopt a commit convention. It will allow not only have a consisten style of commits but also automatic changelog and automatic version bump based on the type of commits. I'm not sure how np decides which should be the next version

[2018-03-08 19:22] Syzygy24 commented on #22
What's the new npm name gonna be?

[2018-03-09 00:42] schmunk42 commented on #22
Will be https://www.npmjs.com/org/json-editor/json-editor.
I think we'll start with a bunch of alpha releases, I actually would not incorporate too many changes for 1.0.0

[2018-03-09 00:42] #22 closed

[2018-03-09 00:48] schmunk42 commented on #5
From our side this would be:

- https://www.npmjs.com/~schmunk42
- https://www.npmjs.com/~marc7000

We also tried `np` and while it does a some things great, it also has some drawbacks.

As said, I am not very experienced regarding npm - we usually do our releases (PHP & Docker) like this:
- feature freeze
- merge
- build & test
- create `latest` or master or a tagged version on a tag (we usually

[2018-03-09 15:08] schmunk42 opened #29 "docs vs. examples"
@loganvolkers I thought about keeping `examples` instead of `docs` for the .html files. They are examples, aren't they?

If we have a docs folder, I'd rather use markdown in there and maybe move some stuff from the README over there.

WDYT?

[2018-03-09 15:20] schmunk42 commented on #29
related https://github.com/json-editor/json-editor/commit/cdc7d68fe575ba2e124949b4dcdf89e760987a14#commitcomment-28011249

[2018-03-10 03:01] loganvolkers commented on #29
IMHO `examples` feel like a kind of docs.... but the main reason for moving the folder around was for easy hosting on github pages -- they're restrictive in terms of providing only a few places they let you serve static html pages from.

As for docs in general, I'd be happy to see most of the readme make it's way into this repo's wiki section and just use markdown.

Feel free to make the call thou

[2018-03-12 17:15] schmunk42 commented on #29
Ah, I never used github-pages before :)

So, I think that's fine.

[2018-03-12 17:15] #29 closed

[2018-03-15 22:12] RichPitul opened #30 "Move Add Button"
When using the array format the Add Button appears at the bottom of the list of current items, how do I go about moving it to the top. The list of items in my list is going to get long and I would like to make it so that I don't have to scroll all the way down to the button..

[2018-03-15 23:14] schmunk42 commented on #30
Instead of moving I'd introduce an option for the button position.

[2018-03-18 22:57] eduo opened #31 "When is JSONEditor value updated?"
I've just noticed it's possible to trigger the submit event skipping the change event.

The editor's value seems to only be updated on change event (and to bubble the change event).

What's the easiest way to have the editor update its value on change -as it happens- ?

[2018-03-19 10:28] schmunk42 commented on #31
Are you referring to standard inputs or some special ones like WYSIWYG editors or Select2?
Did you trigger changes and/or submit via JavaScript or user input?

[2018-03-19 11:25] eduo commented on #31
I'm talking about simple text fields. The "change" doesn't trigger when text is being changed.

In some cases pressing enter will submit the form without having the editor value updated. I assume the change event is either not being triggered or there's a race condition when the submit is happening before it's updated.

I could add a delay on submit but it doesn't look clean to me. I wonder what's

[2018-03-19 11:35] schmunk42 commented on #31
I never noticed that, but I also never looked specifically after this.
Does it work all the time for you when you enter some text, then wait for a second and then hit enter?

CC: @marc7000

[2018-03-19 11:55] eduo commented on #31
I solved it. I was mixing up things.

The editor value *is* updated but there is a hidden field where I was storing the JSON (it's an old form and I'm forced to reuse the old freetext textarea field, so I've hidden it and I update it as the form changes).

So, as you type in text fields the editor value *does not* get updated but when you submit and/or you change fields it does (this might be a pr

[2018-03-19 12:34] #31 closed

[2018-03-19 16:28] roypardi opened #32 "Selectize link in README.md is broken"
The `Selectize` link in README.md is broken (404). This is the correct link:

https://selectize.github.io/selectize.js/

Should I just go in and make the change?

[2018-03-19 16:43] schmunk42 commented on #32
Yes, please.

[2018-03-19 16:57] roypardi commented on #32
Fixed and created a pull request. Hope that is the right way to go about it.

[2018-03-19 16:57] #32 closed

[2018-03-20 19:26] roypardi opened #34 "Any tips on how to implement Bootstrap3 date picker?"
I'm no JS hero but I want to take a stab at using this [Bootstrap3 date picker](https://eonasdan.github.io/bootstrap-datetimepicker/) instead of the HTML5 date picker.

Has anyone already done this or can suggest where to start? I've been looking through the old [issues from the jdorn site](https://github.com/jdorn/json-editor/issues/654) and seen a few hints but I thought I would ask here.

[2018-03-20 20:42] marc7000 commented on #34
Create a "datepicker.js" editor class, look at the "[editors](https://github.com/json-editor/json-editor/tree/master/src/editors)" section, e.g. "[checkbox.js](https://github.com/json-editor/json-editor/blob/master/src/editors/checkbox.js)".
The template or the "theme" for the datepicker plugin could be added in the "[bootstrap3.js](https://github.com/json-editor/json-editor/blob/master/src/themes

[2018-04-02 10:43] Blunderchips opened #35 "Is this project still active?"

[2018-04-02 11:01] schmunk42 commented on #35
Yes. https://github.com/json-editor/json-editor/commits/master

[2018-04-02 11:01] #35 closed

[2018-04-02 16:43] schmunk42 commented on #5
@loganvolkers How about the npm organization? I think we don't have access yet.

[2018-04-02 21:28] loganvolkers commented on #5
Access has been granted to NPM org for `schmunk42` and `marc7000`

[2018-04-02 23:42] calpirro opened #36 "Enable/Disable editor"
Hi

is this functionality working in this version?

I'm getting this error: **Uncaught TypeError: Cannot read property 'disable' of undefined at f.disable (jsoneditor.min.js:95)**

Thanks

[2018-04-03 13:49] cgunadi2018 opened #37 "Array has residual values from previous value"
When an array has a previous value of let's say 2 items, then I setValue(new value), where new value is an array of shorter length (one item), I saw the array editor correctly display the new value of only one item.

But when I hit the "Add Row" button to add another item, the old value from the old 2-item array is shown again. What I expect is that the new item will be blank.

Where could I have

[2018-04-03 23:29] roypardi commented on #34
I found this implementation of spectrum at the old jdorn site. Seems to work.
https://github.com/hellobugme/json-editor.zh-CN/tree/master/plugin/spectrum-editor

[2018-04-03 23:29] #34 closed

[2018-04-04 00:45] roypardi opened #38 "Can anyone give some tips on using 'grid" and "grid columns" options?"
I've been struggling with the "grid" and "grid_columns" options – perhaps I am using them wrong?

For example, in the image and schema below, I expected the fields "Shade Label" and "Shade Label Color" to wrap to a new row since they can't fit on the first row.

Is this Bootstrap related? I'm no Bootstrap hero . .  can anyone give me the 300 word primer? How do I specify rows within my json schema

[2018-04-05 14:21] tonebender opened #39 "Start with entire form expanded?"
Hello,

This issue is a duplicate of the one I wrote on the original jdorn-json-editor repository.
It's a fairly basic problem that I haven't been able to solve:
When I create my form from my schema, adding the data from my data object, only the elements in the form that actually has data are shown (expanded). I need to click on Object Properties in the form and check the additional elements I wan

[2018-04-05 17:42] narciero opened #40 "React support?"
Are there any plans to create a json-editor React.js component?

Thanks!

[2018-04-05 17:48] photz commented on #40
I'm currently using the editor in a React-based project by wrapping it in a custom element:
https://github.com/photz/content-client/blob/master/json-editor.json
You can then use it like so from within React:
```<json-editor initial-value="..." schema="..."></json-editor>```
I wrote it in a rush and it's a bit messy, but it certainly does its job and works well enough.

[2018-04-05 17:53] narciero commented on #40
The link you posted returns 404...but yea it would be great to have an 'official' react component as part of this lib, id be willing to help contribute.

[2018-04-05 17:55] photz commented on #40
Thanks, I fixed the link!

[2018-04-05 18:34] #40 closed

[2018-04-05 22:23] gradinkov opened #41 "Array's enum's empty default breaks if deleting an array element"
If an array's enum's default is { }, and you delete any array element, you're unable to select the enum anymore.

Related: https://github.com/jdorn/json-editor/issues/813

[2018-04-05 22:56] schmunk42 commented on #40
@loganvolkers Is the Mozilla lib a full replacement for json-editor?

@narciero What would be needed to make this a react-component?

[2018-04-20 09:21] schmunk42 opened #43 "Create release"
Like an `1.0.0-beta.0`

[2018-04-20 09:28] schmunk42 opened #44 "Issues from jdorn/json-editor"
`jdorn/json-editor` is [deprecated](https://github.com/jdorn/json-editor#deprecation-notice), we're  referencing some open issues here.

[2018-04-23 13:09] sergibondarenko opened #45 "Is there npm package?"

[2018-04-23 13:27] schmunk42 commented on #45
Duplicate of #43

[2018-04-23 13:27] #45 closed

[2018-04-24 13:33] ianmetcalf opened #46 "Schema mutated when calling expandSchema() with oneOf"
A new `oneOf` array is not being created before merging schema. See:
https://github.com/json-editor/json-editor/blob/710324689cac395c04e167cf18c3c84875b2a9f2/src/core.js#L514

Unfortunately this may be a breaking change since folks may have been relying on this behaviour. For instance the `Validator` doesn't currently expand schema, however this mutation may have been an unintentional work around.

[2018-04-24 18:25] chrislebaron opened #47 "How to track what data changes with "on change" event."
Is there a way to track what has actually been updated with the on change event handler? I tried something like this, but the event comes back undefined:

`editor.on('change',function(event) {
            console.log(event)
 });`

I would like to be able to track incremental changes rather than submitting a full json object.

[2018-04-25 09:05] schmunk42 commented on #5
@loganvolkers FYI: I reallowed merge commits, since it's very hard to track changes from such a huge amount of different PRs, when everything is squashed.

[2018-04-26 18:07] jecot opened #50 "File upload"
As a user, when using:
[code]
any uploaded file has a `/fakepath`/ to it.

How to get the real path?

[2018-04-26 21:55] schmunk42 commented on #50
CC: @marc7000

[2018-04-27 10:04] schmunk42 opened #51 "Security issue with hoek (reported by GitHub)"
Details:
https://github.com/hapijs/hoek/issues/247
https://github.com/hapijs/hoek/issues/230#issuecomment-384816142

[2018-04-29 06:27] metled opened #52 "How to write a Schema to describe the json Schema self of json-editor?"
I'd like to have an editor letting users design the json schema, which could be used to produce the json-editor as the project.
i.e.  the super json schema -> editor for json schema -> editor for json

[2018-04-29 06:50] metled commented on #52
[code]

is it possible?

[2018-04-29 07:08] marc7000 commented on #52
Did you see the basic json-editor demo?
https://json-editor.github.io/json-editor/

There is a schema text-area below the editor where you can edit the schema and update the editor.

[2018-05-02 07:05] schmunk42 commented on #52
@metled That should be possible and I'd really like to see an example for this. Actually the way you showed in the example looks good to me.

I googled for some existing "json-schema for json-schema", but haven't found a matching piece.

Work on this would be very appreciated.

[2018-05-02 07:32] schmunk42 commented on #52
Another starting point is feeding ie. http://json-schema.org/draft-04/schema# into the editor, which at least shows a working form... [Example](https://json-editor.github.io/json-editor/?schema=N4IglgJiBcIBYBcEAdoHo0CsDOB7AdgLTYDGcApgLYCGAdLgE4DmaED1AZgoQAwAsaUhRoBiEABoQAEiFVqMeElQYcBYmTn1mrdl14DZoiSAjlSDMMgRgCCgMKNyAAkPUnlcgmrrh8yaY4wfDBrAmwYUFcAQQZ2AE8IkAQ45HIFaljqBMlKIIBJBCpw6ABGSRCixKkGcg4FMQB

[2018-05-03 05:52] schmunk42 commented on #44
https://github.com/jdorn/json-editor/issues/455

[2018-05-07 18:51] drmrbrewer opened #55 "Color picker with alpha"
First of all, json-editor is a dream come true... thanks!

With my particular use-case (Android app, but with non-Android contexts too), colour strings are in the form `#aarrggbb` rather than `#rrggbb`. where `aa` is the hex alpha (transparency) value.

Does json-editor allow for this?  Something like the following (with a colour picker, including alpha, popping up in [this context](http://jeremyd

[2018-05-09 21:11] brij281 opened #58 "I am trying to use other name instead of "root" for UI."
First  and first thanks a lot guys for such type work.

I am trying to use other name instead of "root" for UI. Basically don't want to display "root" on UI. I tried following way, but  it not worked for me.
1. JSONEditor.defaults.options.form_name_root = "newUI";
2. jsonUI = new JSONEditor($editor, {
        schema: Schema,
        startval: initialData,
    form_name_root:"newUI"
});

I am suspe

[2018-05-10 09:40] marc7000 commented on #58
Add a title attribute in the root element.
See the example below and compare the schemas:
[Without tittle attribute](https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAaEUATkrIWAJYwDOCoAdgIYC2c8oksCIVYh5dAczwgAJtUx8oFJHS4AxcoR4ACBnRHKAMgxWMWwpv00xBYABYIALPjEAzBgFcANjkQApGIRhMIygCJIhLIAvqFAA==&value=N4IgdghgtgpiBcIBSMBOMoE8AEARA9qmCAL5AA==&theme=bootstrap2&iconlib=fontawes

[2018-05-10 21:57] rejemy opened #59 "Custom/alphabetical property sorting"
I am making an editor for a schema where there are a large number of additional properties with arbitrary names (a large database-like map of values), and I can't find a way to get them sorted. I can't use propertyOrder, since these are additional properties whose names are not known ahead of time.

I believe it would be solvable by adding an option for alphabetical property sorting, or a way to s

[2018-05-14 02:09] schmunk42 commented on #59
Could be an enhancement.

Is there some JSON-schema spec about it?

[2018-05-14 02:30] #58 closed

[2018-05-14 02:56] schmunk42 commented on #43
Done https://www.npmjs.com/package/@json-editor/json-editor

[2018-05-14 02:56] #43 closed

[2018-05-15 12:20] arvindkhadri commented on #5
So can I now install json-editor with npm?

[2018-05-15 12:32] schmunk42 commented on #5
Yes, `npm install @json-editor/json-editor`

[2018-05-15 12:33] arvindkhadri commented on #5
@schmunk42 Thanks :)

[2018-05-15 13:15] arvindkhadri opened #61 "Using json-editor with angular and require"
I have an angular app and want to use json-editor along with it. I am using require.js to load my dependencies, how can I do the same with json-editor? Is it possible to do this?

[2018-05-16 05:59] mauryashashi commented on #61
You can use angular directive for embedding editor and in define function first load editor file.

[2018-05-16 06:09] arvindkhadri commented on #61
@mauryashashi Thanks, that was helpful. But I am looking for help with loading the dependencies of json-editor.js, is there a bundled file that I should be using to load json-editor?

[2018-05-16 21:51] rejemy commented on #59
I don't believe there's any way to enforce ordering in JSON-schema, I think an object is by definition unordered in JSON. This would have to be something purely for display convenience. I'm thinking of modifying the sort comparator function in editors/object.js to fall back to alphabetical sorting if propertyOrder is not set on both properties being compared. If you want I can submit that as a pul

[2018-05-17 08:33] gnom7 opened #63 "Custom css class support"
According to the README I can specify my own CSS styles, but I cannot find the way to specify CSS classes for elements in json schema.

Can we add something similar to
[code]
to element meta information in json schema?
Also see https://github.com/jdorn/json-editor/issues/158#issuecomment-389634771

[2018-05-17 20:58] loganvolkers commented on #55
This wouldn't be something that would be supported in the core project, but could easily be done thanks to the existing support for custom editors and custom plugins.

For an example of how you could build a custom color picker, check out the ratings editor here: https://github.com/json-editor/json-editor/blob/master/src/editors/rating.js

[2018-05-17 20:58] #55 closed

[2018-05-17 21:03] loganvolkers commented on #5
Given all the issues that are being created, I think it'd be useful for us to setup an issue template. There's support for this by setting up a `.github` folder. Here's a tool that can generate this.

@schmunk42 since you've taken point on dev, do you want to put something together? At this point I think that any default issue template is better than none.

[2018-05-17 21:04] loganvolkers commented on #5
Also maybe we should turn on stalebot? https://probot.github.io/apps/stale/

[2018-05-18 00:33] rejemy commented on #59
I'm not creating a schema dynamically. I suppose I could load the json first, build a schema off of it and use that, but then I'd have to update the schema every time I added a new entry to the database, and I don't think you can switch out the schema on the fly.

My (simplified) schema looks like this:

{
	type: "object",
	options:
	{
		disable_collapse: true,
	},
	additionalProperties:
	{
		type

[2018-05-18 13:20] sluc23 opened #64 "Type enum with "value / label" pair on schema"
Enum could be set only with value = label, on select options.
Is there a way where schema could be set to get a different value than label to export on json?

[2018-05-18 13:29] sluc23 commented on #64
How this **enum_title** array has to be set if I'm working with several enum fields in the same editor?
Is there any online example of using it?

tx!

[2018-05-18 13:31] schmunk42 commented on #64
https://github.com/json-editor/json-editor/search?utf8=%E2%9C%93&q=enum_titles&type=

[2018-05-19 10:06] maggyero opened #65 "collapsed=true not working"
`"collasped": true` does not work in `definitions`. Sample schema:

[code]

[2018-05-20 08:14] mauryashashi commented on #61
Except css files, you can load all the JS dependencies in define argument. That will make sure that all dependencies would be available before initializing editor in custom directive. You can bundled them in one file but I think it would be not simple to bundle dependencies using require.

define(
['jsoneditor','other files path'], function () {
angular.module('directives').
directive('schemaedito

[2018-05-22 14:23] dolv opened #67 "Is there a way to have a title and value for the checkbox object? (copied from jdorn repo issue #818)"
Hi, I have the object like this:
[code]

I'd like to have a possibility to get mapped from title to values array from the checkbox array object according to the following map:
[code]
How to properly define the "events" to get desired effect?
Thank you in advance.

[2018-05-22 14:47] marc7000 commented on #67
Hi,

check out the interactive demo...  I have added / updated your "events" Schema...
https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QFEBusB2YDOIA04AngA7xID2ARgFawDGY+IxATuaS5LLgqLOlh6hIMMigE4mYEmICGLFrMJMArhggBHFbACSYWAFseYFtoIAzciwOzGSOgAt6Aa0rkAHkwMQMAGUwA5mAOiACMBFCGQkSkiCDYJj4BTJgqBogA2iA6GAAmKgwQ5BgABPyYjAQAyg4QxMRJZRIgALoE7JDF0akGAPoicDxZOgByACJMVQASAAqtAL7zBLmw5rIq0HbDeQ

[2018-05-22 18:33] syssecfsu opened #68 "grid_columns does not work for bootstrap4"
I have tried many different options but still could not figure it out. I want to create a form with 2 columns but always get three columns no matter where I put the grid_columns option. I have linked the bootstrap 4 css and js files (the standard bootstrap4 template).
Here is the code to create the form:
[code]
The json file is simple:
[code]

Thank you for your time and help!

[2018-05-23 04:52] schmunk42 commented on #68
@germanbisurgi Could you add `grid_colums` (ie. dropdown with numbers 1-12) to the index.html (https://json-editor.github.io/json-editor/) and maybe some other options which can be customized, so we can test this online in the future?

[2018-05-23 07:10] Mikescops commented on #5
I'm not sure about how branches are handle here, it looks a bit messy.

I think issue template is a good idea more than a Stalebot so that issues can be understood easily and discussed.

[2018-05-23 07:17] Mikescops opened #69 "Bootstrap4 is not loading on the demo website"
From the demo website (https://json-editor.github.io/json-editor/) the CSS Framework Boostrap is giving a blank page with an error in the console.

"uncaught exception: Unknown theme bootstrap4"

![screenshot](https://i.imgur.com/ZL2ZZcq.png)

[2018-05-23 10:36] dolv commented on #67
Hi, @marc7000
That is exactly what I was looking for.
Much appreciated.

P.S. It could be usefull having your example in the array section of the README.md document. Please consider adding it there.

[2018-05-23 10:37] dolv commented on #67
The issue has successfully been resolved - thans goes to @marc7000

[2018-05-23 10:37] #67 closed

[2018-05-25 08:16] hookenono opened #71 "what scene do you apply by using this lib?"
I'm designing an office data-config-system by using this lib,
hope to understand your apply ideas !

[2018-05-25 08:40] schmunk42 commented on #71
Sorry, I do not fully understand your question. Could you elaborate more?

[2018-05-25 23:24] tmwoods opened #74 "editor.setValue is not a function"
This isn't really an issue, I'm just a noob.

I'm trying to add in a basic json editor into my vue component but am getting 'TypeError: editor.setValue is not a function'. I'm assuming I'm missing an import or something.

Any help for a learner is appreciated :)

[2018-05-28 14:07] #64 closed

[2018-05-29 08:25] Obtin opened #76 "NaN value on seleting the year"
Whenever I change the value from the default value in year box, it gives me NaN

![json](https://user-images.githubusercontent.com/25207205/40646734-b7beac16-6347-11e8-814c-a0f38426e50b.png)

[2018-05-29 08:31] germanbisurgi commented on #76
Hi Obtin. Can you provide the JSON schema you used?

[2018-05-29 08:42] hookenono commented on #71
Is this lib has any specific applications?

[2018-05-29 09:29] hookenono opened #77 "select element with empty default vaule"
### Schema:
[code]
### Now:
![image](https://user-images.githubusercontent.com/3053496/40650258-78c48f9e-6365-11e8-9919-48d444f1bf16.png)
### Expected
![image](https://user-images.githubusercontent.com/3053496/40650307-91f0ec06-6365-11e8-8cfb-c5e3ed70a889.png)

### Question:
How I can get the expected result? tks!

[2018-05-29 09:35] germanbisurgi commented on #77
You have to add the "" value to the enum

{
	"title": "Person",
	"type": "object",
	"properties": {
		"platform": {
			"title": "客户端类型",
			"type": "string",
			"enum": [
				"",
				"ios",
				"android"
			],
			"default": ""
		}
	}
}

[2018-05-29 09:54] schmunk42 commented on #71
No, it "just" renders a (sometimes complex) form from a JSON-schema.

[2018-05-29 09:54] #71 closed

[2018-05-29 10:03] marc7000 commented on #74
Checkout the example below...

[code]

[2018-05-29 10:05] #74 closed

[2018-05-29 10:06] #77 closed

[2018-05-29 10:15] germanbisurgi commented on #76
Ah I see. Is the basic example page.
The problem is that 2019 is not in the select options.

<img width="1084" alt="bildschirmfoto 2018-05-29 um 12 15 16" src="https://user-images.githubusercontent.com/13135260/40652931-fb690348-6339-11e8-944f-a7a8fc0eebd3.png">

[2018-05-29 11:32] sluc23 opened #78 "Add listener to select inside repetivite array object"
I want to to add a listener **watch()** to a **select** that belongs to a repetitive object. This means when a new row is added, the **watch()** to the new **select** has to be added to, with the specific path with the new row index

My first thought was to find a way to attach a listener on **"+ row "** button **click()**,  to implement this:
[code]
but this button shares css class with other **+

[2018-05-29 12:00] agladysh commented on #36
Same here.

[2018-05-29 12:03] agladysh commented on #36
For me this didn't work because I used `ajax: true` and tried to call `disable()` before `ready` event was fired. This fixed the problem for me:

[code]

[2018-05-29 12:05] germanbisurgi commented on #65
Yes it works. You are using 2 definitions:
1) one object
2) one array

The problem is that the object have no "properties" property on it

[code]

[2018-05-29 13:32] #50 closed

[2018-05-29 13:50] jbmolle opened #79 "SCEditor display bug"
Hi,
I'm using the SCEditor plugin and when I click on Move up / down or Property Add buttons the texts in SCEditor disappear.
If I switch the SCEditor to source code, I can see the sources. But the WYSIWYG text is blank.
I reported this bug on previous jdorn/json-editor. Other people had the same problem. Actually the problem is due to SCEditor using iframe and losing their content when the iframe

[2018-05-29 15:47] AndyEdmonds opened #80 "password option"
it would be great to have a password option obscuring a text field, but permitting input.

[2018-05-30 01:36] Obtin commented on #76
Thank you so much for your help @germanbisurgi

[2018-05-30 10:06] #76 closed

[2018-05-30 10:36] sluc23 commented on #78
found the answer here:
https://github.com/jdorn/json-editor/issues/84

[2018-05-30 10:38] #78 closed

[2018-05-30 11:02] germanbisurgi commented on #80
[code]

interactive example =>

https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QBMCGZUgDTgJ4Ad4kB7AIwCtYBjMbEfAJ2MIclgGdFR9V32B3Yg2Rc8hRCHZgGEAHYBzOgDMhAW3QSefQcJABfA0A&value=N4IgDghgzlDuD2AnAJiAXCEBfIA=&theme=bootstrap2&iconlib=fontawesome4&object_layout=normal&show_errors=interaction

[2018-05-30 11:21] AndyEdmonds commented on #80
Thanks - couldn't find that in the docs.

[2018-05-30 11:21] #80 closed

[2018-05-30 11:31] schmunk42 commented on #80
@germanbisurgi Can you add it to the docs, please.

[2018-05-30 11:57] hookenono commented on #77
help

[2018-05-30 12:17] germanbisurgi commented on #77
Hi hookenono. Try this

[code]

Here the interactive example

https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcIDOYBOBLAdgcxAGhBkwFcBbBAbRADcBDAG2JgEZ8aGmAmEAXQNRgBHYugEATBGiYBfIAA=&value=EQNwhgNgrgpgjMIA&theme=bootstrap2&iconlib=fontawesome4&object_layout=normal&show_errors=interaction

[2018-05-30 12:20] germanbisurgi commented on #69
@schmunk42 maybe it depends on this

`<script src="//unpkg.com/json-editor"></script>`

[2018-05-30 12:27] germanbisurgi commented on #41
Hi Gradinkov. I need your schema to understand, reproduce and maybe find a solution to your problem :)

[2018-05-31 10:32] sluc23 commented on #78
another useful post about this issue here:
https://github.com/jdorn/json-editor/issues/343#issuecomment-75446938

[2018-05-31 11:38] germanbisurgi commented on #77
@schmunk42 I belive you are right. In the interactive page the json-editor is downloaded from  unphkg.com.

![unpkg](https://user-images.githubusercontent.com/13135260/40780078-8707d160-64d7-11e8-9a77-5107aca8cd60.png)

inspecting the code i notice that this version has not the enum + default fix.

However i am wondering why the first option in the select is empty when in the enum are only two val

[2018-05-31 11:57] germanbisurgi commented on #65
@schmunk42 I think this issue could be closed

[2018-05-31 14:02] #65 closed

[2018-06-04 12:45] germanbisurgi commented on #36
Hi calpirro,

There are three things i need to know from you in order to help.

1 Expected behavior
2 Actual behavior
3 Steps to reproduce the behavior

[2018-06-05 09:16] schmunk42 commented on #5
@Mikescops I cleaned the branches.

@loganvolkers Can I remove the branches `v1.0.0` and `docs`?

I'd also close this issue then, please feel free to write a blog posting.

[2018-06-05 14:31] loganvolkers commented on #5
Go for it :)

On Tue, Jun 5, 2018, 2:16 AM Tobias Munk, <notifications@github.com> wrote:

[2018-06-05 18:34] schmunk42 commented on #36
I think this is solved in the comment from @agladysh - also in the tests and examples there's an option to disable the editor.

[2018-06-05 18:34] #36 closed

[2018-06-05 18:36] #5 closed

[2018-06-06 13:45] visualdatasolutions commented on #68
@syssecfsu  Have you tried supplying grid_columns in the schema nested under the property options? like this
`"dob": {
    "type": "string",
    "options": {"grid_columns": 6}
},`
The property grid_columns refers to the number of grid columns out of 12 in a row that the field will take. You will get two equal width columns (6/12 = 50%) this way.

[2018-06-06 13:57] visualdatasolutions commented on #38
You have probably figured this out by now. Just in case someone will read this issue in the future, the property grid_columns refers to the number of grid columns out of 12 in a row that the field will take. You will get two equal width columns (6/12 = 50%) when specifying grid_columns as 6. If you define grid_columns as 2, you are actually asking the editor to squeeze 6 fields into a row (12/2 =

[2018-06-06 21:08] schmunk42 commented on #79
@germanbisurgi Could you try to create a test for this, I've recently updated the tests to use CodeceptJS.

[2018-06-07 16:00] sriks316 opened #91 "Is there a downloadable production version of this forked repo?"
The original repo had the following option to download the js file.

_"Download the production version (22K when gzipped) or the development version."_

Do we have similar option in the updated forked repo?

[2018-06-07 21:18] sriks316 opened #92 "Is it possbile to partially reload the GUI through setValue or something else"
I have a schema which has an object called TerminalList.

After the page was loaded, when a user clicks on a button, it will add the TerminalList to the jsonInput.

For eg, this is what I am doing:
[code]

But it seems to be it's validating and reloading the entire GUI.

I would prefer to reload only the TerminalList section which was added dynamically as opposed to reloading all other sections

[2018-06-12 10:11] bob76828 opened #101 "The format of categories does not work with bootstrap 3"
It only worked with bootstrap 2

[2018-06-12 12:29] agladysh commented on #69
Same for the `materialize` and some other schemes. I think that the json-editor used in the demo is not of the latest version.

[2018-06-12 12:43] agladysh opened #102 "How to edit an UNIX timestamp?"
I want to represent an UNIX timestamp field as a date and time control. Is there a way to do that with json-editor?

[code]

[2018-06-12 16:03] sriks316 commented on #92
this can be closed. it is partially reloading the GUI, I think since my partial json value was huge, it was taking lot of time.

[2018-06-12 16:03] #92 closed

[2018-06-13 06:45] germanbisurgi commented on #79
- Test added.
- jbmolle is right. Sceditors iframes loose their content when the iframe is reloaded. And their are reloaded when the array and the DOM change.

[2018-06-13 07:05] schmunk42 commented on #79
Shouldn't the test fail then? Or which tests are you referring to?

[2018-06-13 08:39] germanbisurgi commented on #79
Created a pull request that adds extra checks for SCEditors working into arrays #104

[2018-06-15 13:05] schmunk42 opened #105 "Add tests for numbers (slider, steps, ...)"
Example page (no tests yet).

PS: If you need to reset your local master: https://stackoverflow.com/questions/1125968/how-do-i-force-git-pull-to-overwrite-local-files

[code]

[2018-06-15 20:33] sriks316 opened #107 "is it possible to display missing/empty objects in the GUI if they have default values?"
Consider this example where age property has a default value of 24.

Now, even though the jsonInput/startval does not contain the age attribute, i would like to have the page loaded with the default value of 24. Is this possible through some kind of code or even js hack?

http://jsfiddle.net/ytcqN/94/

[code]

[2018-06-15 22:19] schmunk42 commented on #107
Sure :) just make it required.

[code]

[2018-06-15 22:19] #107 closed

[2018-06-19 19:35] theBull opened #108 "Feature: Add delete confirm prompt before deleting nodes with UI controls"
### Expected behavior
Json Editor could alert the user that they are about to delete a node with something like a confirm dialog. This helps prevent them from deleting nodes accidentally due to a mis-click.

Something like the following would be helpful:
![image](https://user-images.githubusercontent.com/3451643/41619898-cf1d8fa0-73bc-11e8-93db-0a9c7ecaea8c.png)

### Actual behavior
When working w

[2018-06-20 05:39] schmunk42 commented on #108
I think that would be a very useful addition. Having an option to enable this also sounds good (to keep BC). I think there's nothing about this in the JSON schema spec.

PRs highly appreciated, a test would be cool also.

[2018-06-20 11:41] schmunk42 commented on #108
@germanbisurgi Nice.
@theBull Could you have a look at https://github.com/json-editor/json-editor/pull/109 and give us some feedback?

[2018-06-22 08:08] hamzahamidi opened #110 "Any idea about the library used to achieve this JSON editor?"
### question
Any idea about the library used to achieve this JSON editor?
![json](https://user-images.githubusercontent.com/22576950/41765345-1c5a2118-7604-11e8-8a16-0539cfe80586.png)

It's available [here](http://schemaform.io/examples/bootstrap-example.html). Does it have any relation with this repository?

[2018-06-22 08:18] germanbisurgi commented on #110
json-editor/json-editor !== json-schema-form/angular-schema-form

[2018-06-22 08:21] #110 closed

[2018-06-22 11:51] the-unsoul opened #111 "Upload error message doesn't show for format url with upload option"
in example:  `/docs/upload.html`  we had a hook:
[code]
to show a custom error message when upload is failed.
But when running the example (including my attempt to use `json-editor`) none of the error is showed

[2018-06-25 09:12] samirelkhatib opened #112 "Boolean Select Box doesn't return true values"
When you select true or false and then call the getValue function, you should get the value selected

### Behavior:
When dealing with booleans:
-- Setting the editor value to a previously stored json gives correct values
-- Setting the input value to false and getting it back gives false
-- Setting to true after being false gives false!

Only false can be selected

### Code to reproduce the behavi

[2018-06-25 23:13] theBull commented on #108
Done. Wow, fantastic turn-around time. Very impressive. Provided some feedback to the PR and approved. I'm hoping to contribute some actual code soon. Thanks!

[2018-06-25 23:13] #108 closed

[2018-06-26 14:33] marc7000 commented on #111
How did you configured your upload handler?
The code below is an example of my implementation.

Upload handler:
[code]

JSONEditor configuration:
[code]

[2018-06-26 14:50] fxi commented on #39
I think I've the same issue.

The `initial` parameter in setValue set to `true` does not what I expect.

I can't open all editors by default when there is some missing values in `startval` data.

So, I found an ugly workaround to this issue : merging `startval` with the an output of `getValue()`:

[code]
For some `merge` function, you could use something in https://stackoverflow.com/questions/2793

[2018-06-27 04:30] schmunk42 commented on #39
Could you put together an example, ie. based on https://jsfiddle.net/tmunk/zxdk5qLd/

Would using `"require": true` make a difference?

[2018-06-27 07:34] fxi commented on #39
`required` seems to do what I need, but it's not well documented : it's only mentioned in the editor defaults under `required_by_default`, unless I've missed something.

By the way, I've build a simple json-editor toy example in jsfiddle :
https://jsfiddle.net/fxi/9gnL6t0p/1/

The version of json-editor is maybe not up to date, though.

So, all good for me.

Json-editor is a complex beast...  Than

[2018-06-28 21:39] freddupont opened #116 "disable collapse and edit not correctly hidden in firefox"
First of all thanks for this great project!

regarding the JSON Editor v0.7.28

### Expected behavior
when the option
[code]
the corresponding button should be hidden

### Actual behavior
only the button corresponding to properties is correctly hidden the two other are not visible but still take some empty space at the screen

### proposition of modification
like in the property button, hide the c

[2018-06-28 22:02] haskasu commented on #112
in select editor, onInputChange,
`
if(this.enum_options.indexOf(val) === -1) {
    new_val = this.enum_values[0];
}
`
enum_options has string values "1" and "0"
but enum_values are boolean values true / false
so the if test is always false

[2018-06-29 07:20] schmunk42 commented on #116
Did you also try this with the latest version?

[2018-06-29 12:47] KostadinP commented on #112
I have the same problem on the last version too.

[2018-06-29 15:10] haskasu commented on #112
I've created a pr here
https://github.com/json-editor/json-editor/pull/117

[2018-07-02 05:38] freddupont commented on #116
I just checked with the online version

`src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.min.js"`

wich is @version 1.1.0-beta.2
same behaviour

[2018-07-02 07:08] germanbisurgi commented on #69
Its working now

https://json-editor.github.io/json-editor/

[2018-07-02 08:20] #69 closed

[2018-07-02 15:40] caliph007 opened #119 "Ordering in array"
In a list of objects I have the buttons to move up and move down.

Where is the order reflected in the output-json?
I cannot manage to add the order property and I need it.

[2018-07-03 15:37] adiba opened #120 "Prompt before delete not working"
### Expected behavior
When clicking any delete button, a confirm dialog should show up.

### Actual behavior
When clicking any delete button, the row(s) are deleted immediately.

### Steps to reproduce the behavior
[code]
The included script is `https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.js`

[2018-07-04 05:39] felipeprov opened #121 "Tabs not showing correctly with most of themes"
### Expected behavior
Show the content

### Actual behavior
The second tab keeps hidden

### Steps to reproduce the behavior
You can use this schema on the demo page
- open https://json-editor.github.io/json-editor/
- paste the schema
- change theme to bootstrap 4(i just saw it working on bootstrap2)
- the first tab is ok, but the second tab shows nothing

schema
[code]

default values
[code]

[2018-07-04 07:34] caliph007 commented on #119
This is my simplified schema:

[code]

The GUI has moveup and movedown buttons displayed - per default.

But editor.getValue() provides no sorting attribute in the json message.
Can the editor provide a order attribute?
e.g. propertyOrder or other attribute?

[2018-07-04 07:48] germanbisurgi commented on #120
yep, he´s right. I made a pull request for this #122. Thanks for notifying, adiba.

[2018-07-04 08:45] caliph007 commented on #119
Maybe I have trouble getting my issue across:
Currently I get:
[code]

But when I use it in backend processing in dict or provide json via API to other frontend the ortder can get lost too easily.
I am looking for an attribute such as "order":
[code]

Can propertyOrder somehow do that?

[2018-07-04 09:07] germanbisurgi commented on #119
Thats out of our scope i think :/

[2018-07-04 09:50] dy93 commented on #121
#103 should fix the tabs on bootstrap 3

[2018-07-05 07:54] #112 closed

[2018-07-05 08:06] aseem2625 opened #123 "Custom validations working but select is not showing errors in DOM"
**Property is defined as:**

[code]

**Custom validation added using:**

[code]

On `var errors = editor.validate();`, `errors` correctly contains the error as per the custom validation above, however, just for the **Select** element, `has-error` class and `<p class="help-block errormsg">` are missing from DOM. For custom validators on other `type=string` fields, everything working fine.

Is there

[2018-07-05 19:53] adiba opened #126 "Make corresponding input 'readonly' instead of 'disabled' for 'readonly' option"
### Expected behavior
When setting `"readonly": true` on a property, the input should be readonly, i.e. the input's value should be immutable but still copyable.

### Actual behavior
For instance, the `disabled` property of an `input` with `type="text"` is set. The text is therefore not selectable or copyable.

### Steps to reproduce the behavior

[code]

[2018-07-06 08:35] lupu60 opened #127 "Angular 2+ Integration"
Hi json-editor team,
I have an angular 5 project and I can`t figure out how to properly import the json-editor module into an angular component.

So far I installed the jso-editor with npm and the status is like this.

angular ts
[code]
console output
[code]

[2018-07-06 09:31] wclssdn commented on #52
Are you looking for this? http://json.bootsphp.com/jsonSchemaCreator/

[2018-07-06 09:36] schmunk42 commented on #52
@wclssdn Wow, this looks neat!

[2018-07-06 09:58] wclssdn opened #128 "When using data generated by a schema containing anyof, the result is incorrect after assignment to the editor."
### Expected behavior

The editor can correctly assign values based on json

### Actual behavior

The editor cannot use the correct anyOf subkey when assigning the anyOf field

### Steps to reproduce the behavior

[schema](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QEMB2BPA9gMwAQCNkATAY2QGd4AacdAB3iU3wCtYSwQa6AnTBnpFjlEoKLAC2IhKEgxG4KHC60GiFDx7J0K7Jh4TknJGGT4RNcVNGL56qyoAWsYr

[2018-07-07 13:50] sriks316 opened #129 "allowing enum values to be flexible based on jsonInput"
I have a situation where I have a pre-defined set of enum values.
However, there are occasions when I don't have control over the dropdown values, it can be either be user entered or coming from a jsonInput that comes from an external source.

Consider an example below:

http://jsfiddle.net/ytcqN/113/

Schema:
[code]
jsonInput:
[code]

So even though the enum values are male/female, i need it to t

[2018-07-09 04:46] schmunk42 commented on #129
One thing which is problematic is that you need a special select, which can handle predefined and custom values. I think technically this is not an `enum` anymore.

You could define a custom (string) format, which allows any value, but displays a special select box.

[2018-07-09 09:31] Radouch opened #130 "Problem with "required" in combination with "additionalProperties: false""
### Expected behavior
Required properties should be required, all other properties specified in JSON schema should be allowed.

### Actual behavior
If there is
"additionalProperties": false,
and some properties in : "required"
then any value of non-required property is interpreted as error:
"No additional properties allowed, but property XYZ is set"

### Steps to reproduce the behavior

1. Create

[2018-07-09 12:25] Radouch opened #131 "Properties not defined in JSON schema cause "TypeError""
### Expected behavior
Properties not defined in JSON schema can be added if it is allowed by the schema.

### Actual behavior
Any property added to JSON and not described in JSON schema causes error in console:
`TypeError: can't convert null to object`

### Steps to reproduce the behavior
1. Create JSON schema:
[code]
2. Load the schema into the JSON Editor, then try to add any property.
3. The ne

[2018-07-10 17:15] trsh commented on #130
Same here. I almost made new issue.

[2018-07-10 17:16] trsh commented on #130
Btw the setting is `no_additional_properties: true`, not `additionalProperties: fase`?

[2018-07-11 14:18] Radouch commented on #130
a) `no_additional_properties: true` is an option for JSON Editor.
b) `additionalProperties: false` is an option in JSON schema, see https://spacetelescope.github.io/understanding-json-schema/reference/object.html
I mean b) (did not test a) ).

[2018-07-11 15:02] trsh commented on #130
@Radouch same with a) :)

[2018-07-11 18:02] trsh commented on #127
Workaround:

[code]

[2018-07-11 18:06] trsh opened #132 "[FR] Angular 2 material style"
Maybe someone started working at this? Need it badly and have no Idea how to make it happen. As it's not just HTML+css, but components that need to be rendered :/

[2018-07-12 00:06] SyedWasiHaider commented on #25
For anyone else who had issues with this:

```npm install  @json-editor/json-editor ```

then in your file

[code]

[2018-07-12 09:15] wclssdn commented on #128
help ~~

[2018-07-12 12:27] vrockai opened #133 "Missing validation by type"
### Expected behavior

Want to see validation error about wrong type used.

### Actual behavior

The value is automatically converted to the right type.

### Steps to reproduce the behavior

In the demo: https://json-editor.github.io/json-editor/

If I type "30r" into the age input and press enter, the value is automatically converted to "30" instead of showing me the error about not having intege

[2018-07-12 12:40] germanbisurgi commented on #133
wow. its that an issue or a feature?

[2018-07-12 13:13] vrockai commented on #133
It depends on what the original requirements were :) From where I stand it's a bug. The schema is:
[code]

If I type `12`, I got an error, exactly as I would expect for anything not matching the schema:
![image](https://user-images.githubusercontent.com/1726340/42635206-ba0fe1a4-85e5-11e8-9f69-fbabb591e055.png)

But if I type `25weqd`, there is no error and the value is auto-corrected to `25`, whi

[2018-07-12 13:47] germanbisurgi commented on #133
Looking at the editors code i found that they follow this pattern.

1) listen for "change" on the editor's input.
2) on input changed -> sanitize value (here is where typecast occurs depending on the editor's type)
3) set value
4) trigger onChange
5) root editor validate all sub editors
6) display errors if needed

Here is the number sanitize method

[code]

[2018-07-12 14:28] rodmonic opened #134 "Is it possible to load startval using ajax like the schema?"
### Expected behavior
I tried to load my start value JSON from an existing API call using the same format as with schema:

        // Initialize the editor
        var editor = new JSONEditor(document.getElementById('editor_holder'),{
            // Enable fetching schemas via ajax
            ajax: true,

            // The schema for the editor
            schema:  {
                $ref: "/api/

[2018-07-12 21:02] sriks316 opened #135 "properties not displaying form elements when required property is enforced"
I have a schema which has an array called LaneList which in turn has an array called LinkList.

Here is an example where it is working fine:

http://jsfiddle.net/ytcqN/123/

As soon as i add required properties under link list, the first link breaks and shows up the array instead of form elements. Here is an example where linklist does not work for one of the lanes when required is added:

http://

[2018-07-15 07:40] niebert commented on #52
You can also start from a JSON of your choice and create a JSON Schema for the JSON Editor by https://niebert.github.io/JSON2Schema . The `JSON2Schema` Tool used the JSON Editor developed by Jeremy Dorn to create the JSON Schema and finally you see the look of the JSON Editor in https://niebert.github.io/JSON2Schema . Because a JSON Schema is JSON too you might find the workflow from JSON to a JSO

[2018-07-15 14:45] ctaity opened #136 "Better Upload Files"
Hi, is possible integrate jQuery-File-Upload (https://github.com/blueimp/jQuery-File-Upload) to have better file upload. Can you send me a guide to implement? Thanks

[2018-07-15 16:25] ctaity opened #137 "Select Field Remote Options"
Is a way to use a selectize or select2 to load values from remote url ?

[2018-07-16 00:32] roypardi opened #138 ""class" property not supported aside from "links"?"
The documentation page has this example:
[code]

I could not get the `class` property to be recognized by any other elements and from looking over the source code, it looks like it just isn't implemented.

Can anyone confirm this? – maybe I am reading the code wrong.

[2018-07-16 06:12] schmunk42 commented on #136
We won't support another lib in the core, but I think it should be feasible to integrate other uploaders like so: https://github.com/json-editor/json-editor/issues/111#issuecomment-400331222

[2018-07-16 06:12] #136 closed

[2018-07-16 07:10] germanbisurgi commented on #120
this issue can be closed

[2018-07-16 07:11] #120 closed

[2018-07-16 21:01] mrehder opened #139 "oneOf for "required" doesn't display properly"
### Expected behavior
Given a oneOf on the required part of an object definition:

 "Resource": {
      "type": "object",
      "oneOf": [
        {
          "required": [
            "FConfiguration"
          ]
        },
        {
          "required": [
            "QConfiguration"
          ]
        },
        {
          "required": [
            "TConfiguration"
          ]
        },

[2018-07-16 21:41] mrehder opened #140 "pattern of greater than 35 chars doesn't display properly"
### Expected behavior
GIven this variant in the pattern of a string
   "IDs": {
      "type": "array",

      "items": {
        "type": "string",
        "anyOf": [
          {
            "pattern": "^x$"
          },
          {
            "pattern": "123456789012345678901234567890123456"
          }
        ]
      },
      "minItems": 1,
      "description": "some description.",
      "uniqu

[2018-07-17 19:07] TheFlashYoda opened #142 "Ability to embed the index of an array's item in one (or more) of that item's field?"
I know that I can access the index of array's item by using the following code which auto labels that element's button in the editor:

  "items": {
    "title": "Cell",
    "id": "arr_item",
    "index": "i",
    "headerTemplate": "<%= i %>: <%= self.type %>",

But what I really want and need to do is embed that item's index value into one of it's fields. For example, an array of buttons - each bu

[2018-07-18 12:32] germanbisurgi commented on #133
I think we can close this problem if we agree that it is a feature.

[2018-07-18 12:40] vrockai commented on #133
Personally, I don't really care if it's a feature or a bug, because my priority is having this working as I described in "expected behavior". In the worst case I would need to fork this and implement it myself in the future or switch to a different json editor lib. One way or another, your analysis would really help me once I get to this fix, thank you very much!

In other words. If this is a feat

[2018-07-18 13:00] Radouch opened #143 ""required" prevents correct validation of numbers"
### Expected behavior
`minimum` and `maximum` values for types `number` and `integer` in JSON schema should be respected.

### Actual behavior
If another property is defined as `required`, validation for `minimum` and `maximum` does not work

### Steps to reproduce the behavior

1. Create JSON schema
[code]

2. Load it to the editor, e.g. at https://json-editor.github.io/json-editor/

3. You can e

[2018-07-19 08:33] Radouch commented on #143
There is workaround for problems (see also #130) with required:
Instead of
`required: ["name"]`
(see the example above)
you can use":
[code]
But I am afraid this workaround may work with this editor only.

[2018-07-19 15:47] Zakaria59 opened #144 "Generate collection type "map""
I'm doing tests with this library to find out if it suits my project.
I have java classes quite complex, so I developed a little JsonSchema generator.
I can generate all the types I need except the map.
I need a result like this with the possibility to add key / value:
"map": {
     "value1": {
       "color": "blue",
       "status": "ok"
     }
     "value2": {
       "color": "blue",
       "st

[2018-07-20 12:12] schmunk42 commented on #144
Since map is an object (in JSON) it looks like you'd need to define all possible values - which does not really work, I assume.

There's even no add/delete functionality for object, like there is for arrays. While you can add properties, I think you are looking for adding a (sub-)object with a specific data structure.

Is there something in JSON-schema about that?

[2018-07-20 14:37] germanbisurgi commented on #143
Good catch. Fix coming soon. Thanx

[2018-07-20 15:29] Radouch opened #146 "Only first item in an array respects its type defined by JSON schema"
### Expected behavior
All items in an array should respect definition in `item` property of array definition in JSON schema,

### Actual behavior
Only the first item respects its type defined in `item`. Second and other items "pretend" not to have any type defined.

### Steps to reproduce the behavior
1. Create JSON schema:
[code]
2. Load it to the editor, e.g. at https://json-editor.github.io/jso

[2018-07-20 15:37] Radouch commented on #146
Actually, it seems to be my misunderstanding of JSON schema. Correct schema should be:

[code]
`items` must be an object, not an array in this case.
Sorry. :-)

[2018-07-20 15:37] #146 closed

[2018-07-22 09:50] Zakaria59 commented on #144
it's exactly what i want, but this functionality doesn't seem to exist.
I would like to know if there is something planned for that?

[2018-07-23 15:37] Zakaria59 commented on #144
I don't know the technical constraints but my first idea would be to do something like this:

 "pets": {
      "type": "map",
      "title": "map of pets",
      "key": {
        "type": "string",
      },
      "value": {
        "type": "object",
        "title": "Pet",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "cat",

[2018-07-23 15:54] schmunk42 commented on #144
Would be great if you could find an example at https://github.com/json-schema-org/json-schema-spec or http://json-schema.org/

[2018-07-23 18:35] sriks316 commented on #135
Hello, can someone review my schema if verify if it's an issue on my end?

[2018-07-23 23:39] dom-devel opened #148 "Removing labels from buttons and only using icons"
I'm wondering if it's possible to display only the icons as and not the text as specified in the [original icon issue](https://github.com/jdorn/json-editor/issues/65), for creating and removing object and array entries.

Currently the JSON below will generate the following buttons:

![image](https://user-images.githubusercontent.com/8628008/43108436-b6aa3fe4-8ed9-11e8-81f6-0ee57e6d4e5f.png)

I can

[2018-07-24 06:09] schmunk42 commented on #148
We have the same requirement and we're working on that.

[2018-07-24 19:15] dom-devel commented on #148
Thanks for the update, I will continue with some questionable workarounds or manage to convince my designer that we might have to compromise. Thanks for the excellent library!

[2018-07-24 19:44] dom-devel opened #149 "Creating a dependent enum from another enum/list"
**What I'm trying to do?**

I'm trying to set enum to an array of values based on the single value of an existing field (also an enum).

![image](https://user-images.githubusercontent.com/8628008/43161236-70ff3d86-8f7f-11e8-952c-c9537ed6a7ce.png)

**Method 1**
The suggested method in the documentation  is to use `enumSource` to set the values. But it seems like when you have set `source` in enumSo

[2018-07-25 07:57] Richacinas commented on #128
Just a workaround so everyone is able to use this feature properly until it is fixed.

Add this to each one of your elements that will be available to choose from:

"additionalProperties": false

Put it after the title property, for example. It should work.

[2018-07-25 11:38] wclssdn commented on #128
thanks @Richacinas , but it doesn't work well..

1. open [schema after add additionalProperties](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QEMB2BPA9gMwAQCNkATAY2QGd4AaFIoqCTVZaABQCdMAHWdyWcomwtKNMOh6IQmfACtYJMCBpdOPPhAGJQUWAFtBCUJBjwkJuMtr1ITFh269+h4dFHgJZlO3bJ0V7Ex2PWQlc2R8QRpdA21wKEskGKtiG0ZmNjUnTRcRWBoAC1hiXgAVfS5oUK9gYEpobAA6ArQiOHYAXw6rbltUQ1AAa1hYLgB9JlgcMYA3FgBXLQRXSg

[2018-07-27 06:47] germanbisurgi commented on #148
Hi dom. I am working on it. My specification list so far:

- an option to display / hide button labels like -> `display_button_labels`
- hide "+ item" label. Displays only "+" icon
- hide "x item". display only "x"
- place buttons (add remove last, remove all) at the top to avoid moving it  when adding items

Open questions:
- remove last and remove all use the same icon. Should i leave this label

[2018-07-27 08:50] Zalasanjay commented on #14
i am also facing same issue. if there is any documentation that explain how to implement validation.
and is there any way to highlight manually catched error on json-editor using editor object.

[2018-07-27 10:37] dom-devel commented on #148
`remove all` could possibly work as a bin icon? I think I would possibly switch that to a bin and leave the rest as crosses?

Personal preference, but I actually don't like `remove last`. To my mind it just duplicated and clutters considering there is already an inline delete button, so I just hid it and rely on the other buttons.

![image](https://user-images.githubusercontent.com/8628008/4331617

[2018-07-27 19:08] brendalynharper34 opened #154 "Fields not autopopulating from previous fields when using exact index.html from json-editor/docs/index.html"
### Expected behavior
(Working mainly in Django) Ok so strange thing or maybe I'm implementing it wrong but I wanted to see if I can easily incorporate the exact index.html page into my own site. I simply copied the entire json-editor's index.html (json-editor/docs/index.html) and pasted it into an empty index.html file in my site's template directory. I was expecting it to behave similar to the h

[2018-07-28 12:29] germanbisurgi commented on #154
Add the "object properties required by default" option

[2018-07-29 20:51] dom-devel commented on #149
Ok so I spent some time writing up a pretty nasty workaround for this:

I already have a static JSON file on the page I can set to the source for the static list, so I added a filter option to the static list which takes the parent category and uses that value to filter the static.

My JS is not good so it ain't pretty.
[code]

[2018-08-02 23:43] brendalynharper34 commented on #154
Ok that takes care of the properties displaying but the schema is still missing the template attribute for the fields that are to be populated based on previous fields. Please correct me if I'm wrong but once the page opens, the default schema object is passed through the new JSONEditor object but if I have an attribute with template tags( ex: ```{{city}}, {{state}}```), the template will not stri

[2018-08-03 10:53] rwattogl opened #155 "Required fields within array of object"
### Expected behavior
Required fields should validate within an array 'items' object.

### Actual behavior
Validation does not occur

### Steps to reproduce the behavior
Schema as shown;
[code]

All fields for each item should be required, however they can be blank and validation reports no issues. The above schema validates array items correctly at https://www.jsonschemavalidator.net/ so there sh

[2018-08-03 11:13] wclssdn commented on #128
help....

[2018-08-06 17:16] sriks316 commented on #135
@germanbisurgi .. Could you please take a look at the jsfiddle example and help me out?

[2018-08-07 06:39] osharav commented on #127
To continue @trsh's good advice, here is a full example:

[code]

[2018-08-07 08:09] zhaozhao opened #156 "nested $ref definition can't be recognized"
### Expected behavior
nested JSON-pointer(`#/definitions/joke/Basic`) should behave as normal one-level pointer(`#/definitions/Basic`) , this should be valid json-schema ref(verifyed by https://www.jsonschemavalidator.net/ , [json-schema nested ref specification](http://json-schema.org/latest/relative-json-pointer.html))
### Actual behavior
![_cf58a2e2-b604-48eb-a14b-bd7b030beb9f](https://user-ima

[2018-08-07 16:16] Marshall-George opened #157 "Typescript Error - 'default.a is not a constructor'."
I am trying to get the json-editor alive and running with a simple Aurelia project.  I can get the project to run successfully, but when initializing the json-editor I'm getting:

" _json_editor_json_editor__WEBPACK_IMPORTED_MODULE_0___default.a is not a constructor"

Nothing really out of the ordinary with the code from what I can see.

import JSONEditor from "@json-editor/json-editor";

export c

[2018-08-07 16:33] germanbisurgi commented on #155
In the json-schema world required does not mean that some value must be set. It means that the value must be present (valid also if its empty).

What you need is "minLength", probably.

https://json-schema.org/understanding-json-schema/reference/object.html#required-properties

[2018-08-07 18:45] germanbisurgi commented on #128
you have to specify the type of values:

`"handler": {
								"default": "aaa",
								"type": "string"
							}`

Then it will work :)

[2018-08-07 18:58] germanbisurgi commented on #135
Hi srik, i saw and i understood very little, There where also some weird behaviors lke every time i add an item the item looks different from the last one and so on.

I am on holidays at the time of writing but if you could make an example on the interactive page of this repository i will glad to spend some time on it :)

[2018-08-07 19:16] marc7000 commented on #157
I don't know if its a TypeScript problem but maybe this can help https://github.com/json-editor/json-editor/issues/127#issuecomment-403033432

[2018-08-07 19:25] #143 closed

[2018-08-07 19:50] germanbisurgi commented on #156
for technical reasons, definitions are always located under an object call definitions.

you can do it like this

`{
  "$ref": "#/definitions/joke/definitions/Basic",
  "title": "Basic",
  "definitions": {
    "joke": {
"definitions": {
      "Basic": {
        "type": "object",
        "properties": {
          "test": {
            "type": "string"
          }
        }
      }
    }
  }
  }
}`

[2018-08-07 19:57] marc7000 commented on #137
You can configure the plugins via `JSONEditor.plugins`
[code]
https://select2.org/data-sources/ajax
Maybe this could work i haven't tested yet:
[code]
It's a bit more complex for the selectize plugin, see section "loading remote data":
http://selectize.github.io/selectize.js/

[2018-08-07 20:09] germanbisurgi commented on #139
can you please make an example of what you are trying to achieve on the interactive page?

[2018-08-07 20:43] mrehder commented on #139
http://jeremydorn.com/json-editor/?schema=N4IgJAzgxgFgpgWwIYgFwhgF0wB1QenwCsIB7AOwFpp5kA6UgJwHN8ATRpAM00oAYALPhqIkAYhAAaEJgCeOOGhCkARkThRMU5eTgB5LmgDaoRnACOAVwCWZtsZAAxAMIUu15pc6ZrFEAF1pSFhRJSxcAmIyKhF6JlYObl5BYRDkCWk5BSVVdU1tHEZSBUYfOAg0UBc3Dy8kHz9UUCzFdFyNLWlC4rhS63LKkAAPQZalCExGa3JmbTZyqCmcBvIlABV4AAIWzdIuXYB3XUY6TYBBABsDpFkITYByAGVMJHI2JEY2e82uJm34CBwTbzdzkawrCB0EAAX1h0gAiq5yO5PN5fKsmjJ5K1lGoO

[2018-08-07 20:44] mrehder commented on #139
I copied an example in.

{
       "$schema": "http://json-schema.org/draft-04/schema#",
       "type": "object",
       "oneOf": [
              {
                     "required": [
                           "FConfiguration"
                     ]
              }, {
                     "required": [
                           "QConfiguration"
                     ]
              }
       ],

[2018-08-08 09:10] the-unsoul commented on #111
@marc7000

at original my upload handler was exactly like the example in `/docs/upload.html`

[code]

In short the upload process working as I wanted it to be.
BUT ONLY EXCEPT the part that I error message doesn't show when I wanted it to show `cbs.failure('Upload failed');`

[2018-08-08 10:14] marc7000 commented on #111
How looks your JSON Schema?
Do you have a property "upload_fail"? And if so, why?

[2018-08-09 07:01] the-unsoul commented on #111
@marc7000 ,
As said I was using the example in `/docs/upload.html`

So yes, my scheme is exactly like in the example, and I have that property (plus with some additional logic to check if the file is bigger than 500kb)

So here is my schema (same exact scheme in `/docs/upload.html`)
[code]

As to this question

It is to see if error message display or not, so I can put some custom error message.

[2018-08-09 15:20] marc7000 commented on #111
As you can see, the JSON-Editor upload example works as desired.
![json-editor-upload](https://user-images.githubusercontent.com/1118837/43908356-16ebce42-9bf8-11e8-9672-6b89e7fed39c.gif)

[2018-08-09 15:52] th784u opened #158 "Integration strategy for jQuery Builder?"
Looking for suggestion on the best way to integrate this capability into json-editor:

https://querybuilder.js.org/index.html#methods

I am uncertain if best course is:

a) Implement as new plugin;
b) New editor "type";
c) New format on string type, since the ultimate result of this product is an SQL-like "where clause" (string)

I am very new to json-editor, but love what I see so far. Not the mo

[2018-08-10 19:55] jeremy21212121 commented on #134
I would try making the API call before initializing the editor.

It would look similar to the example here: https://github.com/json-editor/json-editor/blob/6fc274970c7a67259e93258e67022fd0a3f14e45/tests/pages/advanced.html

In that example, "starting_value" is manually defined. Instead, store the result of the API call as "starting_value" then use that as the startval.

I hope that makes sense. I

[2018-08-13 14:56] niebert commented on #134
You can also initialize the JSON Editor without a starting value, that builds the editor in the DOM and then call the API call `editor.setValue(starting_value)` when the API call was successful.
[code]
When what to create the editor if and only if the API call was succesful use a promise.

[2018-08-13 21:20] theBull opened #159 "array element of type boolean with false value is defaulting to null when loading json into the editor via the setValue() method"
### Expected behavior
When I specify a property of `"type": "array"` in my schema, the editor correctly renders HTML controls to add items to that array. If my array allows various types (boolean, number, string, null), a `type` selection dropdown appears adjacent to the input field of each element in my array. If I want to create an array of booleans, I select `boolean` from the rendered type sel

[2018-08-14 08:52] germanbisurgi commented on #159
Hi theBull.

I  tested your scenario and you are right. The json-editor dont recognizes the type of the values very well when not explicitly specified. Its a feature that we could add or fix (i don know at the moment).

But i think i find a hack for this. Use the "setValue" 2 times. Try it and Tell me if that fixes the problem for you (at least temp)

[2018-08-14 12:34] AnirKulk opened #160 "Better validation error message"
### Expected behavior
The validation error message displays the fields that are causing the errors.

### Actual behavior
The validation error message simply indicates that the root node is in error.

### Steps to reproduce the behavior
Take the following schema and enter values for backup_name and volume_id fields and check the error message. The message should atleast highlight the schema path or

[2018-08-14 21:13] theBull commented on #159
Hey @germanbisurgi that worked! Thanks for your help. It's an odd one. I crawled through some of the (dist) code yesterday and it was tricky to debug, however, it appeared to be related to the `getDefault` method, where a default value for the editor (HTML) input element is determined. First it checks to see if the `default` property is present in the schema. If not, it chooses a default value bas

[2018-08-20 13:51] dima-starosud opened #162 "External ref does not contain a valid schema"
In short the issue is that lib doesn't expect `true`/`false` as a result of resolving `$ref`.
### Expected behavior
`$ref` is resolved correctly;
### Actual behavior
jsoneditor.js:624 Uncaught External ref does not contain a valid schema
### Steps to reproduce the behavior
[code]

[2018-08-20 15:39] daniel-dia opened #163 "Default properties are not visible for a json files without them."
### Expected behavior
Show default properties when load a data to the json-editor

### Actual behavior
Default properties are not shown when loading a JSON File, only for empty jsons.

### Steps to reproduce the behavior

I'm using JSON Editor to allow my users to edit an JSON.

Some properties are not required. but I wish to show this properties to the user.

for instance the fallowing schema:

[

[2018-08-23 08:51] lupu60 commented on #127
@trsh @osharav  thanks a lot!! 👍

[2018-08-30 07:26] RPOD opened #165 "The format of categories does not work in most themes"
### Expected behavior
Properly display the categories once clicked

### Actual behavior
Only the "Basics" tab is being displayed

### Steps to reproduce the behavior
This is how I initialize / populate the editor:
[code]

And this is my full schema:

[code]

[2018-09-03 11:57] sluc23 opened #166 "Choose which oneOf is used with startval"
This is following-up ticket, from old repo one: https://github.com/jdorn/json-editor/issues/795

Is there a way to choose which of a "oneOf" is used when using startval?

[2018-09-05 17:29] Richacinas commented on #128
@wclssdn You are right... What I could tell, from trying with a few different approaches, is that if you provide data with at least one more field that belongs only to each handler, the library will tell and assign a proper type on the select.

Like this:

{
  "items": [
    {
      "handler": "aaa",
      "___a": ""
    },
    {
      "handler": "bbb",
      "___b": ""
    },
    {
      "handler

[2018-09-06 03:03] wclssdn commented on #128
@Richacinas It doesn't work for more complex object...

[2018-09-06 03:06] wclssdn commented on #166
Duplicate of #128
Some way to resolve simple forms

[2018-09-06 08:56] mangowr opened #167 "How do I set the value of an enumeration type"
I want to update the value of the select in the code, but the setValue () function is invalid.

[code]

[code]

Could you tell me the correct way to use it? Thank you!

[2018-09-06 09:37] soraiyu commented on #167
Hi, I use json-editor.
`editor.setValue` function is update function for value. Not schema. I think you want update `schema`.
When I update `schema`, I change `schema` and new JsonEditor again.

[2018-09-06 10:06] soraiyu commented on #167
i make sample for @mangowr
HTML
[code]

JavaScript
[code]

and, sample in jsfiddle https://jsfiddle.net/soraiyu/rmynkfwz/
thank you.

[2018-09-09 12:43] rikki78 opened #168 "Edit local files"
Hello
I would like to use this editor to edit files which are on a raspberry pi locally.
Did someone perhaps made such a page before? Thanks in advance

[2018-09-10 03:30] schmunk42 commented on #168
I think that's not in the scope of this project, it's a more general question - there are many ways to do it.

[2018-09-10 03:30] #168 closed

[2018-09-11 02:11] mangowr commented on #167
Sorry, I just saw your reply today.Thank you  for your help. @soraiyu. It's very helpful for me!

[2018-09-13 11:05] sluc23 commented on #166
ok @wclssdn , but doesn't work for complex objects..
maybe instead os using `startval` I will try with loading a json with `editor.setValue()`

[2018-09-18 17:06] pmk65 commented on #10
I just extended the string editor type, and added placeholder support like this:

[code]

[2018-09-19 08:29] pmk65 opened #169 "The "compact" option is missing from the documentation"
For each field, it's possible to set the option:
`"compact": true`

When this is set, the field label will not be added to the form. But this information is missing from the documentation.

### Steps to reproduce the behavior

[code]

[2018-09-20 07:10] pmk65 opened #170 "New editor"
I made my own custom editor format for display radio based star rating, and then I discovered that there was already such a format available :D

However, mine is a bit different than the default version:

Default rating format:
- Works with "integer" type, so only numeric values are allowed.
- CSS is injected by the editor, making it hard to modify.
- Placed directly after label, not on a new line

[2018-09-21 13:23] pmk65 opened #171 "Add support for setting field attributes from options"
From looking at the code, it's currently not possible to set form field attributes. (placeholder, readonly, min, max etc.)

How about extending the default editor.js with a new function that handles setting field attributes based on options?

Example:
[code]
And then add something like this to editor.js. Then you just need to call **this.setFieldAttributes()** to set the various field attributes.:

[2018-09-25 09:49] pmk65 commented on #155
The keyword "required" is a bit misleading IMHO. As it's not the "required" you (and most others) want, which is setting the "required" attribute on the fields.
Currently, there's no way to set the "required" field attribute directly from the schema, so you will have to do it from JavaScript.

Example:
[code]

[2018-09-25 18:08] schmunk42 commented on #155
I am going to close this, please let us know if there's still an issue.

[2018-09-25 18:08] #155 closed

[2018-09-25 20:00] pmk65 commented on #102
You can extend the integer editor so that it changes the timestamp into a string for use in a "date" input field. (If you also need to be able to set the time, you could use the "datetime-local" (but it doesn't work in all browsers yet), or add an external date picker.

[code]

[2018-09-27 10:20] wclssdn commented on #166
if you reslove this, please tell me~ thanks~

[2018-10-01 09:44] pmk65 commented on #63
You don't need to apply classes in order to restyle the form. You can use the "data-schemapath" attribute to select the various parts. Example (Look at the bottom of the CSS): https://codepen.io/pmk/pen/KxbNMo
Another option is to create a custom theme. That way you have control over most of the output.

[2018-10-02 12:59] #25 closed

[2018-10-02 15:09] pmk65 commented on #14
https://github.com/json-editor/json-editor#custom-validation

[2018-10-03 18:34] #170 closed

[2018-10-03 18:41] pmk65 commented on #155
Is there a reason why it's currently not possible to set the "required" attribute on input fields from within the schema?

[2018-10-03 20:57] schmunk42 commented on #155
@pmk65 What do you mean exactly, can you provide an example?

[2018-10-04 13:35] pmk65 commented on #155
@schmunk42

All HTML input elements (input, textarea & select) supports various attributes, such as the "readonly" and "placeholder" attribute. (See #171)
So if "readonly" is set on the input field, it's not possible to submit the form until the field have been filled out.

### Expected behavior
`<input readonly="true" name="root[ronly]" type="text" required placeholder="Placeholder text">`

### A

[2018-10-04 13:52] schmunk42 commented on #155
You can set the `required` property for a property, but this is connected to json-schema's `required`, which means that the key exists in the JSON.

@germanbisurgi Could you have a look at the part for the atttributes `required placeholder="Placeholder text"` - pleas open a new issue, if needed.

[2018-10-04 14:02] germanbisurgi opened #175 "set HTML input attributes through options"
From #155

[2018-10-04 21:18] patrikom opened #177 "Checkbox on Materialize v1.0.0 not working"
There is a problem with checkbox and newest materialize css version 1.0.0. The box in the left side on label is not showing.
The problem is in src\themes\materialize.js:
        // Checkboxes get wrapped in p elements.
        if (type && type === 'checkbox') {
            ctrl = document.createElement('p');
            ctrl.appendChild(input);
            if (label) {
                label.setAtt

[2018-10-04 21:49] eduo opened #178 "Json Editor used to build Json Schema"
Hello.

I know this is irregular but I'm sure some time ago I saw an interesting implementation of json-editor that was used to build json-schema that could be loaded into json-editor.

I can't find this "json-schema builder" based on json-editor. Do you know if I imagined it or if it exists?

It looked like the online editor, but you could add and remove different types of fields that would in tu

[2018-10-05 06:55] patrikom commented on #177
I resolved this by changing code (locally):

if (type && type === 'checkbox') {

            ctrl = document.createElement('p');
            if (label) {
                var span = document.createElement('span');
                span.innerHTML = label.innerHTML;
                label.innerHTML = '';
                ctrl.appendChild(label);
                label.appendChild(input);

[2018-10-05 07:28] pmk65 commented on #178
One of these?
https://niebert.github.io/JSON2Schema/
http://json.bootsphp.com/jsonSchemaCreator/

[2018-10-05 08:06] pmk65 commented on #47
Not event data, but you could modify the "change" and "onChange" functions of the editor to something like this:

[code]
Then you have access the the path of the field changed inside the "change" function.
And then you can access the field using "this.jsoneditor.getEditor(path);"

[2018-10-05 10:43] pmk65 commented on #47
You could use the "watch" handler to watch all fields, like this:

[code]

[2018-10-05 12:10] germanbisurgi commented on #47
There is no event wich says wich editor changed. But single editors can be watched. pmk65 described a good solution for that

[2018-10-06 09:07] pmk65 opened #179 "Version number is missing from dist files"
According to CONTRIBUTING.md, there should be a version number in the dist file after an update.

### Expected behavior
[code]
### Actual behavior
[code]
### Steps to reproduce the behavior

[code]

[2018-10-08 10:05] pmk65 commented on #102
This issue can be closed, as #176 enables support for dates in integer (epoch time) format.

[2018-10-08 10:10] #102 closed

[2018-10-08 21:14] pmk65 opened #180 "Clone Wiki from original repo"
Suggestion:
Clone the [Wiki ](https://github.com/jdorn/json-editor/wiki) from the original repo, so it can be updated with information regarding the current version. That would help to keep the issues section cleaner.

[2018-10-09 07:08] adiramardiani opened #182 "Add feature to custom label and value for enum properties"
Nice json editor !

For enum properties like :
[code]
Will generate this html

[code]
Can this plugin to add feature to handle like this :

[code]
to generate like this :

[code]

[2018-10-09 11:09] pmk65 commented on #177
@patrikom Your fix looks good. You might also want to update "docs/materialize_css.html", as it uses old versions of materialize css and js.

[2018-10-09 12:38] adiramardiani commented on #182
Oh nice, sorry i'm not complete read all wiki

[2018-10-09 12:38] #182 closed

[2018-10-10 11:10] pmk65 commented on #165
Doesn't seem to work in most themes. Here's a list:

| Theme       | Tab status | Comments                                                                     |
|-------------|:----------:|------------------------------------------------------------------------------|
| Barebones   |      ✓     | Works, but styling looks ugly                                                             |
| HTML

[2018-10-10 16:08] monxu-rp opened #184 "oneOf - Failed to match exactly one schema"
Hi,

I have the following jsonschema:
[code]

When I'm trying to validate it it always give me the same error:
[code]

I have tried to search about that error but I couldn't find anything.

Any reason why this happen? What I'm doing wrong?

Thanks in advance.

[2018-10-12 01:57] pmk65 commented on #133
@vrockai You don't need to create a custom fork. Just override the sanitize function for integers, like this:
[code]
Then it wil return the original value back (same as it does for strings)

[2018-10-12 02:05] pmk65 commented on #165
See also #121

[2018-10-12 02:06] pmk65 commented on #101
This issue seems to have been fixed.

[2018-10-12 06:30] schmunk42 commented on #128
@pmk65 Thank you for reporting!

[2018-10-12 06:30] #128 closed

[2018-10-12 06:32] schmunk42 commented on #133
@germanbisurgi Can you add this as an example to the docs.

[2018-10-12 09:29] pmk65 commented on #47
This issue can be closed. I have added the above JavaScript snippet to the docs in a previous commit.

[2018-10-12 10:02] pmk65 commented on #133
It is also possible to override it for a specific path/field, like this:

[code]

[2018-10-12 11:34] #47 closed

[2018-10-13 00:07] pmk65 commented on #59
@rejemy Sounds like an interesting feature. Please submit a pull request.

[2018-10-13 12:28] pmk65 opened #185 "Setting option "compact" to true on array type, results in JavaScript error: "TypeError: this.title_controls is undefined""
### Expected behavior

Show array type with less info (label/header, description)

Note:The demo page won't allow me to save a direct link when "compact" is set to true. So I had to set it to false in order to create this [direct link](http://jeremydorn.com/json-editor/?schema=N4IgLglmA2CmIC4QBMCGZaQLawAS2SgHsAnfAD1SwAc4BnEAGhAmUXFjrCfAE9r4SIgCMAVrADG3ZgDNSWdOwDmJVjyLVIRAHYMEoQnVTC4AfQJRToujsQzU0O

[2018-10-13 13:05] pmk65 commented on #127
Looks like this have been fixed in #161

[2018-10-13 13:30] pmk65 commented on #154
The double curly braces are part of [Django Template Language](https://docs.djangoproject.com/en/2.1/ref/templates/language/), so most likely there's a conflict there.
Maybe you can escape the template markers?

[2018-10-13 19:13] pmk65 commented on #142
@TheFlashYoda Could you supply a full scheme example of what you do currently?

[2018-10-13 21:32] pmk65 commented on #184
@monxu-rp
1) The "minProperties. 1", gives an error since no properties are selected at start.
2) The "default: null" on the question properties will make all valid, which is invalid as your scheme is set to "oneOf".
Get rid of or change those properties, and it should work.

[2018-10-14 10:16] marc7000 commented on #131
@pmk65 Thank you for reporting!

[2018-10-15 04:09] #184 closed

[2018-10-15 05:09] #127 closed

[2018-10-15 12:29] pmk65 commented on #185
The issue can be closed.

[2018-10-15 12:29] pmk65 commented on #30
The issue can be closed.

[2018-10-15 13:09] marc7000 commented on #30
Fixed in https://github.com/json-editor/json-editor/pull/186

[2018-10-15 13:09] #30 closed

[2018-10-15 13:09] marc7000 commented on #185
Fixed in https://github.com/json-editor/json-editor/pull/186

[2018-10-15 13:09] #185 closed

[2018-10-16 13:39] Radouch commented on #131
I have to disagree.
The release mentioned by @pmk65 does not seem to be the current release (it loads this:
http://jeremydorn.com/json-editor/dist/jsoneditor.min.js.php )
Still the same problem with this version:
https://cdn.jsdelivr.net/npm/@json-editor/json-editor@1.1.0/dist/jsoneditor.js

[2018-10-16 18:45] schmunk42 commented on #131
@Radouch I also can not reproduce - see https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAacAlmADZyICiATpUpfAAQAKNslYBMAzvQHZJj0AJl0wEUMQfQI96nTAAsYAWwCG9TCoCunGPRjVaeEMLmUCUdkh4IQAYUowVYXXMWr6AM1r0ruqC31IXHowRRkVQUkVPlD9Hx44fAjBIgIrFWJmJFZ2LgQwSk0YfAcAR00CB0EEAG0QHhUlOABdfH9swI5OBFAGpp7waDIQTgLpAHMjdhJhvrgAX0WgA=&value=N4IgdghgtgpiBcIQBoQDMD2GEgEYQCcQBfIAAA==&prompt_bef

[2018-10-17 10:15] Radouch commented on #131
I can confirm it works OK with the editor at  https://json-editor.github.io/json-editor (cannot send direct link - URL too long - my scheme is a bit complicated :-) ).

Unfortunatelly, there is still the same error (TypeError: Cannot convert undefined or null to object) at my local version of the editor, although I use the same version of the editor (https://cdn.jsdelivr.net/npm/@json-editor/json-

[2018-10-17 10:19] s-a commented on #40
`import '@json-editor/json-editor'` resolves to object instead of function. I guess there is missing something like an AMD loader in there. Any news on this thread?

[2018-10-17 12:03] Radouch commented on #131
See https://jsfiddle.net/9kcyL7g3/1/ (look at the browser console, too).
There is a problem with an option:
`remove_empty_properties: true`

[2018-10-17 13:01] schmunk42 commented on #131
@germanbisurgi Can you take a look?

[2018-10-17 19:43] marc7000 commented on #40
Use `import JSONEditor from '@json-editor/json-editor'` works with Vue.js and Angular 2.

[2018-10-17 20:56] MahendraBalu opened #188 "How to differnitate error ands warning in errors arrays"
### Expected behavior
we have error as type "error" and "warning". if error is type "error" then display in "red" if error type is "warning" then display in "blue"

### Actual behavior
all errors are display in "red"

### Steps to reproduce the behavior

[code]

[2018-10-18 12:59] pmk65 commented on #188
@MahendraBalu All errors are displayed in the same way. There's no error/warning difference.
Which errors do you classify as errors and which as warnings?

A "quick'n'dirty" way to do it, would be to modify the language variables. So that the ones you want to be displayed in blue, is wrapped in a custom class.  But then you will have to modify the theme you use, so that it uses **innerHTML** inste

[2018-10-18 13:42] pmk65 commented on #116
@freddupont What theme are you using?

[2018-10-18 14:44] pmk65 commented on #131
@Radouch I added an extra check to test if the value is really an object before deleting (Seems like null values falls through the current check.)

[2018-10-18 18:32] MahendraBalu commented on #188
We have some errors and warnings in server side business validation. We are storing in json as follows
"messages": [
      {
        "text": "The efast value has been copied to the etast value.",
        "type": "WARNING",
        "location": "maintenanceAction.maintActionDetails.emaSegment[0].zonSegment[0]"
      },
      {
        "text": "Reporting Station Code REP is invalid.",
        "type":

[2018-10-19 08:16] pmk65 commented on #188
You could either use the method I outlined previously, or you can look at the "showValidationErrors" function in the editors. (That's the function that passes the error messages to the "theme.addInputError" function. Which is the one that displays the error message. )

[2018-10-19 08:19] pmk65 commented on #131
@Radouch  can you test and see if my fix worked for you? Then we can close this issue.

[2018-10-19 08:20] pmk65 commented on #123
This issue can be closed.

[2018-10-19 08:46] #123 closed

[2018-10-19 09:03] Radouch commented on #131
@pmk65 I have built dist files locally and it works ok. The issue can be closed. Thank you!

[2018-10-19 09:33] #131 closed

[2018-10-19 15:34] MahendraBalu commented on #188
Thank you for your help...
is there any way to display  no. of errors count besides each parent node?
example :
errors object have following entry
1) path : "root.aevSegment.rep" text:"Invalid Reporting Station"
2) path : "root.evcSegment.ars"  text:"Invalid Code"

I would like to display following on UI
root (No. of errors = 2)
aevSegment (No. of Errors = 1)
evcSegment (No. of Errors = 2)

Let me

[2018-10-19 22:08] pmk65 commented on #188
@MahendraBalu Currently only the message text is passed to the "theme.addInputError" function.
So you will have to modify the "showValidationErrors" function of each editor if you want the error count passed on too.

[2018-10-22 20:07] MahendraBalu commented on #188
Can you please provide some sample how to modify "showValidationErrors" method?

[2018-10-22 21:42] MahendraBalu opened #194 "How to get focus on particular UI element on page"
I would like to  focus particular UI element on Page Load

[2018-10-22 22:22] pmk65 commented on #188
@MahendraBalu Take a look at "src/editors/string.js". You'll find the "showValidationErrors" function there.
This function filters the errors based on the field path. So the resulting "message" array contains all the errors for the current field. Then it calls the theme function "addInputError" to display the error on screen.
You will have to modify those 2 functions to suit your needs.

[2018-10-22 22:54] pmk65 commented on #194
[code]

[2018-10-23 08:44] pmk65 commented on #180
@schmunk42 I think you just have to turn on the wiki on this repo and then do a pull of the original repo.
Then just move the files to the new wiki repo and commit it.

[2018-10-23 08:45] pmk65 commented on #177
The issue can be closed.

[2018-10-23 08:46] schmunk42 commented on #180
Should we continue to use the wiki or just move them to a `docs` folder (or separate repo)?
I often find the wikis on GitHub to be not much recognized by users.

[2018-10-23 08:52] pmk65 commented on #180
True. But it makes it very easy to move questions/answers etc. from the issue tracker into the Wiki.
And we can just make references to the Wiki in answers. (The README.MD already refers to the (non-existent) Wiki. 🤣

[2018-10-23 09:04] schmunk42 commented on #180
I've just enabled the Wiki ;)

[2018-10-23 09:36] pmk65 commented on #180
@schmunk42 I just moved the wiki files from the old repo into the wiki. So I guess we can close this now.

[2018-10-23 09:43] pmk65 commented on #105
@schmunk42 Has this been implemented in #124? If so the issue can be closed.

[2018-10-23 09:44] pmk65 commented on #79
@schmunk42 Has this been implemented in #106? If so the issue can be closed.

[2018-10-23 09:54] pmk65 commented on #178
Added info to Wiki.

[2018-10-23 09:54] #178 closed

[2018-10-23 09:54] pmk65 commented on #52
Added info to Wiki.

[2018-10-23 09:54] #52 closed

[2018-10-23 10:17] schmunk42 commented on #105
I think so.

@germanbisurgi @marc7000 Please raise your voice, if not.

[2018-10-23 10:17] #105 closed

[2018-10-23 10:48] pmk65 commented on #175
Also see #171

[2018-10-23 11:03] germanbisurgi commented on #105
implemented, yes  :)

Am Di., 23. Okt. 2018 um 12:17 Uhr schrieb Tobias Munk <
notifications@github.com>:

[2018-10-23 11:12] germanbisurgi commented on #79
The SCEditor is in the json-editor/tests/codeceptjs/editors/string-test.js
in an @optional test scenario.
It proves that it breaks but does not block the CI.

At line 92 there is a comment ->

// the last 2 tests will fail because Sceditors iframes loose their content
when the iframe is reloaded.

Am Di., 23. Okt. 2018 um 11:45 Uhr schrieb Peter Klein <
notifications@github.com>:

[2018-10-23 12:18] pmk65 commented on #140
@mrehder @schmunk42 @marc7000 @germanbisurgi
I have pinpointed the problem to the "getDisplayText" function in "src/editor.js":

[code]

Doing a JSON.stringify on the el object with a pattern of 35 characters gives exactly the length 50. This also explains why the 2nd option gets the value "type".

I'm not sure why there is this 50 character limit (Don't want to change it if it breaks other functi

[2018-10-23 12:43] pmk65 commented on #63
Info added to wiki

[2018-10-23 12:43] #63 closed

[2018-10-23 12:44] pmk65 commented on #138
Styling Info added to wiki

[2018-10-23 12:44] #138 closed

[2018-10-23 13:03] #180 closed

[2018-10-23 16:21] beedjees opened #195 "Use htmlClass on Section"
### Expected behavior
Generate "div" section with specific class name, like this :
[code]

### Actual behavior
[code]

### Steps to reproduce the behavior

[code]

[2018-10-24 07:12] s-a commented on #40
This does ironically work in react development but not in production build. I use `node node_modules/react-scripts/bin/react-scripts.js build` to build react app for production deplyoment.

[2018-10-24 07:20] schmunk42 commented on #40
@crisu83 Can you shed some light on this? (since you're working a lot with react)

[2018-10-24 07:29] crisu83 commented on #40
@schmunk42 looking at the code it seems that this editor uses jQuery and DOM manipulation, and usually React doesn’t play very nice with DOM manipulation, so I’m not sure.

[2018-10-24 08:17] schmunk42 commented on #40
@crisu83 Thank you for the feedback!

[2018-10-28 09:38] niebert commented on #180
The Github-Wiki will be more recognized by users, if you add a link in the README.md and explain, how the users should use it.  Some users of JSONEditor library do not create  a fork and will not dig into the code to improve parts of the sources code. Nevertheless they might have issues for the software design, which can be regarded as major milestone in the software development. So the workflow w

[2018-10-29 08:19] schmunk42 commented on #180
Thank you very much for your input!

btw: Could you point me to the source-code or implementation of JSON2Schema, I didn't find it :)

[2018-10-29 12:54] pmk65 commented on #180
Check the Wiki! 🤣
When I uploaded Wiki files, I added links to the 2 Schema creators.

https://github.com/niebert/JSON2Schema

[2018-10-30 13:45] pmk65 commented on #179
Shouldn't the "{{ VERSION }}" marker be substituted with current version during the build process?

[2018-10-30 14:10] marc7000 commented on #179
Yes, it should.
When i test this task it works, but when i run "npm version 1.2.0", which then executes the "preversion", "version" (do the string replace) & "postversion" script in "packages.json", it doesn't work.
I will fix it as soon as possible.

[2018-11-01 13:54] pmk65 commented on #140
If there are no objections, I'll go ahead and fix this by increasing the 50 value to 150.

[2018-11-01 14:18] pmk65 opened #203 "Restructuring files"
Restructuring the editor files.
I added a [Contributing Use-cases](https://github.com/json-editor/json-editor/wiki/Restructuring-files---Making-it-easier-to-do-custom-builds)

[2018-11-01 15:50] mlutken opened #204 "Support for CKEditor"
Thanks a lot for this json editor.
We are using it a lot and it really helps us.

This a request to either implement support for the CKEditor or directions how to do it.

[2018-11-02 10:45] pmk65 commented on #204
There's already support for another WYSIWYG editor [SCEditor](https://www.sceditor.com/). So you probably will have to create a CKEditor implementation yourself.
Try looking at how SCEditor is implemented in src/strings.js. Also look at the wiki on how to extend/create JSON-Editor editors.

[2018-11-03 16:20] Digicrat opened #205 "Materialize Theme Glitches with Default Values & Range"
### Expected behavior
Labels should not overlap form elements.

### Actual behavior
If a default value is specified for any type that evaluates to a text input (string, number, etc.), the label overlaps the input field when using the Materialize theme.

This also applies when using the 'range' number format, even without a default value being specified.

### Analysis / Workaround
The 'active' clas

[2018-11-05 14:49] schmunk42 commented on #203
Yeah, I think this would be nice. There should also be better formatting and following conventions of https://standardjs.com/

PS: Shouldn't actually the wiki page be the description of this issue?

[2018-11-05 14:51] schmunk42 commented on #140
I think the value could be even higher, like 500. I don't know about issues with large patterns.

CC: @marc7000 @jdorn

[2018-11-05 15:02] mrehder commented on #140
I agree is must be large.
A regexp pattern for something like an ipv4/ipv6 address is quite large.

Thanks
Mike

From: Tobias Munk [mailto:notifications@github.com]
Sent: Monday, November 5, 2018 9:51 AM
To: json-editor/json-editor <json-editor@noreply.github.com>
Cc: Michael Rehder <Michael.Rehder@Amdocs.com>; Mention <mention@noreply.github.com>
Subject: Re: [json-editor/json-editor] pattern of

[2018-11-05 15:06] schmunk42 commented on #204
Here's an example how we're using CKEditor in Yii2 widgets:
https://github.com/dmstr/yii2-widgets2-module/blob/release/2.x/src/assets/web/widgets-init.js

[2018-11-05 18:54] pmk65 commented on #140
Ok. I have changed the 50 character limit to 500 now.

[2018-11-05 19:02] #140 closed

[2018-11-05 19:04] pmk65 commented on #205
@Digicrat The rendering of Materialize components is handled by the "JSONEditor.defaults.themes.materialize" class. (Located in the file "src/themes/materialize.js")
Inside this (and other [themes](https://github.com/json-editor/json-editor/wiki#theme-srcthemejs)), you'll find various functions for creating the components.

You can try modifying this, and see if you can fix it (I don't use materia

[2018-11-05 20:02] pmk65 commented on #203
Sounds like a great idea.

Probably, but there was no reference /example I could use, so I was not sure how to approach this. :)
I have now added some text outlining how to build a custom dist. And what needs to be changed/modified from the current setup. (Add change it if you think it's wrong or you got some better ideas)

[2018-11-06 05:41] schmunk42 commented on #203
Ping @marc7000 @germanbisurgi

[2018-11-06 06:57] germanbisurgi commented on #203
we could use (ESLint)[https://eslint.org/] and define our conventions in a .json file

`{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": [ "error", "always" ],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["error", { "properties": "never"

[2018-11-06 07:58] andreasbourges opened #207 "proper way to send editors values via ajax"
Hi,

...is there any example on how to properly send the values from the editor via ajax to a backend server? I would like to send a serialized json structure, but in the end what is sent is:

Devices[0][IP]: 1.1.1.1
Devices[0][name]: test-1
Devices[0][description]: vla
Devices[1][IP]: 1.1.1.2
Devices[1][name]: test-2
Devices[1][description]: bla

instead of

{
    "Devices": [
        {

[2018-11-06 09:02] schmunk42 commented on #203
According to https://eslint.org/docs/user-guide/configuring - ecmaVersion: 5 is the current default - which one to pick here?

[2018-11-06 09:40] punit-kulal commented on #195
So is there a way to set the class attribute of any field

[2018-11-06 10:08] andreasbourges commented on #207
oh my god - I got a backend decoding issue here. Sorry for the noise...

[2018-11-06 10:08] #207 closed

[2018-11-06 10:21] pmk65 commented on #195
You can write a custom theme which sets custom classes on fields, or just use the "data-schemapath", like described in the wiki. [How to restyle form using CSS when there is no individual classes](https://github.com/json-editor/json-editor/wiki/How-to-restyle-form-using-CSS-when-there-is-no-individual-classes)

[2018-11-06 10:35] pmk65 commented on #203
Another thing that annoys me, is the use of "element.className", which is prone to errors. (Specially when using regex to test/remove classnames)
We should refactor that, and use ["element.classList"](https://developer.mozilla.org/en-US/docs/Web/API/Element/classList), which has methods for adding, removing and toggling separate class names.

Some examples from the current code:

[code]
Using "ele

[2018-11-06 10:37] schmunk42 commented on #203
Also we should think about merging the open PRs before https://github.com/json-editor/json-editor/pulls - if they are ready.

[2018-11-06 10:39] pmk65 commented on #203
5 matches the current code syntax, so that should be ok.

[2018-11-06 23:34] MahendraBalu opened #208 "How to display all fields from Schema when provided json does not all the field"
### Expected behavior
1. Schema have 2 fields with none of them are required.
2. JSON have 1 field
3. UI should display both the fields so that user can provide the value for the missing field in JSON.
### Actual behavior
UI is displaying only field provided in JSON.

[2018-11-07 01:44] lsc9 opened #209 "How to judge the end and start times"
### Expected behavior
"minimum":"{{start}}" don't invoke Start_time .
### Actual behavior

### Steps to reproduce the behavior

                 "Start_time":{
                    "type": "integer",
                    "format": "datetime-local",
                    "options": {
                        "grid_columns": 6,
                        "flatpickr": {
                            "wrap": tr

[2018-11-07 08:46] pmk65 commented on #209
@lsc9 I don't think you can use a watched field like that, as the "minimum" is part of the schema, and not based on your input value.
Instead, try watching the field from JavaScript using the onwatch function. Using that, you can manipulate the various fields much better. i.e.
1) Watch for changes in "End_time"
2) If change is detected, get the value from "Start_time" and compare it with "End_time

[2018-11-07 08:49] pmk65 commented on #208
Probably the same problem as in #163

[2018-11-07 16:05] pmk65 commented on #209
@lsc9  The "minimum" option just sets the "min" attribute on the input field. Currently, there's no way to modify that dynamically based on another field. (Unless you do it by JavaScript as I explained previously.)

But there are some [plugins](https://flatpickr.js.org/plugins/) available for Flatpickr, which can improve range inputs. Maybe installing one of those will solve your problem.

[2018-11-07 18:02] MahendraBalu commented on #208
Do we have any work around ??
Is there any plans to fix this bug?

[2018-11-07 18:18] schmunk42 commented on #208
I think they should (have to) be required. Which just requires the existence of a key, but not a value.

[2018-11-07 18:19] schmunk42 commented on #163
Should be required then, see also https://github.com/json-editor/json-editor/issues/208#issuecomment-436724763

[2018-11-07 18:35] MahendraBalu commented on #208
It is optional field as per the schema. If include in required than user has to provide the value.

[2018-11-07 19:10] schmunk42 commented on #208
It should save an empty string.

Can you post an example or demo-link.

https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIasAjgK4QsAmiA2iBwBDALbxCQgObiQAMyEA3LGiiwA+nSzRlTaTm7om2ukMi4mZMBhABdQiTRYyaSLGsJQwsYlBhS5EAwwFRxJJgMMOhUSMzwkADEuIIACIX1kgBkhFK94AF8JaR9iMkQQCBwwWGk0cNh5dmhGBAAmAFZCEQqIEXYRRABGAA5OoQAPHr7EAE5pgrlFZVUNLR0PEoCgkLDCWWURUzLNbVrCSB

[2018-11-08 10:07] pmk65 commented on #203
@marc7000 Is it possible to change the Gruntfile.js setup, so that the individual editors is not referenced by name, but just by the folder path?
That would help to make it easier to build custom versions. (See my proposal for new file layout in the [Wiki](https://github.com/json-editor/json-editor/wiki/Restructuring-files---Making-it-easier-to-do-custom-builds#building-a-custom-version))

[2018-11-08 10:34] pmk65 commented on #203
I think "src/ie9.js" should be excluded from the build, as it can be included separately if needed.
IE9 is currently used by 1.62% according to [Browser Statistics](https://www.stetic.com/market-share/browser/)

[2018-11-08 10:39] marc7000 commented on #203
@pmk65 Yes that can be done, as long as everything works as before and we can build a production release ;)

[2018-11-08 15:47] punit-kulal opened #211 "bootstrap select integration fails"
### Expected behavior
when a selector is changed, the value should be relfected in the jsoneditor.getValue();

### Actual behavior
The on change event is not triggered, jsoneditor.getValue() does not update the values of the selector value selected

### Steps to reproduce the behavior
add selectpicker class to all select tag in the json editor via jquery
try changing the value of select tag, and u

[2018-11-08 17:59] taschmidt opened #212 "Set initial value of readonly field?"
I have a field with `readonly: true` because it shouldn't be editable once initially set.  The problem is, when setting `readonly` to `true`, it won't even let me set it when creating a new item.  Is there a way to accomplish this?

[2018-11-09 09:33] pmk65 commented on #211
@punit-kulal  You can't expect 3rd-party plugin integrates without problems. Take a look at the src/editors/select.js and src/editors/selectize.js files and see how the onchange is handled there.
Basically, you need to call "onInputChange" after you change something.

[2018-11-09 09:57] germanbisurgi commented on #211
You could trigger manually that change event:

[code]

[2018-11-09 10:10] #211 closed

[2018-11-09 10:18] #195 closed

[2018-11-09 10:19] #188 closed

[2018-11-09 10:20] #194 closed

[2018-11-09 10:20] #154 closed

[2018-11-09 10:49] #38 closed

[2018-11-12 10:50] pmk65 opened #214 "object.js renders invalid HTML code"
All themes render invalid HTML due to repeatedly using the same Id for different elements. This is repeated through all themes.

### Code from src/themes.js
Note the dual use of "id=pName" in both functions.

[code]

[2018-11-12 10:59] the-unsoul commented on #111
UPDATE:

The issue seem to be still there, and it is only reproduce when a theme is selected (e.g bootstrap, foundation...)

[2018-11-12 14:17] pmk65 commented on #214
The id value is potential invalid too, as it's based on the editor title.

Example "src/editors/array.js" generates the id like this (line 117):
[code]
So the "pName" var needs to be sanitized before being used as id.

[2018-11-12 21:07] MahendraBalu opened #215 "How to implement Exapnd All and Collapase All"
I would like to implement Expand All and Collapse All functionalities for UI. So that User does not need to go to individual section to collapse and/or expand.

[2018-11-13 14:16] pmk65 commented on #165
The Bootstrap4 problems have been fixed in #216

[2018-11-13 18:43] MahendraBalu commented on #215
Thank you.
How can I loop through entire editor form?
Can you please provide sample code to implement?

[2018-11-13 18:58] pmk65 commented on #215
@MahendraBalu The JSONEditor object contains info about every editor/field in your form.
Try doing a `console.log(editor)` to see what the object contains.

You can loop through the various editor/fields like this:
[code]

[2018-11-14 20:11] pmk65 commented on #214
I have been looking at the problem with categories not working in most themes and fixed one of the problems with invalid IDs. But there's another related problem that might be the cause of the themes problems.

If you look at this [example](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QAUBOB7AVrAxmAziADTgCeADvEugEbZ7EgBm6qAtgIZiIg5ewBzVhFiES5DJVSRRiUEwip83BKEgwqIAGKLlAAgAqHGozA

[2018-11-15 12:45] evowise commented on #137
Has someone figured out how to get select2 or selectize to work with asynchronus obtained data ?

[2018-11-15 19:50] pmk65 commented on #165
See #214

[2018-11-15 19:51] pmk65 commented on #121
See #214

[2018-11-15 19:52] #68 closed

[2018-11-15 19:53] #9 closed

[2018-11-15 20:42] MahendraBalu commented on #215
Thank you for complete implementation.
I am getting following error:
**ed.editor_holder is undefined**

I believe editor_holder  is not defined.

[2018-11-15 22:09] pmk65 commented on #215
@MahendraBalu I updated the Wiki example. Now it also checks if **ed.editor_holder** exists.

[2018-11-15 22:53] MahendraBalu commented on #215
Thank you...it is working fine.

[2018-11-17 22:55] #169 closed

[2018-11-19 21:00] #215 closed

[2018-11-21 11:14] tripower opened #219 "Question: best way to make input field with suggestions"
Hello

I have now tried to use "watch" but the problem is,
that the field is "readOnly" and if I remove the attribute the "onChange" event
will be fired. So I cannot write a free text in this field
so, is it possible to delete the "onChange" at the input field or
is there a better solution instead of "watch"

thanks in advance

regards
Klaus

[2018-11-21 11:55] pmk65 commented on #219
@tripower Have you looked at the Wiki example: [Adding AJAX autocomplete using Typeahead & Bloodhound](https://github.com/json-editor/json-editor/wiki/Adding-AJAX-autocomplete-using-Typeahead-&-Bloodhound) ?

[2018-11-21 18:29] MahendraBalu opened #220 "Is there way to know form fields are changed by user?"
I would like to enabled and disabled 'Save' button if user updated any value of the field in while updating the record.

[2018-11-21 19:35] pmk65 commented on #220
[Listen for Changes](https://github.com/json-editor/json-editor#listen-for-changes)

[2018-11-21 19:42] MahendraBalu commented on #220
I tried that.. But change event is fires before any change  done by user.

[2018-11-21 20:08] pmk65 commented on #220
What if you first listen to changes after the **onReady** event has been fired?

[2018-11-22 00:41] MahendraBalu commented on #220
How to know that on ready event fire

[2018-11-22 05:15] tripower commented on #219
hello

thx. I haven not seen this page before
but I found an other solution for me
and solved it by using jquery and autocomplete

regards
klaus

[2018-11-22 07:05] #219 closed

[2018-11-22 08:31] pmk65 commented on #220
`editor.on('ready',function() {})`

[2018-11-24 14:34] PazzaVlad opened #222 "Use 'Selectize' with multiselect array with emuns"
Is it possible to use Selectize with array with predefined values (enum), something like this:

[code]
Using code above with Selectize, json-editor renders default browser's select box, not Selectize box.

but when i remove:

[code]
 json-editor renders Selectize element, as expected.

So it there ability to use Selectize with array with predefined values?

Thanks for such a great lib!

[2018-11-26 03:28] wlsg opened #223 "oneof as an object"
### Expected behavior
When "enable_ip_whitelist" is true, "whitelised_ip" will be shown.
{
  "server_cert": "",
  "server_key": "",
  "enable_ip_whitelist": "true",
  "whitelised_ip": ["12.12.12.12","13.13.13.13"]
}

When "enable_ip_whitelist" is false, "whitelised_ip" will be NOT be shown.

{
  "server_cert": "",
  "server_key": "",
  "enable_ip_whitelist": "false"
}

### Actual behavior

When "e

[2018-11-26 14:03] eduo commented on #178
Hi. Just got around to checking this out today.

I don't think this covers what I was looking for.

Essentially I was looking for a web that allowes the creation of the form itself, and the output was the final JSON Schema. I'm sure I used such a tool at some point, but I can't find it any more.

The two links above are nice in that the first one converts a JSON object into a probable JSON Schema

[2018-11-26 17:22] danielreus opened #224 "Support conditionals (if, then, else)"
In the draft for version 7 of the JSON schema specification (https://json-schema.org/draft-07/json-schema-validation.html#rfc.section.6.6), keywords for implementing conditionals are introduced. Is it planned to implement this any time soon? Or does it seem feasible that I (experienced developer, unfamiliar with the json-editor codebase) would implement this?

My use-case is simple (and I'd expect

[2018-11-26 21:46] schmunk42 commented on #224
PRs are highly welcome, tests would also be good for the feature you describing. I also thought about supporting newer versions of JSON schema, which would be pretty cool.

In fact, most of the current maintainers are not fully familiar with the code-base, since we just took over the project :wink: at least I consider myself more a steward than a developer.

CC: @pmk65

[2018-11-27 00:47] MahendraBalu opened #225 "How to control Form-UI based on Schema"
How to set/control the no. of fields to be display in each row for 'object' type schema. Schema have various 'object' type schema and need to display different no. of fields in each section differently.

currently, editor is displaying randomly 2 or 3 fields on each row.

[code]

[2018-11-27 11:50] pmk65 commented on #224
@danielreus The Wiki is a good place to start. It describes the relation/function of the various classes.

[2018-11-27 12:36] pmk65 commented on #225
@MahendraBalu I suggest you read the documentation more closely (Try searching for grid and grid_columns) and/or dig into the codebase. There are also several examples in the "docs/" folder.
You are also welcome to make a PR and update the documentation if you find it inadequate. 😉

[2018-11-27 12:39] pmk65 commented on #222
@PazzaVlad Could you provide a direct link to a live example on [https://json-editor.github.io/json-editor/](https://json-editor.github.io/json-editor/) ?

[2018-11-27 13:36] schmunk42 commented on #225
Grid and grid columns were buggy when I tried to use them the last time AFAIR.
But it would be great to have a test-case.

[2018-11-27 14:09] MahendraBalu commented on #225
I am able to figure out by setting Grid_Columns options for each property under object. Editor is creating 4 columns per rows by setting grid_columns =2 for each properties of object.

However, grid_columns=2 does not work at editor options level to display 4 columns split per rowvat Schema level.

[2018-11-27 14:53] pmk65 commented on #225
Probably related to #214 As there would be a lot of nested grid rows.

[2018-11-27 14:54] pmk65 commented on #225
grid_columns=12 = full width
grid_columns=6 = half width
grid_columns=3 = quarter width

[2018-11-27 19:23] MahendraBalu opened #227 "Date is not getting display on UI"
API is sending date in the following format "YYYY-MM-DDTHH:MM:SSZ" (Example :"2017-12-01T00:00:00Z")
Display Format Date on UI is MM/DD/YYY (e.g. 12/01/2017).

I am using flatpickr so that user can select the date. Value is not per-populated to UI.

Schema
"dob": {
                    "$id": "#/properties/dob",
                    "type": "string",
                    "title": "Date of Birth",

[2018-11-27 21:08] pmk65 opened #228 "Add external libs to Interactive Demo"
Currently, it's not possible to test editors like Flatpickr, SCEditor etc. due to the external library is not present at the interactive demo at https://json-editor.github.io/json-editor/

I think we need to include ALL the external libraries on the demo page, so that all possible scenarios can be created/tested.

But I'm not sure if I have write access to the file myself (or where the file is loc

[2018-11-28 11:13] PazzaVlad commented on #222
@pmk65 as far as I can see I can't use Selectize in https://json-editor.github.io/json-editor/ , so l provide example in https://codepen.io/pazzavlad/pen/mQzPaw?editors=1000

[2018-11-28 17:14] pmk65 commented on #222
@PazzaVlad You are correct. It just displays a regular multi select box.

So the correct display would be a dropdown handled/styled by Selectize?
Like the 2nd example **Single Item Select** on https://selectize.github.io/selectize.js/

There's also another way of setting enum lists, that isn't very well documented in the docs. See this example: https://github.com/json-editor/json-editor/issues/182

[2018-11-28 17:34] PazzaVlad commented on #222
Like the 2nd example Single Item Select on https://selectize.github.io/selectize.js/

Year, imho that would expected behavior

thanks. I tried use enumSource, but seems like selectize ignores this object and doesn't show enums at all...

[2018-11-28 20:42] pmk65 commented on #222
@PazzaVlad

Im not so sure after all. I think It should be like this one, this makes more sence, and you can multiselect. https://codepen.io/i_cant_rap/pen/qNdXyj
(I can't see a way to do that on the dropdown example)

Seems like they both triggers the selectize engine, so the bug is the same no matter which option you use.

[2018-11-29 09:54] pmk65 commented on #222
I did some more debugging and with your codepen example, the 1st field uses "multiselect" editor and the 2nd field uses the "arraySelectize" editor.
From what I can see, the "multiselect" editor currently doesn't contain any code for the "selectize" plugin, only for the "select2" plugin.

[2018-11-29 11:59] pmk65 commented on #227
If you use a different date/time format, you need to [configure Flatpickr](https://flatpickr.js.org/examples/#human-friendly-dates) to use that format.

[2018-11-29 12:21] pmk65 commented on #214
The categories/tabs (and the bug) was introduced in #85, which looks like a huge merger so I can't see who is the original author.

[2018-11-29 12:56] schmunk42 commented on #214
I can't really remember the discussion, only that it was rather complicated and that there were several PRs.
Could we catch something like this in tests?

[2018-11-29 14:08] schmunk42 commented on #228
@germanbisurgi Can you have a look?

[2018-11-29 18:21] MahendraBalu commented on #227
I tried..But it did not work for me.
It would be great if you can share an example for the same.

[2018-11-29 18:32] MahendraBalu commented on #227
I was looking the code for datetime.js. I notice that setValue function is not setting the value if  schema type = "string" for date.

can you  pls let me know if I am missing anything?

setValue: function(value, initial, from_template) {
    if (this.schema.type == 'string') {
      this._super(value, initial, from_template);
    }
    else {
      var dateValue, dateObj = new Date(value * 1000),

[2018-11-29 19:05] pmk65 commented on #214
We could probably test if the output produced is valid HTML, but I don't think we can catch errors like the multiple wrappings.

[2018-11-29 23:16] MahendraBalu opened #230 "json editor uisng Angular 4 or 5"
I would like to know what are the thinks needs to be consider  to use editor using angular 4 or 5

please share an example using angular if anyone has it

[2018-11-30 17:45] MahendraBalu commented on #227
I tried to pr-load the date in the startval uisng https://json-editor.github.io/json-editor/. Demolink also did not pre-populate the date.
can you please provide your insight.

[2018-11-30 22:15] disalvjn opened #231 "Objects with '.' characters in keys display with truncated/trimmed keys"
Thanks for the great library -- it's saving me so much time manually writing complicated editors.

### Expected behavior

Schema:
[code]
Object:
[code]

I'd expect the form to use `-Dsun.rmi.dgc.ackTimeout` instead of `ackTimeout` for the header.

It looks like this has something to do with path computations splitting on '.'

Normally I'd try find a different separator to use, but since my editor

[2018-11-30 22:30] schmunk42 commented on #231
You can use `headerTemplate` to display any title you want.

[2018-12-02 12:53] pmk65 commented on #227
The datetime editor extends the string editor, and by calling this.super() it will call the code from the strings editor. So that's why you don't see any code setting the value there.

You can set the default values in the schema like this:
[code]

Or from JavaScript like this:
[code]

[2018-12-02 12:54] pmk65 commented on #227
Demo editor is missing the external libraries like Flatpickr. i have opened an issue (#228) for that problem.

[2018-12-02 13:51] pmk65 commented on #230
Have you looked at the Angular issues https://github.com/json-editor/json-editor/issues?utf8=%E2%9C%93&q=angular
I know the examples are for Angular 2, but maybe it's similar in newer versions? (I have no Angular experience myself, so I can't help you.)

[2018-12-02 13:56] pmk65 commented on #231
The problem is not the title, but that he is using dots in the field names.
This is just not possible as JSON-Editor uses dots as a separator between identifiers.

If you have a field in you schema named "test", JSON-Editor refers to this as "root.test"
So if you name your field "te.st", JSON-Editor won't be able to separate the various parts of the identifier,

[2018-12-02 15:42] pmk65 commented on #223
There are currently some problems with the object editor, see #214
So it probably needs a big overhaul.

[2018-12-02 16:00] pmk65 commented on #148
A dirty hack would be to override the setButtonText function in themes and skip adding the textNode. Like this:

[code]

[2018-12-02 23:13] disalvjn commented on #231
My specific use case is a UI for adding JVM arguments to a server. So, I'd like users to be able to add arbitrary key-value pairs (command line arguments), where the keys may contain dots.

If I'm displaying a read-only version, I can dynamically generate the schema, then filter for dots. But is there a way to safeguard against a user adding an arbitrary key with a dot in it, other than displaying

[2018-12-02 23:32] pmk65 commented on #231
Currently, the dot usage is hardcoded in src/editor.js (try searching for **.split('.')** ), but I don't see any reason why this can't be overridden with a custom string/character.

You are welcome to extend it and create a PR.
Looks like src/editor.js is the only file that needs to be changed, so it shouldn't be that hard. 😉

[2018-12-02 23:34] pmk65 commented on #231
**.split('.')**

[2018-12-03 06:49] schmunk42 commented on #223
But `enable_ip_whitelist` is a property of object `whitelist`, why should it be shown one level higher?

[2018-12-03 17:14] eduo commented on #10
I completely missed this. I'll try it out and comment.

How should newlines in placeholder for textareas be represented here so they show as newlines as well in the textarea placeholder?

[2018-12-03 17:19] danielreus commented on #224
I got my use-case working using the existing oneOf functionality, as demonstrated in the [Advanced usage example](http://rawgithub.com/json-editor/json-editor/master/docs/advanced.html). For me this takes away the direct need for conditionals. Guess I should have read the docs more thoroughly. Expect to be opening PR's and issues for some other nice little enhancements though :)

[2018-12-03 17:19] #224 closed

[2018-12-03 19:39] pmk65 commented on #10
Without having to resort to JavaScript hacks, i think the only way is to add linefeeds to the text.
Like in this example: https://codepen.io/helloheesu/pen/MarzrW

[2018-12-03 22:54] jfbrennan commented on #224
So there is a desire to update to json schema 7, but no current plans to do so? Is that correct?

[2018-12-04 09:44] schmunk42 commented on #224
@jfbrennan Yes.

[2018-12-04 23:53] pmk65 opened #233 "EpicEditor or SimpleMDE?"
@schmunk42 The documentation refers to **EpicEditor** as the editor for editing Markdown code. But the source has no reference to **EpicEditor** and examples use **SimpleMDE** for Markdown editing.

So is the **EpicEditor** references some leftovers from the original version?
And should it be replaced with **SimpleMDE** info?

[2018-12-05 04:30] schmunk42 commented on #233
I think so.

Yes, from what you've written.

Don't some "plugins" just replace/use the existing DOM-code? Can EpicEditor be used without any additional configuration?

[2018-12-05 12:33] pmk65 commented on #224
@jfbrennan We could use some extra maintainers, So if it's something you are interested in adding, feel free to create a PR. 😃

[2018-12-05 13:15] pmk65 commented on #233
I just compared the original code with the current version. And the original has code for setting up EpicEditor, which has been removed in the current version. (Makes sense as there's no need to have 2 Markup editors)
With SimpleMDE you just include the lib and Markdown is available. So we should update the documentation.

[2018-12-05 13:57] pmk65 commented on #214
I located it to this [PR](https://github.com/json-editor/json-editor/pull/85/commits/dc6a71436688aaaf18fdcb8af9891fbafcbc080a). Seems to originate from this [fork](https://github.com/heathdutton/json-editor). But the issue tracker there is disabled so I can't see any conversations, only that it looks like the original author is @pmadril

[2018-12-05 14:44] pmadril commented on #214
Hi, I'm author of categories. As soon as possible I will take a look at the problem (just few hours, I'm in a rush rigth now).

[2018-12-05 22:09] pmk65 commented on #214
Great. I hate to admit it, but I just can't pinpoint the exact place where it happens. So I really hope you can help fix this.

[2018-12-06 10:01] danielreus opened #234 "File header in distribution build still contains deprecation note from jdorn"
### Expected behavior
To see a file header without deprecation notice. Possibly something like:
[code]
### Actual behavior
Deprecation notice from jdorn's version is still included:
[code]
### Steps to reproduce the behavior
Build the library as usual, download it from NPM or see the current 'production' version from https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.min.js

[2018-12-06 11:00] #234 closed

[2018-12-06 15:53] danielreus opened #237 "Properties defined using 'allOff' seem to always be treated as 'additional', even when they're required"
### Expected behavior
Schema's with properties defined through allOf keyword to work just as if those properties were declared directly.

### Actual behavior
When I have the 'no_additional_properties' option enabled and declare some properties using the allOf keyword, those properties seem to always be treated as 'additional' and thus cause the 'No additional properties allowed, but property a is

[2018-12-06 17:13] pmk65 commented on #233
Fixed in #238

[2018-12-06 17:14] pmk65 commented on #228
Since there wasn't any response from @germanbisurgi I took the liberty of updating it myself in #238. 😜

[2018-12-07 10:58] dreusel opened #239 "Editor silently accepts invalid input"
### Expected behavior
When I editor.setValue() a JSON document that does not validate according to the current schema (and for which editor.validate() also actually returns errors), I expect the editor to display the validation errors.

### Actual behavior
For many classes of 'invalid' in put, the editor just accepts the input without displaying (or returning) any validation errors. For other clas

[2018-12-07 11:15] danielreus commented on #239
The combination of these things sometimes causes the wrong 'oneOf' option to be selected:
https://rawgit.com/json-editor/json-editor/master/docs/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAaZAdjAPIBmCA2qGAJZgA2ciAhniFAE5Kwe0wDOCUAA8h4aExD8wHGgQDmbGAQCuAW0ohWAXQC+u/BxgBHFTSMATTaO35IsBMnRYcB6nUaOUbTtxi8aATFReGoJR2lZBSVVDXgKEG89AxAjU3MYK3iQGztwxFQMbBBdPSA&value=N4IgHiBcIIYgvkAA&prompt_before_delete&theme=boot

[2018-12-07 13:06] pmk65 opened #240 "Use CSS instead of hardcoded styles"
Any reason why this [PR](https://github.com/jdorn/json-editor/pull/346/files) from the original repo, hasn't been included in the current release?
Seems like a good idea to get rid of inline CSS. And it would make it easier for people to restyle the form elements.

I don't like the use of uppercase in selector names, and there are a couple of minor issues in the PR, like changing the "row" classna

[2018-12-07 13:19] schmunk42 commented on #240
I can't remember a particular reason why not, feel free to proceed with this - I totally support such a change. Maybe even texts and icons should be added via CSS (LESS/SASS).

[2018-12-07 13:23] #228 closed

[2018-12-07 13:23] #233 closed

[2018-12-07 14:33] germanbisurgi commented on #10
Option for placeholders

[code]

[2018-12-07 15:07] alb3ric opened #241 "oneOf and tabs"
Hello,

I have a json schema with a oneOf inheritance. If I set the object to define in categories mode, the tab is not generate for the oneOf property. The object is display in the basic tab.

### Expected behavior
One tab (Basics) with the name property, one tab for person and one tab for the Animal property.

### Actual behavior

One tab (Basics) with the name property + the Animal Property and

[2018-12-07 18:17] danielreus opened #242 "validate() gives different results depending on whether or not setValue() has been called"
### Expected behavior
validate() always correctly validates the provided document according to the loaded schema
### Actual behavior
validate() does not properly validate oneOf statements that are not in the top level of the schema unless a document that triggers validating those nodes has been loaded before. It seems as if the oneOf nodes in the schema have still need to be expanded, which appare

[2018-12-07 22:21] pmk65 commented on #10
@germanbisurgi This info should be added to the documentation otherwise no one will know of the feature.
But why is it an array with objects? Wouldn't it be much simpler and easier to setup if it was just an object?

So instead of
[code]
It would just be:
[code]

[2018-12-10 10:51] Dids commented on #40
@marc7000 Can you confirm it's supposed to work with Vue? I can partially see editor elements, but it's throwing the following error: `TypeError: (new _json_editor_json_editor__WEBPACK_IMPORTED_MODULE_6___default.a(...)) is not a function`

[2018-12-10 16:16] pmk65 commented on #40
I don't understand why info like this isn't added to the documentation or wiki?
The same questions pop up again and again because there's no info in the documentation.
Same goes for new features that are not documented. 😞

[2018-12-11 15:07] pmadril commented on #214
Hi, news from the front: Sorry by the delay. I submitted a https://github.com/json-editor/json-editor/pull/243 that solves this issue. Materialize still doesn't support tabs-top or categories because the code to do that isn't there. I will still work on it and submit another PR.

[2018-12-11 16:34] pmadril commented on #214
Sorry, please do not merge. Is not working after merging with master last commits.

[2018-12-11 16:48] pmadril commented on #214
Sorry again, I really need somebody else than not me testing this. It seems that everything is ok and my test environment had problems.

[2018-12-11 19:03] pmadril commented on #214
I'm out of home now, I will check asap. Seems not a big deal.

[2018-12-11 20:40] theBull opened #244 "Mustache / JsonEditor not rendering HTML in template"
### Expected behavior
When specifying Mustache as the template engine, it is possible to specify a `template` or `headerTemplate` with HTML that Mustache will render if the variable is specified with [triple curly brackets](https://github.com/janl/mustache.js#variables). Mustache should return the HTML string as a non-escaped HTML string that can then be injected into the page and rendered properl

[2018-12-11 22:30] pmk65 commented on #244
@theBull You will probably have to override the **updateHeaderText()** function, as it only inserts textnode values.

[2018-12-12 03:38] pmadril commented on #241
Hi,
If you add:
                "type": "object",
to "Animal", like this:
....
    },
    "Animal": {
                **"type": "object",**
		"oneOf": [
....
you will get the desired behavior.
There is no other way to discover were an object needs it's own tab because you can dynamically add properties and all of them are added initially as objects.
Adding  **"type": "object",** does not change th

[2018-12-12 10:44] pmadril commented on #162
Please @dima-starosud, describe what "http_returning_json_value_true" is expected to return.
It must be a valid schema. The minimum valid schema that I can think is:

{"default":true}

like in:

{
  "title": "json schema example",
"definitions":{
"http_returning_json_value_true":{"default":true}
},
  "type": "object",
  "properties": {
    "test":{"type":"string"},
    "example": {
      "$ref": "

[2018-12-12 17:06] dima-starosud commented on #162
@pmadril That returns just `true`. According to [doc](https://json-schema.org/latest/json-schema-core.html#rfc.section.4.3.1) `true` and `false` are both valid JSON schemas.

[2018-12-12 20:00] theBull commented on #244
Thanks @pmk65

[2018-12-13 02:11] pmadril commented on #214
@pmk65 I'm trying to analyze the initial Tab not active problem without success.
How can I do to reproduce it?
Thanks a lot.

[2018-12-13 07:37] schmunk42 commented on #214
Would be great to have a test for this.

[2018-12-13 11:41] isaac-mercieca opened #245 "Is it possible to create a radio button group?"

[2018-12-14 07:47] schmunk42 commented on #245
Not implemented at the moment, PRs welcome

[2018-12-14 15:19] alb3ric commented on #241
Hello @pmadril ,

Thanks for the answer. It solves my problem!

[2018-12-14 15:19] #241 closed

[2018-12-15 00:10] fangq opened #246 "Adding object to an array-of-objects includes unwanted object"
sorry, I am new to JSON schema and json-editor. I have a JSON structure made of an array of objects, see example here

https://github.com/fangq/mcx/blob/72afd6a0bebcca6a83735aa215d07125f1c5bee1/README.txt#L549-L582

the number of objects in the "Shapes" array may vary. I adapted the example from json-editor and try to make an editor for this JSON input, but somehow, creating the Shapes object is n

[2018-12-16 13:34] eduo opened #247 "Suggestions for format of fields?"
There's currently changes to update output so it is easier to style and include things like placeholders.

Something else that might be useful is a way to define and format information.

I'm not sure the base JSON Schema specification goes into this but it becomes a necessity of presenting forms.

What's a suggestion for doing formatting of input fields? I'm thinking things like decimals, thousand

[2018-12-16 21:17] y25ean opened #248 "Recursive JSON Schema Editor - oneOf, anyOf"
### Expected behavior
An array of different object types using JSON Schemas oneOf or anyOf feature. The array produced should allow objects that have self recursive properties. Standard array of one recursive property works but not array of multiple types.
### Actual behavior
Uncaught TypeError: Converting circular structure to JSON.
### Steps to reproduce the behavior
Try to add a coworker in typ

[2018-12-17 14:04] schmunk42 commented on #246
Did you take a look at the validation errors, i.e. [here](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QGVZkgOwOYGcQBpwBPAB3iQHsAjAK1gGMwCQAnWARwFcI2ATRANopYOHBAoZmAMQosA7gEMW/QgHkSYCr3iFkACwVk8hACIUAtgoiSAuoQBmsy0yT0FYWFlkQRzEiwoyFkhfBFBUUXFJMOIyRBBqOkZmSBhyYUiJZkcWZ3isFggVVg5uPkEQAEkTZgAFPQpNDGMQMwBZCBxnej1mMwBBTk0AFT02BX47EH9A2GCfPBjqxFBUuHiIsQkAAgA5BXMdWPScMELsZm17BU5oFxBze

[2018-12-17 21:55] pmk65 commented on #247
@eduo The easiest way would be to use a 3rd-party library, like [Cleave.js](https://nosir.github.io/cleave.js/)
Shouldn't be that hard to implement directly into JSON-Editor, so you can configure it through "options".
(Take a look at how the [datetime editor](https://github.com/json-editor/json-editor/blob/master/src/editors/datetime.js) includes the 3rd-party library [Flatpickr](https://flatpickr

[2018-12-17 23:18] pmk65 commented on #214
@pmadril Sorry for the late reply, but I have been down with the flu the last couple days.
It was just a quick test, but I will make a more thorough test and post my results here.

[2018-12-18 11:36] pmk65 commented on #240
@zwerdlds Looks good. But I think we should prefix the JSON-Editor classnames with something like "**jse-**". That way you know it's a specific JSON-Editor style. (Note: Some classes, like "**row**" must not have prefixes, as it is used by frameworks)

1) I totally agree. The H* tags should not be used for the GUI.

Note: classList.add() accepts multiple arguments, so something like this:

[code]

[2018-12-18 11:37] pmk65 commented on #10
*bump*

[2018-12-18 16:07] zwerdlds commented on #240
pmk - agreed on all points.  thanks for the classlist tip.  I hope to get to this today.

[2018-12-19 07:19] ittus opened #250 "Support fontawesome 5"
### Expected behavior
Support Fontawesome 5
https://fontawesome.com/icons?d=gallery

### Actual behavior
At the moment only support Fontawesome 3 and 4

[2018-12-20 22:27] j2jensen opened #252 "Improve performance when dealing with large json content"
### Expected behavior
People want to be able to drill down through a large json document to make changes to a few specific parts of it.

### Actual behavior
Loading a large json document causes the browser to do a lot of processing. On slower machines, this can even cause the browser to warn the user that the page is unresponsive and prompt them to kill the tab.

Profiling appears to indicate that

[2018-12-21 15:36] taschmidt commented on #212
Anyone?

[2018-12-21 23:17] pmk65 commented on #252
@j2jensen Have you checked the Wiki? There's a section named [Handle Large Arrays with the JSON editor](https://github.com/json-editor/json-editor/wiki/Handle-Large-Arrays-with-the-JSON-editor)

[2018-12-22 18:50] j2jensen commented on #252
I have looked at the Wiki a few times. I'd never noticed that page, but I took some time to look it over. The link to the class it mentions is broken, and to be honest it doesn't really make sense to me. Have you read through it?

[2018-12-22 20:00] pmk65 commented on #252
@j2jensen Try here: https://github.com/niebert/Editor4JSON and here: https://github.com/niebert/json-editor-dorn
I know that @niebert is a very competent contributor/user of JSON-Editor. So I have no doubt that it is working.

[2018-12-22 20:56] j2jensen commented on #252
Thanks for those links. I'll take a look!

On Sat, Dec 22, 2018, 1:00 PM Peter Klein <notifications@github.com wrote:

[2018-12-22 21:03] pmk65 commented on #252
@j2jensen Note: The fork of JSON-Editor at @niebert, is a fork of the original jdorn version of JSON-Editor.
That version lacks several of the new features available in this fork.

BTW: Do you have Danish ancestors? As your surname is a typical Danish surname.
(Im from Denmark myself, but people expect me to be German due to my surname. 🤣 )

[2018-12-22 21:07] j2jensen commented on #252
Yes, my great great great grandfather was a Danish painter who immigrated
to the United States. I have lots of Jens Andersens and Anders
Christiansens and such in my family tree.

On Sat, Dec 22, 2018, 2:03 PM Peter Klein <notifications@github.com wrote:

[2018-12-22 23:06] j2jensen commented on #252
All right, I was able to take a look at what he's doing, and I understand it. It's not quite the same problem we're running into, because instead of having hundreds of simple items in one big top-level array, we've got a complex nested structure. There's at most a dozen elements in any given array, but it adds up to hundreds of overall array elements and thousands of nodes once you traverse the en

[2018-12-23 15:38] pmk65 commented on #252
@j2jensen The tabs/categories are handled by the object editor (editors/object.js) and it currently has some unresolved issues (see #214)
One of the problems is that it adds a lot of unnecessary nested wrappings around each input, which might be the cause of some of the slowdown. There's a PR #243 fixing that issue. You could try pulling it and see if that helps in any way.

I think building the f

[2018-12-24 00:09] j2jensen commented on #252
I checked out that PR's code, and it doesn't seem to make much of a difference, which doesn't surprise me. Profiling performance, it appears that 25-30% of our time is spent in the `setButtonText` method (the one in `theme.js`).
[code]
The most likely source for trouble in this method is `button.innerHTML += ' ';`. Commenting that line out, `setButtonText` is no longer among the worst culprits, so

[2018-12-24 03:59] zwerdlds commented on #240
I have submitted pr #253 in support of a fix for this issue.  @pmk65 - I'm not aware of which classes are used by the frameworks, so that is not yet resolved.

[2018-12-24 11:39] pmk65 commented on #252
We could probably improve the speed of DOM creation by using document fragment instead of applying directly to DOM. As fragment does not create reflows (repainting the page) when you add/delete a node.

Currently, each editor manipulates the DOM to insert/remove the HTML code. So to be effective, we will have to change that so they only manipulate the fragment. And then when all editors are done r

[2018-12-27 15:52] pmk65 commented on #214
@pmadril I tested it more intensively, and couldn't reproduce the error. So most likely I forgot to rebuild the dist files before testing. 😄
Every theme works perfectly as far as I can see, except for the Materialize theme. But you also mentioned that on the PR.
So I think it's ok to merge this.

[2018-12-27 16:12] pmk65 commented on #148
What's the status on this? Has it already been fixed/implemented but never documented like #10, or is it still unresolved?

[2018-12-28 13:32] pmk65 commented on #252
Yes. Doing simple stuff like the last test example, won't help speed up the rendering. Only if all editors push elements to fragment and then at the end the fragment is inserted. But I'm not sure if it is possible without a major rewrite.

Each editor inserts code when called. Some editors (like Array and Object), triggers the editor when you click the button/select box.

[2018-12-28 13:32] schmunk42 commented on #10
Closed by #255

[2018-12-28 13:32] #10 closed

[2018-12-28 13:42] pmk65 commented on #171
Solved in #255

[2018-12-28 13:42] #171 closed

[2018-12-28 13:42] pmk65 commented on #175
Solved in #255

[2018-12-28 13:42] #175 closed

[2018-12-28 16:47] j2jensen commented on #252
Even this wouldn't actually have much of an impact. As [this test shows](https://jsperf.com/docfragment-test/21), adding elements to a DOM element which is detached from the document body is every bit as fast as using an HTML Fragment. Since that's largely what the editor does already, using HTML fragments won't change much. So that approach is a red herring.

Likewise, it's easy to suppose that s

[2018-12-31 12:41] schmunk42 commented on #148
It's unresolved. We're currently in holidays, so it might take another few days until we're able to start working on that, but I have put high priority on this.

[2018-12-31 12:47] schmunk42 commented on #214
@pmk65 Can we close this, since #243 is merged?

[2018-12-31 12:55] #214 closed

[2018-12-31 12:55] #250 closed

[2018-12-31 12:58] pmk65 commented on #165
Fixed in #243

[2018-12-31 12:58] #165 closed

[2018-12-31 12:58] pmk65 commented on #121
Fixed in #243

[2018-12-31 12:58] #121 closed

[2018-12-31 15:05] pmk65 commented on #116
Closing this one due to lack of feedback.

[2018-12-31 15:05] #116 closed

[2018-12-31 15:29] pmk65 opened #256 "Add inputAttributes support for Select type"
Same as for string/input.

[2018-12-31 21:15] j2jensen commented on #252
I've been tinkering with the code, and I think I see a good way forward. Here's what I'm thinking:

When the Array editor is initializing its rows, if it's set up to use tabs it can keep track of what the row's value should be, without actually building out that row; we'll say that this row is "deferred".

- Anywhere we're currently calling `setValue` on an individual row, we can instead call a ne

[2019-01-01 14:43] pmk65 commented on #252
There are a couple things you might want to test.
1) Does watched fields work using the 'deferred' approach?
2) Return value. Does this include fields from 'deferred' tabs?

If you can implement this new feature so setup/usage is identical to before, I see no reason to add a config option. Only if the setup/usage differs there's a need to be able to turn the feature on/off.

[2019-01-01 15:09] pmk65 commented on #256
@schmunk42 Should we prevent the "inputAttributes" functionality from setting keys used internally ("name" and "type") by JSON-Editor and those set using other options ("min", "max" is set using the options "maximum" and "minimum". And "pattern" is also set using other options. Not sure if there's more.) ?
As changing those might prevent the form from working correctly.

[2019-01-02 07:20] schmunk42 commented on #256
Hmm, basically this sounds like a good idea, but I don't know how many options we'd have to blacklist.
Would be rather easy to implement?

[2019-01-02 09:42] pmk65 commented on #256
For **_select_** there's just two: **type** and **name**
For **_string_** there's these: **name**, **type**, **maxlength**, **pattern**, **readonly**, **min**, **max** and **step**.

It just requires a single line of change in the code, from:

[code]
to:

[code]
And we can then fill in more if we discover some is missing.

[2019-01-02 11:57] pmk65 commented on #256
Fixed in #257

[2019-01-02 19:58] #256 closed

[2019-01-02 19:59] schmunk42 commented on #247
Closing, since cleave support is merged.

[2019-01-02 19:59] #247 closed

[2019-01-03 09:21] schmunk42 commented on #212
Sorry, had the same issue already, but found no solution yet.

[2019-01-03 12:55] pmk65 commented on #212
@taschmidt can you provide a direct link to an example schema using the [interactive demo](https://rawgit.com/json-editor/json-editor/master/docs/demo.html)?

[2019-01-03 23:11] pmk65 commented on #159
@theBull I think I might have figured out what's wrong. Try changing the **getDefault** in array.js, to this:
[code]
This should allow **boolean** values, **0** and **empty string** to be accepted values. (Let me know if it works)

[2019-01-04 11:47] pmk65 commented on #179
@schmunk42 @marc7000 The version number is still missing from the dist files at cdn.jsdelivr.net, but it's included when you build the dist locally using grunt.
https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.min.js
https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.js

Doesn't look like the files on cdn.jsdelivr.net are the newest build either. (The latest

[2019-01-04 12:17] schmunk42 commented on #179
We had no release in the meantime.

@marc7000 do we have docs for developers how to create the release?

[2019-01-04 15:58] taschmidt commented on #244
@theBull Did you ever get this working? I'm running into the same thing and overriding an internal function doesn't seem like the safest thing.

[2019-01-05 00:00] pmk65 commented on #244
@taschmidt There's no problem with overriding the existing functions. It's pretty much the same as creating a custom build, except you don't have to create a new build every time the main script is updated.

Here's an example of overriding the sanitize() function for integers.
https://github.com/json-editor/json-editor/issues/133

And as the **updateHeaderText()** function, inserts the data using

[2019-01-05 20:17] pmk65 commented on #159
You can also do it by overriding the function (that way you don't have to modify dist or create new build)

[code]

[2019-01-07 14:54] marc7000 commented on #179
We have fixed the version bump task and published a new release.

[2019-01-08 01:23] ittus opened #262 "Remove item in array by editing JSON directly doesn't trigger change event"
### Expected behavior
Remove item in an array by editing JSON directly should trigger `change` event

### Actual behavior
`change` event is not triggered

### Steps to reproduce the behavior

1. Go to demo page (https://rawgit.com/json-editor/json-editor/master/docs/demo.html)
1. Add 1 pet by clicking on Add button, `JSON Output` on the right side will be updated respectively
1. Clicking on `JSON`

[2019-01-08 13:07] pmk65 commented on #179
@marc7000 @schmunk42 Getting closer, but there still seems to be a problem with cdn.jsdelivr.net.
Try checking the link to the production version on the readme.md. It points to: https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.min.js

If you view the source you'll notice that it's still missing version number.
removing the filename puts you on the landing page., which says it'

[2019-01-08 13:14] pmk65 commented on #262
@ittus I don't think it's possible. As when you delete the item, it's no longer present in the list of editors and can't trigger the onchange event.

[2019-01-08 13:37] schmunk42 commented on #262
Shouldn't the whole data be updated, when clicking `Save`?

[2019-01-08 14:20] pmk65 commented on #179
Try searching for "cleave" in the source. If you get no hits, it's not 1.3.x but the old 1.2.1 version.

[2019-01-08 14:56] pmk65 commented on #179
There's also a 2nd "json-editor" on jsdeliv.net, pointing to this github page. (dunno if that poses a problem?)
https://www.jsdelivr.com/?query=author%3A%20json-editor

[2019-01-08 15:37] marc7000 commented on #179
I've installed it in a new Project, in both sources the version string is correct and found "cleave" in the source...
![bildschirmfoto 2019-01-08 um 16 33 00](https://user-images.githubusercontent.com/1118837/50840816-a60bec00-1363-11e9-8e9b-571e010739ed.png)

[2019-01-08 16:07] schmunk42 commented on #179
I'll leave it up to @pmk65 to close this :smile:

[2019-01-08 16:57] schmunk42 commented on #179
Just found this on Google

- https://github.com/video-dev/hls.js/issues/1664

So these seem to work correctly...

- https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js
- https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.js

[2019-01-08 22:57] pmk65 commented on #179
BTW. Is there any reason why all files are put on CDN? Is that something we have control over?
It's only the DIST/ folder that needs to be available at CDN.
See the list of files at https://www.jsdelivr.com/package/npm/@json-editor/json-editor

[2019-01-09 00:30] ittus commented on #262
@pmk65 I think whole data should be immutable and trigger `change` when anything updated.

[2019-01-09 08:52] schmunk42 commented on #179
It's only the DIST/ folder that needs to be available at CDN.

Yes, it should be like that.

[2019-01-09 09:23] Fluf22 opened #263 "A way to load large JSON array"
### Expected behavior

JSONEditor to load quickly

### Actual behavior

JSONEditor can take up to three minutes to load a 10000 lines JSON file with nested arrays

### Steps to reproduce the behavior

Use an abnormally large JSON file with a lot of arrays

I did a fix to make JSON Editor load this kind of file quickly. I just display the first item of the array (if you use `format: "tabs"` or `for

[2019-01-09 09:36] pmk65 commented on #263
Duplicate of #252
Maybe you can team up with @j2jensen and come up with a good solution.

[2019-01-09 10:00] pmk65 commented on #179
I created a PR #264 that updates the links in docs and readme.md

[2019-01-09 10:02] #179 closed

[2019-01-09 10:34] #225 closed

[2019-01-09 10:34] #227 closed

[2019-01-09 10:54] schmunk42 commented on #263
Closing as duplicate

[2019-01-09 10:54] #263 closed

[2019-01-09 10:57] schmunk42 commented on #225
I recently played around with this, also. What I found weird is that certain column width definitions seem to change the order of the fields, it looked like "some algorithm" was optimizing the layout.

[2019-01-09 11:24] Fluf22 commented on #252
Hey!
Coming from my duplicate [#263](https://github.com/json-editor/json-editor/issues/263) (sorry about that!)
I had the same problem at work, and I had to come up with a quick fix to handle the large arrays we were dealing with.
I think it is very close to what you say @j2jensen !
When there is no specified format, the array is initialized as usual. But if you use `format: "tabs"` or `format: "t

[2019-01-09 11:50] pmk65 commented on #252
I just updated the links to the CDN files, So if you have been using CDN links in your tests, you need to update the link to the new format. (See the docs page)
The CDN link was linking to an old 1.2.1 release, not the newest version.

[2019-01-09 12:20] pmk65 opened #265 "Include a custom icon font"
It is possible to create a custom iconset, containing only the icons needed for the buttons using [fontello](http://fontello.com/)
We could create such a fontset and include it into the dist (Then it can be accessed through CDN)

With Fontello you can combine icons from several fontsets and include your own designs too.
And it is possible to rearrange/rededesign the fontsets again if needed.

[2019-01-09 19:10] j2jensen commented on #252
@Fluf22 thanks for adding to the discussion. I've pushed my first stab at this to a branch on my fork: https://github.com/j2jensen/json-editor/tree/performance-improvements

My current approach doesn't load the headers correctly. I'd like to see your changes and compare notes.

I haven't had a chance to check how my branch behaves with watches. Supposing it interferes with watch behavior, though,

[2019-01-10 10:54] Fluf22 commented on #252
@j2jensen I looked at your code (but didn't tested it), and asked myself a question. When I tried to improve the performance on my side, I stubbled upon some edge cases, like value refresh when adding / deleting / copying / moving items. Don't you had the same issues ? Because your code is much more clearer than mine!
I just uploaded my code, if you have some time, please check this commit on my f

[2019-01-10 11:14] pmk65 commented on #126
Looks like this have been fixed. [Test Link](https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgLglmA2CmIC4QCsDOB7AdgAlQYwAtYBbAQ21gA9TiAHOEAGnAE9b4l0AjZWPMJiFoAndO2GRYqRKCo16HUGDYcQqMMIiYA5oIAmsAGakArtAFIW6E9jykceMS2xgCEVC6oDmw2KT1Y0CyIGiawAL6RQA=&value=N4IgpgHghgtgDgGzCAXCAngewK4AIDGUAdgZnOrgC4AWAlgM5WSUgC+QA===&lib_switcher=&prompt_before_delete&theme=bootstrap2&iconlib

[2019-01-10 14:49] #126 closed

[2019-01-10 15:54] j2jensen commented on #252
@Fluf22 Since I've only had a few hours to work on this, I haven't had a chance to run into those edge cases yet. Playing with my solution now, it does look like there's some weirdness when adding an item, but copying, moving, and deleting all seem to work fine. When I have time later in the month I'll look into a way to fix adding an item, as well as looking over your changes. I would love to hea

[2019-01-10 17:30] Fluf22 commented on #252
@j2jensen Okay, let me know when you have time to work on it.
Apart from item edition, I had to check that headers stay updated, and I didn't take time to fix the watch keyword, for now.
And there is still improvments possible, since the editor go slow again when I activate too much items.

[2019-01-10 21:37] pmk65 opened #268 "Add dist files to cdnjs"
Right now there is only the old [jdorn](https://cdnjs.com/libraries/json-editor) 0.7.28 version available.

[cdnjs](https://github.com/cdnjs/cdnjs/issues/new?title=%5BRequest%5D%20Add%20_library_name_%20&body=**Library%20name%3A**%20%0A**Git%20repository%20url%3A**%0A**npm%20package%20url%28optional%29%3A**%20%0A**License%28s%29%3A**%0A**Official%20homepage%3A**%0A**Wanna%20say%20something?%20Leav

[2019-01-11 08:16] schmunk42 commented on #268
I am against this, we should not apply to even more CDNs actively.
It causes too many problems we can't foresee.

[2019-01-11 11:42] pmk65 commented on #268
What kind of problems?

If you use a site like https://jsfiddle.net/ or https://codepen.io for creating an example, they have an option to select libraries from CDN (but ONLY from CDNJS).
So if you do that, you end up with the old jdorn release. (To use a library from a different CDN, you'll have to manually enter the full url.)
So CDNJS seems to be more widely used than other CDN services.

[2019-01-11 11:56] schmunk42 commented on #268
This:

So we would also need to create a Github page soon. See: https://pages.github.com/

For example :)

[2019-01-11 12:07] pmk65 commented on #268
That's not exactly a cdn problem, but more a problem of hosting/showing non-dist files like the HTML examples/demo. And this would be solved by creating a Github page.
Currently, we only use rawgit for linking to the HTML examples and interactive demo and not for CDN use.

[2019-01-11 13:16] schmunk42 commented on #268
`gh-pages` would be a good option I think.

[2019-01-11 15:37] pmk65 commented on #166
Seems like this is no longer an issue as there's no feedback from the poster.
So I guess this one can be closed.

[2019-01-11 15:38] #166 closed

[2019-01-13 16:37] schmunk42 commented on #268
Files are taken from the docs folder

![bildschirmfoto von 2019-01-13 17-35-44](https://user-images.githubusercontent.com/649031/51087921-c370f980-1759-11e9-8b5b-31141eda06dd.png)

I always thought they'd taken from a `gh-pages` branch

[2019-01-13 21:22] pmk65 commented on #268
Great then we can build a index page with access to the various demos and examples,

[2019-01-14 13:12] ShuminY opened #270 "integer type enum in JSON Editor always returns 1"
I expected the dropdown list will give the value which was selected.

but it always gives value "1".

I put below in the json file schema  "editor.json"
"platformType": {
            "type": "integer",
            "title": "platform",
            "enumSource": [
                {
                    "source": [
                        {
                            "value": 1,

[2019-01-14 13:39] taschmidt commented on #212
Yeah, I guess the easiest way to adapt the demo to my situation would be to assume that you can't change a pet type once it's initially set.  But adding `"readonly": true` to the pet type makes it so you can never set it.  See it here:

https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIasAjgK4QsAmiA2iBwBDALbxCQgObiQ3IWBkAzIQDc

[2019-01-14 13:53] schmunk42 commented on #212
What would happen if you mis-clicked the initial value?

I think you should "lock" the items with some custom code, I can't see how this fits into a JSON schema spec.

[2019-01-14 14:22] schmunk42 commented on #268
While thinking about it...
I'd recommend a separate repo for that ... We'd bloat this repo with dist versions over and over - we're actually doing this on the release branch already.

Now that I am writing about it ... is that really something that we need? Or shouldn't we simply keep things just as they are.

[2019-01-14 15:41] taschmidt commented on #244
@pmk65 Thanks for the response! It works, kind of. At the top level, I have an array of objects. The array format is set to 'tabs' and it's the header of those array tabs that I'm trying to set.  I tried overriding array and object but neither seem to be called in my scenario. Any ideas?

[2019-01-14 16:08] sriks316 opened #271 "Nested Array, get value from Parent array index"
Hello,

This is my example JSON schema and input:
https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIJaWZaksGioZY3CUGFLkQAQzRoxRJgDMsaALZjGSMGMpwmkGKNT8mUWIoFCRiEFVoNtULUn1MWbdJ1PEyPD6Ixg0EHABzJlgcAFdFRABtEDoVJgATLGDCSgg0BKY0WBJILUIsMAALdBAAXQBfQhwxRXIzTyRffyCQKpAcXABaPndhRvFJaUMwYz7zChp6RkIdexAAOW79bkJndjcvGrqvfp8/AOCK45PCBNhZ

[2019-01-14 20:42] pmk65 commented on #268
We will need it if we want the readme.md to link to the examples and interactive demo. As rawgit is closing down.

[2019-01-14 20:50] pmk65 commented on #244
@taschmidt I think it is some functions in objects.js you will have to modify.
Try opening up src/objects.js and search for "getHeaderText" and see if the content is applied using "textContent". If they do, try changing it to innerHTML as in the above example.

[2019-01-14 21:02] pmk65 commented on #212
I think the problem is that the pet field is not set to "readonly" (even if that is what's specified in the schema), but set to "disabled".
The difference between "disabled" and "readonly," is that the value from a disabled field is normally not submitted.
Json-editor extracts the result as a json object and doesn't submit in a regular way (at least not the examples) And just changing "disabled" t

[2019-01-14 21:23] pmk65 commented on #212
You might be able to create a workaround by watching the pet field, and then turn on the **readonly** mode when it is changed.

[2019-01-14 21:30] schmunk42 commented on #268
What's about moving these to jsdelivr.com?
Sure, also external, but would it work?

I just double checked it, there are no dist files in the releases, they are only uploaded to npm.

[2019-01-14 22:44] pmk65 commented on #270
@ShuminY It's clearly a bug as there are no problems if the format is "string".

I think I have found the problem. (enum_values are stored as string values, so the indexOf() function won't match the integer values with those. And as a result, it returns the 1st enum_value)

Try adding this before initializing the editor. This will override the default onInputChange function. (Changes the indexOf()

[2019-01-14 23:01] pmk65 commented on #268
That should work too I guess since all files from the repo are pushed to jsdelivr.com.
The only difference is that updating or adding new demos/examples would require a release.
Using the github page we would be able to do it without a release as it links directly to the files on the repo.

[2019-01-14 23:39] schmunk42 commented on #268
But then we'd have to have dist files for every commit in the repo. Please NOT :)
If you really need master, you have to be able to figure out how to use it.

Using `@latest` from jsdelivr looks good to me.

[2019-01-15 11:00] pmk65 commented on #159
@theBull Can you test this please?

[2019-01-15 11:10] pmk65 commented on #41
@gradinkov Please provide a sample schema or this issue will be closed.

[2019-01-15 11:49] pmk65 commented on #148
I have been looking a bit on this and got a couple of questions too:

There are 3 "states" of buttons: "text + icon", "text" and "icon".
1) Should a global config option set that for ALL buttons, or are there some that always should use the "text + icon" state.? And if so, which buttons?
2) Or should there be local config options for each object, so you can change only some of them when/if needed?

[2019-01-15 11:52] schmunk42 commented on #148
I'd be fine with a global option and/or a solution where tweaks could be done via CSS.

[2019-01-15 12:10] pmk65 commented on #148
A pure CSS solution could be made by just wrapping the button text in a span tag, similar to the icon is styled using an I tag.

Currntly a button looks like this (Bootstrap Theme):

[code]

And with a span tag.

[code]

Hide the icon on "Object Properties" button only:
[code]

Hide the text on "Object Properties" button only:
[code]

Hide the text on ALL buttons (Bootstrap Theme):
[code]

[2019-01-15 12:13] schmunk42 commented on #148
I'd like the solution with a `<span>`, any downsides?

[2019-01-15 12:22] pmk65 commented on #148
Only one I can think of is that the HTML is always created for both icon and label, so the output will be a little bit larger due to the span tags.

The 3rd example will only work on Bootstrap themes, so we might want to intruduce 1 or more extra "json-editor-btn-*" classnames (Must be set regardless of theme). That way we can group buttons of same "type".

[2019-01-15 13:41] taschmidt commented on #212
Sorry for the confusion, in my scenario at work it's not a select, just a regular textbox. That select was just the easiest to demonstrate on the demo form. I suppose maybe a good analogy would be a textbox that becomes the key column in a db? We just don't want it to be changed after it's initially set. But it sounds like you're right, that I'll have to handle it with business logic.

[2019-01-15 15:59] taschmidt commented on #244
So, it looks like for the array tabs, I had to override `JSONEditor.defaults.editors.array.prototype.refreshTabs` but that didn't fix the title shown on the editor when clicking on an array item (which is a complex object).  After a while debugging, it looks like it gets set in `JSONEditor.AbstractEditor.prototype.updateHeaderText`. But simply changing [this  line](https://github.com/json-editor/j

[2019-01-16 00:14] pmk65 commented on #148
Made a patch with span tags and it seems to be working perfectly. 😃
But the `json-editor-btn-` class is based on the iconlib key, so it might not be specific enough to style individual buttons.
Especially the Array/Table "Delete" and "Delete All" buttons, which have the same icon/class name.
There's probably more, so if you got any ideas/suggestions let me know. I'll then add some custom class nam

[2019-01-16 13:15] pmk65 commented on #148
Here's a list of the various Buttons generated. And it looks like there are only 3 files that have to be modified (There are buttons in upload.js and datetime.js too, but they don't need a class)

The buttons in table,js,object.js and array.js 3 are very similar, so I think they should just share the same class names if the functionality is "identical"

| **array.js**  |                          |

[2019-01-16 14:09] pmk65 commented on #148
That shouldn't be hard. we just need to find the appropriate icons in the various iconlibs and insert it in iconlibs/*.js

Here's a list of the classes Im going to add. Let me know if you have any objections or changes.

| array.js  |          |                   |                                |
|-----------|----------|-------------------|--------------------------------|
| 506       | delete

[2019-01-16 14:13] schmunk42 commented on #148
LGTM!

[2019-01-16 15:46] pmk65 commented on #270
The fix seems to work, but the Travis tests fail. So maybe it has to be fixed at a higher level?

[2019-01-16 23:31] #208 closed

[2019-01-17 15:57] #270 closed

[2019-01-17 15:58] #148 closed

[2019-01-17 22:41] pmk65 commented on #262
@ittus I think I found the problem. I'll submit a PR that should fix it.

[2019-01-18 09:49] schmunk42 commented on #262
Should be fixed in #274

[2019-01-18 09:49] #262 closed

[2019-01-19 02:18] pmk65 commented on #237
@danielreus Just noticed this comment in **src/validator.js** (line 477)

Looks like the error is intentional. (Until someone comes up with a fix)

[2019-01-19 11:47] pmk65 commented on #162
@dima-starosud So patching core.js with something like this should return the desired result?
[code]

[2019-01-20 12:34] pmk65 commented on #46
@ianmetcalf Could you elaborate on the problem a bit more?

[2019-01-20 12:36] pmk65 commented on #37
@cgunadi2018 Do you have a schema example you can post?

[2019-01-20 12:38] #39 closed

[2019-01-20 12:44] pmk65 commented on #135
@sriks316 Your jsfiddle examples use the old jdorn version of json-editor, not the updated one.
So If this is still a problem, please post an example link using the interactive demo on the repository. Otherwise, this issue will be closed.

[2019-01-21 11:35] 13BTurbo opened #276 "Time value set when editor is instantiated is not updated in flatpickr editor"
### Expected behavior
Instantiate an editor using a setvalue field in the options object.
Initial values are populated into the input fields and everything looks correct.
Click the input and the flatpickr time editor appears and allows one to adjust the time from the existing value.

### Actual behavior
Click the input and the flatpickr time editor appears and the time jumps to 12:00.

### Steps t

[2019-01-21 13:13] dima-starosud commented on #162
@pmk65 I am not sure. Exception is thrown from [here](https://github.com/json-editor/json-editor/blob/348f4dd63c87c50bc4603de0698c439cf90a2870/src/core.js#L407). So that check should be extended:

`if(!response || (typeof response !== "object" && typeof response !== "boolean")) throw "External ref does not contain a valid schema - "+fetchUrl;`

[2019-01-21 16:24] skewty opened #277 "when theme:"bootstrap4" incorrectly uses "errormsg" instead of "invalid-feedback" class"
### Expected behavior
Error will show up (usually in red) using bootstrap4 `invalid-feedback` class.

### Actual behavior
Error will show up in black (default color) using non bootstrap4 `errormsg` class.

### Steps to reproduce the behavior

[code]

Is this just a case where the `errormsg` class should be user definable and automatically mapped to something different when a known `theme` is speci

[2019-01-21 17:53] pmk65 commented on #277
@skewty Sounds like the theme sets a wrong class. Try adding code snippet before the editor is initialized. Let me know if it works, and I'll make a PR.

[code]

[2019-01-21 17:59] pmk65 commented on #276
@13BTurbo You can set it using "defaultHour" and "defaultMinute".
I'll see if it's possible to set those by default if startval" is set.

[2019-01-22 00:37] skewty commented on #277
I am not sure what `input.controlgroup` and `has-error` is for so I left that part in.

Your patch doesn't quite seem complete for bootstrap 4.  I additionally had to toggle the `is-invalid` class on the input itself.  See below:

[code]

[2019-01-22 05:47] schmunk42 commented on #277
Looks like in v4 there's no more `has-error`, see https://v4-alpha.getbootstrap.com/components/forms/#validation

[2019-01-22 18:47] pmk65 commented on #277
So this should do it?
[code]
Sets class `has-danger` on controlgroup, `is-invalid` on input field and `invalid-feedback` on error message wrapper. (And removes them again in 2nd function)

[2019-01-22 18:59] skewty commented on #277
Works for me.  **Thanks!**

### Here is the complete little mock-up I have been playing with for testing:
[code]

Change the static references to CDN references and you can test this stuff easily in the future.

[2019-01-22 19:02] sriks316 commented on #271
Should I add more examples to explain what I am trying to achieve?

[2019-01-22 19:03] skewty commented on #268
API level (not sales level) docs are tightly coupled to code and in the team I work in at least, should be stored together to ensure there is as little friction as possible keeping them both in sync.  Just my 2c.

[2019-01-22 20:33] schmunk42 commented on #268
I am closing this, please reopen or drop a note if there's still an issue.

[2019-01-22 20:33] #268 closed

[2019-01-22 20:49] schmunk42 opened #278 "JSfiddle boilerplate"
### Expected behavior

I think it would be good to have a JSfiddle example for more complex tests/examples/etc...

### Actual behavior

There's none, but I just made this: https://jsfiddle.net/gtdc4oma/

Feedback appreciated.

[2019-01-22 20:59] schmunk42 commented on #277
@skewty Could you create a PR?

[2019-01-22 21:14] schmunk42 commented on #271
Sorry, I don't have an immediate solution. Maybe a [watcher](https://github.com/json-editor/json-editor#listen-for-changes) or [dependencies](https://github.com/json-editor/json-editor#dependencies) could help...

[2019-01-22 23:50] pmk65 commented on #278
I'm currently working on an updated `Interactive Demo` with the option to change the initializing code.
(A bit like CodePen/JSfiddle) and using the ACE Editor for the JavaScript/JSON input areas.

Here's what I'm doing so far:
1) Change the overall layout to use a tabbed page switching system. That way you don't have to scroll up/down all the time. This would be something like:

Main - The generat

[2019-01-23 00:16] stultusstudio commented on #159
I'm running into a similar issue where if I enter this JSON, the "0" in the mojiPromotionBannerMojiIndex array turns into null. I've tried your fix @pmk65 but it doesn't appear to work. I haven't had too much time to look into it but if you change `return null` in the getDefault() function [here](https://github.com/json-editor/json-editor/blob/b14f4d8a83c9c4a8191ef811a44e9d1d957c18fc/src/editor.js

[2019-01-23 09:21] pmk65 commented on #278
I got a couple examples on [Codepen](https://codepen.io/pmk/pens/public/#), but most of them are outdated as I have implemented the features directly into the lib or added the info to the Wiki.

[2019-01-23 10:10] pmk65 commented on #159
I did some debugging on the editor.js getDefault() function. And it runs through it 4 times for each field, except for boolean false where it only runs through the function 3 times.
So the error is not in the getDefault() function but somewhere where it mutates the schema.

[2019-01-23 14:57] schmunk42 commented on #278
I though about exactly the same things :smiley: go ahead, I am looking forward to see it.

[2019-01-23 15:51] pmk65 commented on #278
I still haven't decided on the layout. (Design isn't my strong side. 😁)

Either it's going to be Tabs styled, similar to this: https://tympanus.net/Blueprints/FullWidthTabs/
So that form, config & schema/javascript each have its own tab.

Or using sliding panels, similar to this: https://github.com/CodyHouse/slide-in-panel
or https://github.com/karenpommeroy/toolslide.js/
So that the form is in th

[2019-01-23 15:51] #277 closed

[2019-01-23 16:07] schmunk42 commented on #278
A combination :) Two Sliding panels with tabs inside.

Schema + JS | Editor + JSON Output + Options

[2019-01-23 17:43] #276 closed

[2019-01-24 15:26] pmk65 commented on #278
Yeah. I discovered that Tabs alone is equally as annoying as scrolling. 💩

You can see my 1st Tabs attempt here: https://pmk65.github.io/jedemov2/demo.html
(Very limited features so far, but you can create/edit schema/javascript and generate the form.)

[2019-01-24 20:53] pmk65 commented on #162
That would still throw error on boolean `false`. I think this would be better:
[code]
This will allow `object` and `boolean` types to pass. Not sure about `null` as it validates as object. So I added an extra check for that.
Can you try and see if it works for you?

[2019-01-25 11:12] dima-starosud commented on #162
This is equivalent to what I wrote since:
`(typeof response !== "object" && typeof response !== "boolean")` is the same as
`!(typeof response === "boolean" || typeof response === "object")`,
and `response === null` is covered by `!response`.

I'll be able to test this other day, will let you know if required.

[2019-01-25 12:41] pmk65 commented on #162
No. Using your `if statement`, the false value will be tagged as invalid.
See this [test](https://jsfiddle.net/hyLq98sx/). (Test1 is your` if statement`, Test2 is mine)

But both of our `if statements` also let the `array` type pass as it's detected as an object. So there's a need to check for that too.

[2019-01-27 14:07] pmk65 commented on #278
Almost done with the code (layout still sucks 😁) Just need to code the updating of form from the config options.
I want to move the output to an iframe instead of injecting it on the current page. Like a "sandbox" That way there won't be any CSS clashes when using different frameworks.
But iframes is a pain styling for dynamic content so that there doesn't appear more than one scrollbar.

[2019-01-27 20:47] schmunk42 commented on #278
It's absolutely the right way.

CC: @marc7000 @germanbisurgi WDYT?

[2019-01-28 08:34] DODMax opened #281 "Submit JSON as a string instead of a property array"
### Expected behavior
When submitting the form in which the editor is included, I would like to receive the JSON object as a string.
### Actual behavior
I receive an object in the form root[person][name].

Thanks for the help!

[2019-01-28 10:47] dima-starosud commented on #162
@pmk65 Ah, I see, you're right. Sorry.
Solution proposed by you should work.

[2019-01-28 13:01] pmk65 commented on #162
@dima-starosud No problem. Typecasting in JavaScript is a real pain. And my 1st attempt didn't work either. 😉
I'm pretty sure that the problem occurs in other places too. Issue #159 looks very similar.
I'll make a PR with my last solution.

[2019-01-28 13:13] pmk65 commented on #281
Just pass the result through the [JSON.stringify()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) function.

[2019-01-29 05:07] DODMax commented on #281
Thanks, I ended up using a hidden field to store the string value
[code]

[2019-01-29 11:42] Dids opened #283 "Newer versions fail to transpile with Babel/Webpack/Vue"
### Expected behavior

Should transpile just fine in a Babel/Webpack/Vue project, with production enabled.

### Actual behavior

Fails to transpile in production with the following error:
[code]

### Steps to reproduce the behavior

Create a new Vue.js project with `vue-cli`, in my case I'm also using TypeScript, then add `@json-editor/json-editor` as a direct dependency, finally build the project

[2019-01-29 12:06] pmk65 commented on #283
This was fixed in #266, but a new release (1.3.3) hasn't been made yet.

[2019-01-29 12:09] pmk65 commented on #41
Closing issue due to lack of schema/feedback.

[2019-01-29 12:09] #41 closed

[2019-01-30 00:28] stultusstudio opened #285 "0 in an array is parsed into null"
### Expected behavior

I'm running into a crucial issue where if I enter this JSON, the "0" in the array turns into null. The expected behavior is that it should remain a "0" and be of type number, as opposed to type null. This appears to be related to #159.

### Actual behavior

What actually happens is the the "0" gets turned into a null.

### Steps to reproduce the behavior

Simply go to the de

[2019-01-30 09:07] marc7000 commented on #283
New release (1.3.3) is available...

[2019-01-30 09:44] schmunk42 commented on #285
Example: https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIasAjgK4QsAmiA2iAC2WahGRoswyLgBCAQxw50AWREQAkjm6wAHiAC6hEhLJpIsDIlDDR4yVmk55ilWs3a9CUGFLkQctDQ5IiYoWEFLL2IyfhAcdkFKdAMAXzSUoA==&value=N4Igtg9gVglgCgJwpALjCA7AQgQwxgUwQFloYBJDAEwIA8QAuAbQCYAaDAVwBtu2BGALoBfIA===&lib_switcher=&prompt_before_delete&theme=bootstrap2&iconlib

[2019-01-30 09:56] Dids commented on #283
Version 1.3.3 fixes this, thank you!

[2019-01-30 09:56] #283 closed

[2019-01-30 16:20] sriks316 opened #287 "Is there a way to hide all elements not defined in a schema?"
I have a situation where I can get a bunch of random additional json attributes in the jsonInput.

These attributes are eventually ignored by the end system.
However, this causes the GUI to look bad, because we see bunch of "string" items displayed in the GUI.

Instead of having me to add each and every item in the  schema as a hidden property, is it possible to just hide them by default if it not

[2019-01-30 16:23] schmunk42 commented on #287
Have a look at `display_required_only` - https://github.com/json-editor/json-editor#options

[2019-01-30 17:06] sriks316 commented on #287
@schmunk42  thank you. However, this doesn't solve my issue. Not all json attributes in my schema are required. Some of them are valid, but they may or may not show up in the jsoninput. Hence they are not required, but they are still defined in the schema. What about the ones not defined in the schema?

[2019-01-30 17:10] sriks316 opened #288 "What is the best approach to populate enum values from a remote source"
Hello, I didn't find this in the documenation. Is this it possible to load enum values from a external or different source.
During the time of page load or onlick event, I need to have my enumSource values pulled from a different source.
[code]

[2019-01-30 18:45] schmunk42 commented on #287
Can you provide an example?

[2019-01-30 19:31] schmunk42 commented on #268
@pmk65 I just noticed that this URL https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js - still delivers 1.3.2 - any idea why?

[2019-01-30 20:15] pmk65 commented on #288
Maybe something like described in #167?

[2019-01-30 21:48] pmk65 commented on #287
The simplest solution would be to create some custom logic that filters out the non-required properties from the schema before applying it to jsoneditor.

[2019-01-30 22:46] pmk65 commented on #268
@schmunk42 Try refreshing the link. That worked for me. I see 1.3.3.
And this version it's correctly minified too. (1.3.2 had a lot of comments still present in the minified version)

[2019-01-31 01:04] pmk65 commented on #285
Try calling `setValue()` a 2nd time. that seems to set the correct types/values.

[2019-01-31 04:40] j2jensen commented on #252
Update: we've discovered that in our case, even though the editor does take a long time to load (10+ seconds), what was actually making it crash the browser for some users was when they had the LastPass extension installed. I'm not sure if LastPass just started taking a long time to scan the fields to try to determine if they're for a form, or if we hit on some corner case that threw it into an in

[2019-01-31 12:33] ToBe998 commented on #144
I did a quick check of the json-schema.org website and the issues on it's github page and could not find any information on a "map" or "hash" type of array with named indexes.

Since virtually **every** coding language in existence provides such a data type, i'd call that a bug. In this case, not sticking to the json-schema.org and simply extending it would probably the right approach.

This featu

[2019-01-31 14:31] pmk65 commented on #144
@ToBe998 You are welcome to create a "map" editor and submit a PR.

[2019-02-01 00:53] stultusstudio commented on #285
This workaround works for me.

[2019-02-01 00:58] stultusstudio commented on #285
However, if we use a more complex JSON object that has this array nested inside, then the work around has no effect.

[code]

[2019-02-01 01:10] 13BTurbo commented on #276
Thanks, this fixed the issue for me.

[2019-02-01 06:18] yanyeAbbr commented on #265
Now bootstrap4 has no icon, what to do

[2019-02-01 11:52] pmk65 commented on #265
@yanyeAbbr Hard to say, judging from the information you provided.
You need to be more elaborate on the problem and/or post an example.

[2019-02-03 03:08] pmk65 commented on #278
I got the Iframe setup working now. See this [example](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBDtsAXAlggNgU3gLivAJgIYLrIC26U6eKA9gE6UAeBpADhgM7wA0kscwJHmy5E6Dgh59+ohAE9WmYDng0ARgCt0AY0nBe0GfABm9UkRHwA5nSFTD/Va2Q0IXZVHAOjwahwJqGAD6VChBGhyuIsYEqBzoBjICfgHBrHQ0inTI4tGx8dL8AL6JPumZ6NlIuR5eSTDwHITEInX1DYgKSirAErYQVvbtHaZ05no9zUql7fDIaN2iACJEFAAUAMoI/VYAlEPD+OLats5IUR7wWwQQhHR4UF

[2019-02-04 12:12] bittu opened #289 "hidden property attribute is not hiding form element in UI"
### Expected behavior
When a property in schema has `"hidden"` attribute defined true then the UI element should be hidden.

### Actual behavior
UI element is still visible

### Steps to reproduce the behavior
Please look into below link for example
where name property has `"hidden": true`
[JsonEditor Interactive sample](https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgL

[2019-02-04 14:13] pmk65 commented on #289
There's no option named "hidden" AFIK.
You need to set the `format` to "hidden" if you want to hide the field.

[2019-02-04 14:36] bittu commented on #289
Even `"format": "hidden"` is not hiding the whole UI element. It is just hiding the input element.

[Sample](https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIJaWZaksGioOAhgFtyoMKXIgMYNBBwBzJgBMudaSUi5EIAGIRMYAAR8cC/QBk+k/fyFMBM07DlgAFogAshJQDM+AV2iMSABS6LACRPoAIlhoeIReMQJ8gSDOEApKeAC+hHyywsRkmjJgsPloirA+/oEATACshHY4EAK+AogAjA