[2019-02-04 16:23] pmk65 commented on #289
@bittu Looks like the `hidden` editor isn't used after all, but it's set directly in the `string` editor. So the "compact" option should be working.

Try this (and don't set "description" as the "compact" option doesn't hide that)
[code]

[2019-02-04 20:15] bittu commented on #289
After parsing the code found setting
[code]
It is hiding the whole element.

[Example](https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIJaWZaksGioOAhgFtyoMKXIgMYNBBwBzJgBMudaSUi5EIAGIRMYAAR8cC/QBk+k/fyFMBM07DlgAFogAshJQDM+AV2iMSABS6LACRPoAIlhoeIRs6jjcCKDOEApKeAhSvrAAvnmEfLLCxGSaMmCwJWiKsD7+gQBMAKyEdjgQAr4CiACMABztfAAeXT2IAJyT

[2019-02-05 19:04] schmunk42 commented on #278
That's looking pretty slick!

[2019-02-05 22:11] pmk65 commented on #278
I have now moved the config options into a sliding panel (currently controlled by CSS, but I think some JS is needed to prevent it from accidentally closing) I probably do the same for the output values of the form.

I also created an example (Cleave) that uses the JavaScript from the Code editor to regenerate the form after injecting a custom javascript into the schema.

[2019-02-06 12:57] schmunk42 commented on #278
Please feel free to add it to this repo, so we can have it on https://json-editor.github.io/json-editor/

[2019-02-06 13:28] pmk65 commented on #278
Will do once I'm satisfied with the result. 😉
(There's still some styling that needs to be done.)

I just added another feature to the JavaScript part. Now you can use a custom "include" inside comments to load additional CSS and/or JavaScript. (Try the "Typeahead" example, which loads 3 extra JavaScript/Stylesheet)
That way it's easy to include additional JS/CSS (Since nothing is submitted, it do

[2019-02-07 13:44] VadimTikhonyuk commented on #288
No

[2019-02-07 13:48] VadimTikhonyuk commented on #288
![image](https://user-images.githubusercontent.com/13260375/52415390-877a4b80-2aef-11e9-9b7a-3770cd6d651a.png)

and in remote json I have structure like this
![image](https://user-images.githubusercontent.com/13260375/52415437-9e20a280-2aef-11e9-9400-57918a56b572.png)

But here is problem that you can't hide videos property.

looking for way to do this too

[2019-02-07 14:58] pmk65 commented on #288
If you want to modify the schema properties after generating the form, the ONLY way is to re-parse the schema after modifying (like #167).

Try this [example](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgS3gGwKZwFy2AeQK7wAOhcANJDHPAJ5EbDZwD2ARgFZoDG85lO8ABZoAtgybBWzZvADO8AE4BDIgBY+0HArQBHfIm0ATLFADa1NPICMfBJd7AAuhU1wiC5vQVJLJ8Jqo7az9+GECkVHEcAGVFRAgAcyh4eygAM0Q0FGNgFzCw6joo

[2019-02-08 09:24] jmandreoli opened #290 "Problem with SimpleMDE (format=markdown) in arrays"
### Expected behavior
My test type is an array of objects, each having a property 'bio' of type 'string' and format 'markdown'. When creating one item in the array, the SimpleMDE textarea appears, together with the text fields for the other properties. When deleting the item just created, both the text fields and the SimpleMDE textarea should disappear.

### Actual behavior
The text fields do disa

[2019-02-08 10:27] schmunk42 commented on #290
@pmk65 @marc7000 Is there a way to easily convert the provided JSON (without ") to JSON which can be used on the example page?

[2019-02-08 11:57] pmk65 commented on #290
@schmunk42 I use this one to  reformat JSON https://www.freeformatter.com/json-formatter.html
It will add the missing double quotes and clean up the JSON.

[2019-02-08 12:23] pmk65 commented on #290
I can confirm the problem.

[2019-02-08 13:37] schmunk42 commented on #290
@pmk65 This issue would be a nice use-case for https://pmk65.github.io/jedemov2/dist/demo.html

[2019-02-08 14:21] pmk65 commented on #290
I have added the schema to the examples as "SimpleMDE". But unfortunately the "prototype" override method doesn't work on functions with calls to `this._super()` so it wan't possible to test the fix using the Interactive playground.

[2019-02-08 23:25] #290 closed

[2019-02-11 12:18] VadimTikhonyuk opened #294 "Disable Header for Object"
It is possible to disable header at all and leave only content?

### Expected behavior
![image](https://user-images.githubusercontent.com/13260375/52562658-deda2d80-2e07-11e9-9e18-0bb4884eaad8.png)

### Actual behavior
![image](https://user-images.githubusercontent.com/13260375/52562633-c8cc6d00-2e07-11e9-88df-d3d0ffbd62bc.png)

[2019-02-11 13:12] schmunk42 commented on #294
You should be able to do that with CSS.

[2019-02-11 13:41] VadimTikhonyuk commented on #294
CSS can't remove header, here I just leave it " "

[2019-02-11 13:44] schmunk42 commented on #294
Could you provide an example schema link?

[2019-02-11 14:01] VadimTikhonyuk commented on #294
`{
	"definitions": {
		"application": {
			"type": "object",
			"defaultProperties": [
				"type",
				"title",
				"images"
			],
			"format": "categories",
			"properties": {
				"type": {
					"title": "Type",
					"type": "string",
					"minLength": 2
				},
				"title": {
					"title": "Title",
					"type": "string",
					"minLength": 4
				},
				"images": {
					"title": "Image",
					"type

[2019-02-11 14:17] schmunk42 commented on #294
The schema is not working for me, several parts are missing.

[code]

You can create an example here: https://json-editor.github.io/json-editor/ - Link is a the top right.

[2019-02-11 14:36] pmk65 commented on #294
Try making a more simplified schema to illustrate the problem.

[2019-02-12 08:29] VadimTikhonyuk commented on #294
[Updated Schema](https://json-editor.github.io/json-editor/?schema=N4IgJgpgZglgdjALjA9nAziAXKAhgB3wBsYBjXZNbURAT3wmxBQCMArCUxEAGnGlwBXIogAKAJxQNxyCJiwBtEHQa9lSIoz4wAtrgDmckAF0+UFOL3csIcogj6LMI33yTps+TXqMc6xJpMACo+aiq+IOiI4vD6ajrwADIQcPqIABbYAEwAvnzIAb40GhFBJWGhNlExqfFJKWmZWAAseSC6BkZ+BYE2AJJ6hhWqNrji4ri0akgQOl7+vSADncMRrBxcam5SEDLO8+JyKILipBB9YNQLEQBKRydnF6tM1bFqKYI6AMrHp74KoHQvzOTA6hjuQIeclE0TC5R

[2019-02-12 08:34] schmunk42 commented on #294
Why does

[code]

not work for you?

[2019-02-12 12:42] VadimTikhonyuk commented on #294
Where I should use this?
From my PoV I can get access to it through JS by having id of element, but header doesn't have id or classname
![image](https://user-images.githubusercontent.com/13260375/52636120-61c8ba00-2ed4-11e9-8528-742b6ba2efbf.png)

[2019-02-12 12:44] VadimTikhonyuk commented on #294
Where I should use this?

[2019-02-12 20:35] pmk65 commented on #294
Just put the CSS into your own CSS file/styles.
Or if you really want to do it from JavaScript, you can do something like: `document.querySelector('div[role="tabpanel"] > div > div > h3').style.display = 'none'; `

[2019-02-13 16:54] jdelfino opened #297 "expand_height initially shows 0 height textarea"
### Expected behavior
When loading an existing JSON document into the editor, a `format: textarea` field with `expand_height: true` should initially size the textarea to fit the existing text.

### Actual behavior
I see a 0 height text area until I get my cursor into the textarea and move it around. At that point, the textarea sizes itself appropriately.

Before interacting with the text area:
<im

[2019-02-13 17:04] jdelfino opened #298 "When loading existing document into editor, hide some populated fields by default"
This is more of a question/feature request: I'd like to be able to load a document with a number of fields on it, but initially hide many of them, because they aren't commonly edited/exported. I'd like editors to be able to add these fields back via the `Object Properties` menu when needed.

It seems that both `required` and `defaultProperties` don't work for this - if you load a document with pop

[2019-02-13 21:46] pmk65 commented on #297
The problem is that no event is fired in JavaScript when you insert content into a textarea by script.
See this fiddle: https://jsfiddle.net/3mq0aLo2/
Only when you press a key or exit the textarea, the event is fired.

But you can trigger the "change" event on the input field from your script, after you have inserted the value. See this [example](https://pmk65.github.io/jedemov2/dist/demo.html?sc

[2019-02-14 00:12] pmk65 commented on #298
There's no option like that AFIK, but you can do it with some JavaScript, like this:
[code]
See live example [here](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgS3gGwKZwFy2AYXQIYBuaAdAFYDOUaAJsgPYBONAHgQLYAO6lcANJBhxEtLDnhpK8AUIkBPLhmDY4DAEbk0AYxnBB0HADNmHAntXAA5k1GzDarkgYQ+KqOEPDg9SgXXoAPp0yIFULuJGBCiUaAYw3r7+QVxMDEpMSFKR0bFyAL7xOKnpaJmI2e6eCTiBABZoBLRl4tU1CkricNK2EFb27cam

[2019-02-14 04:08] jdelfino commented on #297
Thanks for the quick response - will give it a try!

[2019-02-14 04:10] theBull commented on #159
Hey everyone. I did a little more digging and couldn't pinpoint the issue either. The workaround mentioned above worked to get me unblocked, so for what it's worth, if anyone stumbles across this while the cause is being investigated, give that a shot.

[2019-02-14 04:14] theBull commented on #244
Hey guys - sorry my activity on this (and other) issues has been limited. @taschmidt I did not get it working and just put some plain text in instead. Overriding the method sounds like a perfectly reasonable approach, I personally wouldn't be too worried about it...just be careful when pulling in the latest version of json editor at a minimum.

[2019-02-14 15:05] IanMayo opened #299 "JSON Editor meta-schema"
This issue was addressed without success previously #52

The JSON-Editor uses a schema to structure the editor.

The schema adheres to the JSON Meta-Schema [1]

The JSON Editor adds some properties the JSON Meta-Schema (such as `format` attribute).  I suspect it _may_ not reflect some JSON Meta-Schema properties.

Also, when the schema element of the JSON-editor is populated with the JSON Meta-Sch

[2019-02-14 15:08] schmunk42 commented on #299
AFAIK not more than described in the issue, but any help with this would be greatly appreciated.

[2019-02-14 15:10] IanMayo commented on #299
I had a play with it myself over the weekend, just to "prove the concept".  But, it's a fairly hefty piece of work so if it hasn't been done before I'll be offering it to freelancers, with the intention of submitting it to this repo on completion.

[2019-02-14 15:13] IanMayo commented on #299
BTW, @schmunk42 - I just went to your profile page, to see if your email address was listed. I was going to invite you to apply to take on the task. I couldn't find one.

I _think_ you, or anyone else associated with JSON-Editor can view/apply for the job posting here: https://www.upwork.com/ab/applicants/1096060693219868672/job-details

[2019-02-14 16:00] IanMayo commented on #299
Aah, @schmunk42 - do you contributors have a Slack channel or private mailing list where you discuss dev issues.  If you do, I'd appreciate you sharing this issue in there, please.  I'm happy to sponsor the development of this valuable feature, that I'll be contributing back to JSON-Editor.

So, to get it right first time, I'd appreciate the support/guidance of the community.

[2019-02-14 16:05] IanMayo commented on #52
Hi all, I've created a new issue relating to this one #299

The schema the original poster was referring to was the JSON Meta-Schema.  It exists, and can be used in JSON-Editor to create/edit a schema.  But, the editor has sub-optimal formatting, since the JSON Meta-Schema doesn't contain the fancy JSON-Editor specific formatting hints.

[2019-02-14 17:17] pmk65 commented on #299
JSON-Editor currently only supports JSON Schema version 3 and 4, so the above schema might give unexpected results.

[2019-02-14 17:29] IanMayo commented on #299
Yes, thanks @pmk65 .

But, it's not very effective in JSON-Editor, since it lacks the layout hints that JSON-Editor supports - so the resulting editor is quite verbose and inefficient.  So this task is to refine the schema to include "format":"table", and include $ref constraints, etc.

[2019-02-14 18:24] pmk65 commented on #299
@IanMayo Im currently working on creating a new "Interactive Demo" for JSON-Editor, which allows for more complex testing setups than the current one. You can try it [here](https://pmk65.github.io/jedemov2/dist/demo.html)
It's not as restrictive as the current one, as it will generate schemas without starting values. And it includes several example schemas and setups.

[2019-02-14 20:00] IanMayo commented on #299
Hmm, maybe there's already a suitably annotated meta-schema in the repo.

Does anyone know the background to this file?
https://github.com/json-editor/json-editor/blob/master/docs/meta_schema.json

[2019-02-14 21:27] schmunk42 commented on #299
I've just enabled one ;)

[2019-02-16 17:22] co16353sidak commented on #231
Would love to work on this if no one else isn't. @pmk65

[2019-02-16 19:03] pmk65 commented on #231
@co16353sidak I can see that @disalvjn did some work on this, see: https://github.com/disalvjn/json-editor/commit/417070eb2ffd34f1f95d9ea24d74879b27ab47fa
But since he never committed it to the main repo, I guess you can take over if you want.

[2019-02-16 19:06] pmk65 commented on #299
Looks like @Franciman Is working on something like this now. See #300

[2019-02-16 19:13] pmk65 commented on #231
@co16353sidak Just remember that it MUST be using "." as default. (in order to preserve backward compatibility) So you will need to have an option to change it if needed.
(Like: `JSONEditor.defaults.options.seperator = <blah blah>`)

[2019-02-16 20:10] IanMayo commented on #299
@pmk65 - that's not a coincidence :-)

[2019-02-16 21:42] pmk65 commented on #278
@schmunk42 Take a look at the latest version and see if there's anything you think is missing.
I just added the missing output and validation displays. And now you can download and upload testing examples too.
I think I got everything covered now, but an extra set of eyes always help. 😄

[2019-02-17 20:17] pmk65 commented on #128
@drzax I suggest you open a new issue with specific examples etc. As it looks like the the original reporters is no longer around.

[2019-02-18 01:55] drzax commented on #128
Sorry, I don't have time for that and the bug is already explained quite
well here. I just wanted to point out that this is still a bug, and rather
an annoying one which is difficult to track down. Feel free to use/manage
this bug report however you think is appropriate.

On Mon, 18 Feb 2019 at 06:17, Peter Klein <notifications@github.com> wrote:

[2019-02-18 10:40] pmk65 commented on #128
Then I'll leave it closed for now, as I am only focusing on issues with active reporters.
But maybe someone else will look at it at a later time.

[2019-02-18 15:34] IanMayo opened #302 "New example editor - Schema Editor (with preview)"
Use of the JSON Meta-Schema in the repo [1] allows the JSON-Editor to be used to edit schemas.

One of the core features of JSON-Editor is to dynamically generate a form-based editor based upon a schema.   We could use another JSON-Editor instance on the page to act as _Preview_ of an editor based on that schema.

So, it would start with a JSON-Editor that is based on the JSON-MetaSchema.  This ed

[2019-02-18 15:48] pmk65 commented on #302
There's a couple creator tools available for JSON-Editor.
https://niebert.github.io/JSON2Schema
http://json.bootsphp.com/jsonSchemaCreator/

Dunno if it's something like that you are talking about?

Also, I'm currently working on a replacement for the /docs/demo.html with a lot more options and nicer layout. See: https://github.com/pmk65/jedemov2

[2019-02-18 16:39] IanMayo commented on #302
Yes, they're both examples of what I was describing, though it took me a few minutes to recognise this is what the first one was doing.

The second one is very close to what I pictured. How about having something like it in the repo examples?

[2019-02-18 16:50] disalvjn commented on #231
@co16353sidak @pmk65 I basically did a find-replace on `'.'` and changed it to something like `'json-editor-separator'`.

That may not complete the feature; perhaps the functions that take paths (which include: `editor.disable`, `editor.enable`, `editor.watch`, `editor.unwatch`, `editor.getEditor`) might support taking an array, so that the library can join the path constituents together with the

[2019-02-18 23:05] pmk65 commented on #302
That would be a cool addition.
There's also this one. (Not based on JSON-Editor) https://www.jsonschema.net/

[2019-02-19 13:27] IanMayo commented on #302
@pmk65  - @Franciman & are going to work on an alternative example of a schema editor here:

[2019-02-19 14:03] pmk65 commented on #302
@IanMayo I'm looking forward to see how you progress.

[2019-02-19 14:12] taschmidt commented on #252
@j2jensen I know it's probably a long shot, but did you ever get any resolution with LastPass? We encountered the same thing, those with LastPass installed see SIGNIFICANT delays (like 4-5x)!

[2019-02-19 15:36] j2jensen commented on #252
No real resolution, no. They pointed me to this FAQ, which I was already aware of: https://lastpass.com/support.php?cmd=showfaq&id=10512

Thing is, we're not trying to prevent them from adding their lastpass icons: we're trying to prevent them from scanning the DOM in the first place. I haven't tested adding this attribute to all the text boxes, but I doubt it'll address the problem.

It wouldn't

[2019-02-19 15:51] pmk65 commented on #252
I'm not familiar with Lastpass myself, but from the link @j2jensen posted, it looks like it inserts some kind of icon for each form field. It that's the case, the `data-lpignore` might help. As inserting icons into the DOM for every form field take a lot of time. Specially if they do it one-by-one.
(You can add custom attributes to the input tags using the [inputAttributes](https://github.com/json

[2019-02-20 17:06] pmk65 opened #305 "Grid layout doesn't work with Foundation6 new XY Grid system"
Latest version of Foundation6 no longer works with JSON-Editor Grid layout.
See: https://foundation.zurb.com/sites/docs/grid.html

Only the legacy CSS (foundation-float.css) works with JSON-Editor.

[2019-02-20 21:33] schmunk42 commented on #278
Pretty awesome!

The only thing is that I needed a bit to understand that I had to regenerate the form after changing options.

CC: @marc7000 @germanbisurgi @eluhr @handcode - any feedback from your side: https://pmk65.github.io/jedemov2/dist/demo.html

[2019-02-20 22:36] pmk65 commented on #278
I'm going to change the options panel so that it stays open until you click outside it (or on a close button). And once it closes the form will regenerate.

Direct links is also a bit nicer now as I convert them to shorturls. They look like this now: https://is.gd/kClzFU

[2019-02-21 07:36] schmunk42 commented on #278
Could we make this optional or additional?

While this feature is cool it is an additional service which might not be available in the future (#268)

[2019-02-21 08:34] punppis opened #306 "Using parent container in enumSource causes stack overflow"
### Expected behavior
Properly working enum field.
### Actual behavior
![image](https://user-images.githubusercontent.com/6446823/53154401-63286f80-35c3-11e9-94d0-a15cd16951b3.png) or just empty enum field
### Steps to reproduce the behavior
It happens immediately on load.
Direct link to example: https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAaEUATkrIWAJYwDOComSAdmAIb

[2019-02-21 11:16] pmk65 commented on #278
The problem is with the extra JavaScript, CSS etc., the URL get's REALLY long.
https://is.gd (and it's sub site https://v.gd) is a [GITHub project](https://github.com/JeffResc/Is.gd-Node.js) and have been running for quite some time. So I think it's safe to use.
 If you run the Playground locally, it will use the longurl instead of the short one..

[2019-02-21 12:19] pmk65 commented on #306
@punppis I'm not sure if it's a bug. As you "watch" the "root.container", which contains both "a" and "b".
So when "a" changes, the "watching" is triggered and "b" is updated. This again triggers the "watching" (since you "watch" the parent). And this will keep going on in an infinite loop.
Try "watch" the "a" field instead.

[2019-02-21 13:26] schmunk42 commented on #299
@IanMayo Did you send me an e-mail, haven't seen one yet?

[2019-02-22 06:44] punppis commented on #306
I see your point but I think this should still be possible. If the value does not actually change, "watcher" should not trigger and thus eliminating the loop.

Am I trying this correctly? I want to have list of all other **siblings** of the object in the enum. "container" has all the items, each item should have "a" field from all the objects to be selected in field "b". This would allow to create

[2019-02-22 16:26] marc7000 commented on #278
Looks good to me, i like it ;)

[2019-02-23 00:19] pmk65 commented on #306
@punppis Take a look at the colors example in readme.md or here: https://is.gd/Vd1Llg
I think you just need to rearrange your schema, as it looks very similar to what you are doing, but is working.

[2019-02-25 14:37] KamilGPSEA opened #307 "JSON modification"
Hello,
I was wondering where the JSON file is to modify once the information is entered in the Form.

[2019-02-25 15:05] pmk65 commented on #307
You get the form result by calling `editor.getValue()`

[2019-02-25 15:10] KamilGPSEA commented on #307
And can I store all the results in a single JSON file?

[2019-02-25 15:20] pmk65 commented on #307
You can do whatever you want with the result. You could pass it through [JSON.stringify()](url) and then store it in a hidden field before submitting to server. Or you could create some JavaScript code to save it directly as a file if you want to.

[2019-02-25 15:22] KamilGPSEA commented on #307
Merci beaucoup

[2019-02-25 15:38] pmk65 commented on #307
Here's a pure JavaScript `SaveAsFile` solution (Editor must be available in the variable `jseditor` :
[code]

[2019-02-26 06:32] schmunk42 commented on #307
@pmk65 That's nice! How about a "pure JavaScript `SaveAsFile` solution" page in the wiki?

[2019-02-26 08:11] KamilGPSEA commented on #307
+1

[2019-02-26 11:03] pmk65 commented on #307
Done! https://github.com/json-editor/json-editor/wiki/Adding-a-SaveAsFile-button

[2019-02-26 12:16] pmk65 opened #308 "Does anyone got a working ACE Editor example"
I'm trying to setup an ACE Editor field, but I keep getting errors like these when using CDN lib "https://cdn.jsdelivr.net/npm/ace-builds@latest/src-noconflict/ace.min.js":

Example: https://is.gd/maGoYz

So if anyone got a working setup (Not just the schema), please post a link.

[2019-02-26 14:24] stt commented on #288
From my reading of OP question there's no need to change the form once it's rendered ("time of page load") but the values do need to be loaded from remote source. Meaning "watch" isn't necessary, that's for dynamic values.

One option is to take the whole jsonschema definition of the property and move it server side:

    "type": "object",
    "properties": {
      "remotethings": {
        "$ref"

[2019-02-26 17:48] schmunk42 commented on #308
@eluhr You had one right?

[2019-02-26 17:48] schmunk42 commented on #307
Can we close this?

[2019-02-26 19:24] #307 closed

[2019-02-26 20:14] pmk65 commented on #278
I had to switch back to using the obsolete `document.write()` to create the iframe content. (The recommended way of using a `blob` prevented window.location from returning useful values. See my test here: https://codepen.io/pmk/pen/wOwoyW)
This solved most of the issues I had, like `$refs` not being expanded correctly. Now I'm down to just 2 examples that doesn't work correctly.

1) [ACE Editor](h

[2019-02-26 22:02] pmk65 opened #309 "XML Parsing Error: not well-formed in Firefox when used locally"
When used locally (file://), Firefox throws an error when loading $refs through AJAX.

`XML Parsing Error: not well-formed ...`

This is due to the XHR request. When the MIME type isn't set by the server, Firefox believe that the file requested is in XML format. See: https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/overrideMimeType#Example

[2019-02-27 00:27] pmk65 commented on #308
I think I got it figured out with the help of Google translate and a Russian site 😁

If you are using the CDN lib: "https://cdn.jsdelivr.net/npm/ace-builds@latest/src-noconflict/ace.min.js", then you must set the ACE "basePath" to the same path as the lib:
[code]
Or a more "fancy" approach: (Live example: https://is.gd/AD6UdE)
[code]
But the "misspelled option" still occurs when using the options

[2019-02-27 00:41] #309 closed

[2019-02-27 06:21] schmunk42 commented on #309
@pmk65 One minor thing, GitHub can close issues automatically using predefined keywords ;) https://help.github.com/en/articles/closing-issues-using-keywords

[2019-02-27 08:14] eluhr commented on #308
Yes, but not in combination with the JSON Editor.

[2019-02-27 11:22] pmk65 commented on #308
I'll make a stand-alone ACE-Editor example for the docs/ folder.
I also noticed some annoying "features" of ACE Editor while working on my Playground project, and I'm pretty sure the also occurs when using it inside JSON-Editor.
1) After setting the value in ACE Editor using `setValue()`, all the content is selected.
2) If a ACE Editor field is hidden when you update the value, the value is not vi

[2019-02-27 11:24] pmk65 commented on #309
Thanks for the info. I didn't know that. 😄

[2019-02-27 12:09] MF0124 opened #312 "Uncaught TypeError: Cannot read property 'flatpickr' of undefined"
we are getting folowing exception
Uncaught TypeError: Cannot read property 'flatpickr' of undefined

while using rawgit demo site https://rawgit.com/json-editor/json-editor/master/docs/demo.html as well as in our application while using oneof schema with date. This error we get when using option 'Update form' with input json. Please find json schema and input json

Schema:
{
  "type": "array",
  "

[2019-02-27 12:41] pmk65 commented on #312
I pasted your schema and value into the [demo](https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgLgngDgpiBcICGAnFSIgDTgJZgBs5EAVGAZzGxHxgFtyFRJYEQB7AIwCsYBjKjgAWMJABMYKMnSgEkYYiGDByMAgDMAdLToBfXdRQwAjgFdcRsQgDaIAJIA5AGoB9AMokAgiQCqbkAC6OFAo7LAoYLgUTPbO7l6+/vDM+ERsACIwYEi4BOQABA5IdHA4YZHsAHaMySAA1jAwUC5VMOzqLgBuSASm0fDqPaq6ZZUwAPLqNimEiuNQFZX5AIzULIpcvAKGJuaWNiAAYqs4hwBMgc

[2019-02-27 13:10] #308 closed

[2019-02-27 13:10] MF0124 commented on #312
Just before this(var dateFormat = ed.flatpickr ? ed.flatpickr.config.dateFormat : format[ed.format];) line

Getting error on "var ed = this.jsoneditor.getEditor(path);"

we are using v1.3.4
also getting same even if we select flatpicker option in the libraries of rawgit

[2019-02-27 15:09] pmk65 commented on #312
Thanks. That helped me pinpoint the problem.
The `path` variable in your test case is either `root.F1` or `root.F2`, but the editor it's trying to lookup got the keys `root.0.INV_STATUS.F1` and `root.0.INV_STATUS.F2`

I think it's due to the validation picks the `date` validation before `oneOf` validation.
As i put in some `console.log()` in the `onOf` and `date` validation functions, and only the

[2019-02-28 11:34] algr opened #313 "Description text is repeated inline in tables"
### Expected behavior

When using the 'table' format, we would like a tabular display of the data, like an HTML table or spreadsheet. Where the schema has descriptions for the data items (i.e. columns in the table), they might be visible on a mouseover, or in column headings etc.

### Actual behavior

The default table rendering of arrays, where there are descriptions in the schema, repeats the de

[2019-02-28 13:09] schmunk42 commented on #313
Since the help text is already wrapped in a `<p>` tag with a class I think you can implement this on your own.

[2019-02-28 13:09] #313 closed

[2019-02-28 16:35] algr commented on #313
There's no class, the help text is wrapped in a <p> tag with inline style:

[code]

[2019-02-28 17:02] sriks316 commented on #288
@pmk65
i took your example and updated the output value to green:
[code]

But when i click on test button, i still see red as the selected option.

What do I have to do to make green as the selected option since that is the value in the json output/input.

https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgS3gGwKZwFy2AeQK7wAOhcANJDHPAJ5EbDZwD2ARgFZoDG85lO8ABZoAtgybBWzZvADO8AE4BDI

[2019-02-28 17:52] sriks316 commented on #298
thanks pmk65. But I kind of dont know what to hide. I may be getting a key / value that is not defined in the schema. I want to keep it in the JSON output(not remove it altogether) but hide from the GUI.

[2019-02-28 20:53] paulmeems-waterwatchfoundation opened #314 "Sphinx+ReadTheDocs integration"
### Expected behavior
Use the validator with Sphinx on ReadTheDocs

### Actual behavior
No documentation, so not sure how to do this.

### Question
We've made a JSON Schema and have documented it with Sphinx on ReadTheDocs: https://global-coffee-data-standard.readthedocs.io

We would like to add your json-editor/validator on one of our rst pages but we're not sure how to do this.
Is this been done

[2019-03-01 09:45] schmunk42 commented on #313
Which version are you using?

[code]

https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QCsDOB7AdgAlQYwAtYBbAQ21gA9TiAHOEAGnAE9b4l0AjZWPMJiFoAndO2GRYqRKCo16HUGDYcQpYcNItBAM3TCyApGFJcGzKCWkIlUBkkvFBy9ohDde/QSLGwJEKRkQPHQAE0UQcPxhCFpILDcAV0wIAEdE2GxHbBDw5xU3CEwwWABzPxAAX2ZMGgiovBi4iASkWuJM9B1sMCIskuJGHoIIVGxiCFKCMGwuTPIANz8WbGgsUuwGpvjMId7SGdRaUkwx4kToSAVVosDmF1VUMBjMUqrKj4+gA&value=N

[2019-03-01 13:46] pmk65 commented on #288
The reason the Output panel doesn't update, is because it listens for changes in the editor fields. And apparently regenerating the form doesn't trigger that. I'll see if I can fix it in a later version.

As for the value, then it DOES update when you click the test button.
Thy this example and switch on the console panel in your browser: https://is.gd/19goBx
It will dump the result of the form on

[2019-03-01 13:58] pmk65 commented on #314
I have zero experience with Sphinx, but I did a quick googling around and found this page:
http://www.sphinx-doc.org/en/stable/templating.html#script_files
So it should be possible to include custom scripts on a page.

[2019-03-01 14:51] algr commented on #313
I'm using latest/dist/jsoneditor.min.js from cdn.jsdelivr.net as suggested in the docs, with no specific CSS for the json-editor elements.

As a workaround, I was able to hide the help text with
[code]
but the table layout is still bad as the fields are generally too wide and the "move up" / "move down" buttons are stacked on top of each other at the end of each row. It needs to be more compact to

[2019-03-01 15:02] pmk65 commented on #298
I guess you could use the same logic, but instead of calling "removeObjectProperty" set the field(s) to hidden.

[2019-03-01 15:03] pmk65 commented on #288
@stt Sounds interesting, but from reading the comments it requires some improvements. Specially the problems with not expanding the $refs fully.

[2019-03-01 15:22] pmk65 commented on #313
@schmunk42 It's odd. In *all* the editors there's a check in the `build()` function to see if `this.options.compact` is not `true`. And only when it's `false` the description is generated. But I can't get it o work with your test case. No matter where I put the options object.
[code]

[2019-03-01 15:24] pmk65 commented on #313
You are more than welcome to submit a PR if you can improve the layout.

[2019-03-01 16:50] schmunk42 commented on #313
Definitely, but we need to make sure it works for all layouts (table, tabs, ...)

[2019-03-04 15:53] dzg opened #319 "Need help with selectors from array"
I have all my data in an object. I have 3 dropdowns, and I each dropdown to populate based on the selection of the previous one.

For example:

[code]

The idea is that first you choose a "Campaign", then 2nd dropdown shows "Jobs" for that campaign, then 3rd shows "Projects" for that job.

This is what I've tried for the first 2 items, but I'm not understanding how `watch`, `enumSource`, and `temp

[2019-03-04 18:55] pmk65 commented on #319
Watching a field from within the schema is rather limited, compared to watching the field from JavaScript.
If you watch the field(s) from JavaScript, you can manipulate the fields better.
Take a look at this example: https://github.com/json-editor/json-editor/wiki/Adding-autoprefilling-based-on-value-in-another-field-using-Bloodhound

[2019-03-04 18:58] dzg commented on #319
@pmk65 thanks! Looks promising.
I just discovered Alpaca, seems more robust, maybe I should be using that?

[2019-03-04 20:21] pmk65 commented on #319
@dzg I originally used Alpaca myself, before switching to JSON-Editor. I found Alpaca too bloated and the documentation didn't match the current codebase.

[2019-03-04 21:32] schmunk42 commented on #319
btw, I just ran `cloc` against Alpaca's `src`

[code]

and `json-editor`

[code]

[2019-03-05 05:43] dzg commented on #319
@pmk65 I looked more closely at that example, and the problem is that I don't need to `setValue` for the other fields ... I need to `setEnum` or something, which I don't see as a method.

@schmunk42 Also in the colors example, the 2nd field is taking values from an array in 1st field, but my 1st field is not an array, it's 1 selection from enum list.

I'm fine using `onchange` but how do I change

[2019-03-05 07:59] pmk65 commented on #319
@dzg I recently made an example of modifying enum using JavaScript. https://is.gd/E8Ha7e
A combination of this and the other example might do wat you are looking for.

[2019-03-05 18:17] pmk65 commented on #319
@dzg Take a look at this. https://is.gd/VDL0Wv
Needs some more work, but should be good as a base.
Note: I rewrote the data format to make lookup more simple.

[2019-03-06 09:40] dzg commented on #319
@pmk65 Thanks, I tried that, and I can modify the schema ... but the destroy/recreate function redraws the whole screen and renders really ugly with no styling.

Is there a way to 'rebuild' a single field? Or redraw the form in place?

[2019-03-06 09:52] dzg commented on #319
Can the source of an `enumSource` be a function which takes the value of another field as an argument? Or something like alpaca's `subscribe` function? I was able to get that to work in alpaca ... but everything else was a nightmare.

[2019-03-06 13:59] dzg commented on #319
UPDATE: I figured out that to redraw properly I had to pass the old options into the new editor
👍

[2019-03-07 07:58] dzg opened #320 "Issues with `.watch`"
Starting from [this](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgS3gGwKZwFy2AeQK7wAOhcANJDHPAJ5EbDZwD2ARgFZoDG85lO8ABZoAtgybBWzZvADO8AE4BDIgBY%2B0HArQBHfIm0ATLFADa%2FKgjTyAjBpiX413sH4BdCprhEFzegqRrE3BNR2c7RigQhwdqZHQTOABlRUQIAHMoJ3koADNENBRjYE8YxzpxHHkFNPT7MrhDNFylfBQXCQAJQpRmKAB1ZgUiuAsoAF9S2Kt5YLHHeMrk1IyoNAh8ETyCkZL5gQrE4Gra%2Bpi4dc2Tc1CGyRQlLgBrM7uAd0FkBn23MfH%2Bf4QcbA

[2019-03-07 07:58] dzg commented on #319
Actually it's not working, see https://github.com/json-editor/json-editor/issues/320

[2019-03-07 08:20] dzg commented on #320
Also, this:
[code]
returns the changed value of the changed field.

But this:
[code]
returns the value of the changed field **before** it was changed.

[2019-03-07 09:04] pmk65 commented on #320
I haven't tried it, but it should be possible to add or remove fields
There's an example on the old repo: https://github.com/jdorn/json-editor/issues/387

[2019-03-07 09:10] pmk65 commented on #319
I fine-tuned my example: https://is.gd/amdw1Q
So it should be working 100% and now unselecting works too. The "water -> fish" has 3 steps, while the others 2.

In the "watch" function, I update the "startval" array with the current value. (I too noticed the problem with the value in "watch" getValue() didn't contain the current value)
[code]

[2019-03-07 09:26] pmk65 commented on #278
I got the "Advanced Example" to work. So now I have re-created ALL the examples from the docs/ folder 100% or better 😄
I have also added a lot of other examples. Some general JSON Schemas, some specific for JSON-Editor (Editor examples) and various JavaScript examples.

If you think there's some features not covered in the examples or got some interesting examples of your own, please post them on

[2019-03-07 10:56] dzg commented on #320
@pmk65 ok, I'll try that!
What about the second issue?
Do you know why I getValue isn't getting the changed value?

[2019-03-07 11:11] pmk65 commented on #320
I converted the example from the old repo to a non jQuery version, and this method seems to be working well. https://is.gd/nJBCW5

Inside the "watch", you can explicit call getValue for the selected editor. that will give you the correct value. I read somewhere (can't remember where) that if you can `jseditor.getValue()` twice in a row, the 2nd time the value is updated.

[2019-03-07 12:18] reinesvs commented on #130
@pmk65 Where in the specification is the relation between required and additionalProperties described as you have interpreted above?
Accordning to [Required Properties](https://json-schema.org/understanding-json-schema/reference/object.html#required-properties) there is not relation between required properties and disallowing any other properties defined in the schema. additionalProperties only co

[2019-03-07 18:26] deef0000dragon1 opened #321 "Readme clarity request"
New to json-editor, I am having a lot of trouble figuring out how certain things are implemented. Most of the information is located in the Readme and examples, however, because of it's size, its difficult to figure out what is needed, and I am basically working off of trial and error at this point. (it took me  hours to realize that I was missing a keyword because it is not documented as necessar

[2019-03-07 19:17] freiguy1 opened #322 "SCEditor 2.x doesn't work"
### General information

- json-editor version: 1.3.5
- SCEditor version: 2.1.3

### Expected behavior

SCEditor shows up as my string editor

### Actual behavior

It is just a plain text area

### Steps to reproduce the behavior

[code]

This is in my index.html. It appears SCEditor is no long dependent on jQuery which is nice for page footprint. Below is an example of my schema.

[code]

[2019-03-07 19:28] pmk65 commented on #322
I had problems getting SCEditor to work in my JSON-Editor Playground too.
But with the right libraries (You'll need the jQuery version), it does work. See this example: https://is.gd/DkuS3B

The files I include:

[2019-03-07 21:06] freiguy1 commented on #322
That did work for me, thanks! I guess this is closed then.

[2019-03-07 21:06] #322 closed

[2019-03-08 11:34] schmunk42 commented on #321
I also though about it, but it's also very help to be able to use `Strg+F` in the browser to search the "whole" docs.

Adding a TOC would be good, we could create it via JS and a `docs.html`.

@pmk65 WDYT?

[2019-03-08 14:45] pmk65 commented on #321
Sounds like a good idea.
There's some tools for creating TOC in GitHub readme.md files. Maybe useful.
https://github.com/ekalinin/github-markdown-toc
https://github.com/ekalinin/github-markdown-toc.go

[2019-03-08 17:35] schmunk42 commented on #321
More tooling, untested:
- https://github.com/tscanlin/tocbot/

[2019-03-09 03:30] deef0000dragon1 commented on #321
@schmunk42 being able to search the docs is indeed very useful.

Used github-markdown-toc.go to see how a ToC would look, and for my own personal use. https://github.com/deef0000dragon1/json-editor

It looks good, but I think that it might need a bit of format cleaning.

Other things about the README:
A Minimum working example in the readme might be useful. (even smaller than basic.html) Something

[2019-03-09 16:23] pmk65 commented on #321
It's definitely a good improvement.  👍

@schmunk42 Should the TOC be included in the readme.md, or auto generated (Grunt task) when a release is made? (It isn't hard to update it manually, but I'm pretty sure people forget to do it. 😁 )

The documentation only covers the basic JSON Schema options and the options `specific` for JSON-Editor.
Covering all options would involve copying a lot of inform

[2019-03-09 16:28] pmk65 commented on #321
Don't be afraid to commit any changes to the readme.md. You a probably better suited for the task than the more "hardcore" contributes. 😁
You have the advantage of being new to the system and can spot the places where you have problems understanding the current documentation.
And everything submitted goes through a review.

[2019-03-09 21:17] schmunk42 commented on #321
I'd rather generate it on the fly, but we'd need a HTML page for the docs first.

[2019-03-09 21:25] pmk65 commented on #321
Can't you just view the readme.md in the browser and then save the page as **docs.html** ?
Or does it have to be in a special format?

[2019-03-09 22:50] schmunk42 commented on #321
I meant something similar to such a setup...

This repo https://github.com/dmstr/phd5-docs/tree/master/guide is rendered on the fly as https://phd.dmstr.io/en/docs/default/index - this is done with PHP and still needs some work, but you could easily add autogenerated TOCs etc.

The repo which does that is here: https://github.com/schmunk42/yii2-markdocs-module

[2019-03-10 17:48] y25ean opened #323 "Input format - oneOf error"
### General information
When using oneOf to select a date or datetime input, an uncaught type error occurs.

- json-editor version: 1.3.5

### Expected behavior
Enable user to select between date and datetime formatted inputs.

### Actual behavior
Uncaught TypeError

### Steps to reproduce the behavior

Direct link to example: The direct link did not work with this error.

[code]

[2019-03-11 12:47] pmk65 commented on #323
Probably related to #312

[2019-03-13 12:08] pmk65 commented on #312
@schmunk42 @germanbisurgi Doesn't look like it's possible to get the full path to a field in the validation process. Specially if field is in an array. Do you know of any ways to access the full path in the validators?
Otherwise I'll remove the date/time validation, as it relies on getting the `options` from the schema field definitions.

[2019-03-13 13:55] schmunk42 commented on #312
Shouldn't we rather fix the full path access, than removing the validation?

[2019-03-13 18:43] pmk65 commented on #312
That's what I have been trying to do without success.
Remove the validation is the last resort, so that the editor doesn't break when using date fields inside arrays.

[2019-03-13 19:10] schmunk42 commented on #312
Could a custom validator be a workaround?

[2019-03-13 19:47] pmk65 commented on #312
The datetime validator is already a custom validator.

[2019-03-14 16:40] lucas-lotr opened #324 "setValue() for integer datetime-local not working"
### General information
setValue() for integers formatted as datetime-local does not work.
- json-editor version:

### Steps to reproduce the behavior

Direct link to example: https://rawgit.com/json-editor/json-editor/master/docs/demo.html?schema=N4IgLgngDgpiBcICWA7MMDmMBOIA0IAZgPbYC2AhmAiACZUxhJkwC0ANsQMYXsgC+QA=&value=&lib_switcher=&prompt_before_delete&upload=function(a,b,c){console.log(%22Upl

[2019-03-15 11:28] pmk65 commented on #324
@lucas-lotr Please post a code snippet of the fix you made.

[2019-03-18 13:56] lucas-lotr commented on #324
Over at datetime.js the setvalue function should be:
`setValue: function(value, initial, from_template) {
    if (this.schema.type == 'string') {
      this._super(value, initial, from_template);
      if (this.flatpickr) this.flatpickr.setDate(value);
    }
    else if (value > 0) {
      var dateObj = new Date(value * 1000),
          year = dateObj.getFullYear(),
          month = this.zeroPad(

[2019-03-18 14:03] lucas-lotr commented on #324
The setvalue function on datetime.js should be:
[code]
The only difference is in the constructuon of dateValue, it should have a 'T' in between.

[2019-03-18 14:08] lucas-lotr commented on #324
On a related issue: when using strings formatted as datetime-local valid inputs trigger an error display:
"Datetime must be in the format "YYYY-MM-DD HH:MM"."
To fix that the regexp to validate datetime formats in validator.js should be:
[code]

[2019-03-19 11:33] danielmatzke opened #325 "Odd demo behaviour when providing default value for root object node"
### General information

- json-editor version:
https://rawgit.com/json-editor/json-editor/master/docs/demo.html
(March 19th 2019)

### Expected behavior
Editor is initialized with provided default value.

### Actual behavior
Editor is popping up multiple times when hitting the update schema button

### Steps to reproduce the behavior
1) open the page
https://rawgit.com/json-editor/json-editor/mas

[2019-03-22 10:44] Franciman opened #326 "Range format has undefined value by default"
### General information
Hi, I find a strange behavior when using the `range` format for integers.
The value at which the slider starts, when generating the editor is `undefined`,
while if I use the `number` format or no format at all, the value of the field is set to 0 by default.

- json-editor version: latest

### Expected behavior
I think the expected behavior should be equal to that of `number

[2019-03-23 21:04] pmk65 commented on #324
The problem doesn't occur in Firefox (which has no datetime-local datapicker). But I was able to trigger the error in Chrome.

[2019-03-30 13:26] pmk65 opened #329 "Inconsistency between theme rendering"
There's an inconsistency between how theme render the Description option.
@schmunk42 This should be identical for all themes, so which one is (should be) the "correct" rendering?

Example using a Boootstrap Theme renders the `description` as HTML: https://is.gd/i8xfEc

Example using a Foundation Theme renders the `description` as TEXT: https://is.gd/hyGmII

(Both examples are identical except for

[2019-03-30 16:28] pmk65 commented on #325
@danielmatzke It throws a "too much recursion" error, but your schema seems to be working using my new demo page: https://is.gd/N4nR3d

[2019-04-01 10:59] Xiaoleng123 opened #330 "input_width of options is invalid when I set parent's array type to table if CSS Framework is HTML"
### General information

- json-editor version: 1.3.5

### Expected behavior
I expect the width of input to be the width I set.

### Actual behavior
The width of the parent <td> is the width I set, but the width of input is the default.

### Steps to reproduce the behavior
step 1. Set CSS Framework to HTML;
step 2. Set array type to table;
step 3. Set input_width of input options to a valid CSS wi

[2019-04-01 12:11] pmk65 commented on #330
IIt works if you use a different Theme (Bootstrap etc.), as they set the width of the input to 100%, so the parent is used to control the size.
But you can use the `inputAttributes` option instead. This will allow you to set specific styles/classnames etc. on the actual input field. Example: https://is.gd/ygN3aw

[2019-04-02 07:19] Xiaoleng123 commented on #330
Fine, thanks for your advise, I will use the `inputAttributes` instead. The reason I ask the question is that it makes me confused, but this may not be a issue.😄

[2019-04-02 07:19] #330 closed

[2019-04-02 13:46] pmk65 commented on #329
@schmunk42 If there's no objection, I will make all themes accept *limited* HTML data in the description.
Currently you can inject JavaScript by using HTML description, but if it's parsed through some sanitizing function first, it should be safe.
[code]

[2019-04-02 15:06] schmunk42 commented on #329
Hmmm, shouldn't we rather whitelist the tags or go with TEXT.

I was just reminded to https://stackoverflow.com/questions/1732348/regex-match-open-tags-except-xhtml-self-contained-tags/1732454#1732454 :)

What would be the use-case to allow HTML?

[2019-04-02 15:28] pmk65 commented on #329
That would require a larger list of tags to check for, and you will have to build a new DOM element, which would slow down the process. Blocking `script`, `style`, `link`, `embed` and `object` tags should be enough to prevent any form of JavaScript injection.

Using RegEx to filter HTML is almost impossible, as you can create create tags in so many different variations.
 In my example function I c

[2019-04-02 17:02] schmunk42 commented on #329
Actually I'd be fine with that for a *description*, while links or bold tags would be nice, I see too many potential problems coming up, especially that you can break the editor with weird stuff in the descriptions.

How about using TEXT as a default and make HTML usage optional?

[2019-04-03 12:40] pmk65 commented on #329
That's what the sanitizing function removes or cleans up.
I made a JSfiddle to illustrate it: https://jsfiddle.net/uqc2gon1/

HTML content in 1st textarea is sanitized when you click the button, and the result is placed in the 2nd textarea.

Notice that the `SCRIPT` and `FORM` elements have been removed AND that the invalid HTML (the `DIV` and `A` tags missing the closing tags) have been fixed.

I

[2019-04-03 14:00] schmunk42 commented on #329
[code]
..goes through.

via https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet#Basic_XSS_Test_Without_Filter_Evasion

[2019-04-03 16:15] akwebapps opened #331 "getValue() for datetime-local integer for unchanged values"
### General information
When populating a datetime-local integer value with existing integer value the flatpickr is populated but getValue() pulls an empty string.

### Steps to reproduce the behavior
Using the editor I generated the initial data and saved it. The json looks like this (working great):
`[
  {
    "title": "My First Session",
    "abstract": "Some cool abstract",
    "sessionTime":

[2019-04-03 20:07] pmk65 commented on #329
You are right. And that one is hard to check for as you can't rely on it starting with plain "javascript:".

But I got an idea that might solve it, and support both TEXT and HTML which doesn't require any additional config options. (You just have to load a 3rd-party sanitizing library if you want to use the HTML feature.)

1) As default it inserts the data content as TEXT.
2) But if [DOMPurify](ht

[2019-04-03 20:16] schmunk42 commented on #329
Regarding the above and

why don't you like one more option? Yes, we have plenty of them, but I rather like to see an option than some auto-detection if a certain lib is loaded or not. That lib could also be loaded from another piece of code, how would you turn that off then?

How about `enable_html_descriptions` (or similar) here https://github.com/json-editor/json-editor#options?

[2019-04-04 15:09] pmk65 commented on #329
There would be no need to turn it off.
If lib is NOT loaded, content is rendered as TEXT (including any HTML tags)
if lib is loaded, content is rendered as HTML. (If the content is plain text, it will render in the same way as if no lib is loaded.)

[2019-04-04 15:12] pmk65 commented on #331
Probably related to #324
Im working on a fix, but I haven't had time to test it. https://github.com/pmk65/json-editor/tree/datefix

[2019-04-05 10:49] schmunk42 commented on #329
I meant for use-cases where you have the lib loaded, ie. from another lib, but you still want to make sure that descriptions are rendered as TEXT, to avoid any risk.

[2019-04-09 19:33] peekieisabear commented on #331
Here's a demo:
[http://dev.akwebapps.com/jsonEditor/](url)

Schema:
[code]
Data:
[code]

[2019-04-11 11:01] blacksages opened #333 "defaultProperties doesn't work on live version"
### General information
"defaultProperties" attribute doesn't work.

It's expected for "name" property to be already present,
but "name" property must be manually added in "properties tab"

Direct link to live example :
https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAaEUATkrIWAJYwDOCoAdgIYC2c8oksCIVYh5dAcxABffAwGt20ViH5gYEwiNEgAJjABmDAK4AbMAAVipCtQQBtEIxYgAusKA==&value

[2019-04-12 10:04] schmunk42 commented on #333
Works when "Object properties required by default" is used

https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAaEUATkrIWAJYwDOCoAdgIYC2c8oksCIVYh5dAcxABffAwGt20ViH5gYEwiNEgAJjABmDAK4AbMAAVipCtQQBtEIxYgAusKA==&value=N4IgdghgtgpiBcIQF8g=&lib_switcher=&prompt_before_delete&upload=function(a,b,c){console.log(%22Upload%20handler%20required%20for%20upload%20editor%22)}&theme=bo

[2019-04-17 16:00] coderofsalvation commented on #224
However, I've noticed custom validators to act funny: `editor.validate()` will result in 0 errors even when custom validators return an error. I guess its due to the nested nature.

[2019-04-21 21:48] pmk65 commented on #333
Hard to tell, the documentation isn't very informative about the `defaultProperties` property. and in the code there isn't much info either. 😕
It's a JSON-Editor special feature. https://github.com/jdorn/json-editor/issues/220
But it  seem to have some issues according to the [old repo](https://github.com/jdorn/json-editor/issues?q=defaultProperties+is%3Aopen).

[2019-04-24 13:57] tolgaparlan opened #336 "Checkbox Input elements are inside the Label elements"
### General information
Checkbox Input elements (both with schema elements and when choosing Properties) are generated inside the Label elements, and not after/before them as it's normally done. This is bad semantics and produces problems when your styling relies on this fact.

- json-editor version:1.3.5

### Expected behavior
Normally a label and its input element are placed next to each other a

[2019-04-24 14:21] schmunk42 commented on #336
Could you provide a demo link?

[2019-04-25 10:06] tolgaparlan commented on #336
I suppose [this](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIJaWZaksGiodAFvQDWlLAA8exMohAiscAIZ5CAMyxoAtvMZJ+QkeMKQY5ENnWwABLrrCxIAL6OgA===&value=N4IgxgFgpmDWBGB7AHiAXAFwE4FcoF8g&lib_switcher=&prompt_before_delete&upload=function(a,b,c){console.log(%22Upload%20handler%20required%20for%20upload%20editor%22)}&theme=bootstrap2&iconlib=fontawesom

[2019-04-26 10:54] pmk65 commented on #336
From [w3](http://www.w3.org/TR/html401/interact/forms.html#edef-LABEL): The label itself may be positioned `before`, `after` or `around` the associated control. Either one is valid.
Wrapping the `label` tag around the `input` tag allows you to skip the `for` attribute,

[2019-04-26 12:49] germanbisurgi commented on #336
and its used for bootstrap checkboxes too
<img width="974" alt="Bildschirmfoto 2019-04-26 um 14 48 30" src="https://user-images.githubusercontent.com/13135260/56808728-77daeb00-6832-11e9-8b6e-ce0abf6c8bac.png">

[2019-04-26 13:47] schmunk42 commented on #336
I think it also produces problems when your styling relies on the fact that it is before or after.
I don't think it's *bad* semantics, I agree with @pmk65 that it is valid.

There could be an option to specify whether you want inline, before or after for checkbox labels, but I also think this might be a bit overkill.

Are there other CSS frameworks which require the label before or after?
Should/c

[2019-04-27 13:15] pmk65 commented on #336
The Materialize Theme set the `for` attribute on the `label` tag in the function `getFormControl `
But it still wraps the `input` tag inside the `label` tag, which is correct according to the Materialize [documentation](https://materializecss.com/checkboxes.html),

[2019-04-29 18:22] joshpcausey commented on #212
My solution to this is kind of hacky, but for our internal tool it will work fine.

I wanted a field to be editable only on create, the route for create looked like `https://site.com/stuff/new` while a route for viewing something I don't want to be editable looks like `https://site.com/stuff/id-for-thing`

So I made a variable `const isNew = this.window.pathname.endsWith('/new')` then set readonly

[2019-05-01 13:50] plueschpruem opened #338 "How to programatically delete array elements and refresh tabs"
I am really stuck.

I have a schema that gets filled via JSON and renders just as I need it to.
It's 2 layers of arrays - products and product attributes.
So I have tabs to the left and in there are general product info on top and another array with tab bar for the attributes.
Just like the examples basically.

Then I added my own buttons to each product and attribute connect to an API I am talkin

[2019-05-03 10:04] lovelyserafima opened #340 ""oneOf" with "$ref" don't work,"
Hi, I want to do one of two fields required: "A" or "B". But I got an error in console: Uncaught TypeError: Cannot read property '$ref' of undefined.

Some piece of code:

[code]

[edit @schmunk42] added formatting

What can I do with it?

Thanks.

[2019-05-03 11:44] schmunk42 commented on #340
When trying the schema https://is.gd/BAz2Wf

I get

[code]

[2019-05-03 12:13] lovelyserafima commented on #340
Okay, sorry for misunderstanding.
So, what is wrong? Why I can't write in this way?

[2019-05-03 12:36] schmunk42 commented on #340
First of all, I don't know if this is JSON-schema v7 specific, we're currently only supporting up to version 4.

Moreover I don't understand how the `required` definition in `oneOf` should work in your schema, maybe you can create a more concrete example.

Lastly, do you have a definition under `#/definitions/A|B` available? Is the `|` pipe just in the filename or does it have a special meaning?

[2019-05-07 10:33] pauldamian opened #341 "How can I auto-complete the field of an array element?"
### General information

I followed [this wiki](https://github.com/json-editor/json-editor/wiki/Adding-AJAX-autocomplete-using-Typeahead-&-Bloodhound) to get auto-complete working on a simple object field at the top of my schema.

Now I'm trying to do the same for a field of an array object and I cannot get it working.
Also, I couldn't find any solutions online.

- json-editor version: 1.3.5

Imag

[2019-05-07 11:41] schmunk42 commented on #341
This might be related to delayed initialization of the auto-complete input, since it's in an array.
Do you see any errors in console log?

CC: @pmk65

[2019-05-07 14:45] pauldamian commented on #341
There are no errors in the console log.
I was able to _almost_ achieve it using this js code

[code]

Basically, I'm tracking all changes and if a new product gets added, I'll _watch_ its _name_ field.
_catalog_ is a list of products and and use watched_elements as a cache in order to avoid duplicate watching.

However, with the exception of the first product (which works as expected), all other p

[2019-05-08 14:44] pmk65 commented on #341
I would do it like this: https://is.gd/Vg65xR
The "ready" event is used for attaching the handler to the static fields and the "change" handler loops through the editors and attach the handler to the dynamic array elements.

[2019-05-08 15:12] pmk65 commented on #338
@plueschpruem Could you provide an working example, using this: https://pmk65.github.io/jedemov2/dist/demo.html
There's a function in editors/object.js called `removeObjectProperty`. I think it's that one you need to call in order to remove the entire row.

[2019-05-09 01:51] CCHOT opened #342 "A dependent enumSource from another enumSource"
I have to  create an enumSource dependent another enumSource.
here is my solution:
I set template='swig',use `watch` and `filter`.
here is the demo json schema.
anybody met the same question may make it just for a reference.

[code]

[2019-05-09 02:26] CCHOT commented on #342
the other question I met is that, i have to watch a field that from ref, so i cant set 'Absolute path' .
here is the json schema demo.
[code]

i try modify the function `addObjectProperty`
before Add the property, i modify schema.watch
[code]

[2019-05-09 11:15] pauldamian commented on #341
Thanks @pmk65, that did the trick :)

[2019-05-09 11:15] #341 closed

[2019-05-10 07:39] germanbisurgi commented on #336
Also label wrapping the input will make the label clickable, for example when using checkboxes clicking on the label will tic/detic the checkbox

[2019-05-13 16:25] nvrnight opened #343 "remove_empty_parameters causing fields to disappear when editing the json value manually"
### General information

- json-editor version: 1.3.5

### Expected behavior
When remove_empty_properties is enabled and you edit/save the json value. The original editor fields should still be displayed.

### Actual behavior
The fields which don't exist in the json value disappear after clicking save.

### Steps to reproduce the behavior
initialize the editor with remove_empty_parameters set to t

[2019-05-13 16:33] nvrnight commented on #343
setValue seems to do the same thing.

if I assign a schema with a property, and don't include that property in the initial value, that field won't be shown.

[2019-05-13 18:12] nvrnight commented on #343
Setting required_by_default seems to fix the issue.

[2019-05-13 21:27] schmunk42 commented on #343
Is this issue solved for you?

You might also want to look at the screenshots at the bottom here https://github.com/json-editor/json-editor/pull/337#issuecomment-491220389 - it's another approach to the problem with non-required fields.

[2019-05-14 14:48] nvrnight commented on #343
The issue is still there, I've just worked around it by setting required_by_default. A field being required or not shouldn't make the field disappear when a value for that field is not provided.

[2019-05-14 16:00] schmunk42 commented on #343
Does this only apply for `string` fields or also others? An example link would be helpful (https://json-editor.github.io/json-editor/)

[2019-05-17 13:51] ThibaultJanBeyer opened #344 "change properties programmatically?"
This is a question and might be a feature request:

Is it possible to programmatically change the `properties` of a schema element after initialisation?

I have a lot of properties that depend on each other. Like let’s say following example:
[code]

I would like to be able to change the enum options of "wheels" based on the value of "make".

Let’s assume I want to match the weels enum choices to t

[2019-05-17 14:12] schmunk42 commented on #344
You could use `oneOf`, see example https://github.com/json-editor/json-editor/blob/master/docs/advanced.html

[2019-05-17 14:52] ThibaultJanBeyer commented on #344
Hey @schmunk42 and thanks a lot for the fast answer!

Hmm, I’ve played around with the tool and it seems that what I want to achieve is impossible or extremely difficult (The above was just a try to simplify the problem which failed), maybe you can help me:

I have such data set similar to this:
[code]

For example, if a user adds a new `location` ("france": "fr") then, I would like to help the us

[2019-05-17 16:35] schmunk42 commented on #344
Hmm, I can't come up with a quick solution.
If you can modify your data structure the locations data in the advanced example is pretty close to what you need.
In general I'd avoid modifying the schema, since it should be immutable, IMHO.

[2019-05-18 09:52] pmk65 commented on #344
@ThibaultJanBeyer I recently added some "onOf" examples to my playground page.
Also made a dynamic enum example a while ago. See https://is.gd/amdw1Q

[2019-05-19 20:28] fangq commented on #246
@schmunk42, sorry for the long delay. finally have time to look at this again.

I managed to fix the validation errors (by replacing oneOf to anyOf, and a few other minor changes), however, editing the Shapes section is still not yet working.

The now-fixed schema can be found [here](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QGVZkgOwOYGcQBpwBPAB3iQHsAjAK1gGMwCQAnWARwFcI2ATRA

[2019-05-20 14:02] schmunk42 commented on #246
Could you try setting `keep_oneof_values` to `false`.

@pmk65: We don't have this option in the current demo and neither in the new one from you (https://pmk65.github.io/jedemov2/dist/demo.html) - or did I miss something?

Besides that, the behavior looks like a bug to me. It would be great if we could create a simpler test-case reproducing the problem with `anyOf` CC: @germanbisurgi

[2019-05-20 15:56] fangq commented on #246
hi @schmunk42, thanks for the quick reply. I tried to add the `keep_oneof_values:false` line in JSONEditor's constructor, but the observation remains the same, except that when I first click on any `+row` button, it gives me an error `Value must be one of the provided types`.

A simple reproductor schema can be found below. What I expect to see is to use jsoneditor to add/remove/edit objects into

[2019-05-20 18:05] pmk65 commented on #246
You are correct. I must have missed that one. It's now available at the Playground page.

[2019-05-20 19:20] #340 closed

[2019-05-20 21:47] schmunk42 commented on #246
Nice! So I think, at least the switching works better with this option, but there's still an issue with initialization of `anyOf` and I think also `oneOf` items.

[2019-05-21 19:25] dekimsey opened #345 "[req] Support for OptGroup in Select"
### General information

- json-editor version: (v0.7.20, embedded in jenkin's [extended-choice-parameter](https://plugins.jenkins.io/extended-choice-parameter) plugin)

### Expected behavior

I'd like to be able to create `OptGroup` [elements](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup) as part of defining a `Select`.

### Actual behavior

There appears to be no support fo

[2019-05-22 06:48] schmunk42 commented on #345
AFAIK an `enum` has to be a flat list, see also https://github.com/guillotinaweb/ngx-schema-form/issues/118

How can this be covered by json-schema?

[2019-05-23 11:08] jramstedt opened #347 "Draft-04 date-time format (relates to datetime-local format)"
Draft-04 has date-time format for validation that is not currently supported.
https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-7.3.1

datetime-local validation is not working on Chrome 74.0.3729.169.
Input[type="datetime-local"] uses ISO 8601 style date values without timezone.

### General information

- json-editor version: 1.3.5

### Expected behavior
datetime-local shoul

[2019-05-23 11:32] pmk65 commented on #347
@jramstedt Could you try this https://github.com/pmk65/json-editor/tree/datefix and see if it solves the `datetime-local `problem?

[2019-05-23 13:03] pmk65 commented on #345
You could probably modify the select list output in the "ready" event.
Then if you add some pseudo values to the enum list you could check for those in the  "ready" event and modify the list accordingly.

[code]

1) Test if value starts with ">>>", then find same value that ends with "<<<"
2) Create optgroup element, set label to value and insert it in list.
3) Move "children" into optgroup.

[2019-05-23 13:38] dekimsey commented on #345
I don't quite grasp the relationship of json schema and json-editor, so I apologize if this suggestion is out of whack. But alternatively, perhaps it could be handled the similarly to how Labels are handled. An option specifying which element the individual entries are an OptGroup of:

[code]

[2019-05-23 13:48] schmunk42 commented on #345
You define a json-schema and json-editor creates a form and JSON output, see the first image in the README :wink:

[2019-05-23 14:04] pmk65 commented on #345
@dekimsey Here's an example of what I suggested earlier (Turns out you don't have to move any elements, just insert `optgroup` tags) https://is.gd/FfIbJm

[2019-05-23 15:16] schmunk42 commented on #345
Much nicer without the ending delimiters!

[2019-05-25 19:45] pmk65 commented on #345
I added a more generic version to the list of examples on the Playground.
This version doesn't require a know field key, but works on all available editors.

[2019-05-27 09:42] #329 closed

[2019-05-28 13:03] #345 closed

[2019-05-28 13:13] pmk65 commented on #342
@CCHOT Do you have a live example? As I can't get the schema you provided to work.

[2019-05-28 18:28] #323 closed

[2019-05-28 18:28] #324 closed

[2019-05-28 18:29] #347 closed

[2019-05-28 18:31] #312 closed

[2019-05-28 19:44] OgAstorga opened #354 "Is there a way to extend json-editor fields?"
I'm working in a special field for a very specific application
(you can think of it as an HSL color picker rendered in SVG by d3.js)

I love how you handle your dynamic forms and I want to use your library in top of my project.

Is there a way I can generate a custom plugin to render mi input and handle all your form interactions (multiple inputs, changing order, collapsing a block, saving data, s

[2019-05-28 20:26] pmk65 commented on #354
You can create [custom editors](https://github.com/json-editor/json-editor#custom-editor-interfaces) (Also see the [wiki](https://github.com/json-editor/json-editor/wiki))
These can either be included directly in the library (PR's are welcome. 😄) or as a standalone extension.
(I got some old examples on my [Codepen page](https://codepen.io/pmk/pen/RYEgde))

[2019-05-28 23:05] pmk65 commented on #342
@schmunk42 There's an old PR https://github.com/jdorn/json-editor/pull/322 on the original jdorn repo that looks really interesting. Unfortunately it doesn't seem to be directly compatible with our branch. (I tried fixing the various merge errors, but it didn't work.)

[2019-05-29 09:35] schmunk42 commented on #342
I think the docs created by you in https://github.com/json-editor/json-editor/pull/355 are already very helpful. I can't judge how much work it will take to fix and merge the mentioned PR above.

But I think we can close this issue due to #355

[2019-05-29 09:36] #342 closed

[2019-05-29 10:29] #294 closed

[2019-05-29 10:31] #288 closed

[2019-05-29 10:32] #306 closed

[2019-05-29 10:33] #336 closed

[2019-05-29 10:45] #265 closed

[2019-05-29 10:46] #271 closed

[2019-05-29 10:50] #244 closed

[2019-05-29 10:53] pmk65 commented on #13
dependencies

[2019-05-29 10:53] #13 closed

[2019-05-29 13:17] CCHOT commented on #342
hi, i make a demo here
https://cchot.github.io/json-editor

[2019-05-29 13:19] CCHOT commented on #342
@pmk65  i make a demo here

[2019-05-29 13:20] CCHOT commented on #342
@pmk65  i make a demo here.   https://cchot.github.io/json-editor

[2019-05-29 17:31] pmk65 opened #356 "Hyper-Link DescribedBy Editor (Feature from old jdorn repo)"
There's an interesting PR at the old Jdorn Repo. "**Full support for the describedBy hyper-link standard to allow dynamically to extend schemas**" https://github.com/jdorn/json-editor/pull/322
Basically it allows you to use variable inside ref parameters so you can switch between rendering based on previous values.

Live example: https://rawcdn.githack.com/gpetrov/json-editor/7e9dcbfa31bb13c9f499a

[2019-05-29 17:55] pmk65 commented on #356
Turned out to be extremely easy to fix once I took a closer look at `refs` 😁
I'll make a PR once I clean up the code..

[2019-05-29 18:05] pmk65 commented on #356
@schmunk42 @germanbisurgi @marc7000 This branch also makes some modifications to the file/folder structure of the src/ folder which we should implement.

1) New folder named **validators**. This folder contains custom validator code for each editor (So you don't have to merge it into the existing validator code in `validators.js`)
2) New folder named **resolvers**. This folder contains the code fo

[2019-06-01 05:50] happywisepaul opened #359 "Is there plan to support draft-06 or draft-07 schema?"
More and more tools now support only draft-6 and above schema, like https://jsonschema.net/.  Is there any plan to update Json-editor to support draft-6 and later, and if so what's the priority or approximate ETA?

[2019-06-01 09:09] pmk65 commented on #359
The development of JSON-Editor depends on people submitting PR with new features and bug fixes.
Most people like myself, focus on the features they need themselves.
So Draft6/7 support would probably be something added when one of the contributes need the features.
PRs are welcome if you want to take the task?

[2019-06-01 09:12] pmk65 commented on #320
@dzg I went through the source and discovered a couple of "hidden features".
The `dependencies` option can be used to create enum fields depending on value from other field.
Also the new "DescribedBy" editor I submitted recently, can do some similar thing.

[2019-06-01 18:08] happywisepaul commented on #359
Thanks for the clarification of how this project moves forward.  As I am still in the early stage of adopting it at this point I'm happy with how the editor implements the draft-04 core and validation portions, which is what I need.  Probably my coping mechanism is to translate schema draft-06/7 generated by other tools into draft-04, or find a tool that generates draft-04 schema.  Some day if I f

[2019-06-01 18:08] #359 closed

[2019-06-01 19:18] mikey-b opened #360 "New type, Dict / Associative Array?"
### General information

I would like support for a Dict type - which uses the object notation with the object's properties being unique id's.

I would like to treat these like they they are arrays, but with a "key" value.

[code]

Could someone briefly describe what this would involve to do?

[2019-06-01 19:46] pmk65 commented on #360
@mikey-b The format you listed above is not an array, but an object.
You can display it using a schema like this:
[code]
Live example: https://is.gd/tzIIg4

If you want to use Array format, you will have to leave out the id.
Live example: https://is.gd/uzQnh5

If the format is fixed, could create a custom editor type and then display the data as you see fit.

[2019-06-03 07:04] thorstenfreitag commented on #356
This feature would be great. Thanks for merging.
I just tried the example: https://github.com/json-editor/json-editor/blob/master/docs/describedby.html
But it doesn't seem to work yet. It seems as if it is not picking up the links in the schema properly.
Am I missing something or is it still WiP?

[2019-06-03 08:26] pmk65 commented on #356
@thorstenfreitag You will have to create  a custom build, as we haven't build a release yet. (CDN)

[2019-06-03 08:44] rozo1 opened #361 "exception on array of object with dependencies"
### General information

- json-editor version: 1.3.5 (latest)

### Expected behavior

### Actual behavior

TypeError: Cannot read property 'getEditor' of null
    at Class.checkDependency (f:\dev\vue\json-editor-test\node_modules\@json-editor\json-editor\dist\jsoneditor.js:1588:1)
    at Array.<anonymous> (f:\dev\vue\json-editor-test\node_modules\@json-editor\json-editor\dist\jsoneditor.js:1577:1

[2019-06-03 09:28] germanbisurgi commented on #361
could you recreate the error here (https://json-editor.github.io/json-editor/) and then paste the post the link?

[2019-06-03 10:04] rozo1 commented on #361
https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIasAjgK4QsAmiA2iBwBDALbxCQgObiQ3IWBkAzIQDcsaKLAD6dLNHVNpObuib668iLiZkwGEAF1CJNFjJpIsewlDCxiUDBSchAMMA0cSSYTDDoNEkhrJAAxLjCAAiFjdIAZIQy/GREIHBzYSLAAC0QAFkITZXZoRiQAKXRYESJ0gBF1PABfCWkA4jJEEBKFaTRo2EbmxAAmAFZCYpwIEXYRRABGAA51oQAPLZ3EAE5LoZBlNQ0FHT0DHzGQsIiowkV1EXkJrp9LNCJAYCF7upNOkgQZ6vMhE0WiAAMSKZQrAA

[2019-06-03 10:25] schmunk42 commented on #361
@rozo1 Thank you, nice find.

Would be great to reproduce this with a (failing) test first. (CC: @germanbisurgi)

[2019-06-03 11:25] germanbisurgi commented on #326
Hi franciman, and thanks for your posting the bug. I will fix this ASAP. You can use the 'default' property as a temporary solution like this:

[code]

@pmk65 I think i will use the minimum value as a default in case the "default" prop is not defined.

[2019-06-03 12:06] pmk65 commented on #331
@akwebapps Could you try testing the current version? (Custom build, not the CDN version)

[2019-06-03 12:39] pmk65 commented on #326
@germanbisurgi If the minimum value is used when no default value is supplied, the slider will be in wrong position.
I think it's better to set it to zero which is where the slider position will be. (I'll submit a PR)

[2019-06-03 22:44] pmk65 commented on #361
More simplified test example: https://is.gd/Bx1Ft6

[2019-06-04 00:14] pmk65 opened #365 "Horizontal dependencies in grid mode doesn't work well"
When using **dependencies** option, the dependent field wrapper is shown/hidden depending on value.
In grid mode this hides the wrong element `this.control` but should hide `this.container`
Example: https://is.gd/996Azq

Currently the checkDependency defines the wrapper like this:
[code]
@germanbisurgi Do you think it would be ok to swap `this.control` and  `this.container`

Example with the two s

[2019-06-04 06:07] germanbisurgi commented on #365
Right. But for what i saw all editors have (and should have a container). This to generalize features and in this case to prevent empty columns in grids, or just empty divs in the forms.

[2019-06-04 08:29] #361 closed

[2019-06-04 08:52] #326 closed

[2019-06-04 11:49] pmk65 commented on #222
@mneofit You seem to be using `Selectize` and have a good grasp on how JSON-Editor works, so maybe this is something you could take a look at? (If you got the time 😁)

[2019-06-04 11:52] pmk65 commented on #245
A Radio Button Editor have been added now.

[2019-06-04 11:52] #245 closed

[2019-06-04 11:55] #365 closed

[2019-06-04 13:47] pmk65 opened #367 "More "hidden" features"
Found another "hidden" feature/option (`ajaxBase`) missing from the documentation.
This can be used to override the `fileBase` when using Ajax to fetch external schemas.

And also `ajaxCredentials`. Both seem to originate from https://github.com/jdorn/json-editor/pull/555

From the JSON Schema specs, there's a schema keyword ["$id"](http://json-schema.org/latest/json-schema-core.html#rfc.section.8

[2019-06-04 17:42] mneofit commented on #222
It does not documented, as a workaround you could move `enum` property into parent object as following:
[code]
It would be rendered with `selectize` and treated `enum` as `default`.
Anyway, according to docs `enum` property should be in `items` and when enabling selectize it is expected to render all select control with `selectize`. I will take a closer look.

[2019-06-05 08:44] thorstenfreitag commented on #356
Great, thanks.
Just tried and works like a charm!

[2019-06-05 09:07] #222 closed

[2019-06-05 09:33] pmk65 commented on #343
@nvrnight Please post a live example of the problem using https://json-editor.github.io/json-editor/ Or https://pmk65.github.io/jedemov2/dist/demo.html
Without example or schema it's pretty hard to pinpoint the problem.

[2019-06-05 09:36] pmk65 commented on #338
Closing issue due to lack of feedback.

[2019-06-05 09:36] #338 closed

[2019-06-05 09:39] #212 closed

[2019-06-05 11:07] germanbisurgi commented on #343
This is a perfect scenario for `show_opt_in`. It will make non required properties "optable", so if you don´t want them in the final value you can uncheck the checkbox near the editor´s title. And it will not dissapear.

[2019-06-05 14:20] #367 closed

[2019-06-05 14:23] #325 closed

[2019-06-05 14:25] #297 closed

[2019-06-05 14:26] #281 closed

[2019-06-05 14:30] pmk65 commented on #344
There's also the `dependencies` option available (Is present in current release but was missing from the documentation) And there's also the new **DescribedBy** editor available in the current git version.

[2019-06-05 14:30] #344 closed

[2019-06-05 14:32] pmk65 commented on #319
There's also the `dependencies` option available (Is present in current release but was missing from the documentation) And there's also the new **DescribedBy** editor available in the current git version.

[2019-06-05 14:32] #319 closed

[2019-06-05 14:33] #320 closed

[2019-06-05 14:37] #162 closed

[2019-06-05 14:38] #167 closed

[2019-06-05 15:37] ThibaultJanBeyer commented on #344
That might work, thank you!

[2019-06-07 13:46] pm64 opened #377 "Get a reference to editor using DOM without jQuery?"
I have been using the deprecated jQuery-style initialization method, because this allows me to get a reference to the editor later using the DOM: $('#myDiv').data('jsoneditor')

Is there a way to get a reference to the editor using the DOM with the "standard" initialization method?
var element = document.getElementById('myDiv');
var editor = new JSONEditor(element, options);

Thanks!

[2019-06-08 08:37] pmk65 commented on #377
@pm64 Your variable `editor` will contains reference to the editor you created on `#myDiv`.
Try `console.log('editor', editor);`

[2019-06-08 17:29] pm64 commented on #377
Right, but my requirement is to get the reference using only the DOM -- for example, after "editor" is out of scope.

[2019-06-08 18:19] pmk65 commented on #377
Maybe you could do something like this when creating the instance? (untested)
[code]
And then to get the reference back, something like this.
[code]

[2019-06-08 18:30] pm64 commented on #377
Thanks @pmk65. I had considered stashing the reference myself, but wanted to make sure json-editor didn't provide an "official" way to obtain it. Will give this a shot.

[2019-06-09 09:35] pmk65 opened #378 "Req: Advanced Schema and JacaScript examples"
If anyone got some good Schema and/or JavaScript examples that show off some of the more advanced features of JSON-Editor, please post them on the [JSON-Editor Interactive Playground GitHub](https://github.com/pmk65/jedemov2) page.

I will then evaluate it and add it to the list of available examples. 🚀

[2019-06-11 10:39] pmk65 commented on #321
@schmunk42 Should we just add the static TOC generated with one of the above tools, to the readme?
Guess there wasn't much interest in updating the docs, when it involved working on it yourself. 🤣

[2019-06-11 10:42] pmk65 commented on #302
@IanMayo @Franciman Are you still working on this, or is the project at a standstill?

[2019-06-11 10:55] IanMayo commented on #302
Hello @pmk65 - we've implemented sufficient features to make it usable.

Most of our work was in reducing the json meta-schema to allow more productive/focussed use of the json-editor (reducing the number of options)

A demonstration of the reduced schema was merged here:
https://github.com/json-editor/json-editor/pull/300

So, I guess this issue is closed.

[2019-06-11 10:56] #302 closed

[2019-06-11 11:11] pmk65 commented on #299
I guess this was solved in #300, so I'm closing this issue.

[2019-06-11 11:11] #299 closed

[2019-06-11 11:24] pmk65 commented on #331
Since there's no feedback, I assume this was fixed in #350
So I'm closing this issue.

[2019-06-11 11:24] #331 closed

[2019-06-11 11:29] pmk65 commented on #285
@schmunk42 @germanbisurgi Should we a a "Known Bugs" section to the Readme.md (or a separate file)?
I have seen the "solution" with calling setValue() twice, posted in questions by me or @germanbisurgi so it might be a good idea to compile a list of bugs/weird behaviors and how you can work around them. (At least until someone solves the actual problem)

[2019-06-11 11:48] schmunk42 commented on #285
I like the idea. Either in the README and/or the wiki (a link to the wiki may be enough).

[2019-06-11 13:03] pmk65 commented on #242
@dreusel Sorry for the late reply. I can't reproduce the problem using your example.
Here's a live test example: https://is.gd/TmISUh
Schema and data is valid, and I added some additional tests on the JavaScript Tab that validates the
 `[{"x":"x","a":"a"}]` result successfully. And it also test an invalid result `[{"x":"x","a":"b"}]` which correctly evaluates as invalid.

[2019-06-11 16:47] schmunk42 commented on #321
I'd still prefer a github.io page with a dynamically generated TOC, but I haven't found time to do so :)

[2019-06-11 19:33] pmk65 commented on #244
With current release you can now use HTML tags in header&title and description if DOMPurify library is loaded.

[2019-06-12 23:12] vmanasiev opened #379 "External definitions with $ref JSON-pointer"
### General information
I want to reuse external enumerations for several main schemas.
There is a problem referencing external definitions.
According to the schema documentation we should be able to reference external definitions
with reference like this :       **"$ref" : "[url]#/definitions/[type]"**
As pointed in several sites like this:
http://www.tothenew.com/blog/using-definitions-internal-

[2019-06-13 14:04] devkral opened #380 "feature/doc: plugin activation is always global"
I want to use the selectize plugin just for one JSONEditor instance and not for the others.
But the plugin activation is always global.
Is there a way to activate plugins only for one instance? It would be really helpful to configure plugins on instantiation (e.g. in options argument).
Can you please document or integrate ways to do this?

[2019-06-13 18:17] pmk65 commented on #380
@devkral Currently it's not possible due to the way Selectize (and Select2) is integrated.
But you are welcome to create a PR if you can make it more configurable.

[2019-06-13 20:01] pmk65 commented on #379
Maybe related to #156?

[2019-06-14 09:23] pmk65 opened #381 "Idea for new editor (UUID with autogenerated ID)"
I recently needed to have a unique id on array elements, and came up with this small editor solution.

**Example of new editor format [uuid] for string type**
Value must be a valid RFC 4122 uuid (Universally Unique IDentifier). If field has initial no value (startval) then a random uuid will be autogenerated
https://is.gd/QMh6iI

@schmunk42 @germanbisurgi Would it be worth including it in the pack

[2019-06-14 09:43] pmk65 commented on #378
Could use some examples that make use of the external template engines such as Mustache, Underscore etc.

[2019-06-14 16:11] lucarota opened #382 "Compact options is ignored for object"
### General information

When the compact options is defined true for an object then the title should be hidden.

- json-editor version: 1.4.0-beta.0

### Expected behavior

The title (Car in the example below) should be hidden.

### Actual behavior

### Steps to reproduce the behavior

Direct link to example: [demo](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgS3gGwKZwFy2A

[2019-06-14 17:56] creativeautomaton opened #383 "Combining string enums to build a object with one selection of a drop down or input value"
### General information

- json-editor version: latest

### Expected behavior

Slect drop down to select one option

### Actual behavior
select option works fine, looking to have one selected option add an object{} to that property instead of a single string.

[code]

[2019-06-14 17:57] creativeautomaton commented on #383
Any help would be nice or really direction to point me in.

[2019-06-14 21:18] pmk65 commented on #383
The `enum` property has to be an array, not an object.
If you want to have different title/values, you'll need the `enum_titles` property or `enumSource`.

[2019-06-14 22:03] pmk65 commented on #382
@lucarota For objects, the header/title is in the same container as the Collapse, JSON and Properties buttons. So hiding the header/title is a little more complicated than in the other editors,
As a workaround, you can hide it using CSS. See https://github.com/json-editor/json-editor/issues/294#issuecomment-462349328

[2019-06-14 23:53] pmk65 commented on #341
@pauldamian I added a new example to the [Playground](https://pmk65.github.io/jedemov2/dist/demo.html) page, where the Typeahead autocomplete is integrated as a custom editor. That will make it much simpler to use with arrays and different lookup engines.

[2019-06-15 14:21] pmk65 opened #385 "Several Template engines seems to be broken"
Integration of several 3rd-party Template engine seems to be broken
- Default - OK
- EJS - Error: **Template engine ejs missing required library.**
- Handlebars - Error: **Template engine handlebars missing required library.**
- Hogan - Seems to work.
- Markup - Seems to work.
- Mustache - Seems to work.
- Swig - Seems to work.
- Underscore - Seems to work.

Test case: Go to the [Playground](https

[2019-06-17 01:18] vmanasiev commented on #379
@pmk I don't think it is the same issue.

So it comes down of how we treat this "complex" references.
when you have
[code]
The ajax call succeeds and the enums.json file is loaded because the server does not mind what comes after #.
Then the code start to build a reference dictionaries and it stores the whole reference which leads to some problems.
So what I did was to treat  the reference in two

[2019-06-17 07:53] pmk65 commented on #379
@vmanasiev I saw a similar issue when I looked at the old jdorn repo. https://github.com/jdorn/json-editor/pull/720
This looks very similar to your problem, and @desertkun provided a patch too.

[2019-06-17 07:55] #382 closed

[2019-06-17 09:08] vmanasiev commented on #379
@pmk65
To some extend it seems to address the same issue. Although this change is made on top of an older code and I don't think it is applicable straight away.
So when I have time I will try to push my modifications for a review.
I think I have addressed two more issues :
1) work correctly with "up-a-level" relative paths like  "../xxxxxx"
2) Managing correctly resources with same name
 Lets say

[2019-06-17 10:57] schmunk42 commented on #381
Yes, I think it would be nice.

[2019-06-17 13:11] pmk65 commented on #379
@yaronyam I looked at @desertkun PR, and the changes in` src/editors/select.js` and `src/editors/selectize.js`, enables $ref support in `enumSource` which is a good idea, and should be easy to implement into the current version.
The changes in `src/core.js` is the "fix"

The question is if it's best to make the changes in the` _getExternalRef` function as you have done, or in the `expandRefs` func

[2019-06-17 13:20] Fluf22 commented on #252
Hey everyone!
I'm upping this topic since it's still something I would like to help improving :)
I'm working with it since january, and no issue seems to have been found.
What are your thoughts about this, @pmk65 @j2jensen ?

Thanks,
Thomas

[2019-06-17 13:30] pmk65 commented on #252
@Fluf22 It would be nice if we could make a speed comparison test between the main branch and yours.
I know that @schmunk42 and @germanbisurgi has a lot more experience in writing tests than me, so maybe they could whip up something?

Or have you made some tests yourself?

[2019-06-17 13:35] Fluf22 commented on #252
Actually, I work with very large JSON objects everyday, but my company won't let me give them to you as tests 😀
I will try to come up with some explicit tests later (except if someone want to write a 1Mb / 23000 lines JSON object for me 😛 )

[2019-06-17 15:16] j2jensen commented on #252
Can you use the schema/json I posted and just duplicate the top-level objects until you get to an object that's the size you need?

For my part, my team has plans to start breaking down the objects we're dealing with into smaller pieces anyway, for reasons other than the performance of this editor. So it probably won't be a high priority for me to engage with it. However, I'll have some time off o

[2019-06-17 18:48] pmk65 commented on #354
@OgAstorga I just added some examples of creating custom editors, at the [Playground page](https://pmk65.github.io/jedemov2/dist/demo.html)

[2019-06-17 21:20] yaronyam commented on #379
@pmk65 , I'm scratching my head here... it's beed 4 years since I've contributed to this project. Don't recall dealing with external refs functionality. Please double check, perhaps this is relevant for a different contributor

[2019-06-17 21:33] pmk65 commented on #252
@Fluf22 did you solve the issues with `watch`, that you mentioned [earlier](https://github.com/json-editor/json-editor/issues/252#issuecomment-452663419)?

[2019-06-17 23:48] pmk65 commented on #379
@yaronyam Sorry.I selected the wrong person when I used the @ functionality. The message was meant for @vmanasiev  😁

[2019-06-18 00:51] pmk65 commented on #379
@vmanasiev To resolve relative urls you can do this (and let the browser do the work 😁):
[code]
or
[code]

[2019-06-18 09:14] #381 closed

[2019-06-18 12:49] pmk65 commented on #385
I'm also getting errors using the Swig template engine (Swig project have been [abandoned](https://github.com/paularmstrong/swig)), using the example from the documentation.
Test case: https://is.gd/JhtSYu

Does the external template engine actually work at all?

So far I haven't been able to get anything other than the default to work.

[2019-06-18 14:28] pmk65 commented on #231
I think I got this solved by correcting the key value so it allows for dots.

[2019-06-18 14:31] pauldamian commented on #341
Thanks, @pmk65, really appreciate it!

[2019-06-18 14:55] #231 closed

[2019-06-18 18:13] pmk65 opened #389 "Remove "rating" editor from package"
Currently we got 2 rating editors, "rating" from the old repo and my "starrating".
I suggest we remove the old "rating" editor.
1) It only works with integer. "starrating" works with both integer and strings.
2) It has display issues (stars jump up and down when you hover or click)
3) Styling is hardcoded inline.
4) Doesn't respect enable/disable and other features.

@schmunk42 What is your opinio

[2019-06-18 19:09] germanbisurgi commented on #381
I am sure some will be glad to have this feature :)

[2019-06-18 19:15] germanbisurgi commented on #389
One that does more is better. We could resolve the old format into your new rating editor for fallback.

[2019-06-19 10:24] pmk65 commented on #239
@dreusel How and if the editor displays errors are controlled by the `show_errors` property. in your live example links it is set to "interaction", which means it only triggers the error messages when you enter something into the form manually. Try changing it to "always" and see if that doesn't help.

[2019-06-21 01:01] mirannda opened #391 "Add TailmindCSS"
Hello

I'm starting here, I wonder what the possibility of adding thema using tailmind.css?

[2019-06-21 10:30] pmk65 commented on #391
@mirannda Sure. You can create themes for whatever framework you want.

All Themes are based on `src/themes.js` and then extends it with custom setups. (Look at the various existing themes in `src/themes/` folder)
So you just create a copy of `src/themes.js` (or one of the existing themes) and place it in `src/themes/` folder and it should be available once you build the library.

BTW: Don't you m

[2019-06-21 10:51] hungerburg opened #392 "programmatically changing boolean does not stick"
This is still with the old jdorn source, though no changes to current code. On a boolean editor of type checkbox try as below:

- call editor.getEditor(foo).setValue(bool),
- editor.getEditor(foo).getValue() shows value of `bool`,
- editor.getValue() does not reflect the change,
- call editor.getEditor(foo).onChange(`true`) to make it stick

Is the checkbox editor missing an argument (probably `va

[2019-06-21 11:14] pmk65 commented on #392
@hungerburg Try calling `setValue()` twice. (Known issue)

[2019-06-21 11:17] pmk65 commented on #385
Some of my problems seems to be how my playground page executes user script.
Currently it's not possible to insert code before initializing JSONEditor in the playground.
So I'm closing this issue until I have modified the playground and can test it better.

[2019-06-21 11:17] #385 closed

[2019-06-21 12:02] schmunk42 commented on #392
Would be great to have a test for programmatically changes. CC: @germanbisurgi

[2019-06-21 12:33] mirannda commented on #391
@pmk65 Thanks for the feedback, yes, Tailwindcss.

I'm making the json-editor better and note that it's not difficult to create another theme.

tks

[2019-06-21 12:40] hungerburg commented on #392
Stepping through with the debugger, `initial` seems not useful, probably just unconditionally let bubble?

[2019-06-21 13:16] pmk65 commented on #392
@hungerburg Can you make a live example?

I think it's due to how the checkbox is toggled in combination wit the event type.

From checkbox.js/setValue:
[code]
This will not fire the change event on the checkbox element.
Instead you will have to do it like:
[code]
Then the change event is fired on the checkbox element.

[2019-06-21 14:04] hungerburg commented on #392
Hello @pmk65 Reading up on DOM manipulation, nothing in any standard requires the difference in behaviour that you observe. I rather not base a fix on that.
The string-editor works for me, if the input is dirty, pass true to onChange…
https://github.com/json-editor/json-editor/blob/71968e2c087526b33013e260473b4a79e4f6d059/src/editors/string.js#L57

[2019-06-21 14:17] Fluf22 commented on #252
@pmk65 Not yet, sadly! I didn't get the time, but I may be able to dive into it again, soon. Perhaps mid-july.

[2019-06-21 21:35] pmk65 commented on #392
@hungerburg I think this will do it:
[code]
(`changed` var must be set before setting `this.value`, otherwise `getValue()` will return the new value)

[2019-06-22 09:08] hungerburg commented on #392
@pmk65 That looks good to me

Just a user here, though, who wants to be useful. If that goes in, I can skip my workaround on next update…

[2019-06-22 21:05] #392 closed

[2019-06-23 19:26] mirannda commented on #391
![image](https://user-images.githubusercontent.com/22716715/59980961-9b70a680-95d3-11e9-84a8-30656d4d251d.png)

[2019-06-24 07:26] germanbisurgi commented on #305
grid-strict fix this bug

[interactive-demo](https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAacAlmADZyIBOAhgHYDmc+AZkuQLaU6K3kEAmAtAGcwPbHhBRySWOTAEYghKEpLCJMiBX5IsBCGE8646XKTVF8UNz4B9TEmIBXVuYQBGAL4f8KVXPV6vtrQGgYERvgmBGYWVjy8dg7OrvAATF74mH5EpHpZwbqIYRHIUKYpcbb2Ti4WAMwZILzZAYjNBaEi4bTGZdEVINYJ1ckWACyNZKD+uYgM4CF6xT2RfTGqQ4k1KQCsjYwtsyAHHUtdJVHrloPxW6MIAGyNPdczGisLhfrn

[2019-06-24 16:39] #389 closed

[2019-06-25 09:42] #380 closed

[2019-06-25 09:59] schmunk42 commented on #380
How would it be here? https://github.com/json-editor/json-editor/pull/396

[2019-06-25 10:35] pmk65 commented on #380
Selectize and Select2 integration has always been global due to their "plugin" nature.
I don't know if the Choices editor uses same approach, or controls the choices.js from within the editor/schema.

[2019-06-25 22:34] #383 closed

[2019-06-27 14:50] pmk65 commented on #223
Closing due to lack of feedback.

[2019-06-27 14:50] #223 closed

[2019-06-27 14:57] pmk65 commented on #79
Moving up and down (array setup) doesn't seem to cause any problems with current release.
But `Properties->Add` still does.

[2019-06-27 15:33] schmunk42 commented on #79
Having a more resilient editor would be cool, but the underlying issue is often related to the initialization of the used plugins.

[2019-06-28 22:19] pmk65 commented on #79
I looked at some of the editors from the list at https://github.com/JefMari/awesome-wysiwyg#standalone and I really like [Jodit](https://github.com/xdan/jodit) It's small fast, can integrate with Ace Editor and doesn't use iframe but textarea.
I just did a small test of integrating it into JSON-Editor without any problems. (Can't post link, as it's made with a new version of the Playground I haven

[2019-07-01 05:14] schmunk42 commented on #79
In general it would be great to have a plugin-system to add an additional editor without modifying the "core" code CC: @germanbisurgi @marc7000

[2019-07-01 09:51] pmk65 commented on #79
The way I integrated Jodit didn't require any core changes, as I just extend the `strings` editor. If Jodit lib is not present, it just fallback to the default `string` editor. Options for Jodit can be set either globally using `JSONEditor.defaults.options.jodit` or from the schema. (single property)
I'll put up an example link later.

[2019-07-01 12:40] lukzas opened #399 "Unexpected editor HTML structure is generated when "anyOf", "oneOf""
### General information

- json-editor version: 1.4.0-beta.0

Unexpected editor HTML structure is generated when "anyOf", "oneOf" etc. options are used on root node.

### Expected behavior

HTML without "anyOf". I'm not sure what is the desired result, but actual seems broken. Also, should these options be displayed in the editor in the form of the select element at all? I couldn't find any descri

[2019-07-01 13:41] pmk65 commented on #399
@lukzas Your Schema contains errors if I try validating it at https://www.jsonschemavalidator.net/

But generally the layout when using onOf, anyOf could need some improvement.
What are you trying to do?

[2019-07-01 13:48] #356 closed

[2019-07-01 14:27] lukzas commented on #399
I've tried to validate it before posting issue and it still seems fine after double checked, the error shown is about resulting JSON missing the required field as specified at the bottom. Adding `{"fieldOne": "bar"}` or removal of the required field would be enough.

Thanks for pointing out examples, they might be helpful. I'm trying to do a field to be required on a condition dependant on enum va

[2019-07-01 15:01] lukzas commented on #399
I've gone through examples and they don't fully satisfy my needs:
1. Sets of values are children of a property - in my case, it's another unrelated property on the same level
2. DescribedBy refs have a similar issue as the first approach - parent always exist and just ref is replaced depending on the value

I need to display and require depending property only if one of the enum values is selected

[2019-07-01 15:10] pmk65 commented on #399
Wouldn't the DescribedBy do if you just add a blank to the enum list? Like this: https://is.gd/fWMUzd

[2019-07-02 12:16] pmk65 opened #400 "Suggestion: Replace SCEditor with a non-jQuery Editor"
@schmunk42 @germanbisurgi @marc7000
SCEditor has some problems with JSON-Editor (See #79) and requires jQuery.
I suggest we replace it with another **standalone** WYSIWYG editor. (There's a good list here https://github.com/JefMari/awesome-wysiwyg#standalone)

I recently did an experiment on creating an WYSIWYG JSON-Editor editor using [Jodit](https://xdsoft.net/jodit/), which supports both `ifram

[2019-07-02 13:15] schmunk42 commented on #400
I would not drop the support completely for 1.x releases, we can consider that for a 2.x along with a more generic way to add your own editors.

[2019-07-02 13:25] pmk65 commented on #400
Using the same method as in my Jodit example, we could create a SCEditor editor too, but not include it in the official build. (Then if people want it instead of the non-jQuery editor, they can create their own custom build)
If we split out support for special editors in `src/string.js` it will be much easier to add new editors that extends it.
And then we could split up the editors in "**required

[2019-07-02 14:56] schmunk42 commented on #400
Sounds great!

[2019-07-02 19:58] lukzas commented on #399
Unfortunately not as I'll end up with empty property in resulting JSON, which I want to avoid. Seems that the best workaround, for now, is to use the current solution, but remove unwanted parts of HTML structure.

What I need is an implication with a select element with value1 and value2. When value1 is selected schema doesn't change when value2 is selected there is additional property required in

[2019-07-03 18:54] pmk65 opened #402 "Choices editor creates double entries in selectlist"
@itsoli
### General information
Choices editor creates double entries in selectlist depending on startval value and the sort order.
(If you set a different startval than "Green" there's apparently no problem. But if you also change the order of the enum items, the problems occur with another item)

![image](https://user-images.githubusercontent.com/478711/60617566-4a7f6000-9dd4-11e9-97ca-73abb246c

[2019-07-03 22:33] pmk65 commented on #402
I have figured out what is wrong.

The Choices editor creates the choices instance in the `postBuild()` function. At this state the form apparently isn't fully ready yet (startval not set). And as Choices modify/remove the original select options, it chokes somewhere. (This could potentially also be a problem with Select2 and Selectize)

What is needed is a `afterInputReady()`function, similar to

[2019-07-04 13:40] pmk65 opened #403 "Multiselect editor broken?"
In `src/defaults.js`, the **multiselect** and **selectize** editors are both triggered if `schema.uniqueItems` is true.
[code]

- json-editor version: Current

So according to this logic, both should give the same result when I view the [Selectize Example](https://json-editor.github.io/json-editor/selectize.html), but with Selectize disabled.

But with Selectize disabled, the "posibleFonts" sectio

[2019-07-04 13:48] MohnishKamble opened #404 "Select2 performance issue for generating dropdown"
1) JSON editor is very slow when using 'Select2' library for generating dropdowns when dealing with large amount of data. On contrary to this, 'Select' is very fast and it gives utmost performance. Is there any way in which performance of select2 can be increased for large amount of data?

2) Please refer to following direct URLs for checking performance for Select vs Select2 for my use case:

[2019-07-04 15:52] schmunk42 commented on #404
We'd need some in-depth information about this (JS Profiling, etc..) - I can't tell if this is related to json-editor or select2.

[2019-07-04 19:49] pmk65 commented on #404
@MohnishKamble The speed issues with Select2 have been fixed in the PR #401 I'm currently working on.
As it applies the Select2 code async so there's no wait before rendering next field.

3) I haven't tried it, but it might be possible if you can place the JavaScript function in a template helper.
I made a handlebars template example with helper function you might be able to use as reference. http

[2019-07-04 21:42] xlievo opened #405 "categories string tabs"
How to display "name2" tabs correctly?

Direct link to example: https://json-editor.github.io/json-editor/

[code]

[2019-07-04 22:13] pmk65 commented on #405
Categories only work with object or array types. All other types end up under a single Tab named "Basic" or `basicCategoryTitle` value.
So you probably want something like this: https://is.gd/hq6yBg

[2019-07-05 06:04] chen19890918 opened #408 "upload option not work"
when i use the latest cdn, upload option doesn`t work.
even the example page below doesn`t work.
https://json-editor.github.io/json-editor/upload.html

[2019-07-05 06:29] chen19890918 commented on #408
is there any method to fix this bug？

[2019-07-05 08:50] pmk65 commented on #408
I have the same problem when I try to make an upload example for the Playground page.

[2019-07-05 08:51] pmk65 commented on #408
Debug the code, find and fix the problem. Then submit a PR. 😁

[2019-07-07 15:59] pmk65 commented on #403
It looks like Selectize is exploiting that the "possibleFonts" doesn't have a `enum` list. (schema isn't valid without using Selectize)
I rewrote the src/editors/array/selectize.js in #401, so that the property now requires an `enum` list. (Then fallback to standard `select` is possible.)
It then updates the schema enum list if the "create" option is set in order to prevent "Value must be one of t

[2019-07-08 07:15] niebert commented on #408
@chen19890918 Open Console of browser and you will see, that there is `TypeError` preventing the json-editor to rendered in the holder (`upload.html` example).

   TypeError: a.links[b].rel is undefined    jsoneditor.js:11476:48 - i.e. line:col in build of json-editor in `dist/`

For debugging check property `rel` with
[code]
just a suggestion to start and create a Pull Request after forking the J

[2019-07-08 19:24] xlievo commented on #405
Thank you. I adjusted the style.

[2019-07-08 19:24] #405 closed

[2019-07-10 13:20] itsoli commented on #403
I explicitly trigger Choices for non unique items because I have a use-case for lists containing duplicate values. I have tested this and it is working for me. Turning the question around, why would we not want to use it for lists with duplicates?

[2019-07-10 13:55] pmk65 commented on #403
@itsoli The only case I can think of, is if you try setting the value using `setValue()`. Then it will have problems selecting if you got duplicate values. (specially in multiselect/array mode.)

BTW: I have refactored Select, Multiselect and Select2 in #401 Still need to do Selectize (and Choices 😁).
Now Select2 is in  separate editors that fallback to the respective select/multiselect editors if

[2019-07-10 16:12] jordyno opened #410 "Question: Is it possible to use computed property names?"
Hi all,
I need a very basic multilanguage text editor.
The source JSON would be like  {"en":"English text","de":"German text", ...etc}.
I want to do this so that it is possible to select language directly by key, without array traversal in other parts of my code.
JSON-editor however, seems not to allow computed property names.
Is there a way around this?
Many thanks in a advance.

[2019-07-10 18:08] davidpofo opened #411 "General usage issue"
### General information
Sorry, I am new to Javascript, JSON schema and json-editor. I have a JSON structure as seen below. There are four major sections; **manufactuingSpecs**, **audio**, **video**, and **captions**. Values that are piped should be a choose one dropdown menu. The goal is to have the user enter each field's value in one of the four panels. From their either previewing it to then co

[2019-07-10 18:54] pmk65 commented on #410
@jordyno What do you mean by "computed property names" ?
Do you have a mock-up schema you can show?

[2019-07-10 19:00] pmk65 commented on #411
The [Wiki](https://github.com/json-editor/json-editor/wiki) describes how JSON-Editor is structured and how you can modify it. It also contains some example of customization.
Also check the [Playground](https://pmk65.github.io/jedemov2/dist/demo.html) page which also contains several JavaScript examples.

To create your own custom build, modify the files in the "src/" folder. Then run the "[grunt]

[2019-07-10 20:38] jordyno commented on #410
@pmk65 Something like this:
{
	"type": "array",
	"title": "Multilang Text",
	"format": "tabs",
	"items": {
		"headerTemplate": "{{self.lang}}",
		"properties": {
			$languageShort: {
				"type": "string",
				"format": "textarea",
				"title": $languageName
			}
		}
	}
}

Where $languageShort would be a two-letter short for one of the languages available (PHP array) and $languageName would be the

[2019-07-10 23:30] pmk65 commented on #410
If the language selector is separate from the main form, couldn't you just pre-process your schema and replace the variables before rendering the main form?

Another way you could do it (language selector will still have to be separate from main form), is by modifying/hacking the `getTitle()` function. Then you could have a language array and return the appropriate translation based on the key and

[2019-07-11 12:27] pmk65 opened #412 "Autocomplete editor"
I wrote (another) autocomplete editor using https://github.com/trevoreyre/autocomplete/
Setting up autocompleters always needs special functions for each lookup case (results is never in same format) and usually involves custom functions.
I solved this by creating a global "callback list" where each custom function is defined. Then in the schema options you just refer to the callback function key.

[2019-07-11 15:46] mirannda opened #413 "Two columns"
How can I make a configuration with two columns for example?

![image](https://user-images.githubusercontent.com/22716715/61065204-997f5380-a3d9-11e9-8da1-7f5cf7b7f911.png)

[2019-07-11 16:58] pmk65 commented on #413
You can use `grid` or `grid_strict` layout. https://github.com/json-editor/json-editor#objects
Example: https://is.gd/ivD6ut

[2019-07-11 17:19] mirannda commented on #413
@pmk65  Thank you very much, exactly what I need!

[2019-07-11 18:00] jordyno commented on #410
@pmk65 Thank you for this! I checked it out and it's close, but not there yet. The problem is, that I need to feed the actual value in multiple languages and the title is specified only in schema. In your example I am getting same `text` for any chosen language.

I guess I will have to stick with PHP generated language portion of the schema, because number of available languages may change. It's n

[2019-07-12 17:16] #413 closed

[2019-07-14 16:34] pmk65 opened #414 "Selectize (array version) doesn't work with "watch""
### General information
The watch event is not triggered when value(s) are updated.

- json-editor version: 1.4.0-beta.0

### Expected behavior
When adding/removing items to/from **possibleFonts**, the values in **font** should change too as it is setup to watch **possibleFonts**

### Actual behavior
Nothing happens to **font** .

### Steps to reproduce the behavior
Add/remove fonts from the **pos

[2019-07-15 17:54] davidpofo commented on #411
@pmk65 Hey peter thanks for the help!

[2019-07-15 17:54] #411 closed

[2019-07-15 18:57] rossleonardy opened #415 "Array and anyOf/oneOf items cause problems when deleted"
### General information
When you delete a row, it looks like the array editor sets itself to a value sans the row you're deleting:
https://github.com/json-editor/json-editor/blob/master/src/editors/array.js#L554
This has an unusual interaction with anyOf/oneOf multiple style schemas, it looks like with   remove_empty_properties: true, it will set all existing items to the first schema available, a

[2019-07-15 20:27] schmunk42 commented on #415
@rossleonardy Did you try `latest` of this repo?
We are at [1.4.0-beta.0](https://github.com/json-editor/json-editor/releases/tag/1.4.0-beta.0) atm.

[2019-07-15 20:39] rossleonardy commented on #415
@schmunk42 yes, sorry; got confused looking at the git tags. The codepen shows it on 1.4.0-beta.0

[2019-07-16 12:41] pmk65 commented on #127
@sirockin Is there something we can integrate into JSON-Editor to make it easier to use with Angular?
(I'm not familiar with Angular myself, so some help is needed)

[2019-07-16 13:24] sirockin commented on #127
Hi Peter - thanks for responding. I'm pretty much an Angular beginner but I've just taken over some Angular code in our codebase and came across your library today. It looks like it could be really useful for us and setting up a simple component seemed pretty straighforward using the above code.

My initial thoughts are that it would be useful to extend the template code to provide the schema, jso

[2019-07-16 14:14] pmk65 commented on #127
@sirockin There's currently a wrapper for jQuery in [src/jquery.js](https://github.com/json-editor/json-editor/blob/master/src/jquery.js)
Maybe something similar could be made for Angular?

[2019-07-16 14:41] sirockin commented on #127
Yes I think so - might be worth creating an npm package to wrap it.

[2019-07-16 15:24] pmk65 commented on #412
Final version added to #401

[2019-07-16 15:26] pmk65 commented on #391
@mirannda Are you going to submit a PR with your TailwindCSS Theme?
If not, then we can close this thread.

[2019-07-16 15:28] #343 closed

[2019-07-16 15:56] mirannda commented on #391
JSONEditor.defaults.themes.tailwind = JSONEditor.AbstractTheme.extend({
  getGridRow: function() {
    var el = document.createElement("div");
    el.classList.add("flex", "flex-wrap");
    return el;
  },
  getGridColumn: function() {
    var el = document.createElement("div");
    return el;
  },
  setGridColumnSize: function(el, size, offset) {
    if (size < 12) {
      el.classList.add("w-" +

[2019-07-16 16:02] mirannda commented on #391
[code]

[2019-07-16 22:23] pmk65 commented on #391
Thanks. I have converted it into a PR #416

[2019-07-17 21:08] pmk65 commented on #391
@mirannda Have you tried this one? https://bulma.io/
Looks pretty cool,

[2019-07-18 08:36] zhuyunhe opened #417 "dont support ts ?"
### General information
i use 'npm i @json-editor/json-editor' to install it，i want to use it in my ts project, but i get error when i import it
[code]

[2019-07-18 08:43] pmk65 commented on #417
Take a look at #127 and see if the solution posted there works for you.

[2019-07-18 12:13] mirannda commented on #391
@pmk65 Already, I liked it a lot, but in my opinion, Tailwind allows you more control.

[2019-07-18 15:00] mirannda opened #419 "onSubmit method"
I implemented the onSubmit method, these are the two methods that can be used, what do they think of implementing the project?

[code]

[2019-07-18 15:34] mattsta commented on #415
I reworked the example to show the error easier: https://codepen.io/anon/pen/dxygMo

Steps to reproduce:
- visit https://codepen.io/anon/pen/dxygMo
- click "Add Item"
- switch type between "test1" to "test2" and "test3" multiple times
  - each type only has one item (`cost`, `name`, **or** `date`), but switching types retains them all in the interface with bonus broken input modalities

See how th

[2019-07-18 16:05] victoroliveira opened #420 "Custom classes are not applied when format is radio"
### General information

- json-editor version: 1.4.0-beta.0

### Expected behavior
Should apply class to element.
### Actual behavior
Class is not applied to radio buttons.
### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAaEUATkrIWAJYwDOCoA5jAHYAmMht45YANnIgyzZ5w0PiCphC5RnWEAzJIQC2AQxyJCK5uSTCmAVyUIA2iFW95Mc3

[2019-07-18 16:11] pmk65 commented on #419
I have been looking for a way to implement button types into the form. (But it doesn't look like it's possible without breaking the schema standards, due to the way JSON-Editor works)

The simplest solution would be to create a new custom editor, triggered by` "type": "button"` (This is not in the JSON Schema standards) and then configure it using `options`
With the new callback I have implemented

[2019-07-18 17:31] pmk65 commented on #420
@victoroliveira `inputAttributes` sets the attribute on `this.input`, which usually is the input element. But in the radio editor `this.input` is the wrapper element. (I guess that's one of the reasons why the `inputAttributes` function is not applied.)
But it does add it's own class names to input (**radio__field**), label (**radio**), label span (**radio__label**) and icon (**radio_icon**). You

[2019-07-19 11:57] pmk65 commented on #419
**Suggestion for Button editor (for the 2.x release).**

- Triggered by setting `"type": "button"`
- Buttons matches the theme selected.
- Config options is in "options.button" and consist of "**text**", "**action**" and optional "**icon**"
- Callback functions defined under "**window.JSONEditor.defaults.callbacks.button**" (same system as I added in the 2.x version of other editors)
- Buttons lea

[2019-07-19 13:13] mirannda commented on #419
@pmk65, As I see it, perfect, I have tested here and perfect, even can be added the medoto onSubmit with simplicity. Great job, great job!

![image](https://user-images.githubusercontent.com/22716715/61537529-c5b85700-aa0d-11e9-9a52-4eb854036c63.png)

[2019-07-19 13:38] sirockin commented on #417
@zhuyunhe this project doesn't currently include typings so you need to import in the same way as you would import any other non-typescript module:
[code]
If you're using Angular, then the template @pmk65 mentioned in #127 should get you started.

[2019-07-19 13:46] pmk65 commented on #419
I have added the Button editor to #401 PR now..

[2019-07-19 14:47] pmk65 commented on #414
Fixed in #401

[2019-07-20 06:36] sirockin opened #421 "ipv4 validation not implemented"
### General information
The ipv4 format specifies that the entered string should be in the format of an ipv4 address. I believe this was already specified in json schema v4 but doesn't seem to be implemented in json-editor.

- json-editor version: 1.4.0-beta.0
### Expected behavior

Should create a validation error if a non-valid ip address is entered into a string field specified with format ipv4

[2019-07-20 06:39] sirockin commented on #421
I wrote a custom validator below that will provide this validation. Would you like me to attempt to create a PR to include make it part of the default validation?

[code]

[2019-07-20 09:08] pmk65 commented on #421
@sirockin Good idea, as both ipv4 and ipv6 is part of the 04 specs. https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-7.3.4
So the validation should support both versions. Also it might also be a good idea to create an "ip editor". It just has to extend the "string" editor and set a validator pattern, similar to what I did in the UUID editor `postBuild()` function.  https://g

[2019-07-20 09:48] pmk65 commented on #420
If we add `inputAttributes` support to radio editor, which element should the attribute then be applied to? Radio element, Label or Wrapper?

[2019-07-20 16:53] pmk65 commented on #415
@mattsta Try setting `no_additional_properties` to **true**.
Example: https://is.gd/yS2W4r

[2019-07-21 04:56] sirockin opened #422 "Inherited fields not generated for more than one level of "allOf" inheritance"
### General information

Schemas using `allOf` inheritance do not generate form fields for more than one level of inheritance.

- json-editor version:1.4.0-beta.0

### Expected behavior

Should generate form fields for all required fields in inheritance hierarchy.

### Actual behavior

Does not generate grandparent field. Online editor behaves inconsistently thereafter.

### Steps to reproduce the

[2019-07-21 06:18] sirockin commented on #421
Thanks @pmk65 .

So I'm guessing the right place to add the validation code would be in validator.js, just before the invocation of the custom validators. Is there any way I can include unit tests?

Regarding the "ip editor" idea, that sounds great but I'm not clear on what the UUID editor offers other than a default value. I can see how a box which enforces the numerical pattern (similar to the i

[2019-07-21 09:43] pmk65 commented on #421
@sirockin I don't think an ip editor needs much more than a `postBuild()` function that sets the validation pattern. As you have noticed with the integer editor, then it doesn't need much code as it extends one of the base classes.
The UUID editor also has a feature to create a random UUID . That's why it contains more than just the `postBuild()` function with the pattern def. (line 10)
I believe

[2019-07-21 09:49] pmk65 commented on #422
@sirockin Judging from the various bug reports, there's a lot of unresolved issues with `oneOf`, `allOf` and `anyOf`
Personally I don't have much experience with those 3, since I never use them myself. (This is also why I have never attempted to try fixing bugs in `src/editors/multiple.js` which is the class used for those types.)

You are welcome to create a PR if you are able to fix it. 😃

[2019-07-21 16:55] sirockin commented on #421
At this stage I think I'll limit myself to adding ipv4/6 validation to validator.js and look at digging into the editor code once I have a bit more understanding of your codebase and functionality. What are your thoughts on adding unit testing? - I see that you have e2e setup via codecept.

[2019-07-21 16:57] sirockin commented on #422
Sure I can have a look at that particular use case anyway. This is definitely an area where I think unit tests would be useful.

[2019-07-21 17:13] pmk65 commented on #421
@sirockin The tests are made by @germanbisurgi I don't have that much experience with setting up tests myself.
As for the codebase, then I have been working on refactoring several of the editors (and adding a couple new ones too) See #401
Building new editors should be a bit easier as they now extend base classes. 😄

[2019-07-21 17:28] schmunk42 commented on #421
Unit tests would be also great, please feel free to add them if you have good ideas how they should be designed.

[2019-07-21 18:10] pmk65 commented on #421
@sirockin Here's an example of an "ip editor", like I described before: https://is.gd/MZKWaq

[2019-07-22 08:58] sirockin opened #423 "Add unit testing framework"
### General information

While the repo currently contains an end-to-end testing framework, it would benefit from allowing developers to add unit tests.

I'll create a PR to add jasmine/karma.

[2019-07-22 08:59] sirockin commented on #421
@schmunk42 Okay great, I've added #423 and will provide a PR for that.

[2019-07-22 10:32] pmk65 commented on #421
I added a PR #425 to allow setting alternate pattern validation message.

[2019-07-22 13:05] faraazbh opened #427 "Form is autopopulated with Enum values when default value for enum in POJO is NULL"
### General information
Form is autopopulated with Enum values when default value for enum in POJO is NULL

- json-editor version:

### Expected behavior
Drop down values for ENUM shoudn't be populated by default. It should be BLANK
### Actual behavior
Drop down values for ENUM are populated by default
### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io/json-

[2019-07-22 13:23] #423 closed

[2019-07-22 14:20] sirockin commented on #421
I have an ipv4 and ipv6 implementation and unit tests ready to submit as a Pr once my previous PR has built and been merged. The regex pattern supplied above for ipv4 doesn't catch out-of-range numbers so I've stuck to my implementation. The ipv6 pattern looks pretty good although it doesn't allow compressed-form addresses. However due to lack of time I've decide to use it and have left in a disab

[2019-07-22 16:40] lukzas opened #429 "Editor value is not refreshed with nested DescribedBy property"
### General information

- json-editor version: 1.4.0-beta.0

### Expected behavior

Everytime propertyType is selected, editor.getValue() function / UI JSON edit should reflect actual value of propertyTypeOptions depending on selection

### Actual behavior

Editor value is not refreshed or holds previous value before selection. Without nesting as in original describedBy example seem to work ok

#

[2019-07-22 17:03] pmk65 commented on #427
@faraazbh That's the correct behavior when you have the "gender" property as "required".
If you remove "gender" from the "required" list, it will work as you expected.
Another way is to add a blank string as the first entry in the enum list.

[2019-07-22 19:06] pmk65 commented on #429
Fix added in #401 PR.

[2019-07-22 19:17] sirockin commented on #421
@pmk65 if #426 covers everything that's great - I'll be happy for you to reject #428 if that's the case. One thing I would ask though - can we try to adapt the unit tests in my PR to cover your implementation?

[2019-07-22 19:25] pmk65 commented on #421
@sirockin Sure. The unit tests would be great to have. Maybe you can add them to #426 or create a companion PR. 🥇
(As I said before, I have very little experience in setting up tests myself. 🙈)

[2019-07-23 04:59] faraazbh commented on #427
By blank I meant, after I have loaded the schema , the form and the output JSON should be reflected as follows:

![image](https://user-images.githubusercontent.com/13655599/61683861-bbab9680-ad34-11e9-84c4-12692b4387a7.png)

[2019-07-23 07:53] pmk65 commented on #427
Then do as I described before. Remove "gender" from the "required" list. Example: https://is.gd/wJn4X6

[2019-07-23 19:30] djy0215 opened #431 "Can I format checkbox for one item per line?"
A simple checkbox schema:
[code]
The page will display `value1` and `value2` in the same line. Is there a way to modify the schema to let one item one line?

FYI, I am using this JSON EDITOR for  Jenkins [Extended choice plugin](https://wiki.jenkins.io/display/JENKINS/Extended+Choice+Parameter+plugin).

Thanks:)

[2019-07-23 20:29] pmk65 commented on #431
@djy0215 You can break it so it displays 1 item per line using CSS.
[code]

[2019-07-23 20:36] djy0215 commented on #431
@pmk65 Thanks for reply. But I am wondering are there any ways to achieve this in schema field. It's a Groovy file not a JS file.

[2019-07-23 21:05] schmunk42 commented on #431
While we have some options regarding layout settings, I don't think this one would belong there.
CSS should do the job.

[2019-07-23 21:05] #431 closed

[2019-07-23 21:28] pmk65 commented on #431
Another way is to override the `getMultiCheckboxHolder` function, as the "inline-block" style is hardcoded in here.
[code]

[2019-07-23 21:40] schmunk42 commented on #431
We could rewrite that so that no `!important` ist needed.

[2019-07-23 22:17] pmk65 commented on #431
That would require that the inline CSS is placed in external file. As inline CSS has the highest priority.

[2019-07-23 23:33] schmunk42 commented on #431
Inline styles should be avoided in general. although I admit I haven't looked in detail into this specific issue.

[2019-07-24 09:18] pmk65 commented on #431
@schmunk42 The most logical place to add the inline CSS would be in the Themes and not in the editor.
As there seems to be a overlap in some editors. (that's one of the things I want to clean up in #401. (But I have put further work on hold until the current changes have been reviewed/accepted.)

[2019-07-24 09:28] #360 closed

[2019-07-24 09:28] #354 closed

[2019-07-24 09:29] #377 closed

[2019-07-24 12:51] victoroliveira commented on #420
I think the class should be applied to wrapper element, and this class should be responsible to manage styles for radio element and label.

Regarding this, I notice that enumSource and options.enum_titles are not working when format is radio. Is this working as expected or is a know issue?

[2019-07-24 15:07] pmk65 commented on #420
Ok. (I think the same "problem" is also present in the checkbox editor.)

You are correct. There's no `enum_titles` or `enumSource` support present in the radio editor, so that's something that should be added.
The radio editor is a fairly new addition to the library #346, created by @florina-chesaru Maybe she got an update/fix for this?

[2019-07-24 17:47] pmk65 commented on #431
@djy0215 I just looked at the Groovy plugin and it's using the old jdorn version of JSON-Editor.
You should get the author of the plugin to update his code as the version here contains several bugfixes and new features. 😉

[2019-07-24 18:08] wsantos opened #432 "Accessing field schema at theme level"
### General information

How can I get the input schema at the label/input theme functions to proper apply a css class if a field is required, e.g: set label bold if field is required, what is the correct approach for accomplishing this ?

- json-editor version: all

[2019-07-24 18:15] pmk65 commented on #432
@wsantos If you install the [DOMPurify](https://github.com/cure53/DOMPurify) library, you can use HTML tags in the title and description properties.

[2019-07-24 18:49] wsantos commented on #432
@pmk65 I can add it using my custom theme (using `JSONEditor.AbstractTheme`), but I need to know if the field is required or not, and I need that info at the theme class level, probably on `getFormInputLabel`, I'll give a try on your link, but I'd prefer to have more control/data at the "theming" level.

[2019-07-24 19:00] pmk65 commented on #432
@wsantos There is a function called `isRequired()` in the editor class, but themes don't have direct access to the field info and is limited to the parameters passed from the editors.
It would require changes in all the editors, so that the `isRequired()` parameter is passed along to the theme label function(s).
I think this could be a useful enhancement.

[2019-07-24 21:07] djy0215 commented on #431
@pmk65 Thanks:)
I just found that [Groovy plugin](https://wiki.jenkins.io/display/JENKINS/Extended+Choice+Parameter+plugin) allows you to combine with a Javascript file and I could rewrite the css style in Javascript. :blush:

[2019-07-25 20:03] davidpofo opened #434 "Reading Json from file"
### General information
What would be the correct way to programmatically read in Json data from a local directory? I want to read in the specified Json Schemas after selecting the corresponding option from a drop down menu.
At the moment I have the button I added using hardcoded version 1 and 2.

[code]
I have tried requiring it as such:
[code]
Which gives the following error. **Uncaught Referenc

[2019-07-25 20:33] pmk65 commented on #434
@davidpofo You can load external schemas using `$ref` with AJAX option enabled. Example: https://is.gd/WPS23w

Or if you want to do it outside the JSON-Editor
[code]

[2019-07-25 21:42] davidpofo commented on #434
@pmk65 Yes, I want this function is returning the following error because the callback argument is not making it to work on e.target.result
[code]

[2019-07-25 22:33] pmk65 commented on #434
You need to call it like this:
[code]

[2019-07-26 11:49] pmk65 commented on #432
@wsantos You can try the #433 PR I submitted. It will give you access to the required flag inside the theme label functions.

[2019-07-26 11:53] #305 closed

[2019-07-26 13:43] wsantos commented on #432
Sure I'll give it a try, thank you !

[2019-07-26 22:48] lukzas opened #435 "Material theme input fields are broken with custom format validation"
### General information

- json-editor version: 1.4.0-beta.0
- materialize/1.0.0/css/materialize.min.css
- materialize/1.0.0/js/materialize.min.js

### Expected behavior

Input fields (string) are rendered as without format or built-in validation (e.g. minLength)

### Actual behavior

Input fields are broken, Select generated from enums seems ok

### Steps to reproduce the behavior

Attach custom

[2019-07-26 23:12] lukzas commented on #429
Tested commit outside PR and it works, thanks!

[2019-07-28 14:17] pmk65 commented on #435
@lukzas Materialize Theme currently has some issues. See also #205 & #214
We need someone who is using Materialize to take a look at those issues.  (I don't use materialize myself, so that excludes me).

The rendering of Materialize components is handled by the "JSONEditor.defaults.themes.materialize" class. (Located in the file "src/themes/materialize.js")
Inside this (and other themes), you'll f

[2019-07-28 19:41] lukzas commented on #435
I've tried to look into it briefly before submitting an issue. I need to dive more into code to understand how elements are created and hope that I'll be able to fix afterwards :)

[2019-07-28 20:26] pmk65 commented on #435
@lukzas The "**JSONEditor.defaults.themes.materialize**" class **(src/themes/materialize.js**) extends the "**JSONEditor.AbstractTheme**" class (**src/theme.js**)
So if a function is not present in the materialize class, it will use/fallback to the function from the parent class.
Inside the material class functions, you can call the parent function using `this._super()` so you don't have to repeat

[2019-07-30 10:37] elham123456 opened #436 "A lot of blank lines between objects"
I have a json file which contains multiple properties. The problem is there is too much spacing (multiple blank lines)between the properties. I have tried the different themes that you provide but that does not really make a difference in the spacing.

Is this something I  would have to change in the bootstrap css file or the jsoneditor.min.js?  And Could you tell me what I would have to change?

[2019-07-30 10:46] Prace commented on #127
Leaving this in case someone has a blank page as me: using the latest NPM package with Angular v 8.1.3, this worked:

` const generatedUI = new JSONEditor(elem, {schema: this.schema});`

I had to add the 'new' keyword.

[2019-07-30 11:33] pmk65 commented on #436
@elham123456 You got a few options.
1) Use the Barebone or HTML Theme (Example https://is.gd/xNihq3) and then create [custom styles](https://github.com/json-editor/json-editor/wiki/How-to-restyle-form-using-CSS-when-there-is-no-individual-classes) for everything.
2) Modify one of the existing framework Themes (Please submit a PR if you make any useful improvements)
3) Build a new custom Theme.

Wh

[2019-07-30 11:41] pmk65 commented on #420
@victoroliveira You can try the #437 PR I just submitted. It should contain fixes for all the above issues.

[2019-07-30 11:58] elham123456 commented on #436
I'm using bootstrap3. And the other themes have the same problem exept html.
I prefer not using the html theme because I want to take advantage of the grid format option.
So I would think that in another css file, I would have to override the margin of the rows since the objects are placed into rows and theses rows are too far away from each other. But that has not worked.

[2019-07-30 12:41] elham123456 commented on #436
okay so changing the margin-bottom and top of h1,h2,h3 helps a lot!! But I haven't gotten rid of them completely.

[2019-07-30 12:52] pmk65 commented on #436
There are also options like "**compact**" that can reduce some of the white-space.
Try posting an example of your schema/setup using the [Playground page](https://pmk65.github.io/jedemov2/dist/demo.html).

[2019-07-30 17:26] #434 closed

[2019-07-31 09:36] schmunk42 commented on #421
fixed by #426

[2019-07-31 09:37] #421 closed

[2019-07-31 09:38] #422 closed

[2019-07-31 13:08] #432 closed

[2019-07-31 16:39] pmk65 commented on #400
Should we close this, as the changes is now available in https://github.com/json-editor/json-editor/tree/develop/2.x

[2019-07-31 16:39] pmk65 commented on #412
Should we close this, as the changes is now available in https://github.com/json-editor/json-editor/tree/develop/2.x

[2019-07-31 16:39] pmk65 commented on #419
Should we close this, as the changes is now available in https://github.com/json-editor/json-editor/tree/develop/2.x

[2019-07-31 18:15] #419 closed

[2019-07-31 20:11] pmk65 commented on #435
@lukzas I'm currently working on creating a theme based on the [Spectre CSS framework](https://picturepan2.github.io/spectre/index.html)
This theme is build from the base theme, and I have only modified the functions that is needed for the Spectre framework.
While working on it, I noticed a lot of the other themes is missing several features.
So i started on making a schema for displaying the vari

[2019-08-01 07:30] #412 closed

[2019-08-01 07:31] schmunk42 commented on #400
Would be great if you could add some lines about the major changes to CHANGELOG.

[2019-08-01 07:31] #400 closed

[2019-08-01 09:53] pmk65 commented on #432
@wsantos Is it a new theme you are working on or a custom version of one of the existing themes?

As I'm working on creating a new theme from scratch myself (Using [Spectre CSS framework](https://picturepan2.github.io/spectre/index.html)) and I'm going to add some more theme functions or features if I find it necessary.
So I could use the insight of someone else other working on themes. 😄

Maybe @

[2019-08-01 10:05] pmk65 opened #439 "Improve Theme functions"
* Currently the themes class lacks functionality when it comes to handling checkboxes and radio inputs. (Might be more, but that's the ones I'm focusing on at the moment)
* Some functions needs to have access to more parameters. (#432 is a good example of this)
* Several themes have different functionality (i.e. some support `infoText` option and other just ignore it)
* There's no way to customize

[2019-08-01 13:32] pmk65 commented on #439
I came up with a couple ideas to make themes more configurable.

1) **Theme options** - This is an object of config options that can be used inside the theme, (Like `this.options.labelBold` in the Spectre Theme example below).
The options can then be set/overridden before creating the JSON-Editor instance. (Like `JSONEditor.defaults.themes.spectre.prototype.options.labelBold = true;`) Might be ext

[2019-08-01 14:41] mirannda commented on #432
I find it nice to have flexibility to manipulate any element, having conditions to perform by configurations is always much more appropriate.

Following is the implementation I made of the required.

[code]

[2019-08-01 15:22] mirannda commented on #439
@pmk65, I find it nice to have flexibility to manipulate any element, having conditions to perform by configurations is always much more appropriate.

[2019-08-01 15:34] pmk65 commented on #432
With the _Inline Style Rules_ enhancement I want to implement, this could be simplified to:
[code]
And the styles of `.je-required:before` can be modified from a normal external stylesheet too, without problems.

[2019-08-01 16:02] lukzas commented on #435
@pmk65 Thx, I'll look into it :)

[2019-08-01 16:24] pmk65 commented on #435
I also noticed that the Materialize theme failed with JavaScript errors in some cases.
I have updated the testing schema to cover Array and Object output too Try it [here](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgTwA4FM4C5bAPYCMArVAY3jgBpIY54BLeAG3WCzgBkBDRHAV3inioAzv2IchwilWwAnVAEcetOQBNMUANo1h8AMLjJwALqVo2ZDJxoZdQ1nBnqCHfolD1DmF%2BxI06uCIytBAA5lKOXjT0TP7AACo6UK7Mpt5Oq

[2019-08-01 16:57] djy0215 opened #440 "Is there a way to combine 'checkbox' and 'object' together?"
I saw `For arrays of enumerated strings, you can also use the select or checkbox format`. I am wondering if it is possible for `checkbox` format each item in it is an object.

For example, every item lists in checkbox are the following format.
[code]

[2019-08-01 17:34] pmk65 commented on #440
No. Currently objects support the following formats: `grid`, `grid-strict` and `categories`
You can see a test schema with various formats [here](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgTwA4FM4C5bAPYCMArVAY3jgBpIY54BLeAG3WCzgBkBDRHAV3inioAzv2IchwilWwAnVAEcetOQBNMUANo1h8AMLjJwALqVo2ZDJxoZdQ1nBnqCHfolD1DmF%2BxI06uCIytBAA5lKOXjT0TP7AACo6UK7Mpt5OqBA8ALbqWhHeAfAcECocMipiEgC

[2019-08-01 17:46] djy0215 commented on #440
Thanks.
Is it means that if I need the format to be `checkbox` and items in it must be enumerated strings?

[2019-08-01 17:49] machinaeXlasse opened #441 "Nested meta schema validates with unexpected errors (no additional properties allowed)"
Dear json-editors,

#### Expected Behaviour
I try implementing the meta schema into my project as part of the user interface. In this case, the meta schema is nested in another schema.

To be able to reference the definitions as a mayor part of the meta schema from the original json-editor files, I moved the definitions to the schemas top.

#### Actual Behaviour

For reasons I don't understand the

[2019-08-01 17:57] pmk65 commented on #441
You got an `oneOf` error in your schema, which is not displayed inline.
Look in the Validation output of your example and you'll see the complete list of errors..

[2019-08-01 18:08] pmk65 commented on #440
Yes, (Unless you create single checkbox elements. These don't need enum lists)

You can also create a custom editor to handle this specific format. You can see an example of a custom editor (autocomplete) here: https://is.gd/WihSGg

[2019-08-01 18:30] machinaeXlasse commented on #441
Thanks for the quick reply!

I came accross the update which included: [Move additionalProperties: false from schemaBase to each branch of schema.oneOf](https://github.com/json-editor/json-editor/pull/300/commits/d6482c0a3e6eeaebea66038fb026c58d094485c4)

Now when I undo these changes the [schema validates](https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAacAlmADZyIAiMA

[2019-08-01 19:17] djy0215 commented on #440
@pmk65 Thanks for replay. Could u provide me some example of `create single checkbox elements`?
Thanks so much:)

[2019-08-01 19:19] pmk65 commented on #441
Sorry. I haven't used meta schema much myself, so I hope @Franciman might be able to explain the changes.

[2019-08-01 19:20] pmk65 commented on #440
Look at the 1st link I posted. the "checkboxinput1" is such a field.

[2019-08-02 11:38] pmk65 commented on #439
I'm almost done creating my new Spectre theme.
It contains **NO Inline Styles** as everything now relies on classnames defined in the _Inline Style Rules_. (And all _Inline Style Rules_ can be overridden by custom stylesheet.)
And parts of the layout can be changed using the config options. (Like indentation of objects, label text weight and object borders.)

I'm going to clean up/update the base

[2019-08-02 15:01] mirannda commented on #439
In my opinion, I think for the sake of compatibility, what is more
appropriate is to keep the old until they are updated, Tailwind I update.

Em sex, 2 de ago de 2019 às 08:38, Peter Klein <notifications@github.com>
escreveu:

[2019-08-02 15:25] pmk65 commented on #439
@mirannda I have pushed the Theme changes and the Spectre theme to the `develop/2.x`  branch.
They still need some cleanup, but the Spectre theme should give you an idea of how it works so you can start on updating the Tailwind theme.

The config options in the top of the Spectre theme, can be set before you create the JSON-Editor instance. So if you want bold labels, you set `JSONEditor.defaults.

[2019-08-02 19:38] pmk65 commented on #429
@lukzas I think I have spotted another issue with the DescribedBy editor.
When you destroy the editor and then recreate it, the "subschemas" of the DescribedBy editor won't be displayed. Maybe you can confirm it?

I think the problem might be is in the register/unregister functions,

[2019-08-02 21:48] mirannda commented on #439
I am already finalizing the upgrade of Tailwind, I do not understand what
it says about the Checkbox editor, can be more explicit?

PS: I'm sorry my english is not good.

Em sex, 2 de ago de 2019 às 12:26, Peter Klein <notifications@github.com>
escreveu:

[2019-08-03 11:53] lukzas opened #442 "Is it possible to use checkbox/select with multiple checkboxes with enumSource?"
Is it possible to use checkbox/select with multiple checkboxes with enumSource? It works fine with using $ref to fetch values, but my case needs to allow modification of values in checkbox during runtime.

[code]

[2019-08-03 13:37] pmk65 commented on #442
I don't think so. The rendering of checkbox elements is  a bit wiird IMO.
1) A field with type "boolean" and format "checkbox" is rendered using the `src/checkbox.js` (valid)
But any type other than boolean will render it using the `src/string.js` (invalid)
2) Select and Checkbox in multiselect mode are triggered by `"uniqueItems": true` and both rendered using `src/multiselect.js`

I made a Selec

[2019-08-03 14:24] pmk65 commented on #442
Have you tried any of the extended Select addons? (Select2, Selectize or Choices)
The have an additional features, like tagging/pills. (Have different names in each plugin).

In the 2.x branch I have modified the multiselet editors, so it is now possible to add additional items to the enum lists. Either from user input or from `setValue()` (Optional feature)

[2019-08-03 14:26] lukzas commented on #442
This is what I've thought :stuck_out_tongue_winking_eye:. I've seen playground Select TCs example before posting the question. I have two ideas on how to tackle this:

1. Watch source property with JS and update enum from code
2. Use plugin for select that works with Materialize e.g. choices (not sure whether passing data differently than with schema defined enum is supported when used inside the

[2019-08-03 14:32] pmk65 commented on #442
The changes I made in the 2.x branch, updates the schema enum list dynamically if needed, so new values will validate correctly. (I have updated Select2 and Selectize editors too, so they now are separate editors instead on nested into `select.js` and `multiselect.js`)

[2019-08-03 14:40] pmk65 commented on #442
In the 2.x branch I have also introduces some changes to the Theme format. So it now can use Style Rules instead of hardcode Inline Styles. (This makes it so much easier to restyle from CSS)
And you can add configurable options to the Theme, to have different layouts.

So if you are going to update the Materialize theme, it might be a good idea to use the 2.x branch. 😉

[2019-08-03 15:49] lukzas commented on #442
I've checked 2.x branch with following config [LINK](https://is.gd/pA4aE7) and it's rendered differently than on 1.x code. On 1.x it is rendered as multi-select (checkboxes in the dropdown with Materialize), while on 2.x there are pills (checkboxes mixed with pills with Materialize). Seems that latest choice.js demo page is in line with how new branch works, as there are pills too.

[2019-08-03 22:23] pmk65 commented on #442
I kinda destroyed the Choices editor during my 2.x update. As I assumed it worked similar to Select2 and Selectize with a Select box. But then I discovered that the tags/pills no longer worked. 😢
This is because Choices needs a textinput field and not a select box (And I have modified the editors to extend the select/multiselect). I plan to fix this later on if @itsoli doesn't beat me to it.

In t

[2019-08-04 11:23] pmk65 opened #443 "DescribedBy editor stops working if you destroy the editor"
### General information
DescribedBy editor stops working if you destroy the editor.

- json-editor version: 1.4.0-beta.0

### Expected behavior
That form look the same as before destroying.

### Actual behavior
The subitems of the DescribedBy editor is no longer present, just some empty div tags.

### Steps to reproduce the behavior
The example below destroys the editor when the ready event is tri

[2019-08-04 12:54] pmk65 commented on #439
The checkbox editor for boolean types used wrong label and was invisible if you used compact mode. )I have fixed that in the 2.x branch)

No problem. I understand what you are saying. 😃

[2019-08-04 13:01] pmk65 commented on #439
Here's a couple screenshots of the new Spectre theme I made for the 2.x version. (Theme uses NO Inline Styles and have configurable options to change part of the layout.)
#### All field types with everything enabled (Title, Description and infoText)
![Spectre_Theme1](https://user-images.githubusercontent.com/478711/62423950-31661980-b6c8-11e9-815d-f523c2ade206.png)
#### All field types with everyt

[2019-08-04 13:05] pmk65 commented on #436
Take a look at some screenshots of the new 2.x **Spectre theme** I posted here: https://github.com/json-editor/json-editor/issues/439#issuecomment-518002094
It is very compact and easy to restyle from CSS or using the available theme config options.

[2019-08-04 13:55] wclssdn commented on #128
I got it.
In file [`src/editors/multiple.js` line `241`](https://github.com/json-editor/json-editor/blob/HEAD/src/editors/multiple.js#L241), the given value pass through the `"wrong"` validator.
e.g.
the `anyOf` contain two schemas:
[code]
and given value is
[code]
when set the first value to the editor, it's complete correct.
but when set the second value to the editor, it's `wrong`!~
because the

[2019-08-04 14:11] wclssdn opened #444 "I got it. the problem of `anyOf`"
I got it.
In file [`src/editors/multiple.js` line `241`](https://github.com/json-editor/json-editor/blob/HEAD/src/editors/multiple.js#L241), the given value pass through the `"wrong"` validator.
e.g.
the `anyOf` contain two schemas:
[code]
and given value is
[code]
when set the first value to the editor, it's complete correct.
but when set the second value to the editor, it's `wrong`!~
because the

[2019-08-04 14:12] wclssdn commented on #444
### General information

- json-editor version: all

### Expected behavior

the editor can choose the best fit schema

### Actual behavior

the editor choose the first fit schema

### Steps to reproduce the behavior

[Direct link to example](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QEMB2BPA9gMwAQCNkATAY2QGd4AacdAB3iU3wCtYSwQa6AnTBnpFjlEoKLAC2IhKEgxG4KHC60GiFDx7J0K7Jh4TknJGG

[2019-08-04 15:05] lukzas commented on #435
@pmk65 I've found out that it's due to input type attribute being change from "text" to the validator name, in my case "ConnectionString". I'm not sure whether it's used by validation engine at all as it seems to work fine with the type being set to "text".

My first guess was to add `getFormInputField: function(type) {}` in materialize.js and set type explicitly for fields other than text, but wi

[2019-08-04 15:29] lukzas commented on #205
@pmk65 I'm able to fix the range label issue easily. However, I've noticed that the radio is also affected, but it's broken for 2.x branch completely. For 1.x code, I'm struggling to access it inside `getFormControl` theme function. When I try to dump input.type none of them is "radio", on the other hand, "range" is found with no problem. Any clues?

Regarding text input default issue it seems to

[2019-08-04 15:32] lukzas commented on #442
@pmk65 Ok, I'll use the workaround until it's sorted out 😃

[2019-08-04 16:54] lukzas commented on #205
Update regarding "radio" - it looks like input.type is undefined as when dumped along with label.innerHTML the result is `undefined radioinput1a`, so the second part of the condition `if (type && (type === 'checkbox' || type === 'radio'))` in `getFormControl` function will never hold (radio type check wasn't there in 1.x branch)

[2019-08-04 18:21] lukzas commented on #205
Dirty fix for radio and range labels:
[code]

[2019-08-04 20:09] pmk65 commented on #205
@lukzas In the 2.x branch I have added additional functions for rendering radio and range elements. (In 1.x this is hardcoded) I think your problem is that you are not using/or applying your changes in those functions.

`getFormRadio()` -Gets the radio input field
`getFormRadioLabel()` - Gets the radio input label
`getFormRadioControl()` - Wraps up the radio input and the label

`getRangeInput()`

[2019-08-04 20:29] pmk65 commented on #435
I think I have spotted the problem. In src/editors.string.js, the type is defined like this:

[code]
And the "HTML5 Input type" sets the type to the format. There should probably be a check for valid HTML5 input types here and a fallback to "text" type.

[2019-08-04 21:03] lukzas commented on #205
@pmk65 thanks for pointing that out, I'll check and try to implement proper solution :)

[2019-08-05 11:25] pmk65 commented on #435
@lukzas Did the update I committed, solve your problem?

[2019-08-05 13:00] elham123456 commented on #436
Hey! thanks a lot!
 I tried it out but the properties were all stacked under each other. The bootstrap3.js(with the grid format) uses the space much better than spectre.js.

[2019-08-05 13:21] lukzas commented on #429
@pmk65 I'll try to test that somewhere soon, but I recently removed DescribedBy from my project at all. Could you provide JS code used to destroy and recreate in #443, so that I can better understand what's the case here?

Meanwhile, I think we can close this ticket as it was fixed in 2.x

[2019-08-05 13:21] #429 closed

[2019-08-05 13:25] lukzas commented on #435
@pmk65 just checked 8ba5b8bb52dfce47d32b28ce8eb2f356bab5da88 in my project and it works well :)

[2019-08-05 13:25] #435 closed

[2019-08-05 14:34] lukzas commented on #205
Seems that getFormRadio() and getFormRadioLabel() returns single radio element and corresponding label - not interested in these. getFormRadioControl() returns single radio with label wrapped as follows:
[code]
However, what we need is label for parent of that element:
[code]
So either its accessible as parent sibling from radio control element or as in dirty solution as child of form control.

[2019-08-05 14:37] lukzas commented on #205
Regarding range, I could use getRangeControl() if it takes the label as param, as currently it returns following:
[code]
without label sibling `<label class="required">range</label>`

[2019-08-05 14:54] wclssdn commented on #444
Fixed

[2019-08-05 14:54] #444 closed

[2019-08-05 15:25] pmk65 commented on #436
The Spectre theme got grid layout too (and so does most of the Themes) and takes up less space (both horizontal and vertical) on the screen compared to other themes..
All themes uses no grid mode as default, so you will have to enable that in your schema.

[2019-08-05 15:28] pmk65 commented on #429
I have posted a separate bugreport #443 with a test example. (I tried fixing it, but I just can't pinpoint where it goes wrong.)

[2019-08-05 16:24] mirannda commented on #439
I am doing a cleaning and fine adjustments, follows a screen of the
controls ...

[image: image.png]

Em dom, 4 de ago de 2019 às 10:01, Peter Klein <notifications@github.com>
escreveu:

[2019-08-05 16:30] mirannda commented on #439
I added some rules to customize buttons...

[image: image.png]

[image: image.png]

Em seg, 5 de ago de 2019 às 13:24, Almir Miranda <allmir.miranda@gmail.com>
escreveu:

[2019-08-05 17:06] pmk65 commented on #439
@mirannda Your screenshots are not visible. You need to drag/drop them onto the comment feld on Github.

@mirannda @lukzas I made a testcase for the Spectre theme, where you can toggle the various config options. [spectre-theme-test-case.json.txt](https://github.com/json-editor/json-editor/files/3468608/spectre-theme-test-case.json.txt) (remove .txt extension before uploading to Playground.)

You

[2019-08-05 17:27] pmk65 commented on #205
The getFormRadioControl() function only returns a single radio element (wrapped in label) to the the Radio editor (src/editors/radio,js), which then supplies the header, description etc. and wraps it all up in the final element. So you should end up with a final output similar to this (Taken from the Spectre theme output)

[code]

Again the label is supplied/added by the editor itself, you should

[2019-08-05 18:00] mirannda commented on #439
![image](https://user-images.githubusercontent.com/22716715/62484989-d00a7d00-b791-11e9-9a35-b9d13ed57717.png)

![image](https://user-images.githubusercontent.com/22716715/62484961-be28da00-b791-11e9-9600-60f93ba862f5.png)

[2019-08-05 20:46] Franciman commented on #441
Hi, it's been a bit of time, I'll review the schema and will try to help

[2019-08-05 22:01] pmk65 opened #446 "How should Radio/Checkbox layout look/work in 2.x?"
Currently the multicheckbox editor shows the checkboxes in "horizontal" style (all on the same line). But in some cases you might want the layout to be "vertical" (each checkbox on own line).

In the Radio editor I made it so it is possible to style it in both layouts. (I changed hardcoded output to theme functions)
And in the Spectre Theme the layout is "vertical", but if you turn on "compact" mo

[2019-08-06 02:21] sirockin opened #447 "Use require() type module-loading to facilitate unit-testing, lazy-loading and interoperability with NPM"
# General Information

The current build approach (using Grunt to concatenate files) is simple and transparent but makes it very difficult to export code for unit-testing. It also means that in production, all code gets loaded at once, whether it is a core feature or one that is only used by a minority of users, potentially increasing load times.

# References

* #60
* #428

# Proposed Solution(s)

[2019-08-06 07:54] schmunk42 commented on #447
Yes, we would go into that direction :)

[2019-08-06 07:58] schmunk42 commented on #443
@pmk65 It would also be nice, if we could create real tests from an example like the above.
Those tests can be marked a `optional`, so they don't stop the build process immediately.

[2019-08-06 08:26] pmk65 commented on #443
@schmunk42 Do you know this one? https://houndci.com
I came across this on another repo where I posted a PR. It performs various tests and auto review the PR. Then it write a comment if something is not accepted.

[2019-08-06 08:31] schmunk42 commented on #443
We've worked with https://scrutinizer-ci.com/

While this is also useful, my main concern is that, if we have a known issue, it should be rather easy to create a simple test case for it - even before it is fixed, actually classic TDD.

[2019-08-06 08:45] pmk65 commented on #447
@sirockin Please use the 2.x/develop branch if you are going to submit a PR.
From reading the article, Webpack seems to be the logic choice, as it offers more features than Browserify.

[2019-08-06 09:26] pmk65 commented on #420
@victoroliveira I'm refactoring the radio and checkbox editors and want to know how people want the checkbox/radio elements rendered. See #446
So if you got any ideas/suggestions, please let me know.

[2019-08-06 09:37] pmk65 opened #448 "Drag & Drop for Array Table"
Currently the table layout has a lot of buttons for sorting rows (move up/down one step at the time) and is not very user-friendly.
We could add (optional) row drag&drop using a 3rd-party library, which should improve the usability.

I found 2 (Non-jQuery) libraries that looks useful. If you know of others, let me know.
https://github.com/arteyazilim/rowsorter (Last commit 2-Jan-2016 - 9 issues -

[2019-08-06 09:43] schmunk42 commented on #448
CC: @germanbisurgi @marc7000

[2019-08-06 09:53] schmunk42 commented on #448
from the two above: https://github.com/sindu12jun/table-dragger

[2019-08-06 10:04] pmk65 commented on #448
Another one:
https://sortablejs.github.io/Sortable/  - Would take some more time to implement. As the table rendering needs to be changed, since this one works with UL/LI.

[2019-08-06 10:39] schmunk42 commented on #448
Or we create a new rendering format for UL/LIs

[2019-08-06 11:05] pmk65 commented on #448
This one looks **really nice**, but has a LOT of extra features we might not need. Like dragging content inside table cells.  https://github.com/dbunic/REDIPS_drag

[2019-08-06 11:17] schmunk42 commented on #448
Examples do not work at all for me!?

[2019-08-06 12:30] pmk65 commented on #448
Works fine for me in both Chrome and Firefox.

[2019-08-06 14:10] schmunk42 commented on #448
Works for me too, now. I dunno what was wrong the first time...

[2019-08-06 16:26] pmk65 commented on #431
@djy0215 I'm refactoring the radio and checkbox editors and want to know how people want the checkbox/radio elements rendered. See #446
So if you got any ideas/suggestions, please let me know.

[2019-08-06 17:25] mirannda commented on #446
@pmk65 I find an option like grid_columns ...
check_horizontal, check_vertical ..

If only when using compact greatly restricts the usability of the feature.

[2019-08-06 17:31] mirannda commented on #439
[code]

[2019-08-06 17:41] pmk65 commented on #439
@mirannda Looks good. And is so much better than having to use inline styles.

I like the idea of coloring the buttons differently. I might borrow that feature for the Spectre Theme. 😁

[2019-08-06 17:52] mirannda commented on #439
@pmk65  Yes, I left it because I think it's a good one, the shape I set can be used for any theme, just change the colors if you want.

As in tailwind has no tooltips and slider I took advantage and created using the rules

[2019-08-06 17:58] pmk65 commented on #446
I have just committed an update of the Radio editor to the 2.x/develop branch.
Now you can set the option `"layout": "h"` for horizontal layout (compact mode also triggers horizontal mode)

[2019-08-06 18:00] mirannda opened #449 "Grid_columns in Table"
In table.js does not render when using

[code]

I include pointed lines and is rendering now.

![Screenshot_12](https://user-images.githubusercontent.com/22716715/62564169-c0a33680-b85a-11e9-8189-2c9c93dd9906.png)

[2019-08-06 18:22] mirannda commented on #446
This way you are restricting the possibilities, because it will be configured globally, I refer to the schema options, so it will be possible to have more punctual control, I felt the absence of a getRadiosHolder (), similar to CheckBox, this allows a better control, in my opinion.

![Screenshot_12](https://user-images.githubusercontent.com/22716715/62565738-da924880-b85d-11e9-9a52-10c808fce816.pn

[2019-08-06 18:49] pmk65 commented on #446
No. It's not global. You can set the option for the individual radio properties in schema.
[code]

And in theme you use the `getFormRadioControl` function to wrap up the radio input and label and to change the style to `inline` (horizontal layout)
[code]

[2019-08-06 18:57] pmk65 commented on #449
That's because the minimum grid columns is set to 3 in the table.js `getNumColumns` function.

[code]

[2019-08-06 19:36] mirannda commented on #449
I had already warned to 1, but even so, does not change the size, only changed after it includes the code.

[2019-08-07 04:46] sirockin commented on #447
@pmk65 from reading that article Webpack would be my preferred direction too. In that case would you be happy to lose Grunt? It seems fairly redundant in this situation.

[2019-08-07 06:45] schmunk42 commented on #446
I'd prefer the long form:

[code]

[2019-08-07 09:07] pmk65 commented on #449
@mirannda Can you post a test schema?

[2019-08-07 13:08] victoroliveira commented on #449
I had the same problem but adding the suggestion by @mirannda didn't fix it.

My schema looks like:

[code]

[2019-08-07 14:10] mirannda commented on #449
@victoroliveira I am using the format with: grid, you are using grid-strict

[2019-08-07 14:18] mirannda commented on #449
You can use the example: https://is.gd/7S5712.

[code]

[2019-08-07 17:17] pmk65 commented on #447
If same/similar operations can be performed by Webpack, I see no problem in abandoning Grunt.

[2019-08-07 18:49] pmk65 commented on #446
Ok. I have changed it to "horizontal" now. 😄

[2019-08-07 19:11] pmk65 commented on #449
@mirannda The only problem I can see, is that you try setting "grid_columns" on an array object that is rendered as "table" (arrays have no "grid" format)

[2019-08-07 23:28] pmk65 opened #450 "2.x changes"
### 2.x changes

- Editors refactored to remove redundant code and make output/functionality more uniform.
- New standardized options format for plugin based editors. Options can be set globally or in schema.
- Editors can now use JavaScript callback functions in options.
- Select2 & Selectize is no longer applied globally to all elements, but can be enabled for a single field. (You can now use bo

[2019-08-08 07:32] schmunk42 commented on #450
Let's put that into the CHANGELOG in `devleop/2.x`

[2019-08-08 10:39] pmk65 commented on #450
I have also updated several of the [Playground](https://pmk65.github.io/jedemov2/dist/demo.html) examples and added new ones too. (So now some of the examples REQUIRE the 2.x version)

[2019-08-08 12:17] ppbntl19 opened #451 "> Add Support for new table row and Add button on top"
@taschmidt This should be easy to fix. As the `table` editor extends the `array` editor. So all that is needed is to take the changes I made to the `array` editor and apply them to the `table` editor. (in the `build `function)

_Originally posted by @pmk65 in https://github.com/json-editor/json-editor/pull/186#issuecomment-495197713_

[2019-08-08 12:27] ppbntl19 commented on #451
https://github.com/json-editor/json-editor/pull/452

[2019-08-08 16:04] debnet opened #453 "Radio button doesn't work with `enum_values`"
### General information

- json-editor version: 1.4.0-beta0

### Expected behavior

When using `format: "radio"` with enums, the radio labels must be taken from `enum_values` instead of `enum` if provided in options.

### Actual behavior

Radio buttons are displayed with values instead of labels.

Extra issue for Bootstrap 4 theme: the radio buttons are wrongly displayed inline.

### Steps to repr

[2019-08-08 17:05] pmk65 commented on #453
I have fixed the radio editor issues in the develop/2.x branch
As for the Bootstrap4 issues, then we need someone to step up an take on updating the theme.

[2019-08-08 18:39] pmk65 commented on #439
@mirannda I have added a Spectre Theme Tester to the Playground. I has buttons for toggling the Theme options for easy testing. You can use that to make a similar one for your Tailwind Theme.

[2019-08-08 23:30] pmk65 commented on #448
I just did a test, and it was very easy to get dragging working, but I discovered that it had a lot of limitations. Like you'll have to destroy and recreate the dragger every time you add a new row,

The [Redips](https://www.redips.net/my/preview/REDIPS_drag/example15/) lib seems like the best choice, and it has a lot of callbacks needed for updating the JSON-Editor values,

[2019-08-09 04:38] sirockin commented on #450
I forked develop/2.x at commit 72fc61eca7cea08d9361f9fed34a5cff390fe152 to work on the webpack stuff. Hoping to have something for you in a few days. From what I can see of your changes since then, it shouldn't be too hard for us to merge.

[2019-08-09 11:26] #402 closed

[2019-08-09 12:44] elham123456 opened #454 "creating new format with specific enum values"
I want to create a new format with special values. Where in the code would that have to be added in?

[2019-08-09 19:31] pmk65 commented on #454
Create a custom editor in `src/editors/` If you need enum support, then extend the select class.
Take a look at the Radio editor, as this is extending the select class.

Once you have created your new editor, add a resolver code for your format in `src/defaults.js` (Look at the bottom of the file) You also need to add it to the list of editors in `Gruntfile.js`

Then you can create a custom build

[2019-08-09 20:21] mirannda commented on #439
What is the possibility of changing the parameter for better resource flexibility?

![Screenshot_2](https://user-images.githubusercontent.com/22716715/62806673-e2eebb80-bac9-11e9-8bb1-ebc1c011c00c.png)

With this setting, it transfers better control to theme

![Screenshot_3](https://user-images.githubusercontent.com/22716715/62806744-13cef080-baca-11e9-9245-8bea9da32427.png)
.

[2019-08-09 21:20] pmk65 commented on #439
Should be easy to add the extra parameter. getSelectInput is only used in 2 editors. select.js and multiselect.js
But I think `this.input.setAttribute('multiple', 'multiple');` should stay in the editor. As this i a crucial part and shouldn't be handled by the theme.
I'll add the extra parameter for you. 😄

[2019-08-09 21:39] mirannda commented on #439
Cool, having the parameter in the function already helps, as getSelect is assigned before this.input.setAttribute('multiple', 'multiple'), it is not possible to get the parameter, with the parameter in the function we do not overload the operations in getSelect, agree?

[2019-08-10 12:22] #408 closed

[2019-08-10 21:36] lukzas commented on #205
@pmk65 I've created PR #456 for radio and range. Regarding ther inputs, I've come up with the following solution (had to check if the default value is set, maybe there's a better way?):
[code]
[code]

[2019-08-10 22:12] pmk65 commented on #205
@lukzas I have been digging into the themes code lately, and I think the correct procedure is to use the Theme `afterInputReady` function for things like this..

This function runs AFTER ALL other field operations is finished. So the default value should be have been set at this point.  In the `afterInputReady` function you have access to the input element, so you can  test if `input.value` is set

[2019-08-11 10:42] lukzas commented on #205
@pmk65 I've considered this function, but the label is not accessible from inside. I would need to pass it to `afterInputReady` along with input as param. The reason behind my implementation was to fix it without BC to other themes, not improve theming in general 😃. While I agree that we should discuss theming enhancements in #439, this change was directly related to the current issue.

[2019-08-11 10:51] lukzas commented on #439
I need to manipulate the input label after it's built based on the value in order to fix #205. @pmk65 suggested to use `afterInputReady`, however, we would need to pass label as additional param to function in order to access it. I agree that it would be a good use of this function. What do you think? You can also see an implementation with the use of `getFormControl()` as an alternative approach

[2019-08-11 11:32] pmk65 commented on #205
For the 2.x version, we should try to address all problematic cases, (like the one you got with the label)
And see if code change is needed to help solve it. But in this case I think the `afterInputReady` is the best solution. (See my explanation and example in #439)

[2019-08-11 11:33] pmk65 commented on #439
@lukzas After I wrote the reply about `afterInputReady`, I updated the Spectre theme to get it to look nice with Select2 and Selectize using the `afterInputReady` to add/remove classes.
The classes are not applied to the input element itself (Since Select2 and Selectice replaces that with a custom select), but on adjacent/sibling element (and it's children)

Since `afterInputReady` is theme specif

[2019-08-11 12:02] lukzas commented on #439
@pmk65 I think it's a good compromise 😄 In case we have label element passed, we don't have to go into details of a theme and we're not prone to any HTML structure changes. I'll follow that approach though.

[2019-08-11 12:07] lukzas commented on #205
What about:
[code]

[2019-08-11 12:19] pmk65 commented on #205
That looks perfect. And you can add additional checks/adjustments for other element types if needed.

[2019-08-11 12:54] Vafa-Andalibi opened #457 "Applying regular expression rules on string"
Is it possible to have a string with regex rules?

EDIT: Something like custom validation but individualized for a string property

[2019-08-11 12:56] Vafa-Andalibi commented on #457
Sorry just saw the Custom Validation in the doc.

[2019-08-11 13:05] lukzas commented on #205
I was able to fix `range` in the same manner, but not `radio`. I've tried adding `afterInputReady` to `radio.js`, however, it's not fired - maybe because it's broken for 2.x as mentioned earlier.
[code]

[2019-08-11 13:51] pmk65 commented on #457
You can use the schema `pattern` property to apply your own regex validation rules.

[2019-08-11 14:24] pmk65 commented on #205
@lukzas I have added the missing `afterInputReady` call to `src/editors/radio.js` now.
But in the case of radio, the "input" is a wrapper and not the actual input element. (This was something I made when converting the hardcoded radio rendering into theme functions, as it's not a single element.)
Maybe some class or data attribute on the wrapper would help identify it? (Currently there's just the

[2019-08-11 15:06] lukzas commented on #205
@pmk65 I'm aware it's a wrapper that's why I replied in PR that I'm not sure about dropping data attribute 😉. Alternatively, we could try to traverse children and check for radios, but I think attribute is a cleaner approach.

What about leaving the current data attribute? We can move it to `afterInputReady`. Then the code would be as follows:
[code]
We can also get rid of checks in `getFormContro

[2019-08-11 15:52] pmk65 commented on #205
in 1.x the radio editor extended string class, so there was not full enum support. I changed it to extend select class (Which makes more sense). Also the output was hardcoded in 1.x, so I added the theme functions for rendering radio output (including the wrapper).

[2019-08-11 16:36] pmk65 commented on #205
Looks fine. I think this is a good solution.

[2019-08-11 17:01] pmk65 opened #458 "Idea for improving schema field "watch""
Currently the "watch" functionality is rather limited when used from within schema options. (Using the on('watch') from JavaScript offers much more flexibility) and the field watching is always readonly.

In the develop/2.x branch I introduced a `callback list` for including JavaScript function callbacks in schema options. (Originally created for 3rd-party plugins that uses callback functions as o

[2019-08-11 18:26] Vafa-Andalibi commented on #457
Thank you very much, I used the schema pattern as you suggested and it's working great.

[2019-08-11 18:26] #457 closed

[2019-08-11 21:52] pmk65 commented on #458
A live [example](https://pmk65.github.io/20test/dist/demo.html?schema=EQbwOgdgBFbALgTwA4FM4C5bAPYCMArVAY3jgBpIY5kAnHNW%2BAS1QGdMpxoZsAzZrTbwIAQwC26YFm69ecJGk5xhtZhADmcKrwC%2BlHtQSpxyADaj4UmTrkKU17KvVbgBuUYDul4gAtOsh5GYpLKwAJCIhJStnruHgom5paOcCAgIai6utqGUPqxcBqoEAAmqLQBsUaKqcDOmhTV2N7wflV5dsCZYRHCPcDNBZ3YVqYWVmHFZRVmODgA1gCuyLlyORA6G7rAQA%3D%3D%3D&value=ETI%3D&code=EQKQyg8gcgogJgSwC4HsBOA6OBTAZgQwF

[2019-08-12 10:50] lukzas commented on #458
@pmk65 I'd use such feature instantly in my project as I was missing something similar. I've seen the demo and wonder if we could still use the template and have another property for callback? This would allow concatenating values directly in the template as it is now.
[code]

[2019-08-12 12:57] wclssdn opened #459 "errors not work in anyOf"
### General information

- json-editor version: 1.4 & 2.0 /* all */

### Expected behavior

when error occur the editor can show error message.

### Actual behavior

It doesn't show error message in anyOf array.

### Steps to reproduce the behavior

Direct link to example: https://is.gd/FM9u4L

`labelComponent` doesn't work.

[code]

[2019-08-12 14:23] pmk65 commented on #458
@lukzas I thought at something like that at first, but there are cases (like the Gender example) where it isn't possible. (The "watch" expects the template to return a value, but in the case of the "gender" example, the value is first ready when the AJAX lookup call is finished, so it doesn't return a value but inject it once it's ready)
Also the `compileTemplate` and `expandCallbacks` functions b

[2019-08-12 16:31] pmk65 commented on #459
I noticed a similar problem in the `src/editors/multiselect.js` editor, where the errors wasn't displayed on form.
This is because the error for child elements have a number added to the end of the path. I.e. `root.children.1`
[code]
In the `src/editors/multiselect.js` editor, I solved that by creating a regex to match against the path (which allows the additional child number on the path) instead

[2019-08-12 22:34] pouledodue commented on #134
would be great to add the functionality suggested by @rodmonic

[2019-08-12 22:36] corykon opened #460 "Memory Leak in Object.js Editor"
### General information
Believe I've identified the source of memory leak.

We noticed that after visiting a page in our angular app with a json-editor (and a VERY large schema), and then leaving, the app felt sluggish. Digging around in Chrome dev tools confirmed that memory usage climbs significantly after visiting the page and never drops back down.

I'm no expert in memory leaks, but some furt

[2019-08-12 23:19] pmk65 commented on #460
@corykon That sounds very plausible. And there's a LOT of anonymous event listeners in other editors too. I have already converted a couple of them to named functions in some editors (like multiselect, select2 and Selectize), in the develop/2.x branch. But I didn't add any code to remove the eventlisteners.

Could you try the develop/2.x branch and see if the problem is still present?
In the devel

[2019-08-13 06:58] wclssdn commented on #459
@pmk65 With debug, i saw some mistakes.
In file [`src/editors/multiple.js#L310`](https://github.com/json-editor/json-editor/blob/0ca9b61cf02a4fc4ba55327c5e02bca58771341a/src/editors/multiple.js#L310)
The logic in `if` is similar with the problem that you said.

So i cancel the `else`, let it always run. it can show error message on the page.

But, it's not totally correct, the error message is `Va

[2019-08-13 09:23] marcc-orange commented on #442
@pmk65, JSON Editor beginner here, would you mind sharing your workaround ?

Based on your previous [test](https://is.gd/pA4aE7), I tried multi-selection with an array of strings updated by an enumSource from an array of objects, but I'm failing to make it work: https://is.gd/KHoGiF.

[2019-08-13 09:29] pmk65 commented on #459
@wclssdn The multiselect editor uses the array type to create the element. So there's only 1 element and only 1 title to display the error under. So this might be a special case.

On the Playground page, the "Output" tab shows all the errors (also those not displayed at the form)
Is the `Value must match the pattern ^[a-zA-Z0-9_]+$.` error message available there?

Also I have noticed that some Th

[2019-08-13 10:18] wowczarek opened #461 "Collapsing a nested array of objects makes it unexpandable"
### General information

- json-editor version: 1.4.0-beta.0

### Expected behavior

Array of objects where one property is also an array of objects. Collapsing the property and expanding it back should be possible.

### Actual behavior

Once "collapse" is clicked for an "array of objects" property within the array editor, the panel which contains both the content and the collapse button, becomes

[2019-08-13 11:25] pmk65 commented on #461
I think the problem is that "compact" mode is set as default for this type of array so there's no individual titles.
Normally the Collapse button (`this.title_controls` ) is inserted into `this.title`, which is separated from `this.panel`

In line 162 of `src/editors/array.js,` `this.title_controls` is created and inserted directly into `this.panel`. So clicking the collapse button hides **both  `

[2019-08-13 11:53] schmunk42 opened #462 "fix validation"
### General information

- json-editor version: 2.0-dev
- I [fixed a few](https://github.com/json-editor/json-editor/compare/develop/2.x...develop/2.x-fix-tests) other tests before (minor errors), but the validations for certain objects are not working correctly.
- Fixing this is a high priority to me, since validations are very important

https://travis-ci.org/json-editor/json-editor/jobs/5712794

[2019-08-13 14:08] wclssdn commented on #459
@pmk65 It's only one error message.
[code]

The error message is discard at [`src/validator.js#L90`](https://github.com/json-editor/json-editor/blob/master/src/validator.js#L90).

In debug, i can see that error message like `Value must match the pattern ^[a-zA-Z0-9_]+$.` and path like `root.children.0.id`.

I have no idea to resolve this problem.

[2019-08-13 15:09] corykon commented on #460
@pmk65 Thank you! Good to know. I'll give the 2.x branch a look.

[2019-08-13 16:18] wowczarek commented on #461
@pmk65 sounds about right. `title_controls` should  live outside the panel.

[2019-08-13 16:20] pmk65 commented on #462
@schmunk42 I spent the last 2 hours trying to get Codeceptjs to work on Windows, as the installer kept failing when installing `acorn` and `acorn-dynamic-import` modules.
Finally got it working by adding `"acorn": "^6.0.5",` to package.json

But now I'm stuck at the `codeceptjs init` phase, as I'm not sure what to enter at these prompts:

- Where are your tests located?
- What helpers do you want

[2019-08-13 16:23] schmunk42 commented on #462
@pmk65 Did you try testing with Docker?

[2019-08-13 16:30] schmunk42 commented on #462
For the broken test mentioned above, you can "simply" open `tests/pages/validation.html`

For Docker I'd recommend:
- https://docs.docker.com/docker-for-windows/
- https://docs.docker.com/docker-for-mac/

[2019-08-13 16:42] pmk65 commented on #462
I hcan't install Docker on my Windows 10 Home, It says "Docker Desktop requires Windows 10 Pro or Enterprise version 15063 to run."
It should be possible to run it if the [Docker Toolbox](https://docs.docker.com/toolbox/toolbox_install_windows/) is installed, but I keep getting the same error message after installing it.

[2019-08-13 16:44] schmunk42 commented on #462
Oh no :disappointed:

Do you have something like Virtualbox to create a VM?

[2019-08-13 17:53] pmk65 commented on #462
According to the Docker documentation, it needs Hyper-V support, which isn't available in Windows Home edition (according to the documentation). But if I look at my System Information, this is displayed:
**Hyper-V Requirements:
VM Monitor Mode Extensions: Yes
 Virtualization Enabled In Firmware: Yes
Second Level Address Translation: Yes
Data Execution Prevention Available: Yes**

I also tried inst

[2019-08-13 17:55] lukzas commented on #442
@marcc-orange Actually my example doesn't present a workaround as it serves as issue description. You'd need to modify enum from JS as in playground example [LINK](https://is.gd/i0iNCU). In my case I use it with `watch()` hook. Hope that helps :smiley:

[2019-08-13 18:08] pmk65 commented on #461
I have fixed this in the develop/2.x branch by adding a empty title element.

[2019-08-13 19:55] schmunk42 commented on #462
Hmm, so sorry I can't really help you here other than googling.

But, as said, my issue does not require to use Docker, rather "just" open `tests/pages/validation.html` to see the problem.

[2019-08-13 21:34] pmk65 commented on #462
I tried removing the changes introduced in #445 by @wclssdn, but the validation still fails at the same tests. (And the 2nd commit just added a 2nd parameter to the `this.theme.getFormInputLabel` function, so that shouldn't have any effect on the validation results either.)

Does the same tests pass on the 1.4.0-beta.0 version?

This is a list of the last commits to `src/editors/multiple.js` so th

[2019-08-13 22:04] pmk65 commented on #462
@schmunk42 I found the culprit. It was the code I added for Button and Info editors in `src/validator.js`.
I'll make a fix ASAP.

[2019-08-13 23:34] pmk65 commented on #459
@wclssdn The `check` variable in `src/editors/multiple.js`, line 297 expands to **root.children.0.anyOf[0]**
But `error.path` is **root.children.0**,  so they will never match.

Changing the if statement from;
`if(error.path.substr(0,check.length)===check) {`
To:
`if(error.path === check.substr(0,error.path.length)) {`

Will match **root.children.0** against **root.children.0**, so the match is va

[2019-08-14 09:04] #462 closed

[2019-08-14 09:14] pmk65 commented on #459
I think the if statement changes are correct, and the position above the field is also correct.
As the error is:
[code]
So it makes sense that it is place **above** the fields. (at the **root.children.0** block)

we might need 2 loops. one for the **root.children.0** and one for the **children root.children.0.id**

[2019-08-14 09:20] pmk65 commented on #439
@mirannda Can you submit a PR with you Tailwind Theme changes?

[2019-08-14 09:32] pmk65 commented on #458
If there's no objections to this change, I will implement it in the develop/2.x branch
There's only 2 editors with watch/template support. `string.js` (plus all that extends` string.js`) and `hidden.js` so it's a really minor change.

[2019-08-14 10:52] pmk65 commented on #462
Maybe we should update CONTRIBUTING.md with info about `tests/pages/validation.html` ?
It might be a good idea if people ran that before submitting a PR.

[2019-08-14 11:12] schmunk42 commented on #462
Yes, we can do that, but on the other hand we're running this test always in the CI.

[2019-08-14 11:17] #461 closed

[2019-08-14 11:18] #414 closed

[2019-08-14 11:38] #453 closed

[2019-08-14 11:38] #427 closed

[2019-08-14 11:39] #436 closed

[2019-08-14 11:39] #410 closed

[2019-08-14 11:40] #454 closed

[2019-08-14 11:41] pmk65 commented on #459
I have added the switched if statement to the develop/2.x branch.

[2019-08-14 11:42] pmk65 commented on #458
Functionality added to develop/2.x branch

[2019-08-14 11:42] #458 closed

[2019-08-14 11:45] #446 closed

[2019-08-14 11:45] #440 closed

[2019-08-14 11:53] pmk65 commented on #134
Just do as @niebert described. You can even do it wit ES5 code, like this:

[code]

[2019-08-14 11:54] #134 closed

[2019-08-14 11:54] elham123456 commented on #454
Thanks!
I created it without adding it to the Gruntfile.js nor the defaults.js. I did so by making a new editor which has a new type similar to the boolean type in the select.js editor only with different enum_options.

[2019-08-14 14:21] wclssdn commented on #459
The errors of `anyOf` is already checked in [`src/validator.js#L90]`(https://github.com/json-editor/json-editor/blob/master/src/validator.js#L90). So the second loop is not necessary.

[2019-08-14 15:24] pmk65 commented on #459
Great. So the problem is solved?

[2019-08-14 15:27] #420 closed

[2019-08-14 15:27] #404 closed

[2019-08-14 15:55] wowczarek opened #467 "child watches parent = infinite recursion"
### General information

- json-editor version: 1.4.0-beta.0

Schema has an array of objects. I want one field in those objects to be an enum list of all values of another field in the same array.

Example of a valid use case: an array of objects describing software releases. A release has a "version" field and a "replaced by" field, where "replaced by" should be an enum of all existing versions.

[2019-08-14 16:06] pmk65 commented on #459
I have added this to the `_validateSchema`  in `src/validators.js` to remove any duplicate error messages. (Any error object with same `path`, `message `and `property` will be filtered out.)
[code]

[2019-08-14 16:11] pmk65 commented on #467
Looks very similar to this #306

[2019-08-14 16:23] wowczarek commented on #467
Same thing indeed... I also think this can / should be solved. So far I managed to get to a point where it doesn't crash, but enums only get properly updated on array add/remove, and then it starts to interfere with detecting changes in the whole document. I *think* the solution lurks along the lines of "distinguish triggered changes from actual changes". Like I said, there is a valid use case for

[2019-08-14 16:28] pmk65 commented on #467
@wowczarek Maybe we could test if the property watching (`prop2`) is a child of the property being watched (`things`). And if so, cancel the bubbling?

In src/editor.js there's these 3 functions that triggers/controls the `onChange`.
[code]

[2019-08-14 16:38] wowczarek commented on #467
@pmk65 yes, I've been looking at these functions at this block ad nauseam. But first:

`setupWatchListeners`:

[code]

So then something like:
[code]

[2019-08-14 19:41] corykon commented on #460
Memory leak causing us problems was still there in the 2.x branch. Submitted a small PR to fix. #468

[2019-08-15 09:35] wowczarek commented on #467
The recursion starts here: https://github.com/json-editor/json-editor/blob/0ca9b61cf02a4fc4ba55327c5e02bca58771341a/src/editors/select.js#L350

With the above change to `setupWatchListeners()` (just setting `watchLoop`), I can stop the bubbling right there:

[code]
With this change, things seem to work OK, selects are being dynamically populated across all array members without issues and editor's

[2019-08-15 10:39] wowczarek opened #470 "Constant enumSource value specified as array of strings causes a template compilation error"
### General information

- json-editor version: 1.4.0-beta.0 + swig templates enabled

### Expected behavior

A constant enumSource value using the shorter syntax (array, without supplying the source object), as described in readme.md, should add the value to the select, with title same as value.

### Actual behavior

An error while attempting to compile the filter template is thrown.

### Steps t

[2019-08-15 10:46] pmk65 commented on #467
@wowczarek Please create and submit a PR with the changes. This will trigger the tests so we can see if something would fail.

[2019-08-15 11:00] wowczarek commented on #467
@pmk65 will do

[2019-08-15 11:54] pmk65 commented on #470
@wowczarek Is there any reason why you use Swig template engine? Does it actually work?
I tried the [example](https://github.com/json-editor/json-editor#enum-values) from the Readme.md, but it fails. The only template engine I could get to work was Handlebars. Example: https://is.gd/qGg3Ww

BTW: In the develop/2.x branch, I added support for using JavaScript callback functions in addition to templ

[2019-08-15 12:40] pkej opened #473 "Unexpected behavior with watch and dependencies"
### General information

- json-editor version:
https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/css/jsoneditor.min.css
https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.js
https://cdn.jsdelivr.net/npm/bootstrap@3.4.0/dist/css/bootstrap.min.css
https://cdn.jsdelivr.net/npm/bootstrap@3.4.0/dist/js/bootstrap.min.js
https://cdn.jsdelivr.net/npm/jquery@lates

[2019-08-15 12:43] wowczarek commented on #470
Well I couldn't get any `enumSource` values to format without a template engine loaded (`item.prop` didn't work for me with the barebones var replacement), so I picked Swig at semi random, for no specific reason. My use of templates is minimal, only some `headerTemplate` and the `enumSource.value` - but yes, it does work. But that issue with `["someconst"]` also happens with whatever is used in th

[2019-08-15 12:46] pkej commented on #473
I'm sure it's just a misunderstanding on my part, but this drove me to frustration and lasted quite a while until I found out the logic.

[2019-08-15 12:58] pmk65 commented on #473
The dependencies functions uses the internal watch functions. So my guess is that it chokes when you use the same property with `dependencies` and `watch`. (But unfortunately not something easily fixed, due to the shared code.)

But maybe you can rearrange your schema so the property is inside an object, and then use the object property for the dependencies?

[2019-08-15 13:01] pkej commented on #473
I made this example to describe how it performs. If I use only 1 dependency, the same behavior, in other words, I have to be very careful about how to set up the true/false.

However, it doesn't seem to be the case with some of the examples. I'll post my actually form here in a few, just fiddling with it first.

[2019-08-15 13:11] pkej commented on #473
This example has three string fields. The first you see is the real description which will be a hidden field, because when using templates it remains uneditable even if I want it editable (looking forward to see that in the 2.x as mentioned in another issue).

The second field, the part of the UI, is supposed to be triggered by the checkbox.

The checkbox is only controlling the visibility of the

[2019-08-15 13:11] pmk65 commented on #470
1) No. The schema is unfortunately not filtered in any way.

2) Not quite sure what you mean, but maybe something like:
[json-schema-editor](https://deepbluecltd.github.io/json-schema-editor/) - Dynamically generated, form-based editor based on the JSON Meta-Schema using the JSON-Editor.

[2019-08-15 13:12] pkej commented on #473
And thanks for the quick response :)

[2019-08-15 16:51] #460 closed

[2019-08-15 17:01] pmk65 commented on #439
@mirannda I just tried your Tailwind Theme, and it looks great 🚀
But I noticed a problem when using Selectize, the custom selectboxes doesn't align up. (Try the Selectize Test Case on the Playground)
I had the same problem in the Spectre Theme where Select2 and Selectize didn't look good. I fixed it by adding Style Rules + some code in the `afterInputReady` function (As described previously in thi

[2019-08-15 19:02] mirannda commented on #439
![Screenshot_4](https://user-images.githubusercontent.com/22716715/63119222-0efcb780-bf76-11e9-89f4-22f11eeb36b9.png)

[2019-08-15 19:05] pmk65 commented on #439
You need to pull down the Playground locally, and set the path to your develop/2.x jsoneditor.js file.
(In the top of the demo.html file, you can set a custom path)
The live Playground page uses the jsoneditor.js from CDN (Which is stil the 1.4.x version)

[2019-08-15 21:40] pmk65 commented on #451
@ppbntl19 There's a problem with your changes. The items get displayed in reverse order, so the move buttons points the wrong way.

[2019-08-17 12:25] #204 closed

[2019-08-17 12:54] pmk65 commented on #470
I have added a PR with your fix to the develop/2.x branch. In this branch the selectize.js and choices.js editors now extends the selcet.js class, so they don't need any additional fixing.

[2019-08-17 14:36] pmk65 commented on #467
@wowczarek While adding JavaScript callback support for enumSource https://github.com/json-editor/json-editor/pull/476/commits/7c26fe77b989daa6c7fa7900dbc4dc765b52df9b, I noticed that in the `filter` callback the watched property is available. So it might be possible to filter out the parent somehow. (If you return an empty string, the item will be ignored/filtered)

**Example data available in th

[2019-08-18 16:02] pmadril commented on #333
Work as intended on old JDorn version:

[http://jeremydorn.com/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAaEUATkrIWAJYwDOCoAdgIYC2c8oksCIVYh5dAcxABffAwGt20ViH5gYEwiNEgAJjABmDAK4AbMAAVipCtQQBtEIxYgAusKAA=&value=N4IgdghgtgpiBcIQF8gAAA==&theme=bootstrap2&iconlib=fontawesome4&object_layout=normal&show_errors=interaction](http://jeremydorn.com/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAaEUATkrI

[2019-08-18 19:34] pmadril commented on #142
Hi, I have a similar requirement and I don't want to create a new issue.
Could this one be reopened?
Also, this requirement was reported before, in Jeremy Dorn version:

https://github.com/jdorn/json-editor/issues/102#

I need something like this:

[code]
Where "default":"{{i1}}" evaluates to the index number (like in headerTemplate).
I can dig into a solution like the proposed by JDorn,
but first

[2019-08-18 19:59] pmk65 commented on #142
@pmadril Currently it's only possible to use template formats ("{{var}}") using special keywords like: `headerTemplate` and `template` (used in combination with `watch`), and inside dynamic `enumSource`

In the develop/2.x branch I have extended the templating system so you also can use JavaScript callback functions,

As for a workaround. If you just need an unique id for each child (and it doesn'

[2019-08-18 20:16] pmadril commented on #142
@pmk65 thank you for your quick response. I'm writing a schema for an existing json, so I can't use UUID's. I also tried template keyword, but as JDorn pointed before, it doesn't receive the same variables as headerTemplate.
I will take a look at 2.x and callbacks, thank you a lot for your help.

[2019-08-18 21:23] pmk65 commented on #142
@pmadril In src/editor.js there's a `getDefault` function, changing:
[code]
to:
[code]

Should give you templating support for the `default` property. (But I'm not sure the index number is available)

[2019-08-19 06:56] dwt opened #478 "https://json-editor.github.io should forward to a sensible page"
### General information

- json-editor version: current tip of the tree

### Expected behavior

Calling up https://json-editor.github.io in the browser should show something sensible

### Actual behavior

but does currently only show a 404

### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io

[2019-08-19 11:18] pmk65 commented on #142
@pmadril  here's a solution using the develop/2.x branch, which seems to work.
it uses the JavaScript callback templating method where you in addition to the parameters passed, also have access to the current editor.

**Schema** (the `watch` property is empty, and is only used to trigger the `template` part)
[code]

**JavaScript Callback template**
[code]
child_id value then updates/changes when y

[2019-08-19 11:33] #467 closed

[2019-08-19 11:34] #470 closed

[2019-08-19 12:33] pmadril commented on #142
@pmk65 that is a great solution. Thank you for your help, I really appreciate.

I tested it using:

 https://pmk65.github.io/20test/dist/demo.html

but it didn't work. I don't know if this is the right link to test using the 2.x branch.
Anyway, you give me directions enough to solve my problem. The callback solution is the best as it supports deletion and reordering.
Thank you again for your suppo

[2019-08-19 13:45] pmk65 commented on #142
The 20test Playground doesn't have the latest develop/2.x library (I have to build and put it on that repo manually)

But clone the latest develop/2.x version and it should work. (The callback templating was something I recently added. Take a look at #450 for a list of the major changes/additions.)

[2019-08-19 15:31] pmadril commented on #142
Ok, I suposed that. I will try on the branch. Don't worry. Your help show
me other concerns with what I intended to do. It really seem that having
this kind of information on an item is not a good ideia and may be should
never be implemented.
Thanks again, you have been really helpful.

On Mon, Aug 19, 2019, 10:45 Peter Klein <notifications@github.com> wrote:

[2019-08-20 09:40] sirockin opened #484 "docker-test npm script does not run tests but passes with message - shows 'OK | 0 passed'"
### General information
I'm seeing this while working on the development branch from a Windows 10 machine.

The commit I'm using as an example has three failing tests but these are not picked up when runing the script.

Since the tests work as designed when each step in the script is run individually, I imagine it's due to a race condition between the containers, which could possibly be fixed by u