[2019-08-20 09:41] pmk65 commented on #403
@itsoli Could you try out the refactored Choices editor from the develop/2.x branch and test how much of the functionality I have "destroyed" during the refactoring.
I refactored it same way as I refactored Select2 and Selectize, so it now extends `select` and `multiselect` classes/editors.

These editors/classes already have the code for working with enum lists so we save a lot of code. And in ca

[2019-08-20 09:56] sirockin opened #485 "`npm test` script does not run and appears to be obsolete"
### General information

When I run `npm run test` from Windows powershell I get an error output. A closer look at the scripts suggest it is trying to call mocha tests but it seems that these don't exist. Is the script obsolete?

- json-editor version:
commit: commit 1bebfc1240cd30935e54607c8fd045b95bd80775

### Expected behavior
Should give me some useful output

### Actual behavior
[code]

[2019-08-20 10:15] schmunk42 commented on #484
Could you try to remove the `--grep ...` option from https://github.com/json-editor/json-editor/blob/1bebfc1240cd30935e54607c8fd045b95bd80775/package.json#L33 locally, to see if some of the chars are messing up the tests on Windows?

[2019-08-20 11:34] sirockin commented on #484
Yes that fixed it, thanks! (Although obviously @optional tests weren't filtered out).

[2019-08-20 11:36] sirockin commented on #450
Now submitted as https://github.com/json-editor/json-editor/pull/486

[2019-08-20 12:03] pmk65 commented on #484
[RegexBuddy](http://www.regexbuddy.com/) converted the regex to this (PowerShell format). Maybe that will work?
`(?=[^\n\r\u2028\u2029]*)^(?![^\n\r\u2028\u2029]*@optional)'  `

[2019-08-20 12:18] sirockin commented on #484
Thanks Peter - no unfortunately it didn't .  Out of interest do you know why we're using this `optional` marker rather than [xScenario](https://codecept.io/basics)? It feels a bit hacky and unnecessary given the alternative.

[2019-08-20 13:00] pmk65 commented on #484
That's @schmunk42 you got to ask, not me. 😄

[2019-08-20 14:05] schmunk42 commented on #484
@sirockin Acutally @germanbisurgi wrote the tests.

We'd like to run tests, but not make them the whole build process fail.
Does `xScenario` help in this case? Would be great.

[2019-08-20 14:26] sirockin commented on #484
According to the docs, `xScenario` simply tells codeceptjs to skip the scenario so it won't actually run the test. But presumably you don't need it to run until it's been fixed?

You'll see in unit the jasmine unit tests, there is a similar construct - `xit` - which does the same thing. Jasmine then reports the test as 'pending'.

[2019-08-20 14:50] wclssdn commented on #459
Do you plan to fix this bug, when an array's item is a `anyOf`?
I'm sorry for can't help.

[2019-08-20 21:04] schmunk42 commented on #484
How can we run the tests locally? Simply by removing the `x` or is there a `--param` for it?

[2019-08-20 21:11] sirockin commented on #484
If it's the same as jasmine, you'd just have to remove the x.

I guess the alternative - if you want tests to run in some situations and not in others - would be to check an environment variable at the start of the scenario and return immediately if it is set to a given value.

[2019-08-21 07:28] sirockin commented on #450
Is there a proposed timetable for merging/releasing this branch? I have some other issues I'd like to work on and I'm wondering whether it would be better to wait until then.

[2019-08-21 08:02] schmunk42 commented on #484
We should find a way to use the `@optional` solution, since it's pretty easy to run different sets of tests in a Travis matrix.

Actually this should be pretty easy with `--invert`, but there's an open issue: https://github.com/Codeception/CodeceptJS/issues/1093

[2019-08-21 08:14] schmunk42 commented on #484
Nevermind :see_no_evil:

Use

[code]

to exclude `@optional` tests.

[2019-08-21 08:35] schmunk42 commented on #450
@sirockin Issue #486 can be merged ASAP. I'd recommend to continue with `develop/2.x`, we had no big changes on `master`.

[2019-08-21 08:49] sirockin commented on #484
I just created and ran the following npm script:
[code]
The result was all tests (including the failing @optional ones) ran for both browsers and ended each time with:
[code]

[2019-08-21 09:18] schmunk42 commented on #484
[code]

Result:

[code]

... on my Linux machine

Could you try to play around with the quotes? Leave them away, replace with `"`, escape, ...

[2019-08-21 09:51] sirockin commented on #484
Yes the command on its own always worked for me - it was when run from the npm script that it was failing. I've edited the last script now to remove the single quotes altogether, and it works:
[code]

If this works on a non-Windows machine, may I suggest updating the `docker-test` script accordingly?

[2019-08-21 11:29] schmunk42 commented on #484
Yes, please. (works on Linux, too) - Let's see how that works out on Travis.

[2019-08-21 12:22] sirockin opened #488 "Optimise Webpack Bundling & Polyfills"
### General information

#486 implements Webpack but does not optimise bundling or polyfills.

Currently suggested optimisations are:
1. Lazy-load all themes other than html
1. Lazy-load all editors
1. Remove existing ie9 polyfill and aim to replace with standard Webpack polyfill if necessary

To be done once #486 is merged with development/2.x

[2019-08-21 12:33] #484 closed

[2019-08-21 13:04] schmunk42 commented on #485
Yeah, can be removed I think. It was added in fairly large merge-commit.

[2019-08-21 13:08] sirockin commented on #485
Okay great - I've actually replaced the script in #486 (it now runs unit tests in watch mode)

[2019-08-21 13:08] #485 closed

[2019-08-22 09:38] pmk65 commented on #488
@sirockin I can make a list of the mandatory editors (no lazy loading) and the optional editors (lazy loading) if you need it?
Also should we move the resolvers to separate files like in this [PR](https://github.com/jdorn/json-editor/pull/322/commits/7e9dcbfa31bb13c9f499ad56c0fd57a56a486812)

https://github.com/jdorn/json-editor/blob/7e9dcbfa31bb13c9f499ad56c0fd57a56a486812/src/resolvers/described

[2019-08-22 09:47] pmk65 opened #489 "Webpack - Should we have a uncompressed version available?"
I'm a newbie when it comes to Webpack, so bear over with me if this sounds stupid. 😁

In the 1.4 version wh have a minified and an unminified version avaliable at jsdelivr CDN.
From what I can see, the Webpack system currently only build a minified version. (The old Grunt build, created both minified and an unminified versions)

On the Playground page, I use the unminified version so that code exa

[2019-08-22 09:50] pmk65 commented on #459
@wclssdn Have you tried the latest develop/2.x version?
Your PR and mine should have been included, so it might have been solved. (If not, I'll take a second go at it.)

[2019-08-22 10:24] sirockin commented on #489
@pmk65 don't worry, this is my first time playing with Webpack, other than using it as part of the  Angular infrastructure and obviously I'm new to collaborating on this project and still finding my way around it so forgive me if I ask any stupid questions.

The impression that I get is the workflow encouraged by Webpack is to only distribute the source code and sourcemap, and to carry out debuggi

[2019-08-22 10:26] sirockin commented on #488
@pmk65:

Yes that would be great, thanks!

Okay will look into that too

[2019-08-22 10:45] pmk65 commented on #489
Here's a Playground example that adds custom editor https://is.gd/WihSGg

The Playground is a place to test JSON-Editor setups, including more complex ones with additional JavaScript/CSS setups. You can also use it for debugging or development (That's what I do.)

I originally intended it as a replacement for the [interactive demo](https://json-editor.github.io/json-editor/) from the docs/ folder.

[2019-08-22 10:59] pmk65 commented on #488
***Mandatory Editors***
array.js
base64.js _(Not sure about this one.)_
checkbox.js
enum.js
hidden.js
integer.js
multiple.js
multiselect.js
null.js
number.js
object.js
select.js
string.js

***Optional Editors***
ace.js
autocomplete.js
button.js
choices.js
datetime.js
describedby.js
info.js
jodit.js
radio.js _(Might be added to mandatory)_
sceditor.js
table.js _(Might be added to mandatory)_
upload

[2019-08-22 11:10] pmk65 opened #490 "Webpack - Included CSS files are not minified"
@sirockin I noticed that in the `jsoneditor.js` build by Webpack, the CSS is now included. But this seems to be unminified, so comments are included. See below:

[2019-08-22 11:14] sirockin commented on #490
hmmm. Okay will look into it.

[2019-08-22 11:23] pmk65 commented on #450
Generally all develop/2.x will/should be merged as soon as it has passed tests and reviews.
(@schmunk42 Shouldn't we upgrade @sirockin to project collaborator?)

[2019-08-22 11:51] schmunk42 commented on #489
Yes, we also need an unminified version.

[2019-08-22 12:18] sirockin commented on #489
Okay I've thrown unminified-webpack-plugin into my current branch and it does seem to do what's required. Obviously the code's not simply a concatenation of the original files but it is readable. Let's leave this open until the PR goes in.

[2019-08-22 12:19] schmunk42 commented on #450
@sirockin Would you be OK with it?

[2019-08-22 12:26] sirockin commented on #489
I notice that the travis e2e test runs actually test against jsoneditor.js which was (and will again be) the unminified version. For completeness, shouldn't we make it test against both?

[2019-08-22 12:39] sirockin commented on #450
No problem - would it confer any responsibilities? - I ask because I have big chunks of time when I'm offline so can't always be available.

[2019-08-22 12:51] sirockin commented on #490
Have tried minimizing using optimize-css-assets-webpack-plugin but no dice with comments.

Someone else has opened an issue on this so I'll keep an eye on it:

 https://github.com/NMFR/optimize-css-assets-webpack-plugin/issues/93

[2019-08-22 12:57] pmk65 commented on #450
No. it's just easier to assign issues to you and you have the ability to review and merge PRs.

[2019-08-22 13:18] pmk65 opened #491 "Remove obsolete code"
@sirockin The old plugin system is obsolete in 2.x as I changed how the plugin based editors work.
So we can get rid of this and all references and tests.
https://github.com/json-editor/json-editor/blob/7a7475fb13048ee8cb5dd5199adebc859905b3e2/src/defaults.js#L531-L552

A plugin like SimpleMDE is now configurable using Global or schema options. And callback defined under `JSONEditor.defaults.callb

[2019-08-22 13:20] schmunk42 commented on #450
I've sent you invitations to the developer group.

[2019-08-22 13:24] schmunk42 commented on #489
Hmm, yeah. Won't hurt in a Travis matrix.

[2019-08-22 13:42] pmk65 commented on #490
It's not just the comments (But that's what caught my attention) It is isn't minified at all.
If it was minified, the "\n" and spacing would have been removed.

[2019-08-22 13:47] sirockin commented on #490
The above plugin does seem to remove spacing but for some reason not the '`n'.

[2019-08-22 13:49] pmk65 commented on #490
Bus should something like `(.readonly) > input:hover ~ label:before` be concatenated into `(.readonly)>input:hover~label:before`  ? (spaces removed)

[2019-08-22 13:54] sirockin commented on #489
Would you have any objection to changing the naming convention so that output files have the same name but unminified goes to a separate directory (eg dist/unminified) - I think that will make it easier to set up test scripts to use the same html files from /tests/pages/ (I can just set up the test server to serve ./dist from another file).

[2019-08-22 13:56] sirockin commented on #490
No that doesn't appear to be happening - I'll look into finding a clean way - someone else must have solved this - before resorting to dirty.

[2019-08-22 14:15] schmunk42 commented on #491
Which tests do you mean exactly?

[2019-08-22 14:17] schmunk42 commented on #489
Would be fine for 2.x

[2019-08-22 16:48] wclssdn commented on #459
@pmk65 Thank you. I checkout current `develop/2.x` branch and build it.

The error message doesn't show, but the input box border is change to red. 👍

<img width="1247" alt="2019-08-23 00 36 55" src="https://user-images.githubusercontent.com/1057693/63533084-ac3f8900-c53e-11e9-8acd-1cb8e30a4de2.png">

But seems that doesn't contains my PR for choose the right `anyOf`.

<img width="1257" alt="2019-

[2019-08-22 16:53] pmk65 commented on #459
@wclssdn Sorry, It looks like your #445 PR have only been merged into the master branch. I have asked @schmunk42 to add it to the develop/2.x branch too.

[2019-08-22 19:23] pmk65 commented on #490
2 Webpack 4 plugins for minifying CSS:
https://github.com/NMFR/optimize-css-assets-webpack-plugin
https://webpack.js.org/plugins/mini-css-extract-plugin/

[2019-08-22 19:36] sirockin commented on #490
Thanks - I'm already using them.

[2019-08-22 19:59] sirockin commented on #491
The following e2e tests fail when I remove the invocation to getPlugins() in core.js (or replace the return value with `{}` from current commit (7a7475fb13048ee8cb5dd5199adebc859905b3e2) of develop/2.x.:
[code]

[2019-08-22 20:09] pmk65 commented on #491
I have made some **major changes** when I refactored the Select2 and Selectize editors (and other Select based editors). As they "exploited" the `select` type by using it without an `enum` list. I have changed that so it now uses enum list, but also has the ability to add new items to the `enum` list (and still preserve validation. (Select2 and Selectize has a special option called tags/create tha

[2019-08-22 20:11] sirockin commented on #491
No problem - so I guess the tests just need rewriting at the same time as deleting the obsolete code?

[2019-08-22 20:18] pmk65 commented on #491
Yes, i think @schmunk42 already updated the tests for 2.x (otherwise the Selectize test would have failed.) but he must have missed removing the plugins part.

[2019-08-22 21:47] pmk65 commented on #459
@wclssdn is there any chance you can resubmit the PR in the develop/2.x branch?

[2019-08-23 01:45] wclssdn commented on #459
@pmk65 ok.

[2019-08-23 06:06] wclssdn commented on #459
@pmk65  I have checked the code, it's already merged. And it's working well.

I don't know why i got that result yesterday.

<img width="1231" alt="2019-08-23 14 02 09" src="https://user-images.githubusercontent.com/1057693/63570279-2576c480-c5af-11e9-8a8d-953665784f16.png">

[2019-08-23 08:38] pmk65 commented on #459
Ok. But there's still problems I can see.

[2019-08-23 10:16] sirockin commented on #489
Okay so I'm building:
production (minified): dist/jsoneditor.js
development (non-minified): dist/dev/jsoneditor.js

[2019-08-23 11:11] pmk65 commented on #459
@wclssdn Can you post the schema and startval you are using in the screenshots?

[2019-08-23 12:28] wclssdn commented on #459
@pmk65 Schema is [pasted before](https://github.com/json-editor/json-editor/issues/459#issuecomment-523986066).
Value is generated by editor. Simply add some items.

1. Edit the file `docs/index.html` change the schema
2. Open the editor by run the file `docs/index.html`
3. Add some items(you would be manual show the property)
4. change some item's type(like `item b`)
5. Click `Update Form` button

[2019-08-23 13:08] schmunk42 commented on #491
@pmk65 @sirockin Could you create a branch with the removed code, so it would be easier to test it.

[2019-08-23 13:13] schmunk42 commented on #459
It would be great if someone could create a page in `tests/pages` with the schema.

[2019-08-23 14:28] schmunk42 commented on #489
CC: @marc7000

[2019-08-23 19:14] marc7000 commented on #489
That already exists it is done with grunt task.
Currently it builds the following files:

- dist/jsoneditor.min.js.map
- dist/jsoneditor.min.js
- dist/jsoneditor.js.map
- dist/jsoneditor.js

https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.js
https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js

[2019-08-23 20:14] sirockin commented on #489
Grunt is dead. Long live Webpack! ;-) I'm on it, don't worry.

[2019-08-24 12:58] pmk65 opened #494 "String editor throws error "self.defaults is undefined ""
### General information

- json-editor version: 2.0 /webpack)

### Expected behavior
No Error
### Actual behavior

    setupCleave string.js:227
    afterInputReady string.js:246
    build string.js:210

### Steps to reproduce the behavior
Run a test example with Cleave enabled,
Direct link to example: https://is.gd/s2jVt8

[2019-08-24 13:21] pmk65 opened #495 ""npm run start" - Start Webpack server doesn't produce output"
When I run **npm run start**, to start the Webpack server, I get this output:

i ｢wds｣: webpack output is served from /dist/
i ｢wds｣: Content not from webpack is served from C:\GITHub\json-editor
i ｢wds｣: 404s will fallback to /index.html
i ｢wdm｣: Hash: 8f5eab5eadb3883f8836
Version: webpack 4.39.1
Time: 3590ms
Built at: 2019-08-24 15:10:26
        Asset      Size      Chunks             Chunk Name

[2019-08-24 13:48] pmk65 commented on #494
@sirockin I think something went wrong when you modified the `JSONEditor.defaults` behavior.
Externally defined callback doesn't work any longer either.
https://github.com/json-editor/json-editor/blob/develop/2.x/release-notes.md#jsoneditordefaults

[2019-08-24 14:06] pmk65 commented on #494
Here's a JavaScript example on how the `callbacks` where defined _pre-Webpack_ (Modifying the global object at runtime):
[code]

[2019-08-24 16:26] wclssdn commented on #459
@schmunk42 Hi, I run the tests on develop/2.x, there are some errors. So, if i add a new file, i can't merge to the branch.

[code]

[2019-08-24 17:35] pmk65 commented on #494
We might even need a 3rd parameter. as the 2nd parameter is an object with keys "schema" and optional "startval". So we can just add a "config" key there.

[2019-08-24 17:55] marc7000 commented on #489
... Have fun ;-)

[2019-08-24 19:10] pmk65 commented on #494
**Suggestions for new data format with replacement config for the old JSONEditor.defaults**

[code]
@schmunk42 @sirockin What are your comments on this solution?

[2019-08-24 19:24] pmk65 commented on #495
**Sidenote:**

**npm run build** creates 2 files in `dist/` - `jsoneditor.js` and` jsoneditor.js.map`
**npm run build.dev** creates 1 file in `dist/` - `jsoneditor.js`

But shouldn't **npm run build.dev** also create the map file for development/debugging use?

So **npm run build.dev** would creates 2 files in `dist/` - `jsoneditor.js` and` jsoneditor.js.map`
and **npm run build** would creates 4

[2019-08-24 19:29] pmk65 commented on #491
@schmunk42 We need to figure out how to replace the old `JSONEditor.defaults` configuration metod first. I posted a suggestion in #494

[2019-08-24 22:46] pmk65 commented on #495
Adding `writeToDisk: true` to `devServer` object, in `config/webpack.dev.js` fixes the problem with file not getting created on disk.

[2019-08-25 06:52] sirockin commented on #495
@pmk65 thanks for the feedback.

Yes the default with using the dev server is not to write to disk - the point about running dev server is to very quickly rebuild and serve the distribution as changes get made - not to build an output. You can of course always build the actual output by running webpack instead of webpack-dev-server.

Since you asked for a non-minified distribution, I've added a no

[2019-08-25 08:37] pmk65 commented on #495
It is very common to distribute both a minified and an un-minified version, specially on CDNs.
People using the CDN version might not know how to create a custom, but we still want them to report bugs.
Example: https://www.jsdelivr.com/package/npm/@trevoreyre/autocomplete-js?path=dist

_Maybe I'm using the Webpack server wrong. But I can't figure out how to use it/debug when there's no file. What

[2019-08-25 12:54] sirockin commented on #495
Hi @pmk65. Running `npm start` should serve files from 8080. The way it is set up is that built files should serve to `localhost:8080/dist` (they are served from memory so no need for them to be in the actual dist folder) and the rest of the repo should just serve from `localhost:8080/{path of file}.

So to debug (say) one of the files in the test directory you simply navigate to http://localhost:

[2019-08-25 12:58] sirockin commented on #494
Hi @pmk65. Please could you attach files for an e2e test which works with the the old build but doesn't with the new? It will make it easier for me to ensure I've understood and fixed the issue, and also to ensure future PRs don't break this functionality.

[2019-08-25 12:59] sirockin commented on #491
See my comment in #494.

[2019-08-25 15:13] pmk65 commented on #494
See #497 (Couldn't get the test environment up running using the old grunt based setup, but I think it should work)

[2019-08-25 16:19] sirockin commented on #488
I've done some work on this PR but the changes required are fairly complex since
1. Lazy loading requires use of async/await constructs using ES2016
1. Adding polyfills for the above adds quite a lot of extra bytes to the output
1. Using ES2016 requires transpilation which may make even unminified code harder to read
1. Even the relatively simple bit - loading themes asynchonously - needs some wor

[2019-08-25 16:20] sirockin commented on #495
See also my remarks in `./config/readme.md` in #498

[2019-08-25 17:05] pmk65 commented on #495
There's no HTML page, just the text "Upgrade Required". I only noticed the 426 error when I looked at the headers. That's all the info there is.

[2019-08-25 17:08] sirockin commented on #495
What happens when you navigate to a valid url such as http://localhost:8080/tests/pages/array-selectize.html?

If this doesn't work, can you try deleting your `node_modules` folder then running `npm install`?

[2019-08-25 17:52] pmk65 commented on #495
![image](https://user-images.githubusercontent.com/478711/63653741-0b84df80-c771-11e9-8ffc-96f3757bd3fa.png)

i get the same result no matter what path I put in.

And I have removed the `node_modules` folder before running `npm install` as you suggested, but no changes.
Still getting these warnings after `npm install`

npm WARN eslint-plugin-import@2.9.0 requires a peer of eslint@2.x - 4.x but non

[2019-08-25 18:28] pmk65 commented on #495
Server is running without errors.
And if I add `writeToDisk: true` it will generate/update the file when I make changes, so it is running.

[2019-08-26 06:49] sirockin commented on #495
On the 426 error, I just did a search and found

* this issue: https://github.com/webpack/webpack-dev-server/issues/1446 which isn't super-helpful

* this info: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/426

I've just tried doing a fresh clone, switching to `develop/2.0` and building and was unable to reproduce your npm install errors. However the acorn warning seems to be an npm bu

[2019-08-26 09:35] sirockin commented on #494
Thanks for the tests @pmk65 - they seem very well written and clear. The fix for the actual issue was relatively simple - I had already adjusted the AbstractEditor code receive defaults separately but an override of the `init` method in `/src/editors/button.js` meant that for this editor, they weren't being assigned properly.

What is more curious is that I can't get the second test to pass, even

[2019-08-26 10:50] sirockin opened #500 "allOf inheritance doesn't work consistently"
### General information

I know there are a few open issues on `allOf` but wanted to log this which is related to my own use-case. I think it's going to be easier to work on now that (in develop/2.x) we have a reasonably usable unit-testing framework.

- json-editor version:
current master, develop/2.x

### Expected behavior
A schema inheriting properites via allOf should produce the same behaviou

[2019-08-26 21:57] pmk65 commented on #495
Everything is latest version, EXCEPT Nodejs. And once I updated that, the server worked. (Nodejs for windows suck when it comes to updating. As there is no auto update or reminders like with npm. You'll have to download and reinstall it. 🚽 )

The nodejs update solved the various npm error/warnings too,

Thanks for your help..

[2019-08-26 22:17] pmk65 commented on #494
Could it be that the 2nd test do this:
1) Tests if the button is in disabled state
2) Fill in a text in the textfield, so that form is valid (minLength is set to 2 chars)
3) Tests if the button is in enabled state
4) Clicks the button and get test output.

Button editor with `"validated": true` is disabled until form validates and is triggered by the "onchange" event.
When you test it manually, yo

[2019-08-27 06:43] sirockin commented on #495
Hi @pmk65.

Glad that worked.

 I *can* add that to the start script but it may slow down the watch/build/serve lifecycle and I'm not clear on what use it is since the point of `start` is to allow round-trip debugging. Did you notice I've added a `build.dev` script in #498 - that does produce buiild output if and when you want it. Does that not meet your requirements?

[2019-08-27 09:03] sirockin commented on #494
But it worked in the master build so why shouldn't it work here? I also tried your suggestion in the PR (add `I.click('[data-schemapath="root.button1"] button');` to test and that didn't work.

Damn, my mistake. (I'm sure you can imaging how easy it is to do something like this when making repetitive changes to the headers of 100+ files :-D. Now fixed in current PR

Personally I never liked the wa

[2019-08-27 09:50] amitlevy21 commented on #74
@marc7000 I tried the example with gave me the following error:
`webpack-internal:///./node_modules/vue/dist/vue.esm.js:592 [Vue warn]: Error in mounted hook: "TypeError: JSONEditor is not a constructor"`
It rendered this:
![image](https://user-images.githubusercontent.com/28672915/63761040-1e122c80-c8c9-11e9-858a-58b51bb44ca6.png)
The buttons do not write to console.

Can you please assist?

[2019-08-27 09:56] beardyw opened #501 "Events on initial load"
I can't see any other reference to this. On initial load of the editor core.js fires events as

        self.trigger('ready');
        self.trigger('change');

If you are listening for user change events it seems reasonable to wait until after "ready" is fired. However in doing so you still then get a change event from the initial load. It might make sense to reorder these so that "ready" comes la

[2019-08-27 10:35] marc7000 commented on #74
Maybe this can help:
https://github.com/json-editor/json-editor/issues/127

CC: @sirockin

[2019-08-27 11:55] pmk65 commented on #495
It depends on how you use (or debug) the library. The e2e tests won't do any good when you are adjusting the CSS/HTML output.
Most JSON-Editor users are familiar with the old `grunt` setup, so it's a big difference when there's no actual file created. And they might have a testing setup based on the existence of an actual file.

I use the Playground page for testing output and complex setups by li

[2019-08-27 12:00] pmk65 commented on #494
@sirockin My solution was also a way to get rid of the `JSONEditor.defaults` entirely. As it's really bad practice to modify the original script/object.
And by putting the "defaults" into the options, we get a more clean system. Also we don't have to care about breaking changes in the 2.x branch. So it's a perfect time to get rid of the "defaults".

[2019-08-27 12:53] sirockin commented on #494
I agree now would be a good time to look into it - but can we do it in a separate issue? I think it's a discussion that goes wider than the two of us, and certainly wider than this bug fix.

[2019-08-27 13:11] sirockin commented on #495
I'm worried we're producing a plethora of builds and scripts for use cases that I don't really understand.

Here's what I propose:

I will rename all the `start` scripts to `debug`.

I will then create a new `start` script that builds nonmin in watch mode but doesn't serve the output - I think I'm right in thinking that's how the old `start` script works.

If that doesn't work for you maybe it wou

[2019-08-27 13:27] pmk65 opened #502 "Suggestions for new data format with replacement config for the old JSONEditor.defaults"
**Suggestions for new data format with replacement config for the old JSONEditor.defaults**

[code]
@schmunk42 @sirockin What are your comments on this solution?
Personally I never liked the way you modified the global instance of `JSONEditor.defaults`, so I would prefer something like this.

_Originally posted by @pmk65 in https://github.com/json-editor/json-editor/issues/494#issuecomment-5245739

[2019-08-27 13:35] sirockin commented on #502
Is the old format documented somewhere (for comparison)?

I'm not sure of the meaning of the above - I didn't modify anything in the JSONEditor.defaults, I just removed the circular dependencies between editors and JSONEditor by injecting JSONEditor.defaults as a parameter to the editor.

[2019-08-27 13:39] pmk65 commented on #502
I'm referring to how the original script worked, by modifying the object directly for setting the defaults instead of passing them as parameters when you create the instance.

[2019-08-27 14:52] pmk65 commented on #501
@beardyw The initial change event is pretty useless as you explained, unless you can catch changes made by setting the "startval" property.
I haven't tested this, so I don't know if it's possible or if that triggers another "change" event. If it does triggers a 2nd "change" event, I see no reason why we shouldn't change the order.

[2019-08-27 15:27] sirockin commented on #502
Ah sorry, yes I understand now. I agree having a global defaults object is potentially messy and can cause problems, especially if you're creating and tearing down instances of the editor.

I also don't really like the schema being part of the options object - it's not really an option but an essential parameter so I think it should be passed as such.

[2019-08-27 19:37] Cheprod opened #505 "show_opt_in property does not work as expected ?"
### General information

- json-editor version: 1.4.0-beta.0

### Expected behavior

I want to use show_opt_in set to true to display all defined field in the jsonschema (non required field included).  For non-required fields :
- If the property is present in the json, display the field with the value + a checkbox checked to delete the property from the json if the user want.
- If the property isn

[2019-08-28 07:30] amitlevy21 commented on #156
I might have the same problem, I am not sure how to address this.

Given the following schema:
[code]
Then I get the following form:
![image](https://user-images.githubusercontent.com/28672915/63834308-b538bc00-c97d-11e9-8811-09fd5726f116.png)

My problem is that there is nothing under the wrapper (r_all, r1, r2, r3) (sorry about the weird names, had to change them from the original schema).

I kn

[2019-08-28 07:45] sirockin opened #506 "Replace $extend({},...) with deep_copy(...)"
### General information

There are 41 instances in the code where code of the form `$extend({},some_object) is invoked. The effect seems to be simply to make a deep copy of the second parameter.

1. It's not fantastically readable
2. It could be made more efficient

I'd like to create a deep_copy method (or import one from a standard library) and use this instead.

Any views on this?

- json-edito

[2019-08-28 07:52] amitlevy21 commented on #156
Interesting, replacing patternProperties with properties shows the desired UI, it seems that my problem is not $ref related:
![image](https://user-images.githubusercontent.com/28672915/63836195-c7b4f480-c981-11e9-99b2-66868ab72564.png)

[2019-08-28 08:22] Cheprod commented on #505
Looking at the code and doing some tries :

- It's not necessary to use the required_by_default property set to true
- Nothing is done in the code to tick the checkbox when a non required properties has a value in the json
- The method deactivateNonRequiredProperties hide the non required properties that hasn't a value in the json

[2019-08-28 08:30] sirockin commented on #500
I'm going to close this as I think I've already fixed it in #430  :-D

I think my confusion was because the interactive JSON Editor hasn't been updated with the fix.

[2019-08-28 08:30] #500 closed

[2019-08-28 08:31] sirockin commented on #495
@pmk65 any thoughts on my last comment?

[2019-08-28 10:22] pmk65 commented on #495
@sirockin Let's try it out.

[2019-08-28 10:27] pmk65 commented on #500
The Interactive JSON Editor is not 100% reliable. Specially when you start switching on/off options and external libraries. That's why I wrote the Playground page. This renders the form in a separate iframe and redraws the frame when options change.

[2019-08-28 10:29] pmk65 commented on #506
I think we should avoid having to rely on an external library.
AFIK the `$extend` function is a copy of the code from jQuery.

[2019-08-28 10:44] schwemmer commented on #322
I couldn't get SCEditor to work either. And the suggested fix did not work for me nor does the demo (see above: https://is.gd/DkuS3B) seem to be working in any browser. I ended up integrating Jodit manually.

[2019-08-28 10:49] pmk65 commented on #502
The same goes for the `startval` property. But if we change `schema` and `startval` to separate parameters, we might have a problem. As the startval is optional and can be any value (including null) so we can't just use a null value for no startval.

[2019-08-28 10:57] pmk65 commented on #322
The Playground examples have been updated to work with the develop/2.x branch (Which also includes a Jodit based editor) As I have refactored several of the editors and separated editors like SCEditor from the string editor.
The develop/.2.x branch has several new editors and features.

[2019-08-28 11:01] schwemmer commented on #322
Thanks! Is there a way to install the develop/2.x branch via npm or when will it be released?

[2019-08-28 11:11] pmk65 commented on #322
@schwemmer I don't think it's available at npm yet, but you can clone the develop/2.x branch and create a custom build. https://github.com/json-editor/json-editor/tree/develop/2.x

Here's a list of some of the changes introduced in the 2.x version: https://github.com/json-editor/json-editor/issues/450

And here's a Playground page that uses a 2.x version of the library (not the latest) so you can

[2019-08-28 11:19] schwemmer commented on #322
Thanks @pmk65 (for all your work! json-editor is super useful!). I might try the 2.x branch, although I now got it working fine with the latest 1.4.x release and attaching Jodit manually based on a class.

The demo/playground does not work for me in Brave, Chrome, Firefox or Safari unless I am missing something. Shouldn't I see a form?

[2019-08-28 11:32] schwemmer commented on #322
Sorry, I did not load an example... It works. Maybe make it default to one of the examples?

[2019-08-28 11:34] pmk65 commented on #322
It remembers the last schema/setup you used. So if you close the page and reopen it later it will use your previous schema/setup. (Unless you use a direct link)

[2019-08-28 11:35] schwemmer commented on #322
I see. SCEditor does not work in the playground (unless I am missing something again), Jodit works.

[2019-08-28 12:08] pmk65 commented on #322
Change the schema format from `html` to `xhtml` in the SCEditor example.

[2019-08-28 12:52] sirockin commented on #506
Refactoring wouldn't force us to use an external library, it would just make the code more readable. I'm talking at least in the first instance of creating a one-line wrapper around the $extend() method

Yes you're right $extend() is copied from jQuery which very few developers use these days. Even when you're familiar with jQuery I think the effect of `x =deepCopy(y)` is a lot clear than `x = $ex

[2019-08-28 12:54] sirockin commented on #500
Is the Playground documentation - or a link to it - somewhere in this repo?

If we're not using in interactive editor, can we remove it from the bugfix template?

[2019-08-28 12:55] sirockin commented on #502
I think you've just explained why `startval` should stay as an option - it's optional! :-D

Schema on the other hand, is compulsory, and shouldn't changed for the lifetime of the editor.

[2019-08-28 12:58] pmk65 commented on #500
At the top of the README.md there's a link to both the Interactive demo and the Playground.

[2019-08-28 13:01] sirockin commented on #500
Hah, sorry, didn't spot it! :-D.

I think there should definitely be a warning for the interactive editor and get it removed from the bugfix template.

[2019-08-28 13:07] sirockin opened #509 "Clarify and document function of `no_additional_properties`"
### General information

I would like a way to tell the json-editor to ignore any properties found in the json but not defined in the schema.

So for example [here](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIasAjgK4QsAmiA2iBwBDALbwAuoRJosZNJFgZEoYWOXEyiEBjBoIOAOZNuiunpKRcWgGJcdAAiE5u9gDJCHq+IRH7XsQzAAC0QAFkITADMhdmhGJAApdFgRInsAESw0PABfPKA=&

[2019-08-28 13:11] pmk65 commented on #502
Schema and startval are tied together. So I would be odd IMO, if one of them is a separate parameter while the 2nd is part of the options array.

[2019-08-28 13:18] pmk65 commented on #509
`"no_additional_properties": true` - Example. https://is.gd/1IxWu8

[2019-08-28 13:20] sirockin commented on #509
Thanks! I just tried something similar in the interactive editor and it worked there. But not in my current build for some reason.

[2019-08-28 13:22] schwemmer commented on #322
Um, yes, indeed, and you told me so before – this is embarrassing. Sorry for that. I changed the format in the schema to `xhtml` and clicked on "Generate Form" and it worked.

[2019-08-28 13:39] sirockin commented on #509
Okay so it does seem to work to an extent, but there is a problem (at least for my use case). It doesn't just ignore the property, it deletes it from the output JSON altogether. I essentially want it to leave any additional properties untouched - as if they are defined in the schema but with `options.hide:true`

[2019-08-28 13:42] pmk65 commented on #506
Would this also be true for the CDN version of the library?

[2019-08-28 15:34] sirockin commented on #509
Looking at the code (in validator.js and object.js) and also at previous issues including #130, it seems there is some confusion over what the correct function of `no_additional_properties` should be.

Should it

1. Satisfy my use case - simply not display any additional properties but leave them untouched in the JSON

2. Essentially replicate the `additonalProperties:false` option in the schema i

[2019-08-28 16:35] sirockin commented on #495
@pmk65 I've just merged latest updates to #498. Please could you close this when you're happy?

[2019-08-28 16:40] pmk65 commented on #506
But wouldn't that increase the size of JSON-Editor? (unless it's a really small lib with only the "deepcopy" functionality.)

[2019-08-28 16:49] sirockin commented on #506
Good question :-).

1. There is such a library in npm: https://www.npmjs.com/package/deep-copy

2. With Webpack you can ensure non-imported methods are excluded by a process known as [tree-shaking](https://webpack.js.org/guides/tree-shaking/)

I suggest for now though that we don't bother importing from a library - just create an inline wrapper for the existing method, and export it from `utilitie

[2019-08-28 16:52] sirockin commented on #494
@pmk65 can we close this one now?

[2019-08-28 16:53] #494 closed

[2019-08-28 16:58] #489 closed

[2019-08-28 17:25] sirockin commented on #491
I've unassigned myself from this since I don't really know anything about it other than that removing the code as per #513, breaks tests. Somebody else want to pick it up?

[2019-08-29 09:10] Cheprod opened #514 "Editing array of string doesn't work anymore"
### General information

- json-editor version: 1.4.0-beta.0

### Expected behavior

Normal behaviour with add/remove button to add/remove string value in the array. Work well in version 1.3.5

### Actual behavior

Just a blank field
![CC](https://user-images.githubusercontent.com/36696593/63927194-81c56280-ca4d-11e9-9562-468ea311c614.jpg)

### Steps to reproduce the behavior

Direct link to examp

[2019-08-29 09:18] Cheprod commented on #514
To confirm the same test from the original schema of the page modify to have pets as string :

https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QAVYCcDOB7AdiANOAJ4AO8SWARgFawDGYBIasAjgK4QsAmiA2iBwBDALbxCQgObiQ3IWBkAzIQDcsaKLAD6dLNHVNpObuib668iLiZkwGEAF1CJNFjJpIsewlDCxiUDBSchAMMA0cSSYTDDoNEkhrJAAxLjCAAiFjdIAZIQy/GREIHBzYSLAAC0QAFkITZXZoRiQAKXRYESJ0gBF1PABfCWkA4jJEEBKFaTRo2EbmxAAmAFZ

[2019-08-29 09:24] Cheprod commented on #505
For short term solution, I just add this hack in the setValue method :

[code]

[2019-08-29 10:51] pmk65 commented on #514
Seems to have something to do with `uniqueItems`.
If you set `uniqueItems": false`, the table controls will show up.

[2019-08-29 10:58] pmk65 commented on #491
I'll remove the references to `JSONEditor.plugins` in the test HTML files. (And update them so they work with the new options method)

I also think `tests/codeceptjs/editors/string_test.js` might need an update/rewrite as a lot of the tests are centered around the ACE editor.
Wouldn't it be better to place them in a separate file, like I did with the Jodit tests I recently made?

[2019-08-29 12:19] Cheprod commented on #514
Yes, I did't notice this detail ;)

It looks like that nothing is done if uniqueItems is set to true in this section of code :

[code]

[2019-08-29 14:09] sefaYavuz commented on #509
So I would like this, but the other way around.

If I don't have an property in my object that is present in the schema. Show the property anyways, now it just removes the property.

[2019-08-29 18:55] pmk65 commented on #514
I think it's the correct behavior in 1.4.0-beta.0
It makes sense that `uniqueItems` has to be `false` when using array/table editor as source. As you can't ensure that the user doesn't add a duplicate value.

[2019-08-29 18:56] #495 closed

[2019-08-29 19:49] istvan-arany commented on #460
Hello everyone!
I was fiddling around with some editors, and bumped into a problem.
Even if I set collapsed to true, the child editors doesn't load up collapsed.
If I set collapsed globally, then all the editors main tabs are collapsed too, so I cannot see anything. How could this be solved?

[2019-08-29 19:50] pmk65 commented on #501
@beardyw I did some testing, and the initial change event contains the values set by `startval`, so I don't think it's a good idea to change it.

Instead `bind` a counter to the change event. Then if you want to skip the initial change event, check if the value of the counter>1. Example: https://is.gd/zEQvXy
[code]

[2019-08-30 08:28] Cheprod commented on #514
This feature works well in the 1.3.5 with array of string :

![CC](https://user-images.githubusercontent.com/36696593/64005500-d847a500-cb10-11e9-8f08-3b04ed28e74f.jpg)

[2019-08-30 09:21] beardyw commented on #501
@pmk65 Thanks for looking at this.  Based on your suggestion I have realised that others may have coded it that way, and the change I suggest would then break their code.

All the same, I am not really convinced that something we call startval should be regarded as a change after the ready event. I wasn't proposing to remove it, just place it where it makes more sense - as a (kind of) change befor

[2019-08-30 09:21] #501 closed

[2019-08-30 12:47] debnet opened #516 "Boolean as combobox with custom `enum` (ie. for nullable boolean) doesn't work"
### General information

- json-editor version: 1.3.5

### Expected behavior

Boolean as a combobox should trigger the model update.

### Actual behavior

Boolean as a combobox doesn't work, no model update event is triggered and the field stay constantly at the first enumerated value.

### Steps to reproduce the behavior

https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxm

[2019-08-30 13:01] debnet commented on #516
By the way, I know it works by removing the `enum` property. But sometimes I want to change the order of the elements and often I would like to create a kind of null-boolean field.

https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcID2AjAVjAxmEAacAlmADZyIwAeYATgIZ4hTVKzVgEwDOCoYXO8UExYw2EAPLUAJqIQBGfOxJkQAISRJStAHYACPpxz4ZnTNQJR2SbQhAMAtgW0AZGNoDmYABbz8j7QT2AK72vuDQKigaWjb4biEIANraQc

[2019-08-30 14:36] pmk65 commented on #516
A boolean checkbox/select is only rendered correctly when there's NO `enum` present. (and only allows values `true` or `false`)

[code]

[2019-08-30 14:42] debnet commented on #516
How can I achieve to have nullable boolean then?

[2019-08-30 14:42] debnet commented on #516
And changing the order of choices?

[2019-08-30 14:53] pmk65 commented on #516
You will probably need to create a custom build with a modified `src/editors/select.js` that renders the Boolean type as you want.

This is how a Boolean selectbox is rendered currently.
[code]

[2019-08-31 09:23] pmk65 commented on #516
@debnet If you don't set `required` for the boolean field, you get an blank start entry in the selectlist with the value of "undefined". The order is fixed, but you can set the labels of the `true/false` values.
Example: https://is.gd/aat1LP

[2019-08-31 10:06] pmk65 commented on #514
@Cheprod I think I got it figured out, and will submit a PR with fix in the develop/2.x branch (That's the only branch I'll submit PRs to.) In the develop/2.x branch the Select2 plugin have been moved to separate editor, so there's an additional check.
But basically the fix just removes the `return 'multiselect'`. Then it works with both `uniqueItems` true or false.

[2019-08-31 10:57] pmk65 commented on #501
@beardyw I played around with it a bit and found a really good reason to keep it as it is. And why startval should be included in the onchange event.

Take a look at this example: https://is.gd/v10mAd
It uses the counter method I described before, to store the initial value of the form (counter==1)
Then on the subsequent onchange events, it compares the current value to the previous value and retu

[2019-09-01 10:49] amitlevy21 opened #518 "TypeError: JSONEditor is not a constructor when using Jest"
Hey,
I am having build issues when test with jest.

### General information
The build passes and when I test visually in the browser JSONEditor works, the form is generated as I expect.

However, when I test with jest. I get the following error:
`TypeError: JSONEditor is not a constructor`

I have seen #127 but it did not help.

This is my Vue component
[code]

This is my jest file containing a si

[2019-09-01 21:39] pmk65 commented on #460
@istvan-arany You probably should open up a new issue and not comment on a closed issue that have no relation to your question. 😉

[2019-09-01 21:42] pmk65 commented on #518
Try the develop/2.x branch, which is Webpack based.

[2019-09-01 23:50] Vafa-Andalibi commented on #166
Any sample on this? I can't find any. No answer in [#795](https://github.com/jdorn/json-editor/issues/795) either

[2019-09-02 07:48] sirockin opened #519 "JSONEditor constructor not correctly exported by Webpack"
### General information

Directly importing the JSONEditor constructor using causes an error to be thrown when attempting to create a new JSONEditor.

- json-editor version: develop/2.x c475590c1c527b9cdf8acd5650b09fae1bd51973

### Expected behavior

JSONEditor object should be correctly constructed.

### Actual behavior

Error is thrown:

`
ng:///HomeModule/NodeComponent.ngfactory.js:211 ERROR Ty

[2019-09-02 09:50] amitlevy21 commented on #518
@pmk65 now I get an error when viewing via the browser and nothing is rendered. I'm getting the same error as in #519

[2019-09-02 10:24] sirockin commented on #518
Sorry @amitlevy21 there is currently a separate issue on develop/2.x which I'm trying to fix: #519

[2019-09-02 17:18] istvan-arany commented on #460
Yea :) I solved it in a different way since then though :)

[2019-09-04 14:30] pmk65 commented on #514
Fix have been added to the develop/2.x branch.

[2019-09-04 14:30] #514 closed

[2019-09-05 09:30] pmk65 commented on #509
So what you want is the undefined data to be placed in hidden fields so it can't be edited, but still a part of the form result?

Couldn't you just filter out the undefined values based on the schema properties, before rendering form. And then merge the form result with the original result before submitting?

[2019-09-05 12:16] #491 closed

[2019-09-05 12:17] #403 closed

[2019-09-05 12:18] #417 closed

[2019-09-05 14:11] sirockin commented on #509
Yes

Well I *could* *just* do that. But I was hoping not to have to :-). It would be nice if that was one of the options in the editor.

So is your understanding of `additional_properties` option that is simply overrides the schema `additionalProperties` value?

[2019-09-05 14:12] #519 closed

[2019-09-05 14:20] #451 closed

[2019-09-06 06:44] sirockin opened #522 "Tidy up import paths for amd build"
### General information

In #521 I created a separate amd build for use by `import`/`require` statements.

The output path is a bit horrible though, requiring the following statement:
[code]

I'll aim to tidy this up before merging onto main branch.

[2019-09-06 06:45] sirockin commented on #518
Hi @amitlevy21.

I have fixed in #521 (currently only on `develop/2.x` branch, but you now need to import the library as follows:
[code]
I'll aim to make this path nicer before we merge onto master - see #522

[2019-09-06 06:45] #518 closed

[2019-09-06 06:48] schmunk42 commented on #522
What would be the plan?

`@json-editor/json-editor` is the "namespace", rest looks also OK.

[2019-09-06 06:54] sirockin opened #523 "Add option `ignore_additional_properties`"
I want an option to make the editor ignore any properties not defined in the schema. This option would mean that for any property supplied in the json:

1. No form field will be displayed
1. No validation errors will be raised
1. The value of the property will be left untouched, displayed in the `json` popup, and returned as part of the result of getValue()

This option is distinct from `additiona

[2019-09-06 06:56] sirockin commented on #509
@pmk65 I've raised this enhancement as a separate issue #523.

[2019-09-06 06:56] schmunk42 commented on #523
How about renaming `additional_properties` to `remove_additional_properties` then?

Or one paramter `additional_properties` with three possible values, like `allow`, `remove`, `ignore`.

[2019-09-06 07:04] sirockin commented on #522
Yes I think I'd just remove the `dist` bit from the path like so:
[code]
It's a really minor fix and I should have put it in the original PR - just wanted to record it here so I don't forget to do it, and so others are aware of it.

[2019-09-06 07:11] k2s opened #524 "Is it possible to rename object properties or to delete them ?"
### General information

It is possible to add properties to object dynamically, but I can't find a way how to edit them or to remove them.

### Expected behavior

Clicking on property name or on some action element should make it possible to modify the property name text or to delete it from object.

### Actual behavior

I can't find editor control to do that.

### Steps to reproduce the behavior

[2019-09-06 07:22] germanbisurgi commented on #505
hi Cheprod. I didn´t really understand the problem but i´ll try to crack this peace by peace.

show_opt_in: if true, NON required properties will have an extra toggable checkbox near the title that determines if the value must be included or not in the editor´s value. This apply to defined and not defined property values.

This is how it works already. The non required field will have the opt_in c

[2019-09-06 08:28] pmk65 commented on #524
@k2s You can remove properties using JavaScript. Take a look at some of the JavaScript examples at the Playground page. https://is.gd/2MmcaA

[2019-09-06 12:51] tkacperek opened #525 "Default array item title is not translated"
### General information

Default array item title is not translated.

- json-editor version: 1.4.0-beta.0

### Expected behavior

It should be translated.

### Actual behavior

It is not.

### Steps to reproduce the behavior

[Direct link to example](https://json-editor.github.io/json-editor/?schema=N4IgLgngDgpiBcICGAnFSIgDQgJZhgFsBnBUSWBPAOwIHMYUQBfZoA==&value=NoBgukA=&lib_switcher=&prompt_before

[2019-09-06 12:52] bigcreate opened #526 "a string property is required when it isn't"
### General information

- json-editor version:1.3.0

### Expected behavior
The form should be valid if the property has minLength option but it's not required

### Actual behavior
If a string property has `minLength` option it becomes required.
There is no any error in UI unless `show_errors` is `always` if the property is empty.
But in this case, the form is invalid.

### Steps to reproduce the

[2019-09-06 13:52] Cheprod commented on #505
Hi germanbisurgi,

Thanks for your help!

I did an simple example to illustrate what I said (I didn't succeed with the online editor because the show_opt_in option isn't available). This is done with the 1.4.0_beta0 version.

This is my JSON schema :
[code]
This is my JSON data :

[code]

Note that the property "warningWhenErrorsIn" isn't present in the json.

What I have in my editing screen :

!

[2019-09-09 08:32] sirockin opened #528 "Theme Error Message Displayed"
### General information

Using the 2.x branch I currently see the following error message for `html` and `bootstrap4` themes (I haven 't tried any others).

![image](https://user-images.githubusercontent.com/7776773/64515586-20bf4980-d2ed-11e9-9652-e052e1b9b0e8.png)

Is this by design? If so, what do we need to do to resolve it?

- json-editor version:
develop/2.x

[2019-09-09 09:12] #525 closed

[2019-09-09 11:38] pmk65 commented on #528
Yes. It is something I have added to all Themes that are not updated to 2.x.

Currently the Spectre and Tailwind Themes are the only ones in 2.x format.

Someone who is willing to do the update of the themes. I'm going to update the HTML and Barebones themes, but someone using the Bootstrap and Foundation themes will have to update those. (There haven't been any volunteers yet, but maybe after we

[2019-09-09 11:56] pmk65 commented on #526
@bigcreate Have you tried any of the latest versions? 1.4.x or develop/2.x ?
Also which Theme are you using? As using Bootstrap3 Theme will show the error, but not using Bootstrap4.

[2019-09-09 13:40] germanbisurgi commented on #505
yes i see better :)

i think you are right. this are my thoughts:
- the initial form build is correct
- setting a required value from JSON value works as expected
- setting a no required value from JSON value still displays the editor and the checkbox as expected but the field should remain disabled until the checkbox is checked (must to be fixed).
- omitting a non required value in the JSON when

[2019-09-09 18:18] enniosousa commented on #382
I'm waiting for the release with this bug fix.

[2019-09-09 18:39] pmk65 commented on #382
@enniosousa you can clone the develop/2.x branch and build a custom version.

[2019-09-09 18:41] #449 closed

[2019-09-09 18:59] enniosousa opened #530 "Bug: dependencies with table"
### General information
json-editor version: 1.4.0-beta.0
Using dependencies with table hide the `td` element and broke
![image](https://user-images.githubusercontent.com/8731370/64558625-b1604e80-d31a-11e9-8ff6-97b99dbc013a.png)

### Expected behavior
Only hide the input and label, not the td element

### Actual behavior
It is hidding the td element

### Steps to reproduce the behavior

You can s

[2019-09-09 19:02] enniosousa commented on #382
Thanks for the tip

[2019-09-09 19:25] pmk65 commented on #382
You can see a list of some of the major changes in #450

[2019-09-09 22:25] pmk65 commented on #530
@enniosousa I have submitted a PR to the develop/2.x branch that should fix this.

[2019-09-09 23:24] enniosousa commented on #530
@pmk65 thank you so much.

[2019-09-10 06:32] bigcreate commented on #526
@pmk65 I've tried 1.4.0-beta.0 but it worked not correctly for me.
I use Bootstrap 4.
I think setting `minLength` shouldn't make the property required. We use the same JSON-schema for both sides: frontend and backend and the validations work as expected on the backend side, but not correct on the frontend. And we can't replace the setting on `"pattern=".{3,}|^$"` because it's not informative for u

[2019-09-10 06:39] bigcreate commented on #526
I've looked on version 2 and 1.4.0-beta. They have the same validator as version 1.3.5
[code]
it could be like
[code]

[2019-09-10 08:30] pmk65 commented on #526
In the develop/2.x branch, there's a new option called `patternmessage`. You can use this to set an alternate error message when using the pattern option.

I can't see any info about allowing empty values in the JSON-Schema specs https://json-schema.org/understanding-json-schema/reference/string.html#length

[2019-09-10 08:31] #530 closed

[2019-09-10 08:31] pmk65 commented on #528
I have updated the HTML and Barebones Themes now.

[2019-09-10 09:11] pmk65 commented on #488
@sirockin @schmunk42 Should we release a 2.x beta version with the current changes, or should we continue working on it without a beta?

[2019-09-10 09:13] schmunk42 commented on #488
We could create an `alpha`...

[2019-09-10 09:43] sirockin commented on #488
I'd definitely be up for publishing something - an `alpha` sounds good.

[2019-09-10 11:42] pmk65 commented on #488
Let's release an `alpha` version then. 👍

[2019-09-10 11:49] pmk65 commented on #528
@schmunk42 @sirockin To reduce overall file size, we could exclude the 1.x themes from the 2.x alpha release, but still keep them in the repo for custom builds.

IMO we should only include themes the latest framework versions (i.e. Bootstrap4 and Foundation6) and skip all the previous versions (Bootstrap2, Bootstrap3 etc.)

[2019-09-10 12:54] sirockin commented on #528
That works for me although ultimately I'd like to try to get all the themes available - if we can get lazy-loading working as per #488.

[2019-09-10 13:03] sirockin opened #534 "double error message displayed for ipv4"
### General information

If I type a badly formatted ip address into a field defined with format ipv4, I get two concatenated error messages as follows:

![image](https://user-images.githubusercontent.com/7776773/64615636-3e6adc80-d3db-11e9-93b0-45c0706bd4e6.png)

- json-editor version:

develop/2.x

### Further Information

Searching through the code the two parts of the error message come from:

[2019-09-10 15:05] schmunk42 opened #535 "Release 2.0-alpha-1"
Need to check the build process and files uploaded to npm

CC: @sirockin Any feedback from your side about this?
Usually @marc7000 did the releases, but he might be unavailable until next week.

[2019-09-10 15:14] sirockin commented on #535
Yes - I've just been playing about doing a private publish. I noticed that there is no "files" property in package.json which means everything in the repo will get published. Did it used to be there or is it intentionally left out?

I would be inclined to add:
[code]

[2019-09-10 18:28] pmk65 commented on #534
My guess is that we have both your IP implementation and mine included. So we have to decide which one to keep.

[2019-09-11 04:23] sirockin opened #536 "ipv4 format breaks editor when used in 'allOf' inheritance hierarchy"
### General information

When a schema uses `allOf` to inherit from a parent definition, and the parent contains a property with `type:"string"` and `format:"ipv4"`, the editor does not not display, and the browser console shows the following error:
[code]

Commenting out the resolver assignment code for the ip editor (`defaults.js` lines 529-531) gets rid of the error (as well as the double error

[2019-09-11 04:32] sirockin commented on #534
@pmk65 see also #536

I'm not particularly attached to my implementation (although it *is* unit tested ;-) ) but I'm not clear on what the advantage is of using a specialised editor in a case like this. The code looks more complex and hence harder to maintain and I don't see any aditional functionality.

As I mentioned before, I can see a benefit if the editor could provide a dotted template which

[2019-09-11 04:35] sirockin commented on #536
Whether we keep the ip editor or not (see #534) I'd like to understand what is causing this bug as it may be due to a lifecycle issue that I've contributed to in my earlier work on #430.

Also if we do decide to implement lazy loading and other asynchronous features, we (I at least) need a better understanding of the lifecycle for complex schemas.

[2019-09-11 12:06] pmk65 commented on #534
It DID offer something similar if the [Cleave.js](https://nosir.github.io/cleave.js/) library was available.
But that feature seems to be broken after the Webkit conversion.

Another feature of the IP Editor, is/was that you can set custom error messages. (Currently broken due to the double IP validation) and it also adds support for the "hostname" format.

[2019-09-11 12:08] sirockin commented on #534
In that case I'll be happy to work with you (as best as I can) on getting it working again and removing my own implementation.

[2019-09-11 12:09] pmk65 commented on #536
Your implementation adds a new validator, where mine uses the existing pattern validation by injecting a custom pattern into the validator from the editor.

[2019-09-11 12:11] sirockin commented on #536
Ummm okay. But it's not my implementation breaking the editor (unless it's something I messed up while doing the webpack transfer).

[2019-09-11 12:12] sirockin commented on #536
It may be useful for us to have a real-time chat about this. Would that work for you?

[2019-09-11 12:15] pmk65 commented on #534
I have fixed the Cleave.js issue in #537

[2019-09-11 12:17] sirockin commented on #534
Great - I've just approved it - we can merge once the tests are passed. Does that also fix #536?

[2019-09-11 12:20] pmk65 commented on #536
I tried sending you an invite on Skype.

[2019-09-11 12:24] sirockin commented on #536
Hmm it hasn't popped up for me but I was on do not disturb. Wanna try again?

[2019-09-11 12:31] pmk65 commented on #536
@sirockin try this: https://join.skype.com/invite/g22WWMEGWMJq

[2019-09-11 20:28] pmk65 commented on #528
True. but currently we got a lot of themes that doesn't work correctly. If we stick to supporting the latest framework versions (Unless someone creates a working theme for an older version), we have less code to maintain and we can focus on getting those themes to work correctly.

[2019-09-12 11:47] sirockin opened #539 "Clarify relationship between (and if necessarily refactor) editors and validators"
### General information

It seems there is a major overlap between the work of a validator and an editor, as evidenced by #534 and #536 and I believe this makes the code less maintainable since:

1. It's not clear (to newcomers at least) where validation code should go
2. The potential exists for validation errors to be inserted by editors *and* validators
3. It is not currently easy to unit test

[2019-09-14 15:15] petrolep commented on #516
@pmk65 I am also trying to get a "nullable boolean" selector - ideally with return values null/true/false.
However the first option from the select with the "undefined" HTML value returns "true" as its JSON value.

So from the three options "undefined/true/false" you get values "true/true/false".

Is this by design or a bug?

Seems to be because of `!!"undefined":`
https://github.com/json-editor/j

[2019-09-15 10:29] pmk65 commented on #516
@petrolep It looks like a bug to me. As "undefined" should not evaluate to "true"
Changing it to
 `if (this.schema.type === "boolean") return value === 'undefined' || value == undefined ? undefined : !!value;`
will allow the undefined value to pass through. (The property value is not set if value is undefined)

[2019-09-15 10:54] pmk65 commented on #528
@sirockin @schmunk42 @germanbisurgi @marc7000 What are your view on this. Should we include all the faulty themes in the 2.x release or just include the ones that actually works?

[2019-09-16 05:51] Rajkapoor1 opened #543 "is angular(typescript) version available ?"
Hi,
Thanks for sharing json-editor, I'm new in angular. This is the same I was looking for but this is in angular js, is there angular (typescript) version available of json-editor which provide similar functionality. or can someone suggest how to use this library in typescript/angular 6 projects?

Thanks in advance.

[2019-09-16 06:04] schmunk42 commented on #543
CC: @amk0

[2019-09-16 06:18] germanbisurgi commented on #528
I would:
- have a barebones interface that can be extended or overwritten.
- retain the two last versions of the most used css frameworks and leave the really old versions like Bootstrap 2 and Fundation 3 out.

[2019-09-16 06:20] schmunk42 commented on #528
All should be fixed for 1.4.x
For 2.x we should at least fix BS 4

[2019-09-16 06:29] sirockin commented on #543
Hi @Rajkapoor1 .

There isn't currently an angular wrapper (although I will be releasing one shortly) but it's very easy to create one. Look at #127.

[2019-09-16 06:35] sirockin commented on #528
I think I'm with @germanbisurgi. Better to keep most of the older themes for the time being and document any issues with them - perhaps keep an open issue on each faulty theme. They don't really fatten the code very much do they?

[2019-09-16 12:05] pmk65 commented on #528
By whom? There's been no interest in fixing them earlier. (I have raised this issue before.)

I have already updated/created the Spectre, HTML & Barebone themes and is not going to do any more.

[2019-09-16 12:07] schmunk42 commented on #528
@pmk65 Can you link to the issue raised before?

If they were working in 1.3 we can't just drop them in a 1.4 stable.

@amk0 could you take a look at this?

[2019-09-16 12:09] pmk65 commented on #528
Again, _who_ is going to document/test all the problems in the faulty themes?

[2019-09-16 12:13] schmunk42 commented on #528
-> @amk0

@pmk65 When did it break?

[2019-09-16 12:15] pmk65 commented on #528
#329 Then there's several others like #111 #277, #435

They didn't work correctly in 1.3 either (or any older versions), but no-one have been interested in fixing them.

[2019-09-16 12:18] schmunk42 commented on #528
Ah OK, thank you.

So keep broken versions with notice for 1.4 - and drop them for 2.x - we'll fix BS4

[2019-09-16 12:27] pmk65 commented on #528
I made a test schema to display all the various form types and options at the Playground, similar to [this](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgTwA4FM4C5bAPYCMArVAY3jgBpIY54BLeAG3WCzgGU1SAnVKAFQAWqALa8AMgENEOAK7x%2BqAM7yAwhMXNK0bMi440XOksxRw26sGLrUtCADMcJszBfYHXYRLItsthxSpXbDpGZlZgSWk5KHgleSsNRQDzFzgAEyViLlpkOhwIEzhBWkUYuITeAHd1KE8MmJwoIQZkKCzUL14cLigZZDTOmKFRUvcoA

[2019-09-16 13:25] JorgeSivil opened #545 "How to get Select without multi select??"
### General information

- json-editor version:
  "version": "0.7.28",

I've been trying for some time to get a Select dropdown with a list of values, but I keep getting multi-select dropdown or checkboxes.
I don't want this behavior... but couldn't find a way to disable it.

How can I do that?

[2019-09-16 15:47] pmk65 commented on #545
Try a newer version of JSON-Editor and see if that fixes your problem.

[2019-09-17 06:50] #543 closed

[2019-09-17 06:58] sirockin opened #546 "Update coding standards and decide which should be enforced by Eslint"
When I created the Webpack build, I transferred the linting mechanism from jshint to Eslint carrying over as best as I could the jshint rules from the old build. It wasn't clear to me whether or not the jshint rules had been enforced by the build (ie the build fails if a rule is broken) so I left the linting as advisory.

Can we discuss and agree which (if any) rules we want to enforce, which we w

[2019-09-17 10:56] pmk65 commented on #546
True. But as there currently is no rules, we will have to refactor the entire codebase to match any rules we setup.

You can break IF statements with multiple comparisons at the dividers. (Same goes for ternary operators)
[code]
into
[code]

This will also increase the size of the library (At least the non-minified version.)

You can break those into multi lines as I explained before.

[2019-09-17 12:26] germanbisurgi commented on #546
i recommend https://standardjs.com/ for eslint

[2019-09-17 12:52] schmunk42 commented on #546
I just wanted to post the same thing :) so let's go ahead with this, unless @sirockin vetoes.

[2019-09-17 12:59] pmk65 commented on #536
@sirockin Can we close this?

[2019-09-17 13:00] sirockin commented on #546
I love standards which are already agreed and I hate wheel-reinventing so that's a +1 from me.

@pmk65 I was just answering your question and giving my reasons for what I had already said was a personal subjective view. It's certainly not a hill I would choose to die on :-D All I would say is I believe size of non-minified build is not something which should influence any coding standard.

So peop

[2019-09-17 13:02] pmk65 commented on #528
I would recommend building a new BS4 Theme from scratch or base it on the BS2 theme. As the current BS4 theme is very buggy.

[2019-09-17 13:03] #536 closed

[2019-09-17 13:06] pmk65 commented on #546
If we want to enforce the rules, it should break the build. Just like the e2e tests do.

[2019-09-17 13:07] germanbisurgi commented on #546
yes, it should break the build

[2019-09-17 13:16] pmk65 commented on #535
Currently the only Themes updated to 2.x format are: Spectre, Tailwind, Barebone and HTML
The others 1.x themes should be removed from the alpha build.

[2019-09-17 13:52] sirockin commented on #546
I just ran eslint on the contents of `src` with the standardjs rules enforced. It returned 11875 errors.

Running eslint with --fix (automatically fixes errors where possible) still leaves 462 errors (see attached file).
[eslint_out3.txt](https://github.com/json-editor/json-editor/files/3621660/eslint_out3.txt)

How would you like to proceed? I'd recommend busting some of those rules down to warni

[2019-09-17 14:18] Maxhy opened #547 "Conditional required field UI / Dependencies based on value rendering"
### General information
It would really improve the UI to support value-based dependencies, see below.

- json-editor version: 1.4.0-beta.0

### Expected behavior
Intensity shouldn't be displayed by default when Red or Blue color are selected. When selecting "Black" color, it should be automatically displayed (as it is required in that case).

### Actual behavior
Validation failed when Black color

[2019-09-17 14:30] schmunk42 opened #548 "Test case for `array-anyof.html`"
Follow up for #496

CC: @amk0

[2019-09-17 14:46] schmunk42 commented on #546
@sirockin @pmk65 I merged the open PRs and created a PR for the changes on master to develop/2.x here #549

After that I'd do the `--fix` for develop/2.x (actually I'd be happy if @sirockin can take care of this :smiley: ) - after that it's very likely that we won't be able to (forward)-port changes from master. But that's OK IMHO. I'd even make (merge) `develop/2.x` the new master and create a br

[2019-09-17 14:54] sirockin commented on #546
Hi @schmunk42 I'm happy to submit a PR with as requested but we'll still end up with quite a few broken rules (see eslint_out3.txt) above so I'll fix what I can and bust rules down to warnings on others such as `camelcase`.

[2019-09-17 14:56] schmunk42 commented on #546
I think having one round of (auto)fix is fine. Let's how the rest works out then.

We tried this before a few months ago, but it failed with some `ie9.js` AFAIR - but I think this file is gone now.

[2019-09-17 14:57] sirockin commented on #546
Fair enough - I'll wait for #549 to merge then get to work on it.

[2019-09-17 15:00] pmk65 commented on #546
Something like this might be useful for getting the last errors fixed (Looks like a lot of them is camelcase errors) and do more advanced refactoring.
https://github.com/facebook/jscodeshift
https://padraig.io/automate-refactoring-jscodeshift/

[2019-09-17 15:40] schmunk42 commented on #546
Checks have passed, one of you need to merge it...

[2019-09-17 20:27] pmk65 commented on #546
@sirockin @schmunk42 Is Bitwise operators then discouraged?
As I want to update the typecasting functions so they return correct values.

Example:
[code]
I have used the JavaScript typecast functions combined with logical AND/OR when possible,
But in the `integerTypecastAlt ` example, I use `Bitwise Shift Right` to trim off decimals. Is something like this "too complex" to understand?

[2019-09-18 09:01] #539 closed

[2019-09-18 18:16] schmunk42 commented on #546
With comments it's fine.

[2019-09-18 19:12] #546 closed

[2019-09-20 06:21] Franciman commented on #441
Hi, sorry for the huge delay,
I saw one thing I don't quite understand:
In the schema you used for the json editor there is:
```json```
{
  "type": "object",
  "title": "Devices",
  "properties": {
    "device_schema": {
      "title": "device schema",
      "$ref": "#/definitions/schema",
      "properties": {
        "definitions": {
          "type": "object",
          "patternProperties": {

[2019-09-24 14:46] michellegx11 opened #552 "Tabs header value overlapped when header info too long"
### General information

- json-editor version: 1.4.0-beta.0

### Expected behavior
Tab width changes dynamically based on the text length.

### Actual behavior
The tab columns size seems to be fixed. When the headerTemplate is set with very long text, the value is overwritten with each other
![issue](https://user-images.githubusercontent.com/55752347/65522246-c6c4a380-deea-11e9-95f7-8e0cc84f7a0a.

[2019-09-25 15:48] pmk65 commented on #552
@michellegx11 The example schema you posted is not valid.
But try using a [Template Engine](https://github.com/json-editor/json-editor#templates) to crop down the title or use [CSS to turn ellipsis](https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/).

[2019-09-25 15:50] #545 closed

[2019-09-25 15:51] #524 closed

[2019-09-25 15:52] #473 closed

[2019-09-26 10:17] zazasa opened #553 "Select2 lose focus after change when using with enumSource"
It can be reproduced in the playground in the select2 example.
If you tab through all the dropdowns until the "font" one, then select an element, the input will lose the focus and the tab restart from the beginning.

I found that a workaround replacing the `this.onChange()` at this point: https://github.com/json-editor/json-editor/blob/b13aa7b0b5d191ab96ef652182a9698388abf6fd/src/editors/select.js

[2019-09-26 11:18] michellegx11 commented on #552
Thanks, I will try updating the CSS then.

[2019-09-26 11:18] #552 closed

[2019-10-03 05:59] websemantics opened #554 "Dependencies fails for boolean value"
### General information

- json-editor version: @json-editor/json-editor@1.4.0-beta.0

### Expected behavior

From the example provided below, the `notification.body` ought to hide (display:none) when `config.hide` = true

### Actual behavior

It does not

### Steps to reproduce the behavior

Direct link to example: https://jsfiddle.net/websemantics/ocmjfub8/

[code]

### Solution

In `./src/edito

[2019-10-03 06:05] websemantics commented on #554
Quick note, in the [jsfiddle link](https://jsfiddle.net/websemantics/ocmjfub8/), if you change the deoendency condition to `false` it works, thought this might help.

[code]

[2019-10-03 16:25] machinaeXlasse commented on #441
Hey! Thanks for having a look into this. Now its me being late, sorry.

I want to allow using the editor to create a schema for (inside) each "device" instance, that's why I nested the meta schema into an object type.

Maybe in the end that's not practical anyhow from a user point of view and creating the schema should be its own editor.

The way I did it just seemed more straightforward.

[2019-10-05 11:35] stroebjo opened #556 "Choices.js Demo is broken"
### General information

- json-editor version:1.4.0-beta.0
- Choices.js version: v7.0.0

### Expected behavior

Integration should work.

### Actual behavior

Browser native `<select>` is shown.

### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io/json-editor/choices.html

[2019-10-07 11:05] #205 closed

[2019-10-07 12:07] pmk65 commented on #556
@stroebjo Try the develop/2.x branch and see if that version works better. (Note: It might work differently that the 1.4 implementation.)

@schmunk42 I have modified the Choices.js editor in the develop/2.x branch, but might have broken some of the functionality from the 1.4 implementation. I have asked @itsoli to take a look at it, but he never responded.

[2019-10-07 12:11] pmk65 commented on #554
@websemantics This have been fixed in the `develop/2.x` branch See #384

[2019-10-08 12:50] websemantics commented on #554
That's great, and thanks for your response.

[2019-10-08 12:50] #554 closed

[2019-10-08 20:03] Lilwolf opened #558 "JSON Schema Editor - anyOf - Adding Title to another field?"
### General information

I have an array of anyOf, which I've added a title to make the drop down look nice / have info.  But I want this information to be sent to the output in a property... and I'm also hoping that when I load the same output into the editor later, it selects the proper item in the drop down.
I tried every combination of watch values I could think of (array is called items...  I

[2019-10-09 14:20] pmk65 commented on #558
In the `develop/2.x` branch you can use JavaScript callback functions for `templates`.
The JavaScript callback function has full access to the current editor, so you can use that to access other fields/properties you don't have access to when using the regular templating.

[2019-10-09 15:25] Lilwolf commented on #558
Will this work in selecting the proper object when passing in an existing json object?
In other systems (non-js/schema... but similar) I've used, there was a key you could define i key that helped with the mapping when more then one was valid.   I'm trying not to make a super set of all definitions of each object...  But currently I'm always getting the first object defined in the anyof.  I hoped

[2019-10-09 15:58] pmk65 commented on #558
It should, if the value from the json object is stored in the same field.

I rarely use oneOf, anyOf or allOf myself, so I can't help you with that part.

[2019-10-14 09:26] dibericky opened #561 "show_opt_in: true is ignored after click on Object Properties"
### General information

- json-editor version: 1.4.0-beta.0

### Expected behavior
When show_opt_in is enabled, property not required that are not checked are shown as disable.
If I click on Object Properties, not checked properties are keeped as disabled.

### Actual behavior
When show_opt_in is enabled, property not required that are not checked are shown as disable.
If I click on Object Proper

[2019-10-14 13:46] dibericky commented on #561
@pmk65 I think that could be connected to that bug, but the one I reported happens when you click on Object Properties, the one you linked doesn't seems to refer to it.

[2019-10-15 15:55] #516 closed

[2019-10-15 16:01] pmk65 commented on #556
@schmunk42 I'll update the demos once the 2.x version have been published to npm. (The demos all use the library from jsdelivr so that one have to be updated first.)

[2019-10-15 16:04] pmk65 commented on #553
@zazasa I can't reproduce the problem on the Playground using the new 2.x version. So I guess that have been fixed during my refactoring of the editors.

[2019-10-15 16:06] pmk65 commented on #548
Solved in #560

[2019-10-15 16:08] pmk65 commented on #535
**Bump**

[2019-10-15 16:09] pmk65 commented on #443
Fixed in #559

[2019-10-15 16:14] pmk65 opened #563 "Selenium tests fails in Firefox"
### General information

Selenium tests fails in Firefox when using the custom CodeceptJS function `pressKey` function.
This used to work before so something have been changed in the test setup.
(I tested this by restarting the test on #551, which already passed the test. And after restart both the Firefox tests failed)

### Expected behavior

Test should pass in both Selenium Chrome and Firefox t

[2019-10-15 21:47] mirannda opened #564 "Preview image"
What is a good practice for a preview image field with watch?

[2019-10-15 22:02] pmk65 commented on #564
[Links keyword](https://github.com/json-editor/json-editor#hyper-schema-links) ?

[2019-10-15 22:58] mirannda commented on #564
Perfect, I really see the best practice, thank you very much once again.

[2019-10-16 08:07] marc7000 commented on #535
Done, but Travis CI build failed...
https://github.com/json-editor/json-editor/pull/565

[2019-10-16 18:53] pmk65 commented on #563
@schmunk42 I tried rewriting both helpers and tests without success. 😢
Maybe for now we should disable the Firefox tests?

[2019-10-16 20:04] skewty commented on #547
Please consider these conditionals as well:

[code]

[2019-10-16 20:09] skewty commented on #547
Is there any way to achieve this kind (or similar) configuration in JSON-Editor with the current implementation?

[2019-10-17 05:59] schmunk42 commented on #563
Looks stange, indeed.

Here it fails with a puppeteer error: https://travis-ci.org/json-editor/json-editor/jobs/598525839#L232

[code]

[2019-10-17 07:30] schmunk42 commented on #563
Aren't the error mostly different from each other? In my local tests, I also have issues with FF, but different ones.

These seem like timing issues, since I can 'fix' my local ones with `I.wait()` - but that should not be necessary. It's really painful to have them, since they slow down the tests everytime, would be better to wait for an element.

We might think about having an indicator to show

[2019-10-17 10:57] pmk65 commented on #563
CodeceptJS supports `async` and `await`. So if a function is defined with `async`, everything will run asynchronously. Except if a command is prefixed with `await`, then it will wait for this to complete.

The custom `pressKey` helper is defined as `async` and waits for the keypress to finish.

I did some testes in the last PR I made, and it looks like it chokes on `I.pressKey('Tab');` when it tri

[2019-10-17 14:45] skewty opened #568 "`options.infoText` doesn't work when using Bootstrap 3 or 4 themes"
### General information

- json-editor version: not sure as "json-editor.github.io/json-editor" doesn't seem to let me choose or show me the version it is using

### Expected behavior
(i) with the infoText is displayed

### Actual behavior

no (i) with infoText is display

### Steps to reproduce the behavior

Direct link to example: [link](https://json-editor.github.io/json-editor/?schema=N4IgJAzg

[2019-10-17 15:02] shibasish opened #569 "Type definition file available?"
I am using Angular 8. Is the type definition file available for this lib?

Thanks.

[2019-10-17 17:26] victoroliveira opened #570 "Error after update to version 2.0.0-alpha.0"
### General information
After update from version 1.4 to version 2.0.0, the error `Uncaught TypeError: Cannot set property 'disable_properties' of undefined` is shown during the initialization.

- json-editor version: 2.0.0-alpha.0

### Expected behavior

Expected to be compatible

### Actual behavior
Uncaught TypeError: Cannot set property 'disable_properties' of undefined

[2019-10-17 20:15] pmk65 commented on #568
No one have volunteered to update the Bootstrap themes, so currently the the 1.x themes are included.
Currently the only themes in 2.x format are the Spectre, Tailwind, HTML & Barebone themes.

Old themes will displays the text "This is an old JSON-Editor 1.x Theme and might not display elements correctly when used with the 2.x version" at the bottom of the form. See #450 and #439

[2019-10-17 20:29] pmk65 commented on #569
No, but you are welcome to create one and submit a PR. 😃

[2019-10-17 20:32] pmk65 commented on #570
The 2.x has a lot of breaking changes, so don't expect it to be directly compatible with the 1.x version without manually changing options to match the new setup. See #450

[2019-10-18 06:47] #570 closed

[2019-10-18 07:26] pmk65 commented on #535
For the next release we should remove these from `core.js`:

- IE9 Polyfill (If people want to use it wit older browsers, they can get a polyfill from https://polyfill.io/v3/ or similar)
- jQuery wrapper. (If someone needs this, they can create their own. Library works with jQuery without it)
- References to the old obsolete plugin system.
- Themes not in 2.x format. Maybe keep the latest 1.x them

[2019-10-18 07:42] schmunk42 commented on #570
@victoroliveira Additions to https://github.com/json-editor/json-editor/blob/master/UPGRADING.md welcome ;)

[2019-10-18 07:42] pmk65 opened #573 "Looking for volunteers to help update the Materialize/Foundation themes to 2.x"
Currently only the themes: Spectre, Tailwind, Bootstrap4, HTML and Barebones have been updated to the new 2.x format.

So if JSON-Editor should continue supporting the older themes, we need someone to update the Foundation 6 and Materialize themes to the new 2.x format.

If you are interested in updating one of the old themes, let us know and I'll help you with the updating.

[2019-10-18 08:02] schmunk42 commented on #569
CC: @amk0

[2019-10-18 09:26] germanbisurgi commented on #561
hi dibericky. this happens with json-editor@1.4.0-beta.0. With the master branch works perfectly and also with 2.0.0-alpha.0.

[2019-10-18 09:37] germanbisurgi commented on #561
@ pmk65 do we still develop/apply patches to 1.x.x?

[2019-10-18 10:08] pmk65 commented on #561
I only work on the 2.x.x version.

[2019-10-18 12:23] michielpost opened #574 "SimpleMDE on second tab only shows content after click/focus"
### General information
When I place a markdown property with a SimpleMDE editor on the second tab (using the categories format for tabbed layout) the content of the SimpleMDE editor is only shown after a click/focus.
It does works when the editor is on the first tab.

- json-editor version: 2.x

### Expected behavior
Markdown content is visible when selecting the second tab.

### Actual behavior

[2019-10-18 12:58] schmunk42 commented on #574
Likely an initialization issue with the editor CC: @germanbisurgi we had that with other editors too

[2019-10-18 14:37] pmk65 commented on #574
@michielpost Strange. In Firefox,the above test link works perfectly with editor in both Tabs.  But when using Chrome the error described is present.
Do you use Chrome? If yes can you try testing it in Firefox too and see if it works then.

[2019-10-18 14:43] pmk65 commented on #574
Looks like a persistent SimpleMDE bug. (The links below also has suggestions on how to work around it, but none looks to be 100%)
https://github.com/sparksuite/simplemde-markdown-editor/issues/344
https://github.com/sparksuite/simplemde-markdown-editor/issues/596

[2019-10-18 15:35] michielpost commented on #574
Thanks for looking into this. A colleague of mine also wrote some javascript to work around this issue:
[code]

[2019-10-18 16:46] #564 closed

[2019-10-18 18:08] skewty commented on #568
and see #573

[2019-10-18 18:23] odurbalau commented on #568
@skewty I will look into this as per our internal sprint task COM-369 as soon as I am able.

[2019-10-19 11:08] pmk65 commented on #535
@schmunk42 If I create a PR with 1-3, should I just comment out the inclusion of IE9 Polyfill and jQuery wrapper and keep the files in src? Or remove them completely?

[2019-10-19 14:32] pmk65 commented on #574
Unfortunately that approach isn't 100% either, as tabs can be inside other tabs. And also the attribute might not be available in all themes.
There is a codemirror addon that could be used in these cases. http://codemirror.net/doc/manual.html#addon_autorefresh
But I don't know how to load in in combination with SimpleMDE other than creating a custom build.
(I could rip the code and implement it di

[2019-10-19 15:14] pmk65 commented on #574
@michielpost I have ported the code from the codemirror addon and created a PR #575 that should fix the problem.
To enable it, you need to set the SimpleMDE option `autorefresh` to true, for the property.

[2019-10-19 15:22] #563 closed

[2019-10-19 16:42] michielpost commented on #574
Cool, thanks! I'll wait for that PR to merge and then use that.

[2019-10-20 19:01] #548 closed

[2019-10-20 23:38] #574 closed

[2019-10-20 23:39] #556 closed

[2019-10-20 23:40] pmk65 commented on #561
@germanbisurgi can we close this if 2.x.x fixes the problem?

[2019-10-20 23:41] pmk65 commented on #505
@germanbisurgi Is this fixed in the 2.x.x version? If so we can close this.

[2019-10-20 23:41] #443 closed

[2019-10-20 23:50] pmk65 commented on #240
New 2.x themes now uses Style Rules

[2019-10-20 23:50] #240 closed

[2019-10-21 11:57] pmk65 commented on #488
@sirockin So what's the next step, now we have an alpha version? Transpile code to ES2016?

[2019-10-21 12:02] pmk65 commented on #490
Maybe useful: https://github.com/marharyta/webpack-boilerplate

[2019-10-21 18:25] pmk65 commented on #459
@wclssdn Can we close this issue now?

[2019-10-21 18:27] #209 closed

[2019-10-21 18:28] #79 closed

[2019-10-21 18:54] stroebjo commented on #573
I probably could look over the Bootstrap 4 theme if you can guide a bit, where I have to look in the code base (`themes/bootstrap4.js` file?). Though I'm not quite sure how big of a task this is…

[2019-10-21 19:11] stroebjo opened #578 "Webpack require() into own variable?"
### General information

- json-editor version: 2.0.0-alpha.0

I have a WebPack Setup ([laravel-mix](https://github.com/JeffreyWay/laravel-mix)) and also I use the other [JSON Editor](https://github.com/josdejong/jsoneditor) in my project. Since both libraries use `JSONEditor` as name I imported them like this:

     window.JSONEditor = require('jsoneditor');
     window.JSONEditorForm = require('

[2019-10-22 03:33] wclssdn commented on #459
@pmk65 Yes i think so.

[2019-10-22 03:33] #459 closed

[2019-10-22 12:00] germanbisurgi opened #579 ""json-editor version" dropdown in interactive page"
It would be great to have the possibility to switch between versions of the json-editor in the interactive table.

[2019-10-22 12:14] pmk65 commented on #573
@stroebjo
1) The biggest difference is that themes now uses **Style Rules** instead of **Inline Styles**. So you define the selectors/classes in the Style Rules and uses those to style the various elements. See #439. A good start would be to convert all the Inline Styles to Style Rules.
2) Use the `Spectre` theme as reference as this is currently the best working theme and also uses another new fe

[2019-10-22 12:39] pmk65 commented on #579
There's one "problem" with doing that. Someone will have to (remember) to update it every time we create a new release.
In the Playground page I added a quick way to override the CDN libraries, where you just change the URL manually in the top of the  `dist/demo.html` file. So my local clone of the Playground uses the current local build of JSON-Editor.

[2019-10-22 13:11] germanbisurgi commented on #561
this works in 2.x.x. For me it can be closed

[2019-10-22 13:24] #561 closed

[2019-10-22 13:26] #553 closed

[2019-10-22 13:28] #505 closed

[2019-10-22 15:17] shibasish commented on #569
I would love to do that. TBH, I am new to this TS and Angular world. Any suggestions on getting started? Googling is kind of making me confused about how to get started. Thanks.

BTW @schmunk42 great lib.

[2019-10-22 15:57] skewty opened #580 "DescribedBy Editor doesn't validate referenced properties (they are always valid)"
Here is an example using your "Property for Sale" schema with a few validation requirements:

[Link to Json_Editor Interactive with issue](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgTwA4FM4C5bAPYCMArVAY3jgBpIY54BLeAG3WCzgAUAnHNDpKAMxwcoAZQCGTClWzIuPOqgDOmKOGgwZc1L0QA5MQFtmWNRo00Ux7IvgdaEAOZT1ZmvUktsnbtr76jzmbUwAAmSsR2yHQ4ECpwACoAFqhQEIYpOPxQ8MlQsj46UHio9g5QijgMIYFBcAb2ADK

[2019-10-22 20:48] pmk65 commented on #580
Fixed in #581

[2019-10-22 20:53] stroebjo commented on #573
@pmk65 thanks for the tips!

Can you also point me in some direction on how to set up a local dev environment (the information in `CONTRIBUTING.md` seems a bit out of date, there is no `npm start` in the current `package.json`?).

I found the `npm server-test` but opening the `docs/index.html` seems to load all assets from a CDN. Can I produce the example page you linked locally?

[2019-10-22 21:18] pmk65 commented on #573
@stroebjo In the 2.x version we have switched from using Grunt to NPM scripts. And we really need to get various documentation up-to-date. 😁

But you can type `npm run` to get a list of available scripts/commands. (Use `npm run <command>` to run a script/command)

`npm run watch` will monitor the `src` folder for changes and update the lib whenever a change is detected.

The Playground is in a dif

[2019-10-22 22:16] #580 closed

[2019-10-22 23:22] pmk65 commented on #579
I looked at the network data at https://www.jsdelivr.com/package/npm/@json-editor/json-editor and we could "hack" into their API. As calling https://data.jsdelivr.com/v1/package/npm/@json-editor/json-editor will give back a JSON object, containing a list of all available versions on CDN.

[2019-10-23 02:09] hybtalented opened #583 "the `extends` and `allOf` options did't work if it was reference in the definitions"
### General information

- json-editor version:  latest release

### Expected behavior
when I reference a definition with `extends` or `allOf` options in another definition, the `extends` or `anyOf` schema should be extended.
### Actual behavior
the `extends` or `anyOf` in `item1` (see below) schema are not  extended to `item2`.
### Steps to reproduce the behavior

Direct link to example: https://

[2019-10-23 07:14] schmunk42 commented on #573
@stroebjo We thought about taking on BS 4.x, with which one would you have started with? Just so, that we don't do double the work :smile:

[2019-10-23 07:19] stroebjo commented on #573
I would look at Bootstrap 4. I don't use any of the the other versions/frameworks so I couldn't really help there.

[2019-10-23 08:17] #579 closed

[2019-10-23 09:03] germanbisurgi opened #584 "remove_button_labels option"
I am working on the option to remove button labels but i want to discuss some points.

- different buttons use same icons like "edit JSON" and "properties". Here it is ease, just using another icon done that but the problem comes with arrays "delete all", and "delete last". Any idea how i can solve that? and do we need delete last?

- want to change delete icon from "X" to "trash can"  because its

[2019-10-23 09:15] pmk65 commented on #584
https://github.com/json-editor/json-editor#button-custimization ?

[2019-10-23 09:18] schmunk42 commented on #584
How about collapse-arrows in front of the title and ie. outlined?

Also button groups (see also corner-roundings) do not seem to match.

[2019-10-23 09:52] germanbisurgi commented on #584
@pmk65 Icon libs are ok.  I mean an option to declutter the editor from unwanted labels. and also update the icon placement and logic

[2019-10-23 09:54] germanbisurgi commented on #584
@schmunk42 did not understood what you mean with "+ item ,x last item should be (also) at the end of an array."  :/

[2019-10-23 10:02] pmk65 commented on #584
Personally I think we should reduce the iconlibs to a single iconlib, using a custom fontset generated by [Fontello](http://fontello.com/).
That way we can generate a custom fontset with only the icons we need. And if anyone wants to change them for a special project, they can modify the fontset using Fontello and change the icons.
I proposed that solution a while back, but there was no response s

[2019-10-23 10:17] pmk65 commented on #584
I think this is because the buttons is not placed inside the same button group or if an icon hidden, but still present in DOM. (CSS uses `:nth-last-child` or` :nth-last-of-type` to style the last button differently)

[2019-10-23 10:19] germanbisurgi commented on #584
@buttons are placed really bad. btn-groups with only one button inside h3.

[2019-10-23 10:32] pmk65 commented on #584
True. I don't like that layout either.

In the 2.x.x version we have introduced a lot of major changes, so I don't think a minor change like this would cause much problems.
Also we could provide several different Fontello fontsets to choose from. (You can even make a fontset with color icons)

[2019-10-23 10:43] pmk65 commented on #573
I have added a Bootstrap 4 Test Case to the Playground.

[2019-10-23 13:13] stroebjo commented on #573
I started to look at the basic form fields. Cleaned up radios and checkoxes (code at my feature branch: https://github.com/stroebjo/json-editor/blob/feature/twbs4theme/src/themes/bootstrap4.js).

Bootstrap also provides options on [sizing](https://getbootstrap.com/docs/4.3/components/forms/#sizing) the inputs and has an option for "[custom forms](https://getbootstrap.com/docs/4.3/components/forms/

[2019-10-23 13:24] schmunk42 commented on #573
@stroebjo Please continue, thank you!

[2019-10-23 17:04] pmk65 commented on #573
Yes. Take a look at the `Spectre` theme and see how the options is used/implemented.

Also you can remove the default rule `div[data-schemaid="root"]:after` if you want to get rid of the red warning text message at the bottom of the form. 😉

[2019-10-23 21:13] Lilwolf opened #585 "array and minItems/maxItems not being required"
### General information
setting minItems / maxItems on an array has no use.

                  "color":
                  { "type": "array",
                    "items" : { "allOf": [
                      { "type": "array",
                        "minItems": 2,
  						"maxItems": 2,
                        "items": [
                          { "type": "number"},
                          { "fo

[2019-10-24 11:28] germanbisurgi commented on #584
@pmk65 thanks so much for the test case page. I use it to test how layouts and icons behave in multiple themes. And i found tons of little hidden bugs.

However i need to know wich themes and icons should i omit in the process. I omitted jqueryui and bootstrap2 (both theme and icons). How about foundation?

Work is almost done

[2019-10-24 11:56] pmk65 commented on #584
@germanbisurgi If we proceed with my Fontello suggestion, we only need 1 (static) iconlib. And we can select characters from different fontsets or create custom icons if needed. (I created a custom font for a project I worked on, where some icons where made by overlaying different chars on top of each other to create multiple display variations.)

Otherwise I would drop the iconlibs for: Bootstrap

[2019-10-24 12:09] pmk65 commented on #584
The Spectre theme I made from scratch (Mostly to get to know the Theme functions)
This is the first theme with the Inline `Style Rules` and Theme `options` have been implemented. (Top of theme file)

The `options` are optional (Only `disable_theme_rules` is required) and can be used to set various options in theme functions, that changes the look of the display. (borders, margin etc.)

The `Style

[2019-10-25 07:29] martin-g commented on #230
The example in https://github.com/json-editor/json-editor/issues/127 works fine for Angular 8.

[2019-10-25 10:30] germanbisurgi commented on #584
PR #587

[2019-10-26 13:44] pmadril opened #589 "remove_empty_properties: true cause "TypeError""
### General information
On the simpleExample shown below, if remove_empty_properties is set true on options, adding an item throws `TypeError: Cannot convert undefined or null to object` on console and ABoolean doesn't appear on form.
- json-editor version:2.0.0-alpha.0

This error was introduced in commit 496a89ec55fe4064f83bad05c84ae1b3e1fcc2e2 #550
and is possible related to #131.

On line 1048

[2019-10-26 15:34] pmk65 commented on #589
@pmadril I have added your parenthesis changes in #590

[2019-10-26 17:07] pmk65 opened #591 "Better/working iMask support"
In 2.x i added a quick support for [iMask](https://imask.js.org/) in `src/string.js`
But I have discovered that iMask config format isn't very JSON-format friendly, as the mask can be a string, date object, number object, custom imask object, function or regular expression.
So the current implementation in JSON-Editor is really crippled as you can't use the complex masking types.

Example of an iM

[2019-10-26 17:25] pmadril commented on #589
Thank you very much.

[2019-10-28 07:35] intco commented on #591
instead of dealing with RegExp I think it is better to check against the window object:
(this also gives developers a free bonus so they can use any custom mask defined under the IMask namespace or whatever namespace they want).

[code]
see https://codepen.io/intco/pen/NWWvWNr for some quick tests

please note also that the syntax "for var prop in obj" is not the correct way to cycle object proper

[2019-10-28 08:02] germanbisurgi commented on #584
I would propose to add unique class names to editors elements instead of having complex css selectors in the future. That will make easier to make css rules.

[2019-10-28 10:02] pmk65 commented on #584
Problem is that classnames is defined/applied in the themes, So all themes have to apply the same classnames. Otherwise we would have to place some of the rendering logic in the editors.

[2019-10-28 12:11] pmk65 commented on #591
@intco Good idea. This works well for Date, Number and the IMask namespace, but fails when the mask is a regular expression.

[2019-10-28 16:58] intco commented on #591
@pmk65 the best option  IMO is to force user to define the regexp explicitly, something like a "regexp:" prefix. So you can check if is intended to be a regexp through strValue.indexOf('regexp:') === 0

[2019-10-28 17:30] pmk65 commented on #591
@intco That's funny. I was thinking of doing EXACTLY the same thing for the regexp masks. 😁

[2019-10-28 22:00] odurbalau opened #593 "DescribedBy doesn't work when "type": "array""
Here is a non working example using your "Property for Sale" schema:

[Link to Json_Editor Interactive with issue](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgS3gGwKZwFy2ABQE4D2ADmvkmgM5QBmh%2BUAygIbpwA0kMc8AnqVhzN8%2BZrw5ccyNAFtKg8MAAk%2BNDUFwAxAHoAJmsQRkiQhErbiRYgDF6LNsAC%2BnaDn01Dx0%2FODZwr7mBLElt8ewxfKH8YGJw%2BAUi4QgAjACs0AGN4CQCYnmQHbDgCEjI%2BWnomVgiXWMDg0nJEKgVJOpwGs

[2019-10-28 22:23] pmk65 commented on #568
I'm closing this as @stroebjo have updated the Bootstrap4 theme to 2.x format. See #588

[2019-10-28 22:23] #568 closed

[2019-10-28 22:44] pmk65 commented on #593
I think this have been fixed in current version. (Repo version, not CDN)

[2019-10-29 10:45] pmk65 commented on #584
@germanbisurgi Can we close this?

[2019-10-29 11:13] germanbisurgi commented on #584
yes

[2019-10-29 11:13] #584 closed

[2019-10-29 11:19] germanbisurgi commented on #591
i did not understood too much but i think that JSON.parse & JSON.stringify is what it need

[2019-10-29 11:32] pmk65 commented on #591
You can't use JSON.stringify on a regex object as it just returns an empty object.
But the current solution with regex prefixed with "regex:" seems to be the best way to do it without having to make too many changes to the IMask original config format.

[2019-10-29 12:00] pmk65 opened #594 "2.x Theme issues"
This thread is for discussions about limitations/issues with the current theme implementation in 2.x

- Do we need to extend current theme functions or add new ones to cover all theme features?
- Do we need to refactor some editors?
- etc.

[2019-10-29 12:02] pmk65 commented on #594
Add list of theme options for all themes that support it (Bootstrap4, Spectre & Tailwind) to documentation. (Same format as in #581 )

[2019-10-29 14:11] pmk65 opened #596 "New 2.x tests"
@pmk65  @schmunk42
I have time to write tests now. Since i went on vacation new features wer introduced. Could we make a list of features do you want me to tests? :)

_Originally posted by @germanbisurgi in https://github.com/json-editor/json-editor/pull/582#issuecomment-547396940_

[2019-10-29 14:20] pmk65 commented on #596
We should have some tests of the JavaScript callback functions using the `enumSource` property.
Here's an example of usage (primary_color property): https://is.gd/LCrQFN

[2019-10-29 14:33] schmunk42 commented on #596
This would be worth a look: https://codecept.io/plugins#puppeteercoverage - so we'd see what parts are not tested :)

[2019-10-29 20:09] coderofsalvation opened #598 "deleting items from array with anyOf-objects fails to update correctly"
### General information

- json-editor version:1.4.0-beta.0

### Expected behavior

schematype "array" with anyOf-objects should update correctly after deleting items.
It seems it just blasts the updated data into the array-editor without remembering which item is was which anyOf-object.

### Actual behavior

![anyOf](https://user-images.githubusercontent.com/180068/67804848-14a36d00-fa90-11e9-87c

[2019-10-29 22:15] pmk65 commented on #598
@coderofsalvation Have you tried the latest build?

[2019-10-29 22:26] coderofsalvation commented on #598
Hi Peter,

Thanks for your time/reply.
yes, I just checked, and the
problem persists even with 2.0.0-alpha-0

kind regards

On Tue, Oct 29, 2019 at 11:15 PM Peter Klein <notifications@github.com>
wrote:

--

Léon

/COMPANY

/WEBSITE

/MOBILE

/LOCATION

/COMPANYNR.

/TAGS

van Kammen

 2WA Labs & Consultancy

 2wa.isvery.ninja/hello

 +31 6 13499604

 Holland, EU, Galaxy 12B

 08124656

 Web & New

[2019-10-30 01:53] skewty commented on #593
@odurbalau please try this out tomorrow morning when you arrive and send me a Mattermost message with the results.

[2019-10-30 02:01] hybtalented opened #599 "multiple editor will create a link twice"
### General information

- json-editor version: 2.x

### Expected behavior
there is one link `google` in the form.
### Actual behavior
the JSONEditor create same link twice in the form
### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io/json-editor/

[code]

[2019-10-30 07:02] stroebjo commented on #594
__Checkboxes + compact view__
`getMultiCheckboxHolder()` has no `compact` Parameter like `getFormRadioControl()`, so I can't really distinguish on when to use the compact (horizontal) view and when not.

__More flexible panel layout__
I found the panel layouts a bit limiting. For TWBS4 I thought about using the card component, but I coudn't quite get it working after adding additional div-layers.

[2019-10-30 11:24] pmk65 commented on #599
This is due to "`type": ["number","string"],`. Changing it to a single string value will just render 1 google link.
And as array is a valid `type` property, then this is a bug. https://json-schema.org/understanding-json-schema/reference/type.html

[2019-10-30 11:38] pmk65 commented on #594
I'll start refactoring the multiselect editor and add functions similar to the ones I added for rendering Radio elements. This should solve the checkbox problems.

Do you have any ideas for improving this?

The file editor haven't been refactored so that's why you can't catch the `[type=checkbox|file]` in the current function. Usually you should be able to do it in the `afterInputReady` function,

[2019-10-30 11:51] pmk65 commented on #594
Looks like we are not the only ones with problems with hidden content.
https://stackoverflow.com/questions/52582990/bootstrap-4-navigation-tabs-content-not-showing-content-on-initial-page-load

[2019-10-30 13:30] pmk65 opened #602 "Refactor multiselect.js"
### General information

Checkbox rendering in multiselect is not Theme configurable enough. Functionality needs to match the Radiobox rendering functions.

[2019-10-30 13:36] pmk65 opened #603 "Refactor/rewrite upload.js"
### General information

The upload editor looks quite ugly in most themes due to the different browser layouts of `<input type="file">`

The best solution would be to hide the file input and then trigger it using a standard button. Example: https://jsfiddle.net/78ozymLv/

## New feature
It would also be nice to be able to configure it to use Drag'n'Drop to create a Dropzone, like this: https://co

[2019-10-30 13:39] pmk65 commented on #591
Added in #592

[2019-10-30 13:39] #591 closed

[2019-10-30 13:40] schmunk42 commented on #603
I'd stick with the default browser button by default. There's such much which can go wrong, eg. displaying filename/path on different OSes.

@marc7000 How did you use a custom uploader recently?

[2019-10-30 13:40] #528 closed

[2019-10-30 13:48] pmk65 commented on #603
1) You can't style the default upload element as it's rendered differently based on browser.
2) Some browsers shows just a button while others shows an input field + button or button + text.

Hiding it and then triggering it from another element (button) will give a uniform look in all browsers, like in the jsfiddle example I created. And the button/field styling will respect the Theme styling.

!

[2019-10-30 22:18] pmk65 commented on #585
Try the current 2.x version and see if the problem is still present.

[2019-10-31 09:17] marc7000 commented on #603
@schmunk42
https://github.com/json-editor/json-editor/issues/111#issuecomment-400331222

[2019-10-31 11:45] pmk65 commented on #603
@schmunk42 I'm talking about the code rendered by the editor, not the upload handler.

Spectre Theme:
![image](https://user-images.githubusercontent.com/478711/67944070-ddda6d80-fbdb-11e9-9b08-817d09129574.png)

Bootstrap 4 Theme;
![image](https://user-images.githubusercontent.com/478711/67944104-f5195b00-fbdb-11e9-931e-f67941c2d01d.png)

As you can see from the screenshots, buttons doesn't use th

[2019-10-31 11:53] schmunk42 commented on #603
IMO we should not change the style by default. It should be easy to apply the changes you mentioned.

My comment to Marc was about a drag&drop upload handler

[2019-10-31 11:57] schmunk42 opened #605 "Run headless and optional tests in separate Travis Jobs"
### General information

- json-editor version: 2.0.0-dev

### Expected behavior

Test results should be separated into browsers (4x), headless and optional.

### Actual behavior

headless run before browser tests.
optional after_script

### Steps to reproduce the behavior

see travis

[2019-10-31 12:11] pmk65 commented on #603
You can't style the default upload element, that's the point. So if you want a nice form with uniform styles, the only way is to use the Button editor and then create custom callbacks to handle the uploads. (Not sure how many people knows how to do that. And it would also require several additional fields in the schema properties.)

I just want to replace/hide the upload field and then use standar

[2019-10-31 16:53] pmk65 commented on #603
In #607 I have added custom buttons/display field + the ability to use Drag&Drop uploading.

Currently the element container is used as DropZone, but that can easily be changed.
One idea is to use the "Info Editor" to insert a custom HTML element, and then in the "Upload Editor" config, set the dropzone to the HTML element. That would allow flexible layouts.

[2019-10-31 19:10] Lilwolf opened #608 "remove theme error displayed?"
### General information
I'm trying to add a theme to an editor.  Is there a place / example of the new themes?  all the examples I'm seeing online are the old ones that show the "This is an old JSON-Editor 1.x Theme and might not display elements correctly when used with the 2.x version" at the bottom of the form output.
I am hoping to find a location for any theme that works with 2.x... or the ab

[2019-10-31 19:28] pmk65 commented on #608
See #450 and #573

[2019-11-01 15:39] Lilwolf commented on #608
Thanks!

[2019-11-01 15:44] Lilwolf opened #609 "Object Properties always set with tailwind theme."
### General information

2.x theme tailwind selects all Object Properties, even if the initial value only contains a subset of what's in the schema.  This works fine if I change it to foundation5 (not sure if this is a theme issue or a 2.0 theme issue.  I'll try and test the others.

- json-editor version:

### Expected behavior

When setting an initial value, that is a subset of the schema, I wou

[2019-11-01 17:35] Lilwolf commented on #609
Spectre is working as expected.  Seems like it's tailwind specific..

[2019-11-01 23:51] pmk65 commented on #609
@mirannda Can you take a look at this?

[2019-11-02 13:36] mirannda commented on #609
@pmk65, @Lilwolf

I see no problems, follow an example

https://is.gd/lh6bay

[2019-11-02 13:57] pmk65 commented on #603
Here's a list of options have added so far:

| Option             |  Description
| ------------- | ---
| title    | Title of the Browse button. (Default: **Browse**)
| auto_upload  | Trigger file upload button automatically (Default: **false**)
| hide_input    | Hide the Browse button and name display (Only works if 'enable_drag_drop' is true) (Default: **false**)
| enable_drag_drop   | Enable Dra

[2019-11-02 19:14] pmk65 commented on #603
**Elements in container:**

- Header
- Description
- Text input element - for holding base64 data. Hidden
- File input element - for file upload. Hidden
- Browse button - Trigger File input element. (Can be hidden in some setups)
- Name display - for displaying the name of file, emulating the File input element (Can be hidden in some setups)
- DropZone - for drag &drop uploading. (Can be hidden in

[2019-11-03 19:51] pmk65 commented on #594
@stroebjo I made some modifications to the upload editor #607 which should make it easier to customize.
Currently it uses AStyle Rules set from the editor itself, but those should be moved to the themes. Also if there's need for extra theme functions for upload, we can create/add them now.

[2019-11-04 16:35] WilliamsJack opened #610 "Optional dependent fields not displayed when omitted from setValue JSON"
### General information

- json-editor version: 2.0.0-alpha.0

### Expected behavior
Optional dependent fields should appear when their dependency is met.
For example, selecting "Enable Arduino" (under "Arduino") in the example linked below should cause the additional fields "port" and "baud rate" to be displayed.
### Actual behavior
Only "required" fields are displayed. Optional dependents are no

[2019-11-04 19:08] adambrakhane opened #611 "Suggested theme error changes"
#608 #450

# Question
Are we sure this error is working as expected? The only thing I have included on my page is the script as detailed in the "Using a CDN" section: `<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>` and I still get this error. Even the demo linked in the readme displays the error: https://json-editor.github.io/json-edito

[2019-11-04 19:11] adambrakhane commented on #611
Actually, how do you even hide it with CSS? What selector would I use? It looks like it's just appended at the end of the div that contains the whole editor. How do I select that text without adjusting the editor?

[2019-11-04 23:45] pmk65 commented on #611
@adambrakhane Reason for this is that the new 2.x version introduced a lot of changes See #450 . We plan to reduce the number of available themes to the ones that are updated to 2.x format.
Currently only Spectre, Tailwind and Bootstrap4 themes have been updated. (We need volunteers for updating other themes. See #573 )

Just add this to your CSS setup.
[code]

Note: Any errors/problems using the

[2019-11-04 23:49] pmk65 commented on #611
It is only displayed if you use one of the themes that haven't been updated.
Using one of the old themes affects both users and developers.
And if you really want to use one of the older themes you can help out by updating it to 2.x format 😉

[2019-11-04 23:57] pmk65 commented on #609
@mirannda I'm not sure what the problem should be and @Lilwolf haven't posted an test example yet.
But I did notice another 'error' in the Tailwind theme.
Example: https://is.gd/BayRMr
Click the "Properties" button and then turn off the "Book" property. Then you end up with a small box with vertical scrollbars.
![image](https://user-images.githubusercontent.com/478711/68167847-42dced00-ff67-11e9-8

[2019-11-05 05:03] WilliamsJack commented on #610
Alternatively, is there any way to select everything in the object properties menu automatically? This has the desired effect of showing the dependents when the dependency is met:

All object properties selected, dependency unmet:
![image](https://user-images.githubusercontent.com/30068301/68179864-a279dd80-ffe5-11e9-9c6b-6848eb9c9c14.png)

All object properties selected, dependecy met:
![image](h

[2019-11-05 07:44] schmunk42 commented on #610
Did you try `show_opt_in`?

See example in new demo: https://is.gd/1k1BJg

@pmk65 It's missing in the old demo.

[2019-11-05 09:48] WilliamsJack commented on #610
Hey schmunk, thanks for your reply. :-)

Unfortunately, I think `show_opt_in` has the same issue. The reason it's not working is that some initial value has been set with `setValue`, which omits the fields I want.

Is it working for https://is.gd/1k1BJg because there is no `setValue` for that demo? Correct me if I'm wrong but the only input there is the schema, so it is working as expected anyway

[2019-11-05 09:54] germanbisurgi commented on #605
Would be ok of we use stages?

stages:
  - unit
  - e2e (in parallel with matrix)
  - e2e-optional

[2019-11-05 11:40] WilliamsJack commented on #610
https://github.com/json-editor/json-editor/blob/master/src/editors/object.js#L1176

On setValue, if a property is not required it is removed. Removing this line resolves the problem I discussed.

This patch works for our needs, but it's probably not suitable for the upstream repository:

[code]

[2019-11-05 12:18] schmunk42 commented on #610
CC: @pmk65 @germanbisurgi

[2019-11-05 13:03] schmunk42 commented on #605
The second part would be the right thing to do.

[2019-11-05 14:24] germanbisurgi commented on #605
PR #614

[2019-11-05 17:02] adambrakhane commented on #611
Interesting. I'm using the bootstrap4 theme: `JSONEditor.defaults.options.theme = 'bootstrap4';`

[2019-11-05 18:10] pmk65 commented on #611
@adambrakhane It's only the Bootstrap4 theme in the current build that have been updated (updated by @stroebjo ).
(Still work in progress.)
The CDN version is only updated when we create a release.

[2019-11-06 15:28] Lilwolf commented on #609
Sorry, I had to move on before I could get a simpler case to show.  I'll try and replicate it today.  I found the same when adding a Spectre icon (JSONEditor.defaults.options.iconlib = 'spectre';) but only after having a super complicated schema.  (ie, comment out the iconlib, and everything works as expected, add it and it's gone)... Unfortunately, for work, I'm not working in a full browser, but

[2019-11-07 00:03] pmk65 commented on #111
It's because the `controlgroup` is not defined. The controlgroup defines which element to place the error message. Without it no error message.
This have been fixed in #607 #607

[2019-11-07 07:32] DineshBhudia opened #616 "Is there a way to input previously generated json data and have the editor populate the fields?"
I would like to know if there is any way to directly input json data and have the editor populate the fields so that the user can edit existing json data.

[2019-11-07 08:58] WilliamsJack commented on #616
There are a few ways to do this. You could set the data when you create the editor using the option `startval` like so:
[code]

Or you can set it after creation using `setValue()`:
[code]

`myJsonObject` should be valid against the editor's schema.

[2019-11-07 11:54] coderofsalvation commented on #598
I've been able to isolate the problem further:

https://codepen.io/coderofsalvation/pen/abbGEMV

As you can see, the selected item _'object was created 2'_ suddenly flips back to _'object was created 1'_ as soon as an item was deleted.
Any idea how to fix this (schema) or bug?

![jsoneditor](https://user-images.githubusercontent.com/180068/68387075-bf392100-015d-11ea-82fa-a9286d1f47b0.gif)

[2019-11-07 18:35] DineshBhudia commented on #616
Thanks for this, but can I  just ask where would I get the start value from? Where would I paste the json data for it to be read by the editor?

[2019-11-07 19:07] pmk65 commented on #616
I suggest you take a look at some of the examples or read the documentation.

[2019-11-07 19:32] VasiliDarozhkin opened #617 "Is there a way for a field to depend on a something outside the parent editor."
Hello!

Right now I am able to set a dependency based on another field inside one editor.
Is there a way to set a dependency based on
 - global state (for example window.some_variable)
 - another editor state (for example `editor_2.someField = 'value'`)
?

Thank you!

[2019-11-07 20:18] pmk65 commented on #617
There's no functions for doing something like that. AFIK.
But you could create a 'hack' solution. If you In `editor1` you have a field that when changed should change something in `editor2`.

1) In `editor2` add a hidden field with dependencies.
2) Add a change event to the field in `editor1` that when triggered, call `editor2` setValue to update the hidden field.

[2019-11-07 20:25] pmk65 commented on #610
At the "Schema" Tab there's 2 fields. the 1st is the `schema` date and the 2nd is the `startval` containing any initial value. (Same structure as the content of the "Output" Tab, so you can copy it over if you want.)

If you need to make a test using `setValue()`, you can add custom JavaScript code on the "JavaScript/CSS" Tab.

[2019-11-07 20:27] pmk65 commented on #598
I don't use `allOf`, `anyOf`, `oneOf` or `extend` myself, so I have limited knowledge of that part of the code. But maybe @hybtalented can help? He seems to have more insight in that part of the code.

[2019-11-07 20:28] pmk65 commented on #603
Test example: https://is.gd/Yupe8V

[2019-11-07 21:50] VasiliDarozhkin commented on #617
@pmk65 Hm, you're right, it might do the trick 👍
Thank you!

Should I close the issue?

[2019-11-07 23:37] pmk65 commented on #617
I looked at the editor properties, and it looks like it's possible to inject stuff into the editor `watchlist` property.
See example here (Turn on console in browser): https://is.gd/fs27LC

The `watchlist` is an object with the field as key (ie. "root.billing" and an array object containing the function(s) to execute. In the example I just inject a 2nd function into an existing watch field (1st on

[2019-11-08 00:37] coderofsalvation commented on #598
@hybtalented do u think https://github.com/json-editor/json-editor/pull/615 is related to this?

[2019-11-08 06:11] hybtalented commented on #598
@coderofsalvation
It look the schema works alright at https://is.gd/8UqKLd

[2019-11-08 10:09] DineshBhudia commented on #616
ok I have now managed to wire the up editor so it can read the json data but it throws an error for the array items. Which says "Array must have unique items"?

This is my schema:

{
    "id": "bullet",
    "properties": {
        "bullet": {
            "title": "Bullet",
            "oneOf": [
                {
                    "title": "bullet text",
                    "properties": {

[2019-11-08 11:03] niebert commented on #616
You can also load a JSON from the local file system with [`LoadFile4DOM`](https://www.gitlab.com/niehausbert/loadfile4dom) apply a `my_json = JSON.parse(my_loaded_file.json)` with try-catch and  set edtior `editor.setValue(my_json);`. This allows that uses can populated a web front end with the `jsoneditor` with there own data. See [LoadFile4DOM-examples](https://niehausbert.gitlab.io/loadfile4dom

[2019-11-08 11:08] niebert commented on #616
With `FileSaver.js` you can save the content with
[code]
and let the user save the file with `FileSaver.js` by Eli Grey to the local filesystem (see [AppLSAC](https://en.wikiversity.org/wiki/AppLSAC)

[2019-11-08 15:19] coderofsalvation commented on #598
Thanks for checking this.
Eventually I found out that dynamic multi-nesting of oneOf's, will require __extra hinting__ (using `pattern`)  for the editor to rebuild array's properly (after add/delete-actions).
Here's how I solved it:

[code]

## another example

The scenario below can happen when dynamically loading oneOf-schemas (in my case).
To prevent the editor from getting confused, here's how

[2019-11-08 15:19] #598 closed

[2019-11-08 15:49] VasiliDarozhkin commented on #617
Cool, @pmk65, thanks a lot!
I will try these solutions today, then will comment which worked and close the issue

[2019-11-08 16:43] pmk65 opened #618 "links are placed AFTER the description"
### General information
When creating a element with format "url", the link is placed "outside" the content, after the description.

- json-editor version: 2.0.0.alpha.1

### Expected behavior
Link to be placed before the description line.

### Actual behavior
Link placed after the description line

### Steps to reproduce the behavior

Direct link to example: https://is.gd/hdD3nr

[code]

The prob

[2019-11-11 06:50] #583 closed

[2019-11-11 10:10] #111 closed

[2019-11-11 10:18] #603 closed

[2019-11-11 12:15] #589 closed

[2019-11-11 12:26] pmk65 commented on #248
Looks like this have been fixed. @hybtalented can you confirm this (It's probably one of your PRs that fixed it 😁 ) ?

[2019-11-11 15:46] VasiliDarozhkin commented on #617
So, all in all, I was able to get what I wanted by combination of
 - watch
 - getEditor(key)
 - setValue
methods.
Everything worked pretty well, I just followed the examples Peter Klein provided

Thank you!

[2019-11-11 15:46] #617 closed

[2019-11-11 18:12] Lilwolf opened #621 "Yes, a long shot... But... Can you override the color editor?"
### General information

Not a jsoneditor bug, but a cef bug...  java CEF in windows hasn't implemented an implementation of input type="color"...  Ugh...  I just moved from webview to cef to fix a bunch of other issues that were only happening there...  But this might be an impasse...

Can you override what happens when you click a color?  For instance, the spectrum color editor (https://bgrins.g

[2019-11-11 18:28] pmk65 commented on #621
@Lilwolf The latest build (not the CDN version) now has support for "[Vanilla Picker](https://vanilla-picker.js.org/) - A simple, easy to use vanilla JS color picker with alpha selection" This will be used instead of the default color picker.
There's an example (colorpicker.html) in the `docs/` folder.

[2019-11-11 20:11] Lilwolf commented on #621
Are you talking about the latest from the master branch?

Is the only way to change them to change the schema?  I'm wondering if there is a way to change it for all colors by default?

And do I need the alpha version?  Or is it used whenever you use the colorpicker?

            'options': {
                'colorpicker': {
                  'alpha': true
                }
              }?
Thanks!

[2019-11-11 20:31] pmk65 commented on #621
Yes.

You might be able to set the options globally if you set them using `JSONEditor.defaults.options.colorpicker` (I haven't tried) instead of using the schema options.
Both the global and schema options acts as a wrapper for the plugin options. `alpha` is one of those and is not really related to JSON-Editor itself. See https://vanilla-picker.js.org/gen/Picker.html#setOptions__anchor for a list

[2019-11-12 17:48] pmadril commented on #589
Sorry for the delay, I was in a travel all the past week, just read mails today. I apologize, I must have pay more attention.

[2019-11-12 21:39] Lilwolf commented on #621
Got it working today!  THANKS!  I'm seeing the color as a value (#FFFFFF) instead of the previous current color box in the editor (using Spectre theme).  But the editor itself is working great!

After getting this working... I found that jcef has problems with drop downs...  but this is officially an cef issue.

Thanks for your help!

[2019-11-13 05:33] faraazbh opened #622 "Unable to load Form for $ref values"
### General information

Form is not loading for below schema with $ref values

Consider below JSON Schema:
`{
  "type": "object",
  "id": "urn:jsonschema:swift:drivers:nms:traffic:tunnels:core:complexParams:BidirectionalELSPCosParams",
  "properties": {
        "mainAcosParamsELSP": {
      "type": "array",
      "items": {
        "type": "object",
        "id": "urn:jsonschema:swift:drivers:nms

[2019-11-13 09:48] DineshBhudia commented on #616
I've managed to get this working now but the only problem is that when I try to populate the editor's  UI it changes my original structure and produces something different?

[2019-11-13 11:32] pmk65 commented on #616
@DineshBhudia Please provide a live working example at the [Playground](https://pmk65.github.io/jedemov2/dist/demo.html) if you want help. Without that it's impossible debug.

[2019-11-13 11:36] pmk65 commented on #622
@faraazbh Your direct link provided doesn't work. It just shows the main page of the shorturl service.
Also you haven't provided a version number which makes it hard to determine which version you are using and/or if the problem already have been solved.

[2019-11-13 11:38] #558 closed

[2019-11-13 11:38] #569 closed

[2019-11-13 11:38] #608 closed

[2019-11-13 11:38] #611 closed

[2019-11-13 11:38] #621 closed

[2019-11-13 11:38] #220 closed

[2019-11-13 11:38] #230 closed

[2019-11-13 11:38] #289 closed

[2019-11-13 11:38] #298 closed

[2019-11-13 11:38] #441 closed

[2019-11-13 11:38] #442 closed

[2019-11-13 11:39] #156 closed

[2019-11-13 11:39] #163 closed

[2019-11-13 11:40] #585 closed

[2019-11-13 11:46] pmk65 commented on #547
In 2.x you can use JavaScript callback functions instead of templates, which makes it more usable.
Also there's the special "DescribedBy" editor that can be used to hide/show dependencies (Works differently than the `dependencies` option) This might be what you are looking for?

@skewty you are welcome to create a PR if you feel you can improve the library.

[2019-11-13 11:51] faraazbh commented on #622
@pmk65 I've updated the link. Also you can copy paste the schema i've provided, form isn't generated for all the properties. Problem is reproduced on version **2.0.0-alpha.0**  as well as **1.3.5**

[2019-11-13 12:48] pmk65 commented on #622
It might be related to #8

[2019-11-13 13:09] #415 closed

[2019-11-13 13:14] #61 closed

[2019-11-13 13:14] #14 closed

[2019-11-13 13:15] #157 closed

[2019-11-13 13:16] #51 closed

[2019-11-13 13:17] pmk65 commented on #37
Closed due to lack of feedback

[2019-11-13 13:17] #37 closed

[2019-11-13 14:00] DineshBhudia commented on #616
Ok Ive added the JSON schema [Playground](https://pmk65.github.io/jedemov2/dist/demo.html) to the link but I can't seem to upload the 3 pages that are loaded via ajax?

[2019-11-13 14:15] pmk65 commented on #616
The Playground page unfortunately doesn't allow uploading of additional files. 😢 (It's a GitHub page).
But you can clone the [Playground repository](https://github.com/pmk65/jedemov2) to create your own Playground page and then add the additional files.

[2019-11-14 07:50] coderofsalvation opened #624 "sceditor-integration does not work (or docs outdated?)"
### General information

- json-editor version: latest (2.0.0-alpha)

### Expected behavior

the README.md mentions sceditor-usage like so:

[code]

### Actual behavior

The default textarea appears.

### Steps to reproduce the behavior

Direct link to example: https://is.gd/iUU405

[code]

[2019-11-14 09:12] DineshBhudia commented on #616
Ok I think I have found out what the problem is. Basically if you try to edit the JSON data via the JSON edit btn and the changes require the loading of additional schema files via ajax then these call won't happen so it won't be able to populate the UI on the editor. I've tried removing the ajax calls and it seems to work ok.

[2019-11-14 11:04] pmk65 commented on #624
There have been some changes in how the editors are configured. Check UPGRADING.md and README_ADDON.md
You are also welcome to submit a PR to update the info in README.md.

[2019-11-14 13:58] pmk65 commented on #616
Why don't you just read data into the editor like @WilliamsJack suggested? That's the proper way to do it.

[2019-11-14 14:31] DineshBhudia commented on #616
I did try but as there are schema pages being loading in via ajax it wouldn't read the json data properly.

[2019-11-14 14:54] pmk65 commented on #616
Wait for the "ready" event to fire before you load data into the form using AJAX, then it should work.

[2019-11-14 15:31] DineshBhudia commented on #616
I did wait for the ready event before setting the value but as a test I just pasted all the JSON data into the data variable directly just to see if that would work but it didn't'. So is the issue that I didn't load the data via AJAX?

[2019-11-14 15:45] pmk65 commented on #616
It sounds more like your data doesn't match the schema layout. (Data has to be in same format as the output format)
Here's a simple example: https://is.gd/B58vUm

[2019-11-14 15:56] DineshBhudia commented on #616
No it definitely is matching as I literally copied and pasted the JSON generated by the editor. I still feel it's a schema page loading issue. As there are several schema pages being loaded via AJAX I believe the AJAX call are not happening so the schema is not complete and therefore can't read the JSON. When I just use one page for the schema and don't load any in via AJAX it all works fine.

[2019-11-15 11:10] faraazbh commented on #622
I went over those issues, it doesn't look related. I've seen problems with form generation when references are involved. Basically most of the time, the form doesn't generate at all when there are $ref attributes in a schema

[2019-11-15 19:50] TimMensch commented on #127
For posterity, I'm pasting this below.

I had it in my `typings/@json-editor/json-editor` folder as `index.d.ts`. Put it there and you get types.

With a bit of work it could be included directly in the project to supply TypeScript types (hint hint). I ended up going down a different path and am no longer using `json-editor` at all, so I don't have the time to finish getting the types working for

[2019-11-15 22:58] pmk65 commented on #622
@faraazbh I think I know why as I ran into a similar problem a while ago.
The "id" property doesn't seem to work as described in the specs but is only used to set "data-schemaid" on the property.

You can get the `$ref` attribute to work if you restructure you schema a bit and use `definitions`.
This [example](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgTwA4FM4C5bAPYCMArVA

[2019-11-16 17:26] skewty commented on #547
I am totally open to it and have the ability to do some work on company time as we now use this project heavily in one of our offerings.  I admit my JavaScript isn't great (I work mostly in type hinted Python and TypeScript) and I get annoyed at JavaScript (as a language) more quickly than I should.

<rant>For me, it is like going into the past where all the daily comforts are gone and basic expec

[2019-11-18 10:28] faraazbh commented on #622
Currently, I'm using Jackson jars to automatically generate Schema from Java POJO directly. Need to see if changing the schema generation to include `definitions `  is possible or not

[2019-11-18 13:53] pmk65 commented on #622
What JSON Schema versions does your generator create?
JSON-Editor only supports v3 & v4.

[2019-11-19 10:27] faraazbh commented on #622
v3

[2019-11-21 16:07] kunalraj89 commented on #528
Can we not hide This Error Message in Old version?

[2019-11-21 16:34] kunalraj89 opened #625 "this is an old json-editor 1.x theme and might not display elements correctly when used with 2.x version"
### General information

- json-editor version:

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io/json-editor/

[code]

[2019-11-21 17:05] pmk65 commented on #625
See https://github.com/json-editor/json-editor/issues/611#issuecomment-549598478 on how to hide the notice. (Or use one of the 2.x themes)

Note: The 1.x themes will be probably be removed in next release if there's no volunteers to update them. Also we will/can not fix any bugs related to the 1.x themes,

[2019-12-03 16:23] Lilwolf opened #626 "Vanilla Picker - thumb nail shows rgb number, not the color"
### General information
Not sure if this is the only option.  Based on their website, there are some additional options...  But this seems to be controlled from json-editor.

But currently the color displays text "#000000" instead of showing the color square in black.

Is there an option to select the other?

NOTE:  I'm using Spectre theme.  I believe that theme normally would display the colors i

[2019-12-05 15:25] pmk65 commented on #626
Provide either a link to a working example or paste in your schema code. The ones you posted doesn't make any sense regarding your question.

[2019-12-05 20:19] Lilwolf commented on #626
I've updated the request.  Since the question wasn't really about json... but the optional vanilla color picker, it didn't seem as useful.

[2019-12-05 20:19] #609 closed

[2019-12-05 20:20] Lilwolf commented on #609
Was an issue with the browser, not the tools.  (javafx's webview has a bunch of issue.  Moved to jcef and many went away (but others were added).

[2019-12-06 13:33] pmk65 commented on #626
I think the colored box is rendered by the browser if the input type="color", which is probably why you don't see it if JCEF  doesn't support that type.
But you could use the VanillaPicker colorCallback() function to render your own custom colored square next to the input field.

[2019-12-06 16:20] Lilwolf commented on #626
This is new since 2.0 right?  Is there any examples of how to implement something like this?  (I'm pretty new to 2.0 stuff (was new to 1.x too... but... really new to 2.0).  I haven't found where the documentation / examples are for the new stuff.

[2019-12-06 16:33] Lilwolf commented on #626
wait... type="color" isn't standard.  type="string" format="color" has been the default.  Has this changed???  Let me try and see!

[2019-12-06 22:06] mlt commented on #610
I have similar issue. I don't want custom properties. Thus there is no way to add back removed empty property. So I went with
[code]

[2019-12-09 10:41] RenaudRabier opened #627 "Nested arrays of objects with differents definitions"
### General information

Hi there.

I've been trying to do it for some days now and I'm on the edge of giving up.

I try to add multiple items (object) with differents definitions in a array, but it seems that the describedBy function only works for the first item of the array.

Maybe I just don't understand how it's supposed to works.

- json-editor version:
@version "2.0.0-alpha.0"

### Expected

[2019-12-09 12:35] bishoymelek-zz opened #628 "How to use in Create-React-App Project?"
Any docs about how to use the package in Create-React-App?

I am getting an error that JSONEditor is not a constructor.

Thank you

[2019-12-09 13:04] pmk65 commented on #626
I looked at the colorpicker editor, and the `onChange` function is hardcoded, so it doesn't look like you can override it.

[2019-12-09 15:40] Lilwolf commented on #626
Thanks!  I'll give it a try!

[2019-12-09 18:31] pmk65 commented on #627
There have been some fixes for the `DescribedBy` editor lately. Try creating a custom library using the current Github branch.
Your schema is working for me using current Github branch.

[2019-12-09 18:36] pmk65 commented on #628
Maybe related to #578

[2019-12-10 10:02] RenaudRabier commented on #627
It works with current rev, thanks you!

However, the validation (uniqueItems / minLength / required ...)  doesn't works correctly on nested items.

For example I want to be sure that a value is defined (from an enum) for any added option (required) but the select still have an empty option.

Maybe i can remove this line with a watcher, I will try.

But I can deal with it anyway, it's not a big pro

[2019-12-10 10:25] #627 closed

[2019-12-10 12:13] pmk65 opened #629 "Bootstrap4 2.x Theme bug"
Running the newest code in master with the schema below results in the following bug where list items appear outside of the unordered list:

![image](https://user-images.githubusercontent.com/4391753/70480809-84484700-1a95-11ea-8535-9c15b291fa15.png)

[code]

_Originally posted by @odurbalau in https://github.com/json-editor/json-editor/pull/588#issuecomment-563481900_

[2019-12-11 13:33] mattferderer opened #631 "Can default error messages be changed in JSON Schema?"
I'm wondering if it's possible to use a custom error message specified in the schema instead of a default JSON Editor message.

My specific example is that I have a list of states in an array being used on a select list.

Instead of saying "Value must be one of the enumerated values." I would rather it say "Please select a state."

[2019-12-11 15:22] pmk65 commented on #631
A while ago I added support for custom error messages. But I think it was only for regex based messages.

[2019-12-11 17:08] schmunk42 commented on #631
I splitted some of the opt-in tests to see which part triggers the problem https://github.com/json-editor/json-editor/tree/feature/hardening-tests-191211

Locally it works, so it might be some weird timing issue.

@pmk65 Does it also work with puppeteer? Also this commit https://github.com/json-editor/json-editor/pull/623 passed in PR state but fails now on master.

[2019-12-11 17:31] pmk65 commented on #631
You can override the messages **globally**, but not for a single schema property.
[code]

[2019-12-11 17:34] mattferderer commented on #631
Thanks @pmk65. I did notice the global setting but that would cause confusing for select lists that don't deal with states. I also think our end users would squint in confusion at the phrase "enumerated values".

[2019-12-11 17:50] pmk65 commented on #631
@mattferderer I'm not a fan of the current error messages either. So if you have some better text for the messages, feel free to create a PR.
The problem is that a property can trigger several different error/messages. So it's not just a single error message you can override.

[2019-12-12 16:26] #629 closed

[2019-12-13 13:38] pmk65 commented on #610
@WilliamsJack Here's an updated example with buttons to trigger setValue. You can modify it to better illustrate the problem if needed.  https://is.gd/46hp0X

[2019-12-15 13:37] snipercup opened #634 "Optimal display of nested array"
### General information
- json-editor version: latest

### Expected behavior
I'm trying to find the optimal display of a nested array where all the items have a definition.
Ideally I would like to use grid so it shows body part and amount next to eachother on one line.

### Actual behavior
With this example a lot of whitespace is generated. I'd use tabs instead of table, but I would like to displa

[2019-12-15 14:57] pmk65 commented on #634
@snipercup You can't use `"format": "grid"` on arrays. Arrays only support the formats "tabs", "tabs-top" and default.
But you are right about the whitespace problem which is caused by empty button holder elements. Part of it can be solved with some CSS rules.
[code]

[2019-12-15 16:07] snipercup commented on #634
Thank you for your reply. I will try using the css rules and infotext and compact and close this issue if this meets the requirements.

I don't want to use tabs, I thought table is supported by arrays too? I could use tabs maybe if the header would display the first child of the nested array.

I'm using spectre in my application, if you change the example I posted to spectre it produces the same r

[2019-12-15 17:35] pmk65 commented on #634
Array support "table" format too, but not "grid". (I was looking at the Array.js source and forgot that Table.js extends Array.js)
In your example the "items" property is set to "format";"grid" and "type":"array" which won't work.

[2019-12-16 04:42] snipercup commented on #634
The reason I went for grid is because when I used table for the 'items' property, it 'forgets' its schema: https://is.gd/QLUPDA

That link is using the spectre css i'm using in my application but the theme makes no difference. Actually using tabs for the 'items' property produces the same result as using 'grid' so I might go for that.

[2019-12-16 11:02] i5heu opened #636 "const values not working"
### General information

- json-editor version: @version "2.0.0-alpha.0"

### Expected behavior
displayed value "bar"

### Actual behavior
all types in select

### Steps to reproduce the behavior
use json schema below

### Spec
https://json-schema.org/understanding-json-schema/reference/generic.html#constant-values

[code]

[2019-12-16 14:28] i5heu opened #637 "BUG - required property is not pre-checked"
### General information

- json-editor version: @version "2.0.0-alpha.0"

### Expected behavior
parameter "config" is pre-checked in DOM and the virtual state.

### Actual behavior
parameter "config" is pre-checked the virtual state BUT not in DOM.

### Steps to reproduce the behavior
click on the checkbox of parameter "config".

Direct link to example: https://jsbin.com/johalutehe/edit?html,outpu

[2019-12-16 15:36] schmunk42 commented on #636
We currently only support up to JSON schema v4

[2019-12-16 16:30] snipercup commented on #634
I experimented with your suggestions and it has improved somewhat but there is still much whitespace: https://is.gd/NAhpvn

I'm not sure what to expect from infoText, it does not display the info I put in at all.

I want to keep this issue open because I don't think I've reached a solution yet, i'd like to have the body_part and the amount on one line and each row would have only the minimum of ma

[2019-12-16 17:08] i5heu commented on #637
I think the commpiled version of the this.isRequired() function is the Problem, it returns an undefined on the third call.

The clear text version:

[code]

The compiled version:
[code]
The "t" variable is undefined on the 3 time it is called.

Cant find a fix for it.
I was first thinkig of a missing "this" but it is provided.

[2019-12-16 17:09] i5heu commented on #637
closed the issue by accident

[2019-12-16 21:30] pmk65 commented on #634
Looks like `infoText` can't be used if `compact=true` (but only for table layout)

From looking at the source output  of your example, it looks like there's a H4 tag (the one containing the buttons) placed wrongly. It's placed inside the TR tag, but not inside a TD tag.
This causes the huge whitespace gap after each array element.

[2019-12-16 22:22] pmk65 opened #639 "Release 2.0-beta-1"
ToDo before release:

1) Remove (comment out) inclusion of non-updated themes and iconlibs. #597
2) Fix as many of the issues marked `Bug` 😉

[2019-12-17 04:30] snipercup commented on #634
Thanks for helping. The CSS you provided makes it more compact so it's getting closer to what I want. However there's still the thing where I press new body part, it creates a empty div instead of the select box and input field I would expect. I can only work with a tabs format right now in combination with the duplicate item option since add does not work.

[2019-12-17 11:57] #637 closed

[2019-12-17 19:11] pmk65 commented on #624
Fixed

[2019-12-17 19:11] #624 closed

[2019-12-17 19:11] #618 closed

[2019-12-17 23:08] pmk65 commented on #605
can we close this?

[2019-12-18 12:30] germanbisurgi commented on #605
yes

[2019-12-18 13:14] #605 closed

[2019-12-20 20:13] mattferderer commented on #631
Just an update FYI.

I happen to be using this with .NET & already have their jQuery Unobtrusive validation included.

For my specific situation, I'm just adding the following to my schema:

[code]

Then I append an element like this after each input:

[code]

So far, with limited testing, this seems to work well with JSON Editor. I've turned JSON Editor errors off & just rely on this for validati

[2019-12-20 20:13] #631 closed

[2019-12-23 15:19] snipercup commented on #59
This is an interesting issue and I also support property sorting. What I would really like though is that the json Editor keeps the order the keys were in when they were loaded in. Currently, when json is provided to the json editor and the schema does not provide any property order, the editor decides on a new order by itself. In this case, I don't want to specify any order, just keep it as it wa

[2019-12-23 17:30] rejemy commented on #59
Sorry I'd forgotten this issue was still open. My version of json-editor has diverged a bit by this point and I'm pretty happy with it, and it sounds like you'd rather keep the current ordering, so I'm going to close this.

[2019-12-23 17:30] #59 closed

[2019-12-25 18:53] wsantos opened #643 "How do we create custom themes now with version 2.0"
### General information

How do I can create themes with the new 2.0.0 now that we don't have access to AbstractTheme ? Sorry the question here but I couldn't find any doc/wiki or issue explaining that.

[2019-12-25 19:58] pmk65 commented on #643
Doesn't this work?
[code]

[2019-12-25 20:03] wsantos commented on #643
That is how I'm doing basically but still receiving this error:

![image](https://user-images.githubusercontent.com/164633/71450011-2e3ff880-2751-11ea-90ce-b1c6b9651259.png)

My code:
![image](https://user-images.githubusercontent.com/164633/71450033-8414a080-2751-11ea-814d-c1a9bb1379f5.png)

![image](https://user-images.githubusercontent.com/164633/71450034-8971eb00-2751-11ea-8c89-932d131cf16c.pn

[2019-12-25 20:22] wsantos commented on #643
Here it's a jsfiddle with the same problem: https://jsfiddle.net/1omx7ufy/

[2019-12-25 20:24] pmk65 commented on #643
You also need to add your theme into `core.js`
First you need to input your theme.
[code]
And then in the `assignThemes` function, add your theme.
[code]

[2019-12-25 20:28] wsantos commented on #643
So I need to have a builder in place ('webpack') to be able to create custom themes ? can't I just load jsoneditor from cdn and create my theme class anymore ?

[2019-12-26 13:20] pmk65 commented on #643
I have never tried adding custom themes that way.
From looking at `core.js`, the `AbstractTheme` function needs to be available outside `core.js`, which can be done in similar way the `AbstractEditor` function. (I'll make a patch)

Then you define/load your custom theme like this:
[code]

[2019-12-26 13:31] pmk65 commented on #625
FYI: The 1.x themes WILL be removed in the 2.0.0-beta release since no one have showed interest in updating those.

[2019-12-26 14:09] wsantos commented on #643
Thank you, I'll definitely do if I do improve anything, for this theme in particular is for an internal tool with custom styles, that's why, thanks for the patching it I really appreciate it.

[2019-12-27 12:41] #643 closed

[2019-12-27 12:41] #625 closed

[2019-12-27 12:43] pmk65 commented on #639
@marc7000 I would say it's ready for a release, now that #597 is merged.

[2019-12-31 19:51] mattferderer opened #644 "Dependency Question"
### General information

I'm wondering if there is a way to use [Dependencies](https://github.com/json-editor/json-editor#dependencies) with nested objects. I'm trying to have a nested input display if another input on a different level of the hierarchy is set to a certain value.

For example, here is a super simplified version. Hopefully the use of gender/age example questions are not offensive.

[2020-01-02 08:14] ndee02 opened #645 "Selectize seems broken in 2.x"
Selectize functionality is limited.  See docs/selectize.html
- json-editor version: 2.0.0-alpha.1

In selectize.html, the first select editor should allow adding values. However, values are not taken over. Instead, the field becomes empty, and the JSON contains the first enum value.

The third select editor should contain a list of fonts from array "possibleFonts", but is empty.

The 5th select ed

[2020-01-02 16:12] pmk65 commented on #645
The setup of Selectize and Select2 have changed in 2.x, as they now requires enum list.
You can see a working example [here](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgTwA4FM4C5bAPYCMArVAY3jgBpIY54BLeAG3WCzgGVUnTaAvVKACqoAHmWCVo2AE6oAjgFdaMgCaYoAbSoxsAfXgj4ARgpbqwPQYBMJyWYDOtCAHMmN7dgDuAQ3jEAFm7acA7OTI5iEu7Bji6o1uKm2CGx4fGRQcAAtvIMdIFmAGY4EBGJcMg4dg54TABixfB2cFoAuunlUjhoU

[2020-01-02 16:21] ndee02 commented on #645
Hm, the create option still does not work properly in your example :( - see "Single selectize - Type: string - Create: true".
This is the option that I actually want to use ;).

[2020-01-02 16:34] pmk65 commented on #644
I looks like `dependencies` only work when the property is on the same level.
But you could combine it with the `watch` property.
On your 2nd level, create a hidden field that watches the root.gender property.
Then use value of the hidden fields for your `dependencies` on the 2nd level.

[2020-01-02 16:39] pmk65 commented on #645
I works for me. Delete the content in the input box and type a new value.
You can also set it by clicking the "setValue Invalid" button.

But the error message "Value must be one of the enumerated values." should not be appearing, so that is a bug.

[2020-01-02 16:55] mattferderer commented on #644
Thanks @pmk65  I just figured this out! It looks like this part only goes up 1 level in the `path[path.length - 1] = dependency`

[code]

I'll dig into the hidden fields documentation. Any thoughts on a PR that would allow you to put in a path that skips the split/join logic? Such as if it starts with root or a hashtag/number/pound sign?

[2020-01-02 17:28] mattferderer commented on #644
I did get the watch to work with hidden fields. In case anyone else is looking to do this I added something like the following:

[code]

Thank you @pmk65

[2020-01-02 17:28] #644 closed

[2020-01-02 18:31] ndee02 commented on #645
Ah, thanks. Somehow I seem to have mixed up things. So I can confirm: create works (+ the mentioned bug).
So I could narrow down my problem to:
1. use `selectize.css` and `selectize.default.css`, (`selectize.bootstrap3.css` does not work with option `create`).
2. somewhere between putting JSON data to local storage using `jseditor.on('change',function() {saveToLocalStorage();});` and loading from

[2020-01-02 20:14] pmk65 commented on #644
The `watch` property allows you to specify each level separated by a period, like "root.gender".
And it looks a bit like the dependencies property "reverse" the "watch" keyword and value.

If you can come up with a PR that doesn't break the `watch` functionality (`dependencies `uses the `watch` functionality), feel free to submit it.

[2020-01-02 20:30] pmk65 commented on #645
In `src/editors/selectize.js`, the function `addNewOption` is the one that handles adding values not in the initial `enum` list. (like when the `create` option is enabled.)

https://github.com/json-editor/json-editor/blob/1136d6e5fc338deae8ea38af8f34c50f3b61218f/src/editors/selectize.js#L59-L78

I'm pretty sure it worked back when I submitted the PR, so something must have changed.

[2020-01-03 14:46] ndee02 commented on #645
Ah, right. The new values need to be put to the enum of the schema... which means the schema will change/be extended based on the data.
Ok, maybe my use case is slightly different here.

I would like to use the select editor to mainly be an extended textfield (or combobox), providing common values as option list, but accepting any string, or a string that matches a pattern (regex).
So I guess this

[2020-01-03 15:17] snipercup commented on #634
This is what I wanted:
![image](https://user-images.githubusercontent.com/50166150/71730978-db96c880-2e43-11ea-8f40-e9112bfb0099.png)

It uses a couple of css style rules:

[data-schemapath='root.body_parts'] div.je-panel {
  display: inline-block;
}
[data-schemapath='root.body_parts'] div.je-panel, td {
  margin: 0 !important;
  padding: 0 !important;
}
[data-schemapath='root.body_parts'] .form-g

[2020-01-03 15:17] #634 closed

[2020-01-16 21:25] albydnc opened #648 "JSON editor not rendering (nodeType of null)"
- json-editor version: latest from CDN 2.0.0 alpha 1
JSON Schema is attached [schema8IO.txt](https://github.com/json-editor/json-editor/files/4073861/schema8IO.txt)
### Actual behavior
Editor not rendering. It is rendering fine with 2.0.0 alpha 0
[code]

[2020-01-19 01:09] dornstein opened #649 "Nullable fields input?"
Is there a way to cause blanks to be treated as null - at least for some fields?

I love this work and I'm trying to see if I can create a sufficiently usable form editing experience.  One of the things that feels awkward now is how optional fields are treated.  Take, for example, a nullable integer field.  The default editing experience for that appears to be a textbox into which the number can b

[2020-01-19 16:35] dornstein commented on #643
@pmk65 Thanks for that patch; I need it for the same use case.  I don't see it in the latest release, though.  Will there be a new release soon containing that?

[2020-01-22 08:29] bzbetty commented on #610
I believe I'm running into the same issue.

**Example**
yes no radio button + text field that is dependent on radio being yes)

https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbADgJwPbwKaIC4Es0Gc4AuKcaGWYAT3wmSJMnPLk0vXrj00WwgHM4AGkZMKAM2SIAtgENMHYIhkATbHWDCyTOMrRiZAVwA284MQjGjm0RTQWp9ANpxqBDRVpwAuiJgBfa2ZFNBk8ZAh6UhsWNjQFLh5%2BIV8g1Bxwt2IQCl10CF0IAGNcTJIKV08zcvw4KD8%2FFIayJr9gIA&

[2020-01-28 16:24] kameelyan commented on #643
Hey @pmk65, doing something similar here as well. Do you know when this will be released?

[2020-01-29 14:24] kameelyan commented on #639
Any idea when the next release would be? There's some theme changes with the AbstractTheme class I'm looking to use.

Thanks!

[2020-01-30 07:29] marc7000 commented on #639
Successfully published @json-editor/json-editor@2.0.0

[2020-01-30 07:29] #639 closed

[2020-02-04 06:48] faraazbh opened #653 "Form not visible on Checked out project of interactive demo: https://json-editor.github.io/json-editor/"
### General information
Suddenly, the form isn't visible . It's gone. completely
- json-editor version:

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io/json-editor/

[code]

[2020-02-04 07:25] schmunk42 commented on #653
Because it is not `required` you need to use `show_opt_in`.

[2020-02-04 07:25] #653 closed

[2020-02-04 07:28] schmunk42 commented on #653
@pmk65 I have some issues with the demo pages.

https://json-editor.github.io/json-editor/ only applies (some) config changed, when moving with the cursor through the list.

Which is the `show_opt_in` entry in *options* here https://pmk65.github.io/jedemov2/dist/demo.html ?

[2020-02-04 07:32] faraazbh commented on #653
@schmunk42 No I meant, the box where the form loads, that itself isn't visible on screen for any schema.
problematic behaviour is observed in the project i've download and the online demo page.
![image](https://user-images.githubusercontent.com/13655599/73723254-9c171100-474e-11ea-9e42-df77226d4833.png)

Issue not observed on this link demo https://pmk65.github.io/jedemov2/dist/demo.html

[2020-02-04 10:50] mochi-c opened #654 "Unknown theme bootstrap3 in interactive demo"
![image](https://user-images.githubusercontent.com/36881499/73738230-1069a880-477f-11ea-94e8-40585f289e23.png)

[2020-02-04 10:57] schmunk42 commented on #654
They are no longer available in v2

[2020-02-07 20:08] Lilwolf opened #655 "String or Function?"
I don't believe this is currently possible (currently hacking it)...
But what I would love to see is being able to add a new type (lets call it function)...  So a field can be a string, or a function (selectable at runtime)...
If it's 'string' and someone types in 'fred' the output is
  "field":"fred".
if it's 'function' and someone types 'fred' the output is
  "field":fred

The reason for this is

[2020-02-07 20:11] schmunk42 commented on #655
How about watchers? https://github.com/json-editor/json-editor#listen-for-changes

[2020-02-07 21:28] Lilwolf commented on #655
I'm not sure if that would work.  I want the end user to be able to switch between them..
like
        "type": [
          "function",
          "string"
        ]
So there is a drop down they can select between 'function' and 'string' ...  the function wouldn't surround with quotes... but the string would.  (and best best case scenario, the editor for a function would be multi line).

The watcher

[2020-02-08 21:15] schmunk42 commented on #655
Is this somehow covered by Json-Schema?

[2020-02-11 18:55] Lilwolf commented on #655
Well, yes...  But the editor still need to have a type that is defined that is basically a string, but outputs without quotes to support it.  json-editor doesn't support every "type"... like a "type" of color is handled as a String with a format of "color"... but the output is still a quoted string.  The schema I'm using/converting to work with json-editor has a format of "function" that I just co

[2020-02-11 19:06] Lilwolf opened #657 "Can you have multiple formats?"
Question - Can you have multiple formats and have a drop down like you can with multiple types?

"type" of "string" and "format" of "color" works great, most of the time.  But it would be great if you can just type in the string, and forgo the editor, optionally... in rare cases (like creating a function that returns a color based on something).  Is there an option to do this?  I tried passing in

[2020-02-11 20:58] kameelyan opened #658 "AbstractIconLib not available as property"
Similar to #643, working on creating a new theme that's not compiled. The use case here is:

Using a compiled version of the js (dist), I want to apply a new theme and iconlib on the fly.

Currently only AbstractEditor and AbstractTheme are available. Can we get AbstractIconLib as well?

[2020-02-12 13:49] schmunk42 commented on #658
@germanbisurgi You worked a lot with icons in json-editor. WDYT?

[2020-02-12 16:54] dayongi opened #659 "Whether it can be used for the ant design pro project?"
like this example:
![image](https://user-images.githubusercontent.com/41787764/74357768-58ca3b80-4dfb-11ea-940e-c02a1e5bc8b4.png)

[2020-02-12 19:47] c0bra commented on #654
Seems like none of the demos are working for this reason. Unfortunately that makes it hard to check this library out properly.

[2020-02-13 14:04] germanbisurgi commented on #658
Here is the theme [test](https://github.com/json-editor/json-editor/blob/master/tests/pages/themes.html)

The editors is always reloaded and passed a new config with different iconLib and theme.

[2020-02-13 14:59] kameelyan commented on #658
Hey @germanbisurgi, this doesn't help. This reloads and passes a new config with different iconLib that's already defined. I'm trying to define my own custom iconLib, during runtime. To do so, I'll need to extend the AbastractIconLib, which isn't currently possible as it's not exposed as a property on JSONEditor.

[2020-02-13 15:11] germanbisurgi commented on #658
Oh now i understand, sorry. Yeah i did a lot with themes and icons testing but not much the implementation. So much happen since. Reading the code and the readme i found that the abstract theme is exposed like this:

`JSONEditor.AbstractTheme.`

Its a class that can be extended like this:

`var bootstrap4Theme = AbstractTheme.extend({...my stuff...})`

Look at any of the existing classes for [exam

[2020-02-13 15:15] kameelyan commented on #658
Yep, I'm using that already for my new theme, but AbstractTheme and AbstractIconLib are separate. You define theme and iconlib in separate properties as well. The issue is that AbstractTheme is exposed, but AbstractIconLib isn't, so it's not available to extend off of in real-time.

For reference:
https://github.com/json-editor/json-editor/blob/914a08a07bf6cf09da0eb9337b00ab3b00a66295/src/core.js#

[2020-02-13 15:21] germanbisurgi commented on #658
Yap i see. it should be exposed too like abstractTheme. I am working on something else right now but my next PR will expose that.

[2020-02-14 07:15] germanbisurgi commented on #658
Added here #660 :)

[2020-02-14 07:16] germanbisurgi commented on #654
Thanks c0bra, we fixed this in #660

[2020-02-14 07:16] #654 closed

[2020-02-14 07:16] #658 closed

[2020-02-14 09:00] germanbisurgi commented on #657
Nope, the format param together with the type will be used to choose and create the right editor for the scope and can not be changed on the fly.
It could be a interesting feature though.

[2020-02-14 09:14] germanbisurgi commented on #657
but maybe [this ](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QEEB2ACA9gIwFawGMwQAacATwAd4kd8jSRKAnTa5yWAZ0VADMIsaABMA8qhqhIMGiD6ZmAWwCGxMmCqyuYZhFQBzRrFQBXRYgDaIVJgmMCmaApABdMsNh9lJ6MSTZlZhAAXzIbCQAxBRU/KSg4RBAASXQPalRhLAx5JVV0MEx0bFh0AHJw2FLGDWpE7V0DRjZIWx4EUDTjD1QCQTb+QRFxWQqQ4NCQBydmKNzY8HjZFM6MrPQcmPzC4rKphSr1TTqdPUMyDdVEvaCyZohW3hAV7t7uR4EhMTska7Hx4KAA===&value=N4IgZglgp

[2020-02-14 09:17] germanbisurgi commented on #655
There is no type function in json-schema AFAIK.
Also "field":fred will result in an error because fred will be interpreted as a variable, that is not set.

I would use rather watchers or dependencies

[2020-02-14 09:24] germanbisurgi commented on #649
something like [this](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC5ywM5hAGnATwA7yQHsAjAK1gGN0tcAnQ/WyVRUAWz3t1fCjkRAA3AIa0Iw4nAAEYPPCyEAdrADyAM0QBtULPwC0YxQHNMvGARAAhYSggUpABVi0USkAF8MOuQMUBXaGhTSHMBa1t7Jxc3dwBddwSgA&value=N4IgtgngDgTg9lEAuAdgVwDYYL5A&lib_switcher=&prompt_before_delete&upload=function(t,e,i){console.log(%22Upload%20handler%20required%20for%20upload%20editor%22)

[2020-02-14 09:34] germanbisurgi commented on #648
it make sense to me, if its null its null and stop. But there is a case where it can be use. For example for inputs that can be multiple types:

something like [this](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC5ywM5hAGnATwA7yQHsAjAK1gGN0tcAnQ/WyVRUAWz3t1fCjkRAA3AIa0Iw4nAAEYPPCyEAdrADyAM0QBtULPwC0YxQHNMvGARAAhYSggUpABVi0USkAF8MOuQMUBXaGhTSHMBa1t7Jxc3dwBddwSgA&value=N4IgtgngDgTg

[2020-02-14 09:40] #626 closed

[2020-02-14 09:40] germanbisurgi commented on #626
question answered

[2020-02-14 09:53] germanbisurgi commented on #547
something like [this](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QEEB2ACA9gIwFawGMwQAacATwAd4kd8jSRKAnTa5yWAZ0VAM2iZmvCtUQguYZhFQBzRpBg0QAYQFDGsVAFcAtogDaIAEqwAJowBC0bfDLWAhgQDWIALpkzsAGYPt0YiRTCzJmWABHbQgwiwQpWwBfMhkwLS4ochEwKmUdXWxYYTJFOHEASVRU1HTsxi9ff0CATiaAOiaAVjI2SExqkS9qVC9UAghuEX5BYSRHFxAEpJAwyOjzRHjYRYSgA===&value=N4Igxg9gNhBOIC4QCEoFcCmIC+Q=&lib_switcher=&prompt_bef

[2020-02-14 09:54] schmunk42 commented on #648
I get these errors when validating agaginst v4 and v7

[code]

https://www.jsonschemavalidator.net/

But it seems, that's not the issue. Even, when removing the `required` section in top level, I get the same error for a valid schema.

@germanbisurgi Could you create a test with the schema provided (without "required" on top-level) and have another look.

[2020-02-14 09:56] #655 closed

[2020-02-14 10:00] schmunk42 opened #662 "Fix Bootstrap 4 JSON Properties"
### General information

- json-editor version: 2.0

### Expected behavior

Nice JSON-Properties overlay

### Actual behavior

Text is too large, should be standard size

![Bildschirmfoto von 2020-02-14 10-57-23](https://user-images.githubusercontent.com/649031/74521024-fd8e6b00-4f18-11ea-9e4b-3a190f34ddb1.png)

### Steps to reproduce the behavior

Direct link to example: https://json-editor.githu

[2020-02-14 10:37] germanbisurgi commented on #648
The error message is caused by this line:

<img width="769" alt="Bildschirmfoto 2020-02-14 um 11 36 00" src="https://user-images.githubusercontent.com/13135260/74523880-485eb180-4f1e-11ea-9c23-7b90303dab29.png">

[2020-02-14 12:54] germanbisurgi commented on #648
#663 should fix the problem

[2020-02-14 14:15] #648 closed

[2020-02-14 16:36] duchoang opened #664 "How to express generic object"
### General information

- json-editor version: 2.0.0

I'm wondering how I could express a generic object with no specific properties in `json-editor`, example with this schema:

[code]

I expect field `data` should have a dynamic `textarea` to fill in any generic json, is that possible to change the schema for this behaviour?

Here is the full example: https://jsfiddle.net/2eyr57tj/

[2020-02-14 18:03] germanbisurgi commented on #664
Why not a string format textarea?

[2020-02-14 18:09] duchoang commented on #664
thanks for the suggestion, just tried it, it works with the ui, but then the output json will not preserve the whole generic json, but a string like this:
[code]
I guess it is not possible in schema to let json-editor auto parse the textarea to proper json?

[2020-02-14 19:04] germanbisurgi commented on #664
Could JSON.parse the content

[2020-02-14 19:07] duchoang commented on #664
Is there any way to declare that action in the schema, or I need to manually process the output json?

[2020-02-15 00:49] germanbisurgi commented on #664
Manually, but you can listen for change events for that

[2020-02-15 22:31] hungerburg opened #665 "Select2 from enumSource"
A probable enhancement?

Case: An array of tags as a Select2 and an array of possible tags as a Table, so that the tags can be chosen from the possible tags.

Still not sure though, if that makes much sense in practice. Yet, how to make an amendable enum available in a select then?

https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QBUCGBzdsBOIA04AngA7xID2ARgFawDGY+I2sAjgK4QsAmiA2uA

[2020-02-16 13:44] hungerburg commented on #665
Just found [the other playground](https://pmk65.github.io/jedemov2/dist/demo.html?schema=EQbwOgdgBFbALgTwA4FM4C5bAPYCMArVAY3jgBpIY54BLeAG3WCzgGVUnTaAvVKACqoAHmWCVo2AE6oAjgFdaMgCaYoAbSoxsAfXgj4ARgpbqwPQYBMJyWYDOtCAHMmN7dgDuAQ3jEAFm7acA7OTI5iEu7Bji6o1uKm2CGx4fGRQcAAtvIMdIFmAGY4EBGJcMg4dg54TABixfB2cFoAuunlUjhoUnSoTSxQ4La6%2BqLGA0PuZkhoasHwUjH5GUVSmT5zwH60ysqoEMtme3bEi8h0xZsAPH4ALAB8QnZ0zlDPXj0Aal4M8v

[2020-02-17 14:58] schmunk42 opened #666 "Create Release 2.0.1"
### General information

- json-editor version: master

### Expected behavior

https://github.com/json-editor/json-editor/pull/660 available in npm package

### Actual behavior

no release

### Steps to reproduce the behavior

see https://github.com/json-editor/json-editor/pull/660

[2020-02-19 04:50] tohosaku opened #667 "Reduce cyclomatic complexity of the code"
Eslint has rules for measuring [cyclic complexity](https://eslint.org/docs/rules/complexity)
I set maximum complexity to 10 and searched under src/* in master branch
Results are as follows.

I think it is better to split for methods with high complexity.

* validator.js

   method | complexity
   --- | ---:
   fitTest  | 11
   _validateSchema  | ***158***
   _checkType  | 12

* core.js

   method

[2020-02-20 09:45] alhimik1986 opened #669 "defaultProperties not working"
### General information
Hi, friends.
Seems, I found the bug or I don't understand English.
If define the "defaultProperties", the defined properties must be visible by default. But it does not appear.

- json-editor version:
2.0.0
### Expected behavior
The property "city" must be visible by default, because it defined in "defaultProperties".
### Actual behavior
No properties (city and state) are n

[2020-02-20 10:02] alhimik1986 commented on #662
I want to add the related bugs:

![Без имени-1](https://user-images.githubusercontent.com/7689682/74922762-a7cf2c80-540a-11ea-870c-97d7d4398404.png)

[2020-02-21 00:43] snipercup opened #670 "Spectre theme takes default value from schema when using headerTemplate in array of objects"
### General information

- json-editor version: latest
Spectre theme takes default value from schema when using headerTemplate in array of objects.

### Expected behavior
It should adhere to the headertemplate like Bootstrap 4 does.

### Actual behavior

In this example you can see that the 'tabs' all display the default value mon_cat but should display the self.monster property

### Steps to repr

[2020-02-21 09:09] germanbisurgi commented on #669
hi, I want to solve this bug, but I need an extra information.
Does this happen only in the interactive page or also happens
on a project with an instance of the Jason - editor?

[2020-02-21 12:34] timota opened #671 "show_opt_in option and editor.enable"
### General information
- json-editor version: 2.0.0

When editor has been created with show_opt_in option, a new tick appear on those props that are not required by default. But when im going to programmatically enable some editors with editor.enable - editor enables for editing but tick not in place, so resulted/final variable doesnt contain that key/value.

Is this expected behaviour or another

[2020-02-21 13:06] germanbisurgi commented on #671
Does this happen only in the interactive page or also happens
on a project with an instance of the Jason - editor?

[2020-02-21 13:15] timota commented on #671
It happens with instance

[code]
Startvals are:
[code]

Schema is:

[code]

[2020-02-22 05:03] alhimik1986 commented on #669
This happens as in my project as  in demo page. If set value using jsoneditor.setValue(someValue) the hidden properties becomes visible regardless of defaultProperties.

[2020-02-26 10:23] germanbisurgi commented on #669
I asked because the current interactive page is not working properly and few false positives bugs are coming out.

I made a pull request to fix this.

I also tested your schema against the new interactive page and works properly. Both with the compiled and the [jsdeliever](https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js) js files

Updates asap

[2020-02-26 10:40] germanbisurgi commented on #671
a definitions object is missing in your schema?

`"definitions": {
    "_service": {
      "type": "string",
      "minLength": 5
    }
  }`

[2020-02-26 11:06] steffen-webb commented on #645
any progress on this issue? the schema enum is not updatet and you are left with
"Value must be one of the enumerated value"

I would like to have the "enum" : [] to be empty and then add value via script, because im loading the dropdown via external source.

[2020-02-26 11:29] germanbisurgi commented on #671
You could use activate and deactivate

[2020-02-26 13:25] schmunk42 commented on #645
@pmk65 Do we have an example for an external source of select2 + enum?

[2020-02-26 14:37] steffen-webb commented on #645
nope, but https://pmk65.github.io/jedemov2/dist/demo.html is also not working
set invalid generated js fault : jsoneditor.js:13 Uncaught TypeError: this.input.appendChild(...).trigger is not a function

    var single2 = jseditor.getEditor('root.single2');
    if (single2) {
      single2.setValue('orange');
    }

as i understand it, setvalue should add a new option in the dropdown and update enu

[2020-02-26 16:49] snipercup opened #673 "Array of one or more strings and one double at the end"
### General information

- json-editor version: latest

This is my json:

        "flat_bonuses": [ [ "block", "str", -0.5 ], [ "dodge", 1.0 ] ]

The array that's nested in takes 1 or more strings and always ends with a double. I'd like to define a schema for that.

### Expected behavior
Would like to define a schema like this:

                "items": [
                    {

[2020-02-26 17:47] kameelyan commented on #666
Checking in, do we know when this release will happen?

[2020-02-26 19:23] marc7000 commented on #666
I'll do it tomorrow morning...

[2020-02-26 19:34] germanbisurgi commented on #673
I will do it like [this](https://json-editor.github.io/json-editor/?schema=N4IgLglmA2CmIC4QDNoEMwH0BGB7AdgK4DOsxIANOAJ4AO8SaATk2tZSFLALbkKhg6DELmwArWAGMwHWk1z0mkMolD5MxMEwj4A5nwFDEIZq3ZUuvVTXrHN2vRwAmsZGkLQZSABZQOyXCZuDGMwWAAPGSoFSAIDEElcblo0aUQtQlgAXxyqIm5sWCZrQVskfMLiqhc3Dy8ABgA6AHYAVmjaWPx4xOTUrwzsnJygA&value=NobwRAdg+gzgLgJwJYQOYzALmAXQDSQCuAtgEYCmCWADAHQDsArAL45A&lib_switcher=&prompt_before_d

[2020-02-26 19:55] snipercup commented on #673
Thanks for your reply. Unfortunately it does not give the same result.

[2020-02-27 09:55] timota commented on #671
in full schema i have all definitions. But issue is that when we have some fields declared as required and some not. and those options that not required and exists in startval - editor doesnt set them.

[2020-02-27 09:59] germanbisurgi commented on #671
did you tried editor.activate() ?

[2020-02-27 10:07] germanbisurgi commented on #671
I am testing in local and works correctly with the new interactive page. I believe soon (maybe today) a new release will be done.

[2020-02-27 10:26] lovelyserafima opened #674 "All the collapsed items are expanded after deleting one of the items"
Hi,

### General information

- json-editor version: 1.3.5

### Expected behavior

All the collapsed items remain collapsed after deleting one of the items.

### Actual behavior

All the collapsed items are expanded after deleting one of the items

### Steps to reproduce the behavior

I cannot reproduce it in https://json-editor.github.io/json-editor. So is it a problem of json-editor version?

Th

[2020-02-27 10:39] lovelyserafima commented on #674
E.g. I tried with it - https://json-editor.github.io/json-editor/?schema=N4IgJAlgJiBcIAsAuSAOBnWB6LBTAHgIYC2qANrgHQDGA9sVoQE5OECe6l61CuxhlAFbpaAOxAAacN1784iFKmxZhYgLQy+A2kwDmWKKwBmSNQAYA7Fk38AxJJBRc3JhFRIIY+QEEABE1xUAPRcUSRCDzFfWiNfQl9UXCYRUQlfOlJCUTY0nV0siAAvCM9U6KYEskJqXAckNkT5WgAjQVxqJAcg2kSmD2c4UCMmAFcIJHRBkHrG+GZWNgdxvknYUBna+HQkV1FdEABfA6kAN1xdXHDmilX1hs2QefYlpBWpsACjeVsDXCMIUTjUroLBnXS6CC1I

[2020-02-27 10:42] germanbisurgi commented on #669
Hi, the interctive page was updated. I tried your schema and works. Pls try out too :)

[2020-02-27 10:47] schmunk42 commented on #674
Likely, please try 2.0 and reopen if the issue persits.

[2020-02-27 10:47] #674 closed

[2020-02-28 10:41] lovelyserafima opened #677 "Broken UI after upgrade to 2.0.0"
### General information

- json-editor version: 2.0.0

### Expected behavior

Good looking ui

### Actual behavior

Some broken UI moments:
![image](https://user-images.githubusercontent.com/33148718/75541704-728c9500-5a2f-11ea-940f-ecfd6c727471.png)

-titles of objects are after properties and collapsing arrows
-deleting icons and sotring arrows are under the titles

Before upgrading it was prett

[2020-02-28 11:09] schmunk42 commented on #677
Can you provide an example link (including the theme and settings used)?

[2020-02-28 14:22] lovelyserafima commented on #677
Hi, @schmunk42,

Thanks for reply. I found css file which manages our styles and seems fixed what I needed, so I'm closing the issue.

[2020-02-28 14:22] #677 closed

[2020-02-29 20:04] #666 closed

[2020-03-03 21:14] cybtachyon opened #679 "oneOf with $ref defaults/allows nullable field type"
### General information

- json-editor version: 1.4.0-beta.0

### Expected behavior
OneOf fields without a 'null' entry should not prepopulate null or allow null values.

### Actual behavior
OneOf fields without a 'null' entry should not prepopulate null or allow null values.

### Steps to reproduce the behavior

@todo

Direct link to example: https://json-editor.github.io/json-editor/

[code]

[2020-03-04 14:02] kameelyan commented on #594
Been using this tool a little while now and here's my general feedback around themeing/styling.

1. There are a number of inline styles getting created that are not in the themes.
2. Inline styles are a violation of most Content Security Policies (unsafe-inline)
3. It would be much better to have .scss files for all styling and have the themes just generate classes/dom structure. This is the appro

[2020-03-04 14:05] schmunk42 commented on #594
PRs fixing this would be highly welcome.

[2020-03-05 09:52] lukzas commented on #573
@pmk65 I could take `Materialize` as already contributed to it and actively using it in a project 😉

[2020-03-06 15:38] andreasjakobik opened #680 "Support for JSON Schema draft 7?"
Hello,

Really like the JSON editor, so nice job!

I was wondering if there are any plans to support JSON Schema draft 7?

Attached zip file contains sample json schema and corresponding json config that should be possible to create using the JSON editor. (The attached networking-jsonschema.json is supposed to be filled in partially by hand using the JSON editor, and partially automatic. The ".x"

[2020-03-08 20:06] JElchison opened #681 "Bootstrap4: When using category tabs, content of first tab is empty"
_Thanks to the many who have made this awesome project happen!_

### General information

- json-editor version:  2.1.0

### Expected behavior
When using category tabs, content of first tab is displayed upon page load

### Actual behavior
When using category tabs, content of first tab is empty upon page load:

![image](https://user-images.githubusercontent.com/1757771/76170182-e3c9f780-6155-11ea-8

[2020-03-10 07:31] johannesodland opened #683 "Range output is not updated when calling setValue"
### General information

When using range format an extra range output element is created. This element is updated on input and change events, but is not updated when setValue is called.

When initialising the editor with startval, or when calling setValue, the range input element is updated, but not the range output element. It keeps showing the default value.

- json-editor version:
2.1.0

### E

[2020-03-10 10:39] VadimTikhonyuk commented on #40
Hi, so where I can find, looks like Wiki page doesn't have article about this

[2020-03-10 10:53] VadimTikhonyuk opened #684 "JSONEditor as react component"
### General information
I want to use JSON editor in Create React App,
handling data file with  more than 50kb size takes infinity to parse and display form

this editor https://react-jsonschema-form.readthedocs.io/en/latest/ can handle large data  files in seconds, and I believe that because it using react.

- json-editor version: 2.1

### Expected behavior
nice and tidy article in wiki about how

[2020-03-10 12:46] schmunk42 commented on #684
Duplicate of https://github.com/json-editor/json-editor/issues/628

Related: https://github.com/json-editor/json-editor/issues/40

[2020-03-10 13:41] VadimTikhonyuk commented on #684
links that you provide didn't contain solution

[2020-03-10 15:37] schmunk42 commented on #684
No, it's still an open issue, but it's the same, isn't it?

[2020-03-10 15:37] #684 closed

[2020-03-12 08:47] schmunk42 commented on #683
@germanbisurgi Please create a test first.

[2020-03-13 01:13] dornstein commented on #649
Maybe I'm missing something.  Which field in that example allows blanks?

[2020-03-13 08:25] germanbisurgi commented on #649
optional props? like [this](like this?)?

[2020-03-13 12:13] VadimTikhonyuk opened #686 "Watch performance"
### General information
I have 2 entities, on is array second is enum, I trying to populate enum with values from array,
it works fine, but if structure gets bigger, then it takes infinity to draw editor.

my solution is update schema enum with values from data array and then send ready to use schema to editor and that's working fine. UNTIL you have to add element in array and display it in enum.

[2020-03-13 12:14] VadimTikhonyuk commented on #681
I have same issue, have to click on it and then it become visible

[2020-03-13 12:31] schmunk42 commented on #686
Can you provide a large example schema which takes so long?

[2020-03-13 15:38] VadimTikhonyuk commented on #686
[resources.zip](https://github.com/json-editor/json-editor/files/4330327/resources.zip)

[2020-03-16 11:08] VadimTikhonyuk commented on #686
I put link

[2020-03-17 11:58] Leoborse opened #688 "Validation while typing"
### General information

- json-editor version: 2.0 Alpha (latest at the moment)

### Expected behavior

editor.validate() should validate against the actual data (while typing it should consider the typing as current value)

### Actual behavior

assume to have an input (text:string) field with minLength=1
when empty validate() gives error (correct)
the keyup event should lead to valid data, while

[2020-03-19 09:04] schmunk42 commented on #688
@gbisurgi @amk0 @pmk65 Opinions?

[2020-03-19 09:07] germanbisurgi commented on #688
I think it would be a good idea to add "oninput" events for "interaction" and leave "onchange" events for "change"

[2020-03-21 14:15] JElchison commented on #681
More info:  I was able to ascertain that this regression was introduced between tags [2.0.0-alpha.0](https://github.com/json-editor/json-editor/releases/tag/2.0.0-alpha.0) and [2.0.0-alpha.1](https://github.com/json-editor/json-editor/releases/tag/2.0.0-alpha.1).

For convenience, here is a [diff between the tags](https://github.com/json-editor/json-editor/compare/2.0.0-alpha.0...2.0.0-alpha.1).

[2020-03-21 19:47] JElchison commented on #681
To narrow the search further from a black-box perspective, I ran `git bisect` against the tree between the two alpha versions listed above.  Result:
[code]

It appears that one of these commits by @stroebjo is likely at fault.

Here is a diff that most likely contains the cause of this regression:  https://github.com/json-editor/json-editor/compare/2677892...f5351ca

It appears that this regressio

[2020-03-22 02:57] cybtachyon opened #692 "onOutsideModalClick is incompatible with Shadow Dom"
### General information

- json-editor version: 2.0.0+

### Expected behavior
With JSON Schema Editor inside a Shadow DOM, clicking on the properties modal allows you to set/unset properties or add/remove properties.

### Actual behavior
With JSON Schema Editor inside a Shadow DOM, clicking on the properties modal collapses itself immediately with no other visible effect.

### Steps to reproduce t

[2020-03-22 03:26] cybtachyon commented on #679
Apologies, I had to go make up a repro that didn't include internal data and get it to produce. I'll add that next week.

[2020-03-22 08:23] stroebjo commented on #681
Ah. We have discusses this issue a few month ago, but didn't produce a fix then https://github.com/json-editor/json-editor/pull/588#issuecomment-547090854 and https://github.com/json-editor/json-editor/issues/594.

It happens for the category type, but not the "tab-top" one.

I had a look at it again, and the commit that introduced the bug is https://github.com/json-editor/json-editor/commit/74567

[2020-03-22 20:27] JElchison commented on #681
Thanks for the speedy response, @stroebjo!  Also, thanks for your contributions to this great project.

I have verified that reverting 745675e indeed works around this issue.

I have tried to read up on the histories for #588 and #594, and done some debugging of my own.  I have found that, for some reason, in Bootstrap4's `markTabActive()`, `row.rowPane` is undefined, and thus never set to `active

[2020-03-23 06:35] stroebjo commented on #662
@germanbisurgi are you already working on this? I cold provide a PR for this.

I would suggest to switch the `h3` to a plain `div`. Solves the cascading font issue, and you probably could argue the smaller title is better anyway. ;)

The make the checkbox labels clickable I would argue tue add `id`/`for` attributes int he core, this should also benefit other themes.

That would be nice, but I thin

[2020-03-24 07:47] faraazbh opened #695 "is there a way for getting source of JSON-Editor Interactive Playground?"
### General information

How can I get css/jsoneditor_demo.min.css CSS file. Someone please help

- json-editor version:

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io/json-editor/

[code]

[2020-03-24 14:58] kameelyan opened #697 "Hidden Properties should not validate in the form"
### General information
- json-editor version: 2.1.0

### Expected behavior
Using options.hidden = true on a property alongside validation properties should cause the field to be ignored by validation.

### Actual behavior
Adding options.hidden = true to a string property alongside minLength = 1 causes the form to be invalid if the property is empty.

### Steps to reproduce the behavior

Direct li

[2020-03-24 21:48] schmunk42 commented on #697
I understand your use-case, in fact we had similar ones, but I don't think `hidden` should mean *do not validate*.

Is there something in the json-schema spec about it?

[2020-03-24 22:08] kameelyan commented on #697
@schmunk42 I mean the issue is that options isn't part of a json-schema spec, right? That's a json-editor option that's added in?

[2020-03-24 22:19] schmunk42 commented on #697
Yeah right, there could be something like `skip_validation` in *options*.

@pmk65 @germanbisurgi Opinions?

[2020-03-24 22:23] kameelyan commented on #697
I like that idea, could get behind that for sure.

[2020-03-25 10:19] JElchison commented on #681
Please forgive me, the latter portion of my previous comment was a red herring.

The root cause of this issue is that Bootstrap4 cannot inherit `theme.js`'s version of `getFirstTab()`; it must override it.  PR is forthcoming.

[2020-03-25 16:16] schmunk42 commented on #697
That would be great ... PRs welcome, please include a test.

[2020-03-25 16:18] #681 closed

[2020-03-26 09:52] cedricbonhomme opened #699 "TypeError: t is undefined"
### General information

- json-editor version: 2.1.0

### Expected behavior

The editor should be loaded on the page. The page remains empty.
It is initialized with a schema and an object.

Below is an example when it works:

![example](https://user-images.githubusercontent.com/465400/77632062-5eac5400-6f45-11ea-9046-7fc164108a8d.png)

As you can see it works well the with the version 2.0.0.
The

[2020-03-27 08:06] NemeZZiZZ opened #700 "How to set action for the "button" format?"
### General information
I want to set a function for button action, but can't understand, how to do this?

- json-editor version: 2.2.0

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[code]

[2020-03-27 10:35] tohosaku commented on #700
Although not written in the README, the sample code is at the following URL.

https://github.com/json-editor/json-editor/blob/master/tests/pages/button-callbacks.html

[2020-03-27 16:24] kameelyan opened #701 "Type number improperly validated"
### General information

- json-editor version: 2.1.0

### Expected behavior
Type 'number' should only allow validate numbers. Anything invalid should return a validation error.

### Actual behavior
Type 'number' is allowing non-number characters to be entered and improperly validated. The value '12-12' does not spit out an error. Furthermore, the data is set to null.

### Steps to reproduce the b

[2020-03-29 11:14] oumad commented on #670
I am having the same issue.

### General information

- json-editor version:  "2.1.0"

### Expected behavior
Changing the value in the name field should make the array tab updated based on the headerTemplate.

### Actual behavior
When using the Spectre theme, the title on the tab remains with the index number only and doesn't update. It works as intended when using any other theme.

### Steps to r

[2020-03-30 20:41] mstokes-f5 opened #703 "Editors with multiple dependencies does not work as expected"
### General information

- json-editor version: 2.1.0

### Expected behavior

When an editor has multiple listed dependencies, they should all be satisfied before the editor can be displayed.

### Actual behavior

Dependencies are evaluated completely independently, and the last evaluated dependency will determine the visibility of the editor regardless of the state of the previously evaluated dep

[2020-04-02 04:08] suyanzhi opened #706 "Is there any way to edit schema rule by visual ui form?"
### General information

- json-editor version:2.1.0

### Expected behavior
When add a new property or edit property, people can edit  rules like min-length, max-length,pattern etc. with visual form not only by code set
### Actual behavior
can not edit property rule, only can modify input value.when add an array property can't edit property name
### Steps to reproduce the behavior

Direct link to

[2020-04-04 17:13] qtiki opened #708 "TypeScript type definitions"
The old `jdorn/json-editor` has TypeScript definitions: https://npmjs.com/package/@types/json-editor/v/0.0.4

It would be really nice if the new package had the definitions too.

I saw an issue that is closed about this (#569) but that was just a question and the types were not added. So you can consider this issue more of a feature request.

[2020-04-05 21:34] schmunk42 commented on #708
@amk0 Can you have a look at this, please.

[2020-04-06 09:31] cedricbonhomme commented on #699
I close this since the error is on my side. For the moment I do not understand well. All I can say is that with version 2.1.0 of JSON-editor this code fails for me:

[code]

this schema works pretty well with version 2.0.0.

[2020-04-06 09:31] #699 closed

[2020-04-07 10:50] #701 closed

[2020-04-07 15:52] Bogdancrunch opened #712 "Upload.js - refreshPreview lose dataTransfer object"
### General information
Issue appears src/editors/upload.js : 107 row, when `fr.onload` method triggered event Object lose file transfer data, so `self.refreshPreview(e)` did not actually get data about transferred file
- json-editor version: 2.1.0

### Expected behavior
File should be able to be uploaded with Drag and Drop, without errors
### Actual behavior
When try to upload file with Drag and

[2020-04-09 07:05] #712 closed

[2020-04-10 17:57] JElchison opened #714 "Checkboxes inside object tables duplicate labels from heading"
### General information

Since b0c01c8, checkboxes inside object tables duplicate their labels from the heading, causing tables to be noisier (and slightly wider) than necessary

- json-editor version: 2.1.0

### Expected behavior
![image](https://user-images.githubusercontent.com/1757771/79009290-27d16300-7b2d-11ea-943b-4018cad84660.png)

### Actual behavior
![image](https://user-images.githubuse

[2020-04-14 15:44] kameelyan commented on #237
@pmk65 seems to be an issue with allOf as well based on my testing and this bug report. Should the documentation be updated at least for no_additional_properties so users are aware of this? And maybe that comment as well?

[2020-04-14 15:49] kameelyan opened #716 "allOf wrapping array items causing issues with no_additional_properties"
### General information

- json-editor version: 2.1.0

### Expected behavior
No errors should be present when a car is added

### Actual behavior
An error is being thrown saying "No additional properties allowed but property <T> is set"

### Steps to reproduce the behavior

Direct link to example: https://json-editor.github.io/json-editor/?data=N4Ig9gDgLglmB2BnEAuUMDGCA2MBGqIAZglAIYDuApomALZUCsIAN

[2020-04-14 15:55] kameelyan commented on #716
This should get fixed here by adding allOf to the logic. https://github.com/json-editor/json-editor/blob/cfec910d219082995149babc7d65c3fe926f01bd/src/validator.js#L578

[2020-04-14 21:38] #716 closed

[2020-04-14 21:38] schmunk42 commented on #716
Closed, since #717 is merged.

[2020-04-16 15:41] #714 closed

[2020-04-16 18:06] Briffou commented on #379
Any news on this ? @vmanasiev Did you submit your code for review ?

[2020-04-16 19:56] drmrbrewer opened #718 "Bootstrap 4 colour preview not working"
### Expected behavior

The colour preview shows the actual colour selected.

### Actual behavior

It doesn't.  It just shows a thin, grey line.

### Steps to reproduce the behavior

Just load the demo with defaults:

https://json-editor.github.io/json-editor/

![tempsnip](https://user-images.githubusercontent.com/9009792/79500595-8d898780-8024-11ea-880b-70678f67b576.png)

If it makes any differenc

[2020-04-16 21:27] schmunk42 commented on #718
We might need to use a smaller padding for BS4 color inputs.

[2020-04-17 13:40] germanbisurgi commented on #697
Hidden should not mean "not validate". "skip_validation" option is the way to go.

[2020-04-18 13:38] germanbisurgi commented on #662
fixed

[2020-04-18 13:38] #662 closed

[2020-04-18 13:38] germanbisurgi commented on #718
fixed

[2020-04-18 13:38] #718 closed

[2020-04-18 13:40] germanbisurgi commented on #671
fixed with new interactive page

[2020-04-18 13:40] #671 closed

[2020-04-18 13:41] germanbisurgi commented on #683
fixed in #685

[2020-04-18 13:41] #683 closed

[2020-04-18 13:41] #135 closed

[2020-04-18 13:42] germanbisurgi commented on #669
fixed

[2020-04-18 13:42] #669 closed

[2020-04-18 13:46] germanbisurgi commented on #700
it also documented here https://github.com/json-editor/json-editor#string-editors-input-attributes

[2020-04-18 13:46] #700 closed

[2020-04-18 14:28] drmrbrewer commented on #718
@germanbisurgi forgive my ignorance about the process, but at what point does it find it's way into the version loaded into the online demo at https://json-editor.github.io/json-editor/ ?

[2020-04-18 18:12] germanbisurgi commented on #718
we do not make releases on a fixed pace but i believe soon will be the time. @schmunk42 what do you think?

[2020-04-18 19:32] schmunk42 commented on #718
@germanbisurgi Could you have a look at this one https://github.com/json-editor/json-editor/pull/704

@marc7000 After that we need to have a look a the changelog and do a `2.2.0` release.

[2020-04-19 07:08] tohosaku opened #720 "Use Docsify to publish the documents"
Revise what was proposed in #694 (issue discussed in #321, #478)

[Docsify](https://docsify.js.org/#/) is a tool that loads markdown and displays it as a website on the client side. The generated html is never committed to the repository.

With Docsify, we can publish a reasonably-looking website with a sidebar just by creating markdown docs.

IMHO The following plans are possible

## 1. Create a

[2020-04-20 12:52] ericch1 commented on #379
I am highly interested by the fix when it will be available!

[2020-04-20 13:21] #535 closed

[2020-04-20 13:23] #596 closed

[2020-04-20 13:23] #203 closed

[2020-04-20 13:24] schmunk42 commented on #594
I think this has been fixed. Please create new issues if there's still something.

[2020-04-20 13:24] #594 closed

[2020-04-20 13:24] #239 closed

[2020-04-20 13:25] schmunk42 commented on #239
no further feedback -> closing

[2020-04-20 13:29] kameelyan commented on #716
@schmunk42 can we get a release of this? It's affecting some of our production and we need an updated npm package.

[2020-04-20 13:38] schmunk42 commented on #716
https://github.com/json-editor/json-editor/pull/721

[2020-04-21 16:05] kameelyan opened #723 "Release 2.2.0 removed AbstractIconLib and AbstractTheme"
### General information

json-editor version: 2.2.0

### Expected behavior
I expected JSONEditor.AbstractIconLib and JSONEditor.AbstractTheme to continue to exist in the latest release in order to create custom themes.

### Actual behavior
These properties have been removed and no longer exposed.

This is a pretty big deal and preventing us from upgrading to 2.2.0 to get the allOf bug fix.

[2020-04-21 16:36] schmunk42 commented on #723
Related? https://github.com/json-editor/json-editor/issues/658

CC: @germanbisurgi